<?php
use Magento\Framework\App\Action\Action;
/** @return bool
 * @var Netbaseteam\Onlinedesign\Block\Mydesign $block
 */
function checkRemoteFile($url)
{
    $ch = curl_init();
    curl_setopt($ch, CURLOPT_URL, $url);
    // don't download content
    curl_setopt($ch, CURLOPT_NOBODY, 1);
    curl_setopt($ch, CURLOPT_FAILONERROR, 1);
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
    if (curl_exec($ch) !== FALSE) {
        return true;
    } else {
        return false;
    }
}

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_orderCollection = $block->getCollection();
$customerId = $block->getCustomerId();
$designs_list = $block->filterDesignByCustomer($customerId);
$helper = $this->helper('Netbaseteam\Onlinedesign\Helper\Data');
?>
<?php if (count($_orderCollection) || count($designs_list)):

    ?>
    <div class="table-wrapper downloadable-products">
        <p>
            <?php echo __('+ If you have any problem with your design. Please  to the admin site via their email: <strong>' . $this->helper('Netbaseteam\Onlinedesign\Helper\Config')->getAdminEmail() . '</strong>'); ?>
        </p>

        <table id="my-downloadable-products-table" class="data table table-downloadable-products">
            <thead>
            <?php if (count($designs_list)) : ?>
                <tr>
                    <th scope="col" class="col preview"><?php echo __('Preview') ?></th>
                    <th scope="col" class="col create-time"><?php echo __('Created at') ?></th>
                    <th scope="col" class="col action"><?php echo __('Action') ?></th>
                </tr>
            <?php else : ?>
                <tr>
                    <th scope="col" class="col title"><?php echo __('ORDER #') ?></th>
                    <th scope="col" class="col title"><?php echo __('PRODUCT') ?></th>
                    <th scope="col" class="col title"><?php echo __('TOTAL') ?></th>
                </tr>
            <?php endif; ?>
            </thead>
                 <?php
                if (count($designs_list)) :
                $designData = $designs_list->addFieldToFilter('user_id', $customerId);
                ?>
                <tbody>
                <tr>
                    <?php foreach ($designData as $item) : ?>
                    <td data-th="<?php echo $block->escapeHtml(__('Preview')) ?>" class="col preview">
                        <?php
                        $product = $objectManager->create('Magento\Catalog\Model\Product')->load($item->getProductId());
                        $productName = $product->getName();
                        $previewImage = $helper->getBaseDir() . '/designs/' . $item->getFolder();
                        $dir = $previewImage;
                        $dh = opendir($dir);
                        $files = [];
                        while (false !== ($filename = readdir($dh))) {
                            $files[] = $filename;
                        }
                        $containImage = preg_grep('/\.(jpg|png|jpeg)/i', $files);
                        ?>
                        <div class="data-preview">
                            <div class="data-name">
                                <a href="<?php echo $product->getProductUrl()?>"> <?= $productName; ?> </a>
                            </div>
                            <div class="nb-image-preview">
                                <?php
                                foreach ($containImage as $image) :
                                    $convertPath = $helper->wp_convert_path_to_url($previewImage . '/preview/' . $image) .'?t=' . time();
                                    ?>
                                    <img src="<?= $convertPath ?>" alt="" class="preview-design"/>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </td>
                    <td data-title="Date" data-th="<?php echo $block->escapeHtml(__('Created at')) ?>"
                        class="col create-time">
                        <div class="nb-create-time"><?= $item->getCreatedDate(); ?></div>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Action')) ?>" class="col action">
                        <div class="nb-edit-preview">
                            <?php
                                $editDesign = $this->getBaseUrl() . 'onlinedesign/index/design?product_id=' . $item->getProductId() .'&rd=edit-save-for-late&nbd_item_key='.$item->getFolder(). '&task=edit&ed=cart';
                            ?>
                            <a href="<?= $editDesign ?>" class="nb-delete-preview" id="nb-delete-preview" title="Edit Preview">
                                <span><?= __('Edit') ?></span>
                            </a>
                        </div>
                        <div class="nb-delete-preview">
                        <a href="<?= $this->getUrl('onlinedesign/index/Deletedesigns', ['folder' => $item->getFolder()]) ?>" title="Clear Preview" class="nb-delete-preview" id="nb-delete-preview">
                            <span><?= __('Delete') ?></span>
                        </a>
                        </div>
                        <div class="nb-add-tocart">
                            <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $listBlock = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
                            $product = $objectManager->create("Magento\Catalog\Model\Product")->load($item->getProductId());
                            $addToCartUrl =  $listBlock->getAddToCartUrl($product); ?>
                            <form data-role="tocart-form" action="<?php echo $addToCartUrl; ?>" method="post">
                                <input type="hidden" name="folder_design" value="<?= $item->getFolder() ?>">
                                <input type="hidden" name="product" value="<?= $item->getProductId() ?>">
                                <?php echo $block->getBlockHtml('formkey')?>
                                <button type="submit" title="Add to Cart" class="action tocart primary">
                                    <span><?= __('Add to cart'); ?></span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            <?php else : ?>
                <tbody>
                <?php foreach ($_orderCollection as $o):
                    $order_id = $o->getId();
                    $link_order = '<strong><a href="' . $this->getUrl('sales/order/view', array('order_id' => $order_id)) . '" onclick="this.target=\'blank\'">#' . $o->getIncrementId() . '</a></strong>';
                    $orderItems = $block->getOrderItems($order_id);
                    $helper = $this->helper('Netbaseteam\Onlinedesign\Helper\Data');
                    ?>
                    <tr>
                        <td data-th="<?php echo $block->escapeHtml(__('Increment Id')) ?>" class="col title">
                            <?php echo $link_order ?>
                        </td>
                        <td data-th="<?php echo $block->escapeHtml(__('PRODUCT')) ?>" class="col title">
                            <?php
                            foreach ($orderItems as $item) {
                                if ($item->getParentItemId() == null || $item->getParentItemId() == "") {
                                    $pname = $item->getName();
                                    $pid = $item->getProductId();
                                    $isOnlineDesign = count($block->getProductOnlineDesignId($pid));
                                    $product = $objectManager->create("Magento\Catalog\Model\Product")->load($pid);

                                    $purl = $product->getUrlModel()->getUrl($product); //$store->getBaseUrl($store::URL_TYPE_WEB) . $path;
                                    if ($isOnlineDesign) {
                                        $link_p = '
                                        <p><a href="' . $purl . '" target="_blank">' . $pname . '</a></p>
                                    ';
                                    } else {
                                        $link_p = '<p><a href="' . $purl . '" target="_blank">' . $pname . '</a><strong> Not OnlineDesign</strong></p>';
                                    }
                                    ?>
                                    <span class="nobr"><?php echo $link_p; ?></span>
                                    <?php

                                }

                                $data_design = "";
                                if ($item->getNbdesignerJson() != null || $item->getNbdesignerJson() != "") {
                                    $data_design = $item->getNbdesignerJson();
                                    $folder = $helper->getSessionFolderFromPath($data_design);
                                    $html = '<div>';
                                    $list = json_decode($data_design);
                                    $check_exist_files = true;
                                    foreach ($list as $img) {
                                        $arr_img = explode("nbdesigner", $img);
                                        $src = str_replace("thumbs", "preview", $helper->getBaseUrl() . $arr_img[1]);
                                        if (checkRemoteFile($src)) {
                                            $html .= '<img width="60" height="60" style="border-radius: 3px; border: 1px solid #ddd; margin-top: 5px; margin-right: 5px; display: inline-block;" src="' . $src . '"/>';
                                        } else {
                                            $check_exist_files = false;
                                        }
                                    }
                                    $html .= '</div>';

                                    $action = $helper->getAction($order_id, $pid);
                                    ?>
                                    <span class="nobr">
									<?php echo $html; ?>
                                        <?php
                                        if ($check_exist_files) {
                                            if ($action != "") {
                                                if ($action == "decline") {
                                                    ?>
                                                    <p>(Rejected! Click
												<a href="<?php echo $purl . "/?product_id=" . $pid . "&orderid=" . $order_id . "&folder=" . $folder . "&order_item_id=" . $item->getId() . "&task=redesign"; ?>"
                                                   target="_blank">here </a>
												to design again for the product <?php echo $pname; ?>!)
												</p></br>
                                                <?php } else { ?>
                                                    <p><?php echo __("(Approved!)"); ?></p>
                                                <?php } ?>
                                            <?php }
                                        } ?>
								</span>
                                    <?php

                                } /* end image product design */
                            }
                            ?>
                        </td>
                        <td data-th="<?php echo $block->escapeHtml(__('TOTAL')) ?>" class="col title">
                            <?php echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($o->getGrandTotal(), true, false); ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            <?php endif; ?>
        </table>
    </div>
    <?php if ($block->getChildHtml('pager')): ?>
    <div class="toolbar downloadable-products-toolbar bottom">
        <?php echo $block->getChildHtml('pager'); ?>
    </div>
<?php endif; ?>
<?php else: ?>
    <div class="message info empty"><span><?php echo __('You have not design.'); ?></span></div>
<?php endif; ?>
<style>
    .onlinedesign-myaccount-view img.preview-design {
        width: 100px;
        margin-bottom: 10px;
        background: #ccc;
    }

    .onlinedesign-myaccount-view .data-preview {
        margin-bottom: 30px;
        width: fit-content;
    }
</style>
