//  CardShop theme overrides
//  _____________________________________________

@import '../_theme.less';
@import '../_mixins.less';

//  Cart Page
//  ---------------------------------------------


//  Blog minicart
//  ---------------------------------------------
.minicart-wrapper {
    .minicart-items {
        .product-item-details {
            .price {
                font-size: @font-size__base;
            }
        }
    }
    .minicart-items-wrapper {
        max-height: 600px;
        min-height: 200px;
    }
    .block-minicart {
        position: relative;
    }
    > div {
        position: absolute;
        right: 0;
        left: auto;
        top: -12px;
    }
    .block-minicart {
        .subtotal {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            .price-container {
                font-size: 14px;
            }
        }
        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__base;
                    }
                }
            }
        }
        .items-total {
            font-size: 14px;
        }
        .block-content {
            >.actions {
                margin-top: 10px;
                clear: both;
                display: block;
                width: 100%;
                >.primary {
                    width: 100%;
                    .action.primary#top-cart-btn-checkout {
                        background: @bg_color_base;
                        border: none;
                        font-size: @font-size__base;
                        text-transform: uppercase;
                        color: @text_color__second;
                        font-weight: @font-weight-second__home5;
                        font-family: @font-family-base__home5;
                        letter-spacing: 1px;
                        border-radius: unset;
                        padding: 3px 25px;
                        clear: both;
                        line-height: 30px;
                        width: 100%;
                        margin: 0;
                        display: flex;
                        justify-content: center;
                    }
                }
                .secondary {
                    .btnDefault ();
                    .action.viewcart {
                        span {
                            font-family: @font-family-base__home5;
                            font-weight: @font-weight-second__home5;
                            color: @text_color__second;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and  (max-width: (@screen__medium - 1)) {
    .minicart-wrapper {
        .block-minicart {
            right: 0;
            width: 320px;
            .block-content > .actions {
                width: 100%;
                > .primary {
                    width: 100%;
                    button {
                        width: 100%;
                    }
                }
                > .secondary {
                    a.action.viewcart {
                        width: 100%;
                    }
                }
            }
        }
        .minicart-items {
            .item-qty {
                height: 25px;
                line-height: 25px;
                text-align: center;
                border-radius: unset;
            }
        }
    }
}

//  Minicart Icon
//  ---------------------------------------------
.minicart-items {
    .action.edit {
        &:before {
            content: '\e803';
            font-family: @font-tello__home5; 
        }
    }
    .action.delete {
        &:before {
            content: '\e802';
            font-family: @font-tello__home5;
        }
    }
    .item-qty {
        margin: 0 0 0 20px;
        padding: 5px;
        border-radius: unset;
        width: 70px;
    }
    .update-cart-item {
        padding: 7.5px 10px;
    }
} 

//  Orders Detail
//  ---------------------------------------------
.checkout-cart-index {
    button.action {
        background: @bg_color_base;
        color: #444;
        font-weight: @font-weight-second__home5;
    }
    .nb-design-cart {
        .clearFix ();
        margin: 10px 0;
        .flex-wrap ();
        padding: 0 4px;
        margin-bottom: 25px;
    }
    a.button.nbd-edit-design {
        background: @bg_color_base;
        font-size: 13px;
        font-family: @font-family-base__home5;
        color: @text_color__second;
        font-weight: @font-weight-second__home5;
        padding: 5px 15px;
    }
    .opc-progress-bar-item {
        > span {
            &::after {
                line-height: 26px;
            }
        }
        &._active {
            > span {
                &::after {
                    line-height: 26px;
                }
            }
        }
    }
    .block .title {
        margin-top: 20px;
    }
    .cart.table-wrapper {
        .col.qty {
            &:before {
                display: none;
            }
        }
        .col.price {
            &:before {
                display: none;
            }
        }
        .col.subtotal {
            &:before {
                display: none;
            }
        }
        .col.msrp {
            &:before {
                display: none;
            }
        }
    }
    .cart-container {
        .checkout-methods-items {
            .action.primary {
                margin: 0;
            }
        }
        clear: both;
    }
    .page-main {
        max-width: 1500px;
    }
    .gift-item-block .title {
        &::after {
            content: '\f107';
            font-family: @font-tello__home5;
        }
    }
    .abs-discount-block.active {
        >.title {
            &:after {
                content: '\f103';
                font-family: @font-tello__home5;
            }
        }
    }
    .cart-summary {
        .block.active {
            >.title {
                &:after {
                    content: '\f103';
                    font-family: @font-tello__home5;
                }
            }
        }
    }
    .paypal-review-discount {
        .block.active {
            >.title {
                &:after {
                    content: '\f103';
                    font-family: @font-tello__home5;
                }
            }
        }
    }
    .block-giftregistry-shared-items {
        .product {
            .item-options {
                dt {
                    clear: left;
                    float: left;
                    margin: 10px 0;
                    font-size: 14px;
                }
                dd {
                    display: inline-block;
                    float: left;
                    margin: 10px 10px;
                    font-size: 14px;
                }
            }
        }
    }
    .cart.table-wrapper {
        .item-options {
            dt {
                clear: left;
                float: left;
                margin: 10px 0;
                font-size: 14px;
            }
            dd {
                display: inline-block;
                float: left;
                margin: 10px 10px;
                font-size: 14px;
            }
        }
        .actions-toolbar {
            > .action-edit {
                &::before {
                    content: '\270e';
                    font-family: @font-tello__home5;
                }
            }
            .action-delete {
                &::before {
                    content: '\e800';
                    font-family: @font-tello__home5;
                }
            }
        }
        .action-gift {
            &::after {
                content: '\f107';
                font-family: @font-tello__home5;
            }
        }
    }
    .multicheckout {
        .item-options {
            dt {
                clear: left;
                float: left;
                margin: 10px 20px 10px 0;
            }
        }
    }
    .cart-container {
        form {
            .cart.table-wrapper {
                #shopping-cart-table {
                    thead {
                        background: @bg_color_base;
                    }
                    .col {
                        font-weight: @font-weight-second__home5;
                        font-family: @font-family-base__home5;
                        padding-top: 8px;
                        font-size: @font-size__base;
                    }
                    .cart.item {
                        .item-info {
                            .col {
                                font-size: @font-size__base;
                            }
                            .col .price {
                                font-size: @font-size__base;
                            }
                            .col.price {
                                padding-top: 30px;
                            }
                            .col.qty {
                                padding-top: 30px;
                            }
                            .col.subtotal {
                                padding-top: 30px;
                            }
                        }
                    }
                }
            }
            .cart.main.actions {
                @media (min-width: (@screen__medium)) {
                    display: flex;
                    align-items: center;
                }
                @media (max-width: (@screen__medium - 1)) {
                    display: block;
                }
                .action {
                    &:before {
                        display: none;
                    }
                }
                .action.continue {
                    .btnDefault ();
                    font-size: 13px;
                    margin: 0 2px;
                    text-align: center;
                }
            }
        }
    }
    .cart.table-wrapper {
        .gift-options-cart-item {
            margin-right: 15px;
            .action-gift {
                text-align: left;
            }
        }
        .item-actions .actions-toolbar {
            display: flex;
            align-items: center;
            padding: 15px 0;
            clear: both;
            line-height: 30px;
            .action {
                margin-bottom: 0 !important;
                &.action-edit {
                    margin: 0 2px;
                    position: absolute;
                    right: 0;
                    top: 15px;
                }
                &.action-delete {
                    margin: 0 2px;
                    position: absolute;
                    right: 0;
                    top: 15px;
                }
                &.action-update {
                    margin-left: 0;
                    margin-right: 10px !important;
                }
            }
        }
        .product-item-name {
            margin-top: -5px;
            font-size: @font-size__base;
            font-family: @font-family-base__home5;
            letter-spacing: 1px;
        }
        .product-item-details {
            > div {
                .clearFix ();
                img {
                    .flex-width (25%);
                    margin-bottom: 10px;
                }
                @media only screen and (max-width: (@screen__medium - 1)) {
                    img {
                        .flex-width (33.33%);
                    }
                }
                @media only screen and (max-width: @screen__mobiles) {
                    img {
                        .flex-width (50%);
                    }
                }
                @media only screen and (max-width: @screen__small) {
                    img {
                        .flex-width (100%);
                    }
                }
            }
        }
    }
    button.action {
        .btnDefault ();
        font-size: 13px;
        margin: 0 10px;
    }
    .block-cart-failed {
        .action.update {
            .btnDefault ();
            font-size: 13px;
            margin: 0 2px;
        }
    } 
    .cart-container {
        .form-cart {
            margin-top: 25px;
            .action.clear {
                margin: 0 2px;
            }
            .action.update {
                .btnDefault ();
                font-size: 13px;
                margin: 0 2px;
            }
        }
        .cart-summary {
            margin-top: 25px;
        }
    }
    .gift-options {
        margin-right: 10px !important;
        .actions-toolbar {
            .secondary {
                display: flex;
                align-items: center;
                .action-cancel {
                    .btnDefault ();
                    margin: 0 5px;
                    font-size: 13px;
                }
                .action-update {
                    .btnDefault ();
                    margin: 0 5px;
                    font-size: 13px;
                }
            }
        }
    }
    @media (min-width: (@screen__medium)) {
        .cart.table-wrapper {
            .gift-content {
                .fieldset {
                    > .field:not(.choice) {
                        > .label {
                            font-size: @font-size__base;
                        }
                    }
                }
            }
        }
        .fieldset > .field:not(.choice) > .label {
            font-size: @font-size__base;
        }
    }
    @media (max-width: (@screen__medium + 32)) {
        button.action {
            span {
                font-size: 13px;
            }
        }
        .cart.table-wrapper {
            .gift-content {
                margin: 0;
            }
        }
        .cart-container {
            .form-cart  {
                .action.clear {
                    margin: 10px 10px;
                }
                .action.update {
                    margin: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            form {
                .cart.main.actions {
                    .action.continue {
                        display: block;
                        margin: 10px 0;
                    }
                }
                .cart.table-wrapper {
                    #shopping-cart-table {
                        .col {
                            display: inline-flex;
                            width: 25%;
                            float: left;
                            font-size: 13px;
                        }
                        .cart.item {
                            .item-info {
                                .col {
                                    padding-left: 0;
                                }
                                .col.item {
                                    .product-item-photo {
                                        position: static;
                                    }
                                }
                            }
                        }
                    }
                    .item-actions {
                        .actions-toolbar {
                            .action.action-delete {
                                position: static;
                            }
                            .action.action-edit {
                                position: static;
                            }
                        }
                    }
                }
            }
        }
        .gift-message {
            .field .label {
                font-size: @font-size__base;
            }
        }
    }
    @media (max-width: (@screen__medium  - 1)) {
        .cart.table-wrapper {
            .item-actions  {
                .actions-toolbar {
                    display: block;
                    .action {
                        height: 40px;
                        padding: 10px;
                        margin-right: 10px;
                        display: block;
                        font-size: 14px;
                        line-height: 14px;
                        text-align: center;
                        &.action-gift {
                            margin: 0;
                        }
                    }
                }
            }
            .gift-options-cart-item {
                width: 100%;
                margin: 0;
            }
        }
        .gift-options {
            .actions-toolbar {
                .action-update {
                    font-size: @font-size__base;
                    padding: 10px 15px;
                    margin: 0 5px;
                }
            }
        }
    }
    @media (max-width: (@screen__medium - 68px)) {
        .cart-container {
            form {
                .cart.table-wrapper {
                    #shopping-cart-table .col {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    @media (max-width: (@screen__extra_small - 1)) {
        .cart-container {
            form {
                .cart.table-wrapper {
                    #shopping-cart-table {
                        thead {
                            background: @nocolor;
                            tr {
                                th {
                                    background: @bg_color_base;
                                }
                            }
                            .col {
                                width: 25%;
                                padding: 10px 5px;
                                font-size: 8px;
                                overflow: hidden;
                                text-align: left;
                            }
                        }
                        .col {
                            width: 100%;
                            display: block;
                            text-align: center;
                            margin-bottom: 10px;
                        }
                        .cart.item {
                            .item-info {
                                &:first-child {
                                    display: flex;
                                    flex-direction: column;
                                }
                                .col.item .product-item-photo {
                                    width: 100%;
                                    max-width: 100%;
                                    margin-bottom: 15px;
                                }
                                .col.item .product-item-details {
                                    clear: both;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart.table-wrapper {
            .item-options {
                dt {
                    font-size: 12px;
                }
                dd {
                    font-size: 12px;
                }
            }
        }
    }
}

/* End */