//  CardShop theme overrides
//  _____________________________________________

@import '../_theme.less';
@import '../_mixins.less';

//  New label
//  ---------------------------------------------
.neu-label {
    width: 65px;
    height: 65px;
    top: -20px;
    right: -20px;
    position: absolute;
    content: '';
    background: #d2122a;
    border-radius: 50%;
    line-height: 65px;
    text-align: center;
    color: @theme_color__white;
    .transform (rotate(30deg));
    span.neu {
        font-family: @font-family-second__home5;
        font-size: 24px;
        line-height: 24px;
    }
}

//  New label
//  ---------------------------------------------
.catalog-category-view {
    .mst-nav__swatch {
        .swatch-option-link-layered {
            &._checked {
                .swatch-option {
                    outline: unset;
                    border: 2px solid @black;
                }
            }
        }
    }
    dd.filter-options-content {
        margin-top: 15px;
    }
    .service.afterInsta {
        margin-bottom: 25px;
    }
    //  Layout 1column
    //  ---------------------------------------------
    &.page-layout-1column {
        .page-main {
            &.category-page {
                padding: 0;
                max-width: inherit;
                margin-top: 90px;
                clear: both;
                .column.main {
                    margin-top: 0;
                    padding: 0;
                    > div.main.main_banner {
                        margin-top: 0;
                        padding: 0 15px;
                    }
                    .service.exklusive {
                        .HeadingBanner {
                            .line-left {
                                width: 25%;
                                border-top: 1px solid @color-bg-default__home5;
                            }
                            .line-right {
                                width: 25%;
                                border-top: 1px solid @color-bg-default__home5;
                            }
                            .heading {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
        &.page-products {
            .columns {
                .HeadingBanner {
                    padding: 30px 0;
                }
            }
        }
        @media only screen and (min-width: (@screen__tablet + 1)) {
            &.page-products {
                .wer_sind_wir {
                    margin: 100px 0;
                }
                .category-view {
                    padding: 25px 150px;
                    max-width: 2200px;
                    margin: auto;
                }
                .service.exklusive {
                    padding: 0 150px;
                    max-width: 2200px;
                    margin: auto;
                    .bg {
                        margin: 20px 0 50px 0;
                    }
                }
                .instagram_cate {
                    .HeadingBanner {
                        padding: 30px 110px;
                    }
                }
            }
        }
        @media only screen and (max-width: (@screen__tablet)) {
            &.page-products {
                .wer_sind_wir {
                    margin: 25px 0;
                }
                .service.exklusive {
                    .bg {
                        padding: 25px 15px;
                    }
                }
            }
            &.page-products {
                .columns {
                    .HeadingBanner {
                        padding: 15px;
                    }
                }
            }
            .page-main.category-page {
                margin-top: 0;
            }
        }
    }
    //  layout 2column
    //  ---------------------------------------------
    &.page-layout-2columns-left {
        .HeadingBanner {
            text-transform: uppercase;
        }
        .page-main.category-page {
            padding: 0;
        }
        @media only screen and (min-width: (@screen__extra_large + 200)) {
            .columns {
                padding: 0 65px;
                margin-top: 90px;
                max-width: 2200px;
                margin: auto;
            }
        }
        .main_banner {
            .nb-box-2-custom.column-1 {
                > div {
                    &::after {
                        background: rgba(198,180,171,0.65);
                    }
                }
            }
            .nb-box-2-custom {
                &.column-1 {
                    .right-image {
                        display: block;
                    }
                    .btn-banner{
                        left: 13%;
                        bottom: 22%;
                        button {
                            font-size: 1rem;
                            right: auto;
                            transform: none;
                            padding: 11px 25px;
                            background: #d2122a;
                            color: @theme_color__white;
                            letter-spacing: 1.5px;
                            line-height: 1rem;
                        }
                    }
                    .text-headline {
                        left: 13%;
                        top: 15%;
                    }
                    p.content-headline {
                        bottom: auto;
                        top: 10%;
                        left: 10%;
                        right: auto;
                        transform: none;
                        font-size: 35px;
                        line-height: 35px;
                        text-transform: capitalize;
                        color: @theme_color__white;
                    }
                    .text-description.content {
                        position: absolute;
                        bottom: auto;
                        top: 30%;
                        left: 13%;
                        right: auto;
                        max-width: 235px;
                        margin: auto;
                        z-index: 1;
                        .content {
                            color: @theme_color__white;
                        }
                        p {
                            color: @theme_color__white;
                            font-family: @font-family-base__home5;
                            line-height: 25px;
                        }
                    }
                }
                @media only screen and (min-width: (@screen__extra_large + 500)) {
                    &.column-1 {
                        .left-image {
                            .flex-width (25%);
                        }
                        .right-image {
                            .flex-width (47%);
                        }
                        .middle-box-1-custom {
                            .flex-width (28%);
                        }
                    }
                }
                @media (max-width: (@screen__extra_large + 499)) and (min-width: (@screen__extra_large)){
                    &.column-1 {
                        .text-description.content {
                            p {
                                font-size: 13px;
                                line-height: 20px;
                            }
                        }
                        .text-headline {
                            bottom: auto;
                            p.content-headline {
                                font-size: 23px;
                                line-height: 30px;
                            }
                        }
                        .btn-banner {
                            bottom: 10%;
                            button {
                                position: static;
                                font-size: 13px;
                                padding: 10px;
                            }
                        }
                    }
                }
                @media (max-width: (@screen__extra_large - 1)) and (min-width: (@screen__tablet - 1)){
                    &.column-1 {
                        padding: 0;
                        .text-description.content {
                            p {
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                        .text-headline {
                            bottom: auto;
                            p.content-headline {
                                font-size: 20px;
                                line-height: 25px;
                            }
                        }
                        .btn-banner {
                            bottom: 10%;
                            button {
                                font-size: 10px;
                                padding: 10px;
                            }
                        }
                    }
                }
                @media (max-width: (@screen__tablet)) and (min-width: (@screen__large)){
                    &.column-1 {
                        padding: 0;
                        .text-description.content {
                            left: 10%;
                            p {
                                font-size: 11px;
                                line-height: 1rem;
                            }
                        }
                        .text-headline {
                            left: 10%;
                            text-align: left;
                            p.content-headline {
                                font-size: 18px;
                            }
                        }
                        .btn-banner {
                            left: 10%;
                            bottom: 5%;
                            display: flex;
                            justify-content: end;
                            button {
                                font-size: 10px;
                                padding: 10px;
                            }
                        }
                    }
                }
                @media (max-width: (@screen__large - 1)) and (min-width: (@screen__medium)) {
                    &.column-1 {
                        padding: 0;
                    }
                }
                @media (max-width: (@screen__large - 1)) and (min-width: (@screen__extra_small)) {  
                    &.column-1 {
                        margin-bottom: 25px;
                        .left-image {
                            .flex-width (33.33%);
                        }
                        .middle-box-1-custom {
                            .flex-width (33.33%);
                        }
                        .right-image {
                            display: block;
                            .flex-width (33.33%);
                        }
                        > div {
                            height: 300px;
                        }
                        .text-description.content {
                            p {
                                font-size: 10px;
                                line-height: 12px;
                            }
                        }
                        .text-headline {
                            left: 13%;
                            bottom: auto;
                            text-align: left;
                            p.content-headline {
                                font-size: 13px;
                                line-height: 25px;
                            }
                        }
                        .btn-banner {
                            left: 13%;
                            bottom: 10%;
                            display: flex;
                            justify-content: flex-start;
                            button {
                                font-size: 7px;
                                padding: 10px;
                            }
                        }
                    }  
                }
                @media only screen and (max-width: (@screen__medium - 1)) {
                    &.column-1 {
                        padding: 0 15px;
                    }
                }
                @media only screen and (max-width: (@screen__extra_small - 1)) {
                    &.column-1 {
                        .left-image {
                            width: 50%;
                        }
                        .middle-box-1-custom {
                            width: 50%;
                        }
                        .right-image {
                            display: none;
                        }
                        .text-headline {
                            left: 13%;
                            top: 15%;
                            text-align: left;
                            bottom: auto;
                            .content-headline {
                                font-size: 18px;
                            }
                        }
                        .text-description.content p {
                            line-height: 15px;
                            font-size: 10px;
                        }
                        .btn-banner {
                            left: 13%;
                            bottom: 10%;
                            display: flex;
                            justify-content: flex-start;
                            button {
                                font-size: 10px;
                                padding: 10px;
                            }
                        }
                    }
                }
                @media only screen and (max-width: (@screen__iphone678_plus)) {
                    &.column-1 {
                        .text-headline {
                            left: 13%;
                            top: 15%;
                            text-align: left;
                            bottom: auto;
                            .content-headline {
                                font-size: 15px;
                            }
                        }
                        .text-description.content p {
                            line-height: 11px;
                            font-size: 9px;
                        }
                        .btn-banner {
                            button {
                                font-size: 8px;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
        .column.main {
            .collections {
                .row {
                    .flex-wrap ();
                    > div {
                        .flex-width (50%);
                        margin: 35px 0;
                        .items {
                            margin: 0;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: (@screen__extra_large)) {
        &.page-layout-2columns-left {
            .column.main {
                .collections {
                    .row {
                        > div {
                            &:nth-child(2n + 1) {
                                padding-right: 35px;
                                padding-left: 15px !important;
                            }
                            &:nth-child(n + 1) {
                                padding-left: 35px;
                            }
                            .items {
                                height: 400px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: (@screen__large)) {
        &.page-layout-2columns-left {
            .HeadingBanner {
                padding: 20px 130px;
            }
        }
    }
    @media only screen and (min-width: (@screen__extra_large)) {
        &.page-layout-2columns-left {
            .column.main {
                width: 78%;
                padding: 0 30px;
            }
            .sidebar-main {
                width: 22%;
                padding: 0 30px;
            }
        }
    }
    @media (max-width: (@screen__extra_large)) and (min-width: (@screen__medium)) {
        &.page-layout-2columns-left {
            .column.main {
                padding: 0 15px;
            }
            .sidebar-main {
                padding: 0 15px;
            }
        }
    }
    @media only screen and (max-width: (@screen__medium - 1)) {
        &.page-layout-2columns-left {
            .sidebar-main {
                padding: 0 15px;
            }
            .column.main {
                padding: 0;
            }
        }
    }

    /* End */  


    /* hihi */
    .mst-nav__label {
        .mst-nav__label-item a {
            padding: 0.5rem 0;
        }
    }
    .main-category-list {
        font-weight: @font-weight-second__home5;
        letter-spacing: 0.5px;
        font-size: 1rem;
        line-height: 24px;
        text-transform: uppercase;
        .nav-label {
            padding: 3px  0 10px 0;
            border-bottom: 1px solid @color-bg-default__home5;
            display: block;
            position: relative;
            font-family: @font-family-base__home5;
            cursor: pointer;
            padding-right: 30px;
            color: @black;
            letter-spacing: 1px;
            &.show {
                .icon-back_01_white {
                    &::before {
                        content: '';
                        position: absolute;
                        margin: auto;
                        left: auto;
                        right: 3px;
                        border-right: 1px solid @black;
                        border-bottom: 1px solid @black;
                        top: auto;
                        bottom: 50%;
                        width: 10px;
                        height: 10px;
                        .transform (rotate(45deg));
                    }
                }
            }
            .icon-back_01_white {
                &::before {
                    width: auto;
                    height: auto;
                    border: none;
                    transform: rotate(0);
                    font-size: 20px;
                    content: 'x';
                    color: #000;
                    font-weight: 100;
                    top: 4px;
                    font-family: @font-family-base__home5;
                    position: absolute;
                    right: 0;
                    left: auto;
                }
            }
        }
        ul {
            padding-top: 30px;
            li {
                line-height: 33px;
                a {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    font-weight: @font-weight__base;
                    font-family: @font-family-base__home5;
                    color: @black;
                    &:hover {
                        color: @color-bg-default__home5;
                        &::before {
                            background: #eee6db;
                        }
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: auto;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        border: 1px solid @color-bg-default__home5;
                        background: transparent;
                        bottom: 50%;
                        top: auto;
                        transform: translate(0, 50%);
                    }
                }
                &.selected {
                    a {
                        color: @color-bg-default__home5;
                        font-weight: @font-weight-second__home5;
                        &::before {
                            background: #eee6db;
                        }
                    }
                }
            }
        }
    }
    .sub-category-list {
        > ul.selected {
            .title {
                color: @color-bg-default__home5;
            }
        }
        .title {
            font-weight: @font-weight-second__home5;
            font-family: @font-family-base__home5;
            color: @black;
            letter-spacing: 1px;
            font-size: 1rem;
            line-height: 24px;
            text-transform: uppercase;
            padding: 10px 0;
            border-bottom: 1px solid @color-bg-default__home5;
            display: block;
            position: relative;
            cursor: pointer;
            &.show {
                i {
                    &::before {
                        content: '';
                        position: absolute;
                        margin: auto;
                        left: auto;
                        right: 3px;
                        border-right: 1px solid @black;
                        border-bottom: 1px solid @black;
                        top: 35%;
                        bottom: auto;
                        width: 10px;
                        height: 10px;
                        .transform (rotate(45deg));
                    }        
                }
            }
            i {
                &::before {
                    width: auto;
                    height: auto;
                    border: none;
                    transform: rotate(0);
                    font-size: 20px;
                    content: 'x';
                    color: #000;
                    font-weight: 100;
                    top: 10px;
                    font-family: @font-family-base__home5;
                    position: absolute;
                    right: 0;
                    left: auto;
                }
            }
        }
        .child {
            padding-top: 15px;
            li {
                margin: 0;
                &.selected {
                    a {
                        color: @color-bg-default__home5;
                        font-weight: @font-weight-second__home5;
                        &::before {
                            background: #eee6db;
                        }
                    }
                }
                a {
                    font-weight: @font-weight__base;
                    font-family: @font-family-base__home5;
                    color: @black;
                    letter-spacing: 0.5px;
                    font-size: 1rem;
                    line-height: 33px;
                    text-transform: uppercase;
                    padding: 10px 0;
                    display: block;
                    position: relative;
                    .transition (0.4s ease all);
                    padding-left: 35px;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: auto;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        border: 1px solid @color-bg-default__home5;
                        background: transparent;
                        bottom: 50%;
                        top: auto;
                        .transform(translate(0, 50%));
                    }
                    &:hover {
                        color: @color-bg-default__home5;
                        &:before {
                            background: #eee6db;
                        }
                    }
                }
            }
        }
    }
    div.main {
        > div {
            margin-bottom: 0;
            clear: both;
            &.collections {
                .row {
                    > div {
                        &:nth-of-type(01) {
                            .items {
                                margin-top: 0;
                            }
                        }
                        &:nth-of-type(02) {
                            .items {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
        > div.breadcrumbs {
            @media (min-width: 768px) {
                padding: 0;
            }
            .clearFix ();
            ul {
                padding-top: 0;
                float: none;
                li {
                    margin: 0;
                }
            }
            &:after {
                display: none;
            }
        }
    }
    &.page-product-configurable .swatch-opt {
        @media (min-width: (@screen__medium)) and (max-width: (@screen__large - 1)) {
            margin: 0 0 25px 0;
        }
    }
    .category-view {
        .clearFix ();
    }
    .products.wrapper.grid.products-grid {
        width: 100%;
    }
    rs-fullwidth-wrap {
        clear: both;
    }
    @media only screen and  (min-width: (@screen__tablet)) {
        &.page-products.page-layout-1column {
            .category-view {
                .products-grid {
                    .product-item {
                        padding: 0 15px;
                        width: 33.33333333%;
                        position: relative;
                        float: left;
                    }
                }
            }
        }
    }
    @media only screen and (max-width: (@screen__medium - 1)) {
        .category-view {
            .block.filter {
              width: 100%;
            }
        }
        .products.wrapper.grid.products-grid {
            width: 100%;
            padding: 0 15px;
            margin: 0;
        }
        div.main {
            > div.breadcrumbs {
                padding: 0 15px;
            }
        }
    }
}


/* Responsive Banner for Categorry page */

@media only screen and (max-width: (@screen__extra_large - 1)) {
    .catalog-category-view {
        .collections {
            padding: 0;
            .items {
                margin-top: 0;
                margin-bottom: 25px;
            }
        }
    }   
}
@media (max-width: (@screen__extra_large - 1)) and (min-width: (@screen__medium)) {
    .catalog-category-view {
        .sub-category-list {
            .child li a {
                font-size: 12px;
            }
            .title {
                font-size: 12px;
            }
        }
        .collections {
            padding: 0;
            .items {
                .news {
                    top: -10px;
                    width: 45px;
                    height: 45px;
                }
            }
        }
        .products.wrapper {
            &.grid.products-grid {
                padding: 0;
                .product-items {
                    .clearFix ();
                    margin: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: (@screen__medium - 1)) {
    .catalog-category-view {
        .products.wrapper {
            &.grid.products-grid {
                .product-items {
                    .clearFix ();
                    margin: 0;
                }
            }
        }
    }
    .catalog-category-view {
        .column.main {
            .collections {
                padding: 15px;
            }
        }
    }   
}
@media (max-width: (@screen__extra_small - 1)) and (min-width: (@screen__small)) {
    .catalog-category-view {
        .main_banner {
            .nb-box-2-custom {
                p.content-headline {
                    font-size: 25px;
                }
                .btn-banner {
                    button {
                        font-size: 12px;
                        padding: 10px 10px;
                    }
                }
                .text-description.content {
                    .content {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
.custom-category-page {
    margin-bottom: 25px;
    &::after {
        content: '';
        display: table;
         clear: both;
    }
}
