//  CardShop theme overrides
//  _____________________________________________

@import '../_theme.less';
@import '../_mixins.less';

//  Checkout Page
//  --------------------------------------------- 
.checkout-index-index {
    .form-shipping-address {
        .control._with-tooltip {
            position: relative;
            .field-tooltip {
                cursor: pointer;
                position: absolute;
                right: 0;
                top: auto;
                bottom: 50%;
                transform: translate(0, 50%);
                #tooltip-label {
                    &::after {
                        font-family: 'fontello';
                        content: '\f086';
                        top: auto;
                        right: 0;
                        bottom: 50%;
                        left: auto;
                        position: absolute;
                        font-size: 14px;
                        transform: translate(0, 50%);
                        > span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .modal-content {
        overflow-x: auto;
    }
    .opc-wrapper  {
        .shipping-address-item {
            &::before {
                height: 100%;
                width: 2px;
            }
        }
        .action-select-shipping-item {
            float: left;
            margin: 15px 0 0;
            font-size: 12px;
            position: absolute;
            bottom: 0;
            left: 15px;
            right: auto;
        }
    }
    .fieldset {
        >.field {
            &:not(.choice) {
                input {
                    line-height: 30px;
                }
                select {
                    line-height: 30px;
                }
            }
        }
    }
    .opc-sidebar {
        margin-top: 0;
        background: #f6f6f6;
    }
    .minicart-items {
        .product {
            .toggle {
                margin-bottom: 15px;
            }
        }
    }
    .checkout-container {
        padding-top: 25px;
        clear: both;
        //  Fieldset & Tooltip
        //  --------------------------------------------- 
        .field-tooltip {
            top: 20px;
            .label {
                span {
                    display: none;
                }
            }
        }
        .fieldset {
            .field:not(.choice) input {
                margin-top: 7px;
            }
            >.field {
                .note {
                    &:before {
                        display: none;
                    }
                }
            }
            >.fields {
                >.field {
                    .note {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        #tooltip-label {
            display: none;
        }
        .field-tooltip {
            .field-tooltip-action {
                &::before {
                    font-family: @font-family-icon__fontello;
                    content: '\f086';
                    top: auto;
                    bottom: 50%;
                    transform: translate(0, 50%);
                }
            }
        }
        .payment-method {
            input[type="radio"] {
                position: static;
                margin: 0 5px 0 0;
            }
            input[type="checkbox"] {
                position: static;
                margin: 0 5px 0 0;
                height: auto;
            }
            .payment-method-title {
                display: flex;
                align-items: center;
                padding-left: 0;
            }
        }

        //  Payment Method
        //  ---------------------------------------------
        .checkout-payment-method {
            .ccard {
                .month {
                    .select {
                        width: 100%;
                    }
                }
                .year {
                    .select {
                        width: 100%;
                    }
                }
            }
            .payment-methods {
                .actions-toolbar {
                    .primary {
                        .action {
                            background: @bg_color_base;
                            border: none;
                            font-size: @font-size__base;
                            line-height: 24px;
                            text-transform: uppercase;
                            color: @text_color__second;
                            font-weight: @font-weight-second__home5;
                            font-family: @font-family-base__home5;
                            letter-spacing: 1px;
                            border-radius: unset;
                            padding: 10px 25px;
                            display: inline-block;
                            clear: both;
                            margin: 0 5px 10px 0;
                        }
                    }
                }
            }
        }
        // End 
        span.price {
            color: @text_color__second;
        }
        .opc-wrapper  {
            .step-title {
                padding-bottom: 20px;
                margin-bottom: 15px;
                &::before {
                    .border-radius (50%);
                    background: @bg_color_base;
                }
            }
        }
        .opc-block-shipping-information {
            padding: 15px;
            .shipping-information-title {
                font-weight: @font-weight-second__home5;
                font-family: @font-family-base__home5;
            }
        }
        .billing-address-same-as-shipping-block {
            display: flex;
            align-items: center;
        }
        .opc-progress-bar-item._active {
            > span:after {
                content: counter(i);
                line-height: 25px;
                font-size: @font-size__base;
            }
        }
        .opc-progress-bar-item._complete {
            > span:after {
                content: counter(i);
                line-height: 25px;
                font-size: @font-size__base;
            }
        }
        .opc-progress-bar-item {
            > span:after {
                line-height: 26px;
            }
        }
        .payment-method-billing-address {
            .checkout-billing-address {
                .actions-toolbar {
                    display: flex;
                    align-items: center;
                }
            }
        }
        #co-payment-form {
            overflow: hidden;
        }
        .minicart-items {
            .product {
                .toggle {
                    &::after {
                        content: '\f107';
                        font-family: @font-family-icon__fontello;
                    }
                }
            }
            .product-image-container {
                margin-left: 0;
            }
            .product-item-details {
                padding-left: 0;
                .price-excluding-tax {
                    margin: 0;
                }
            }
        }
    }
    .payment-method-content {
        .clearFix ();
    }

    //  Checkout Btn
    //  ---------------------------------------------
    .product-item-online-edit-design {
        .nbd-edit-design {
            .btnDefault ();
            clear: both;
            margin: 15px 0;
            text-align: center;
            display: block;
            max-width: 200px;
        }
    }
    .action.action-edit-address {
        .btnDefault ();
        clear: both;
        width: auto;
        margin: 15px 0;
    }
    .action.login {
        .btnDefault ();
        display: block;
        clear: both;
    }
    //  Checkout Estimated Total
    //  ---------------------------------------------
    .opc-estimated-wrapper {
        padding: 15px 0;
        .minicart-wrapper {
            .action {
                &.showcart {
                    &::before {
                        content: '\e80a';
                        font-family: @font-family-icon__flaticon;
                    }
                    .counter.qty {
                        top: 0;
                        right: 0;
                        left: auto;
                        background: transparent;
                        border: 1px solid @black;
                        color: @black;
                        font-size: 10px;
                    }
                }
            }
        }
        .estimated-block {
            .estimated-label {
                margin: 0 0 15px;
            }
        }
    }
    //  Order Summary
    //  ---------------------------------------------
    .opc-block-summary {
        margin: 0;
        background: transparent;
        padding: 15px 12px;
        .minicart-items-wrapper {
            max-height: 700px;
            padding: 0 15px 0 0;
        }
        .minicart-items {
            .product-image-container {
                margin: 0 15px 0 0;
                height: auto !important;
            }
        }
        > .title:before {
            content: '3';
            .border-radius(50%);
            background: @bg_color_base;
        }
        .items-in-cart {
            .product {
                padding-right: 0;
            }
            .title {
                margin-bottom: 15px;
            }
        }
    }
    
    // NB Cart design 
    //  -------------------------------------------

    .nb-design-cart {
        margin-top: 15px;
        img.nb-image-item {
            margin: 4px 0;
        }
    }
    @media (min-width: @screen__tablet) {
        .opc-wrapper {
            .shipping-address-item {
                max-height: 300px;
                height: 300px;
                overflow-y: auto;
                position: relative;
                margin-bottom: 25px;
            }
        }
        .nb-design-cart {
            .flex-wrap ();
            padding: 15px 0;
            img.nb-image-item {
                .flex-width (50%);
                height: auto;
            }
        }
    }
}

.checkout-onepage-success {
    .checkout-success {
        .clearFix();
        clear: both;
        padding: 15px;
    }
}

// Responsive 
//  -------------------------------------------
@media only screen and  (min-width: (@screen__medium)) {
    .checkout-index-index {
        .abs-margin-for-forms-desktop {
            padding: 0;
            margin: 0 0 15px 0;
        }
        .fieldset {
            .legend {
                padding: 0;
                margin: 0 0 15px 0;
            }
        }
        .column {
            &:not(.sidebar-main) {
                form {
                    .actions-toolbar {
                        padding: 0;
                        margin: 0 0 15px 0;
                    }
                }
            }
            &:not(.sidebar-additional) {
                form {
                    .actions-toolbar {
                        padding: 0;
                        margin: 0 0 15px 0;
                    }
                }
            }
        }
    }
}


@media (min-width: (@screen__medium + 1)) and (max-width: (@screen__large - 1)) {
    .checkout-index-index {
        .checkout-container {
            .minicart-items {
                .product-item-details {
                    .details-qty {
                        clear: both;
                        display: flex;
                        padding: 10px;
                        border: 1px solid;
                        .label {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .opc-wrapper {
            width: 50%;
        }
        .opc-sidebar {
            width: 50%;
        }
    }
}

@media only screen and  (max-width: @screen__large) {
    .checkout-index-index {
        .checkout-payment-method {
            .payment-method {
                padding: 0 15px;
            }
        }
    }
}

@media only screen and  (max-width: (@screen__medium + 1)) {
    .checkout-index-index {
        .checkout-container {
            .opc-wrapper {
                .step-title {
                    padding-left: 15px;
                }
            }
        }
    }
}








/* End */
