//  CardShop theme overrides
//  _____________________________________________

@import '../_theme.less';
@import '../_mixins.less';

//  Forgot Pass Page
//  ---------------------------------------------
.customer-account-forgotpassword {
    .form.password.reset, 
    .form.send.confirmation, 
    .form.password.forget, 
    .customer-form-register-wrap {
        max-width: 570px;
        width: 100%;
        display: inline-block;
        margin: auto;
        min-width: auto;
    }
    h1.page-title {
        clear: both;
        text-align: center;
        font-family: @font-weight-second__home5;
    }
    .form.password.forget {
        .field.note {
            font-family: @font-family-base__home5;
            margin: 15px 0;
            text-align: center;
        }
        .field.email.required {
            label.label {
                width: 50%;
                text-align: left;
                float: left;
                font-size: @font-size__base;
            }
            div.control {
                width: 50%;
                float: left;
            }
            .clearFix();
        }
        .field.captcha.required {
            label.label {
                width: 50%;
                text-align: left;
                float: left;
                font-size: @font-size__base;
            }
            div.control {
                width: 50%;
                float: left;
            }
            .control.captcha-image {
                text-align: left;
                width: 100%;
                .captcha-img {
                    margin-bottom: 15px;
                }
            }
            .clearFix();
        }
    }
    button.action {
        background: @bg_color_base;
        border: none;
        font-size: @font-size__base;
        text-transform: uppercase;
        color: @text_color__second;
        font-weight: 500;
        font-family: @font-family-base__home5;
        letter-spacing: 1px;
        border-radius: unset;
        padding: 6px 25px;
        clear: both;
        line-height: 30px;
    }
    .column:not(.sidebar-main) form .actions-toolbar, 
    .column:not(.sidebar-additional) form .actions-toolbar {
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .column.main {
        text-align: center;
    }
    @media (max-width: 991px) {
        .form.password.reset, 
        .form.send.confirmation, 
        .form.password.forget, 
        .customer-form-register-wrap {
            max-width: 100%;
        }
    }
    @media (max-width: 575px) {
        .form.password.forget {
            .field.email.required {
                label.label {
                    width: 100%;
                }
                div.control {
                    width: 100%;
                }
            }
            .field.captcha.required {
                label.label {
                    width: 100%;
                }
                div.control {
                    width: 100%;
                }
                .control.captcha-image {
                    text-align: center;
                }
            }
        }
        button.action {
            font-size: 13px;
        }
    }
}


//  Account 
//  ---------------------------------------------


.block-dashboard-info {
    .block-content {
        .box {
            .box-content {
                address {
                    a {
                        float: inherit;
                    }
                }
            }
        }
    }
}
.block-dashboard-addresses {
    .block-content {
        .box {
            .box-content {
                address {
                    a {
                        float: inherit;
                    }
                }
            }
        }
    }
}

.nb-image-preview {
    margin-top: 15px;
}

.customer-account-index {
    .sidebar.sidebar-additional {
        padding: 0;
    }
    .columns {
        margin-bottom: 65px;
    }
    .box-actions a.button {
        background: @bg_color_base;
        font-family: @font-family-base__home5;
        border-radius: unset;
        font-size: 14px;
        color: #666;
        font-weight: @font-weight-second__home5;
    }
    .icon-edit-alt {
        &::before {
            content:'\e80a';
            font-family: @font-family-icon__fontello;
        }
    }
}
.account {
    .data-preview {
        .data-name {
            padding: 15px 0;
        }
    }
    .nb-create-time {
        padding: 15px 0;
    }
    .sidebar {
        &.sidebar-main {
            .clearFix ();
        }
        &.sidebar-additional {
            .clearFix ();
        }
    }
    .form.form-edit-account {
        .fieldset {
            >.field:not(.choice) {
                >.label {
                    text-align: left;
                }
            }
        }
        .field.password-info {
            padding: 15px 0;
        }
        .actions-toolbar {
            margin-left: 0;
        }
    }
    .table-wrapper {
        &:last-child  {
            border: 1px solid #dedede;
        }
    }
    .block .actions a {
        margin: 0;
    }
    .order-details-items {
        .order-items {
            table.table-order-items {
                td.col.name {
                    padding-left: 0;
                    > div {
                        position: relative;
                        display: table;
                        > div {
                            margin: 10px 0;
                        }
                        img {
                            float: left;
                        }
                    }
                }
            }
        }
        .item-options {
            dt {
                margin: 10px 0;
            }
        }
    }
    &.sales-order-view {
        @media (max-width: (@screen__mobiles)) {
            .table-wrapper {
                .table {
                    padding: 0;
                }
            }
        }
    }
}
.account-nav {
    .item {
        &:hover {
            background: @bg_color_base;
        }
    }
    .nav {
        li {
            &.current {
                background: @bg_color_base;
            }
            &::before {
                font-family: @font-family-icon__fontello;
            }
            &:nth-child(1) {
                &::before {
                   content: '\e807';
                }
            }
            &:nth-child(2) {
                &::before {
                   content: '\e809'; 
                }
            }
            &:nth-child(3) {
                &::before {
                   content: '\f2c3';
                }
            }
            &:nth-child(4) {
                &::before {
                   content: '\e80a'; 
                }
            }
            &:nth-child(5) {
                &::before {
                   content: '\e80c'; 
                }
            }
            &:nth-child(6) {
                &::before {
                   content: '\f4ac';
                }
            }
            &:nth-child(7) {
                &::before {
                   content: '\e80d'; 
                }
            }
            &:nth-child(8) {
                &::before {
                   content: '\e80e';
                }
            }
            &:nth-child(9) {
                &::before {
                   content: '\e80f'; 
                }
            }
        }
    }
}
.sidebar-additional {
    .block.block-wishlist {
        .block-content {
            .actions-toolbar {
                .primary {
                    .action.details {
                        padding: 12px 15px;
                        border: 1px solid @bg_color_base;
                        border-radius: unset;
                        font-family: @font-family-base__home5;
                        background: #e5d9c1;
                        color: #666;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 500;
                        &:hover {
                            background: @bg_color_base;
                        }
                    }
                }
            }
        }
    }
}
.table:not(.cart):not(.totals) {
    border: none !important;
}
.form-wishlist-items {
    .actions-toolbar {
        .primary {
            button.update {
                &::before {
                    content: '\e804';
                    font-family: @font-family-icon__fontello;
                }
            }
            button.share {
                &::before {
                    content: '\e806';
                    font-family: @font-family-icon__fontello;
                }
            }
            button.tocart {
                &::before {
                    content: "\f106";
                    font-family: @font-family-icon__fontello;
                }
            }
        }
    }
}
.abs-action-button-edit {
    &::before {
        content: '\e80a';
        font-family: @font-family-icon__fontello;
    }
}
.products-wishlist {
    .product-item {
        .product-item-actions {
            a.edit {
                &::before {
                    content: '\e80a';
                    font-family: @font-family-icon__fontello;
                }
            }
            a.btn-remove {
                &::before {
                    content: '\e811';
                    font-family: @font-family-icon__fontello;
                }
            }
        }
    }
}
@media only screen and (max-width: 640px) {
    .table {
        padding-right: 15px;
    }  
}
//  Blog Page 
//  ---------------------------------------------

.search-post {
    margin: 20px 0;
    .block-search-content {
        #search_form button {
            padding: 11px 10px;
        }
    }
}
.blog-index-index {
    .blog-slider.slider {
        margin: 45px 30px 0 30px;
    }
}
.block-compare {
    .block-content {
        .actions-toolbar {
            display: flex;
            align-items: center;
            .primary {
                .action.compare.primary {
                    border-radius: unset;
                    padding: 10px;
                    border: 1px solid #e5d9c1;
                    margin-bottom: 25px;
                    background: @bg_color_base;
                    color: #666;
                    font-weight: @font-weight-second__home5;
                    text-transform: uppercase;
                    font-family: @font-family-base__home5;
                    font-size: 14px;
                    &:hover {
                        background: transparent;
                        color: @headings_color;
                    }
                }
            }
            .secondary {
                .action.clear {
                    border-radius: unset;
                    padding: 10px;
                    border: 1px solid #e5d9c1;
                    margin-bottom: 25px;
                    background: @bg_color_base;
                    color: #666;
                    font-weight: @font-weight-second__home5;
                    text-transform: uppercase;
                    font-family: @font-family-base__home5;
                    font-size: 14px;
                    margin-top: 0;
                    &:hover {
                        background: transparent;
                        color: @headings_color;
                    }
                }
            }
            @media (max-width: 1700px) {
                display: block;
                .secondary {
                    width: 100%;
                    .action.clear {
                        width: 100%;
                        display: inline-block;
                        text-align: center;
                    }
                }
                .primary {
                    width: 100%;
                    .action.compare.primary {
                        width: 100%;
                        margin-bottom: 15px;
                        display: inline-block;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.blog-post-index {
    .post-comment {
        h3 {
            font-size: @font-size__base;
        }
        .comment-form {
            form {
                .form-fluid {
                    .submit-comment button {
                        border-radius: unset;
                        padding: 10px;
                        line-height: 16px;
                        margin-bottom: 25px;
                        background: @bg_color_base;
                    }
                }
            }
        }
    }
    .author-info {
        .author-title {
            strong {
                font-family: @font-family-base__home5;
                font-weight: @font-weight-second__home5;
            }
        }
    }
    .post-comment {
        h2 {
            strong {
                font-family: @font-family-base__home5;
                font-weight: @font-weight-second__home5;
            }
        }
    }
    .related-post {
        .realted-title {
            strong {
                font-family: @font-family-base__home5;
                font-weight: @font-weight-second__home5;
            }
        }
        .realted-content {
            ul {
                li {
                    .post-meta {
                        .post-title a {
                            font-size: @font-size__base;
                        }
                    }
                }
            }
        }
    }
}
.pages {
    strong.page {
        position: static;
        transform: none;
    }
    a.page {
        position: static;
        transform: none;
    }
    .action.previous {
        &::before {
            content: '\f100';
            font-family: @font-family-icon__fontello;
        }
    }
    .action.next {
        &::before {
            content: '\f101';
            font-family: @font-family-icon__fontello;
        }
    }
}
.category-sidebar {
    .block-content {
        margin: 22px 0;
        .category-list li a {
            font-family: @font-family-base__home5;
        }
    }
    .block-title {
        font-family: @font-weight-second__home5;
    }
}
.tag-sidebar {
    .block-content {
        margin: 22px 0;
    }
    .block-title {
        font-family: @font-family-base__home5;
    }
}

//  Compare Page 
//  ---------------------------------------------

.catalog-product_compare-index {
    #maincontent {
        clear: both;
        padding-top: 25px;
    }
    #product-comparison {
        .cell.remove.product {
            border-right: 1px solid @white;
            border-left: 1px solid @white;
            .action.delete {
                &::before {
                    content: '\e811';
                    font-family: @font-family-icon__fontello;
                    font-size: 20px;
                    color: @white;
                }
            }
        }
    }
    .action.print {
        padding: 15px;
        font-family: @font-family-base__home5;
        display: block;
        margin-bottom: 25px;
    }
    .table-wrapper {
        &.comparison {
            table {
                thead {
                    tr {
                        background: @main_color__general;
                    }
                }
            }
        }
    }
}

//  Compare Page 
//  ---------------------------------------------

.products-wishlist {
    .product-item-name {
        font-size: @font-size__base;
        padding-left: 15px;
    }
    .price-box {
        padding-left: 15px;
    }
}

//  Sale Order 
//  ---------------------------------------------

.sales-order-print {
    .return-status, 
    .order-status {
        display: block;
    }
    .page-title-wrapper {
        .order-date {
            margin: 0;
        }
    }
    .loggo-bottom {
        min-height: auto;
    }
    #maincontent {
        clear: both;
        a.logo {
            text-align: center;
            display: block;
            padding: 25px 0;
            img {
                &:last-child {
                    display: none
                }
            }
            @media (max-width: 991px) {
                img {
                    &:last-child {
                        display: block
                    }
                    &:first-child {
                        display: none;
                    }
                }
            }
        }
    }
}

.customer-address-form {
    .form-address-edit {
        .fieldset>.field:not(.choice)>.label {
            text-align: left;
        }
    }
}
.order-details-items .table-order-items .product-item-name {
    clear: both;
    padding: 15px 0;
}
dl.item-options {
    clear: both;
}

.account .order-details-items .item-options dt {
    margin: 15px 0;
    clear: both;
}