//  CardShop theme overrides
//  _____________________________________________

@import '../_theme.less';
@import '../_mixins.less';

//  Layout_2columns Page
//  ---------------------------------------------

.product-item-name {
    font-size: 1rem;
}
.price-container {
    .price {
        font-size: 1rem;
    }
}
.swatch-opt {
    margin: 0;
}
.swatch-attribute-options {
    margin-top: 0;
}
.page-layout-2columns-left {
    @media only screen and (min-width: (@screen__extra_large + 400)) {
        .products.product-items {
            .item .product-item-actions-wrap {
                height: 300px;
            }
        }
    }
    @media (min-width: (@screen__extra_large)) and (max-width: (@screen__extra_large + 399)){
        .products.product-items {
            .item .product-item-actions-wrap {
                height: 300px;
            }
        }
    }
    @media (min-width: (@screen__extra_small)) and (max-width: (@screen__extra_large - 1)){
        .products.product-items {
            .item .product-item-actions-wrap {
                height: 250px;
            }
        }
    }
    @media (min-width: (@screen__small)) and (max-width: (@screen__extra_small - 1)){
        .products.product-items {
            .item .product-item-actions-wrap {
                height: 200px;
            }
        }
    }
    @media (min-width: (@screen__small - 105)) and (max-width: (@screen__small - 1)){
        .products.product-items {
            .item .product-item-actions-wrap {
                height: 170px;
            }
        }
    }
    @media only screen and (max-width: (@screen__iphonex - 1)){
        .products.product-items {
            .item .product-item-actions-wrap {
                height: 150px;
            }
        }
    }
    .products.product-items {
        .item {
            .tocart {
                width: 100%;
            }
        }
    }
    &.page-products {
        .products {
            .product-items {
                .item {
                    .product.details.product-item-details {
                        clear: both;
                        padding: 15px 0;
                        .clearFix ();
                        .product-item-name {
                            margin-top: 27px;
                            float: left;
                            width: auto;
                            margin: 0;
                        }
                        a.action.towishlist {
                            float: right;
                            &:hover {
                                &::before {
                                    color: #b8ab9e;
                                }
                            }
                            &::before {
                                font-size: 25px;
                            }
                        }
                        .product-item-name {
                            color: @theme-color_gray_black;
                            font-size: 1rem;
                        }
                        a.product-item-link {
                            text-align: left;
                            font-family: @font-family-second__home5;
                            font-weight: @font-weight-second__home5;
                            padding-right: 5px;
                            color: @text_color__general;
                            font-size: 20px;
                            letter-spacing: 1px;
                            line-height: 20px;
                        }
                        span.additional_value {
                            margin: 0;
                            font-family: @font-family-base__home5;
                            font-weight: 300;
                            position: relative;
                            padding: 0 10px;
                            border-left: 1px solid @theme-color_gray_black;
                            font-size: 22px;
                            line-height: 21px;
                            letter-spacing: 1px;
                        }
                        @media (min-width: (@screen__mobiles)) and (max-width: (@screen__tablet)) {
                            span.additional_value  {
                                font-size: @font-size__base;
                            }
                            a.product-item-link {
                                font-size: @font-size__base;
                            }
                             a.action.towishlist {
                                &::before {
                                    font-size: 20px;
                                }
                            }
                        }
                        @media only screen and (max-width: @screen__mobiles) {
                            span.additional_value  {
                                font-size: 10px;
                            }
                            a.product-item-link {
                                font-size: 10px;
                            }
                             a.action.towishlist {
                                &::before {
                                    font-size: 15px;
                                }
                            }
                        }
                        @media only screen and (max-width: @screen__iphone678_plus) {
                            span.additional_value  {
                                font-size: 9px;
                                padding: 0 5px;
                                line-height: 9px;
                            }
                            a.product-item-link {
                                font-size: 9px;
                                padding-right: 0;
                                line-height: 9px;
                            }
                             a.action.towishlist {
                                &::before {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    a.product.photo.product-item-photo {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        img {
                            object-fit: cover;
                            object-position: 50% 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .columns {   
            @media only screen and (min-width: (@screen__large)) {
                .HeadingBanner {
                    padding: 30px 50px;
                }
            }
            .column.main {
                > div.column.main {
                    width: 100%;
                }
                .clearFix();
            }
            @media only screen and (min-width: (@screen__medium)) and (max-width: (@screen__large - 1)) {
                .product-info-main {
                    width: 50%;
                }
            }
        }
        .page-main.category-page {
            .column.main {
                .main_banner {
                    padding: 0 15px;
                    margin-bottom: 0;
                    .col {
                        margin-bottom: 0;
                    }
                }
                div.main {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    .custom-category-page {
        margin-top: 100px;
    }
    .filter-current {
        a.action { 
            color: @text_color__general;
            &.remove {
                &:hover,
                &:active,
                &:focus {
                    color: @main_color__general;
                }
            }
        }
    }
    .products-grid {
        .product-item-actions {
            .actions-primary {
                .calculator {
                    &:hover {
                        background: transparent;
                    }
                }
                .action {
                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
    }
    &.catalogsearch-result-index {
        .products.product-items {
            .item {
                .actions-secondary {
                    > a.action.towishlist {
                        border-left: 1px solid @white;
                        border-right: 1px solid @white;
                    }
                }
                form {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    .tocart {
                        width: 100%;
                    }
                }
                .actions-primary+.actions-secondary {
                    > a.action.tocompare {
                        width: 100%;
                    }
                }
            }
        }
        .products-grid {
            .product-item-actions {
                background: #eee6db;
            }
        }
    }
    &.catalog-category-view {
        .block.filter {
            margin-top: 100px;
        }
    }
    &.page-products {
        .block.filter {
            .filter-title {
                padding-bottom: 15px;
                strong {
                    font-family: @font-family-second__home5;
                    font-size: 1.3em;
                    margin-bottom: 35px;
                    text-transform: none;
                    letter-spacing: 0;
                    text-align: left;
                    font-weight: normal;
                    padding-bottom: 10px;
                    display: block;
                    border-bottom: 1px solid #ccc;
                }
            }
            dt.filter-options-title {
                font-weight: @font-weight-second__home5;
                font-family: @font-family-base__home5;
                color: @black;
                letter-spacing: 1px;
                font-size: @font-size__base;
                line-height: 24px;
                text-transform: uppercase;
                padding: 10px 0;
                border-bottom: 1px solid @color-bg-default__home5;
                display: block;
                position: relative;
                text-align: left;
                clear: both;
            }
            .filter-options {
                .clearFix ();
                margin-bottom: 0;
            }
            span.filter-label {
                position: relative;
                padding-right: 10px;
                color: @black;
                font-family: @font-family-second__home5;
                font-weight: 500;
                &::after {
                    position: absolute;
                    content: ':';
                    right: 0;
                    left: auto;
                    color: #666;
                }
            }
            strong.block-subtitle {
                &.filter-current-subtitle {
                    font-weight: @font-weight-second__home5;
                    font-family: @font-family-base__home5;
                    color: @black;
                    letter-spacing: 0.5px;
                    font-size: 15px;
                    line-height: 24px;
                    padding: 0 0 30px 0;
                    display: block;
                    position: relative;
                    text-align: left;
                    clear: both;
                }
            }
            a.action.clear.filter-clear {
                background: @bg_color_base;
                border: none;
                font-size: @font-size__base;
                line-height: 24px;
                text-transform: uppercase;
                color: @text_color__second;
                font-weight: @font-weight-second__home5;
                font-family: @font-family-base__home5;
                letter-spacing: 1px;
                border-radius: unset;
                padding: 10px 10px;
                clear: both;
                display: inline-block;
            }
            .filter-content {
                dd.filter-options-content {
                    .clearFix ();
                }
                a.swatch-option-link-layered {
                    display: inline-block;
                    width: 27px;
                    height: auto;
                    margin-right: 5px !important;
                }
            }
            .swatch-attribute.size {
                .swatch-option {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    padding: 0;
                    border-radius: unset;
                    background: transparent;
                }
            }
            .swatch-attribute.manufacturer {
                .swatch-option {
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    padding: 0;
                    border-radius: unset;
                    background: transparent;
                }
            }
        }
        .swatch-option {
            min-width: 25px;
            max-width: 25px;
            height: 25px;
            min-width: 25px;
            .border-radius(100%);
            &.color:not(.disabled):hover {
                outline: none;
                border: 1px solid #333;
            }
            &.selected {
                outline: unset;
                border: 2px solid #333;
                color: @text_color__second;
            }
        }
        .products {
            .product-items {
                .item {
                    margin-left: 3%;
                    padding: 0;
                    width: calc(31.33%);
                    .product.details {
                        &.product-item-details {
                            .clearFix();
                            position: relative;
                            clear: both;
                        }
                    }
                    @media only screen and (min-width: 992px) {
                        &:nth-child(0n + 1) {
                            margin-left: 0 !important;
                        }
                        &:nth-child(2n + 1) {
                            margin-left: 3%;
                        }
                        &:nth-child(3n + 1) {
                            margin-left: 0;
                        }
                        &:nth-child(4n + 1) {
                            margin-left: 3%;
                        }
                        &:nth-of-type(04) {
                            clear: both;
                        }
                        &:nth-of-type(07) {
                            clear: both;
                        }
                        &:nth-of-type(10) {
                            clear: both;
                        }
                    }
                    @media only screen and (max-width: 991px) {
                        width: calc(48.5%);
                        &:nth-child(2n + 1) {
                            margin-left: 0%;
                        }
                        &:nth-of-type(03) {
                            clear: both;
                        }
                        &:nth-of-type(05) {
                            clear: both;
                        }
                        &:nth-of-type(07) {
                            clear: both;
                        }
                        &:nth-of-type(09) {
                            clear: both;
                        }
                        &:nth-of-type(11) {
                            clear: both;
                        }
                        &:nth-of-type(13) {
                            clear: both;
                        }
                        .product.details.product-item-details {
                            height: auto;
                            clear: both;
                            padding: 10px 0;
                            .clearFix();
                            .action.towishlist {
                                &::before {
                                    font-size: 25px;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .page-title-wrapper {
        padding: 0 30px;
    }
    h1.page-title {
        padding: 30px 0;
        font-family: @font-family-base__home5;
        font-weight: @font-weight-second__home5;
        margin: 0;
    }
    .sidebar {
        .block-compare {
            .block-content {
                padding-left: 0;
            }
        }
        .block-wishlist {
            .block-content {
                padding-left: 0;
            }
        }
    }
    .page-wrapper {
        .page-main {
            width: 100%;
            max-width: 100%;
            @media (min-width: 1200px) {
                padding: 0 65px;
                .columns {
                    .column.main {
                        width: 78%;
                        padding: 0 30px;
                    }
                    .sidebar.sidebar-main {
                        width: 22%;
                        padding: 0 30px;
                    }
                    .sidebar.sidebar-additional {
                        width: 22%;
                        padding: 0 30px;
                    }
                }
            }
            .products-grid {
                .product-items {
                    margin: 0;
                    font-size: 0;
                }
            }
        }
    }
    .sidebar {
        .block-compare {
            .block-title {
                font-family: @font-family-base__home5;
                font-size: 1rem;
            }
            .empty {
                padding-left: 0;
                margin-top: 25px;
            }
        }
        .block-wishlist {
            .block-title {
                font-family: @font-family-base__home5;
                font-size: 1rem;
            }
            .empty {
                padding-left: 0;
                margin-top: 25px;
            }
        }
    }
    .search.results {
        .products.wrapper {
            &.grid.products-grid {
                .clearFix();
            }
            .product-item-photo {
                height: 400px;
                position: relative;
            }
        }
        .products-grid .product-item-inner {
            position: static;
            .product-item-description {
                .text-line ();
            }
        }
    }
    @media (max-width: 1799px) and (min-width: 1600px) {
        .search.results {
            .products.wrapper {
                .product-item-photo {
                    height: 350px;
                }
            }
        }
    }
    @media (max-width: 1599px) and (min-width: 1400px) {
        .search.results {
            .products.wrapper {
                .product-item-photo {
                    height: 300px;
                }
            }
        }
    }
    @media (max-width: 1399px) and (min-width: 1200px) {
        .search.results {
            .products.wrapper {
                .product-item-photo {
                    height: 250px;
                }
            }
        }
    }
    @media (max-width: 1199px) and (min-width: 992px) {
        .search.results {
            .products.wrapper {
                .product-item-photo {
                    height: 222px;
                }
            }
        }
    }
    @media (max-width: 991px) and (min-width: 576px) {
        .search.results {
            .products.wrapper {
                .product-item-photo {
                    height: 300px;
                }
            }
        }
    }
    @media (max-width: 575px) and (min-width: 480px) {
        .search.results {
            .products.wrapper {
                .product-item-photo {
                    height: 250px;
                }
            }
        }
    }
    @media (max-width: 479px) and (min-width: 375px) {
        .search.results {
            .products.wrapper {
                .product-item-photo {
                    height: 200px;
                }
            }
        }
        .products.product-items {
            .item .tocart span {
                font-size: 8px;
                padding: 5px;
                width: 100px;
            }
        }
        .products.product-items {
            .item .actions-primary + .actions-secondary  {
                > a.action span {
                    font-size: 8px;
                    padding: 5px;
                    width: 100px;
                }
            }
        }
    }
    @media only screen and (max-width: 374px) {
        .search.results {
            .products.wrapper {
                .product-item-photo {
                    height: 150px;
                }
            }
        }
        .products.product-items {
            .item .tocart span {
                display: none;
            }
        }
        .products.product-items {
            .item .actions-primary + .actions-secondary  {
                > a.action span {
                    display: none;
                }
            }
        }
    }
    @media only screen and (max-width: (@screen__large - 1)) {
        h1.page-title {
            margin: 0;
            padding: 0;
            font-size: 18px;
        }
    }
}
@media only screen and (min-width: (@screen__medium)) {
    .page-layout-2columns-left {
        .column.main {
            padding: 0 15px;
        }
        .sidebar-additional {
            padding: 0 15px;
        }
    }
}
@media only screen and (max-width: (@screen__tablet)) {
    .page-layout-2columns-left {
        .page-title-wrapper {
            padding: 0;
        }
        .catalog-category-view {
            .block.filter {
                margin: 0;
            }
        }
        .custom-category-page {
            margin: 0;
        }
        .sidebar {
            .block-compare {
                .block-title {
                    font-size: 14px;
                }
            }
            .block-wishlist {
                .block-title {
                    font-size: 14px;
                }
            }
        }
    }
}
@media (max-width: (@screen__large - 1)) and (min-width: (@screen__medium)) {
    .page-layout-2columns-left  {
        .sidebar-additional {
            width: 30%;
        }
        .sidebar-main {
            width: 30%;
        }
        .column.main {
            width: 70%;
        }
        &.catalog-category-view {
            .main-category-list {
                ul li a {
                    font-size: 10px;
                }
                .nav-label {
                    font-size: 12px;
                }
            }
            .block.filter {
                dt.filter-options-title {
                    font-size: 10px;
                }
            }
        }
    }
}
