//  CardShop theme overrides
//  _____________________________________________

//  Variables theme Core Config "Mixins Config"
//  _____________________________________________


@import '../_theme.less';
@import '../_mixins.less';



// Products My Templates 
//  -------------------------------------------


.popup-nbd-my-templates2-product-page {
    &.nbd-popup {
        .main-popup {
            @media only screen and (max-width: @screen__medium) {
                max-height: 400px;
                max-width: 320px;
            }
        }
    }
    .nb-action {
        display: flex;
        align-items: center;
        > div {
            background: @bg_color_base;
            border: none;
            line-height: 24px;
            border-radius: unset;
            padding: 14px 15px;
            clear: both;
            margin: 5px;
            text-align: center;
            width: 33.33%;
            &.nb-add-tocart {
                button {
                    padding: 0;
                    margin: 0;
                    border: none;
                    outline: unset;
                    background: transparent;
                    text-transform: uppercase;
                    color: @text_color__second;
                    font-weight: @font-weight-second__home5;
                    font-family: @font-family-base__home5;
                    letter-spacing: 1px;
                }
            }
            &.nb-delete-preview {
                a {
                    text-transform: uppercase;
                    color: @text_color__second;
                    font-weight: @font-weight-second__home5;
                    font-family: @font-family-base__home5;
                    letter-spacing: 1px;
                }
            }
            &.nb-edit-preview {
                a {
                    text-transform: uppercase;
                    color: @text_color__second;
                    font-weight: @font-weight-second__home5;
                    font-family: @font-family-base__home5;
                    letter-spacing: 1px;
                }
            }
        }
        @media only screen and (max-width: (@screen__extra_small + 23)) {
            display: block;
            > div {
                width: 100%;
                margin: 0;
                margin-bottom: 10px;
                padding: 10px;
            }
        }
    }
}
table.table-downloadable-products {
    .nb-image-preview {
        .flex-wrap ();
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        img.preview-design {
            .flex-width(25%);
            max-width: 150px;
            height: 150px;
            background: transparent;
            padding: 5px;
            border: 1px solid #ccc;
            margin: 5px;
        }
        @media (max-width: @screen__desktop) {
            img.preview-design {
                .flex-width(50%);
            }
        }
        @media (max-width: @screen__tablet) {
            img.preview-design {
                .flex-width(100%);
            }
        }
    }
    thead {
        tr {
            th {
                &.col.preview {
                    padding-left: 0;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                &.col.action {
                    padding: 8px 15px;
                }
                &.col.create-time {
                    padding: 8px 15px;
                }
                &.col.preview {
                    padding: 8px 15px;
                }
            }
        }
    }
    .col.action {
        > div {
            background: @bg_color_base;
            border: none;
            line-height: 24px;
            border-radius: unset;
            padding: 14px 25px;
            clear: both;
            width: 100%;
            margin: 5px 0;
            text-align: center;
            &.nb-delete-preview {
                a {
                    text-transform: uppercase;
                    color: @text_color__second;
                    font-weight: @font-weight-second__home5;
                    font-family: @font-family-base__home5;
                    letter-spacing: 1px;
                }
            }
            &.nb-edit-preview {
                a {
                    text-transform: uppercase;
                    color: @text_color__second;
                    font-weight: @font-weight-second__home5;
                    font-family: @font-family-base__home5;
                    letter-spacing: 1px;
                }
            }
            &.nb-add-tocart {
                button {
                    padding: 0;
                    margin: 0;
                    border: none;
                    outline: unset;
                    background: transparent;
                    text-transform: uppercase;
                    color: @text_color__second;
                    font-weight: @font-weight-second__home5;
                    font-family: @font-family-base__home5;
                    letter-spacing: 1px;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    @media (min-width: (@screen__medium)) and (max-width: (@screen__large - 1)) {
        .col.action > div {
            padding: 5px 10px;
            &.nb-delete-preview {
                a {
                    font-size: 10px;
                }
            }
            &.nb-edit-preview {
                a {
                    font-size: 10px;
                }
            }
            &.nb-add-tocart {
                button {
                    font-size: 10px;
                }
            }
        }
        thead {
            tr {
                th {
                    &.col {
                        padding-left: 8px;
                    }
                    &.col.preview {
                        padding-left: 0;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    &.col.action {
                        padding: 8px 5px;
                    }
                    &.col.create-time {
                        padding: 8px 5px;
                    }
                    &.col.preview {
                        padding: 8px 5px;
                    }
                }
            }
        }
    }
}

// Products Detail
//  -------------------------------------------
.catalog-product-view {
    select {
        text-align-last: right;
    }
    .page-main {
        max-width: 1250px;
    }
    .product_page_content.HeadingBanner {
        margin-bottom: 0;
    }
    .breadcrumbs {
        ul.items {
            li {
                &:last-child {
                    span {
                        font-weight: @font-weight-second__home5;
                        font-family: @font-family-base__home5;
                        color: #c1b8af;
                        text-transform: uppercase;
                        font-size: 12px;
                        @media only screen and (max-width: @screen__tablet) {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

    // Products Gallery 
    //  -------------------------------------------
    .fotorama__nav-wrap {
        width: 10%;
        float: left;
        height: 100%;
        position: relative;
    }
    .fotorama__stage__frame.fotorama__loaded--img {
        > img {
            position: absolute;
            left: auto;
            right: 50%;
            top: auto;
            bottom: 50%;
            width: 100%;
            object-fit: cover;
            object-position:  50% 50%;
            .transform(translate(50%, 50%));
        }
    }
    .fotorama-item.fotorama {
        .fotorama__nav--thumbs {
            .fotorama__nav__frame {
                padding: 2px;
                height: 250px;
                margin: 35px 0;
            }
        }
    }
    .fotorama__thumb-border {
        display: none;
    }
    .fotorama__nav.fotorama__shadows--top {
        &:before {
            display: none;
        }
    }
    .fotorama__nav.fotorama__shadows--bottom {
        &:after {
            display: none;
        }
    }
    .fotorama__nav-wrap--vertical {
        &.fotorama__nav-wrap {
            right: 0;
            left: auto;
        }
    }
    .gallery-placeholder {
        .fotorama-item {
            .fotorama__stage {
                margin-bottom: 0;
            }
            .fotorama__nav-wrap {
                .fotorama__nav--dots {
                    .fotorama__nav__frame {
                        &.fotorama__active {
                            .fotorama__dot {
                                background-color: #cc9966;
                                border-color: #cc9966;
                            }
                        }
                        &.active {
                            .fotorama__dot {
                                background-color: #cc9966;
                                border-color: #cc9966;
                            }
                        }
                    }
                    .fotorama__nav__frame {
                        display: block;
                        .fotorama__dot {
                            border: 1px solid #ebdcb3;
                            height: 10px;
                            width: 10px;
                            margin: auto;
                            position: absolute;
                            left: auto;
                            right: 50%;
                            .transform (translate(50%, 0));
                        }
                    }
                }
            }
        }
    }
    @media (min-width: (@screen__large)) and (max-width: (@screen__extra_large - 1)) {
        .fotorama__stage {
            height: 620px !important;
        }
        ul.product-item-wrapper-custom {
            height: 620px;
        }
    }
    @media only screen and (min-width: (@screen__large)) {
        .fotorama__wrap {
            display: flex;
            align-items: center;
        }
    }
    @media only screen and (min-width: (@screen__tablet + 1)) {
        .breadcrumbs {
            padding: 0 150px;
        }
    }
    // End

    #maincontent {
        ul.product-item-wrapper-custom {
            li {
                padding-bottom: 74%;
                margin-bottom: 45.3px;
                position: relative;
                height: 0px;
                left: 0;
                top: 0;
                overflow: hidden;
                img {
                    position: absolute;
                    object-fit: cover;
                    object-position: 50% 50%;
                    width: 100%;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .btn-product-share {
            float: right;
            padding: 25px 15px;
            display: block !important;
        }
    }
    .nb-custom-attr {
        display: flex;
        padding: 10px 15px;
        line-height: 30px;
        align-items: center;
        .nb-attr {
            margin-right: 5px;
            padding-right: 10px;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                width: 2px;
                height: 60%;
                background: #99877a;
                right: 0;
                left: auto;
                top: auto;
                bottom: 50%;
                .transform(translate(0, 50%));
            }
        }
        .nb-sku {
            margin-left: 5px;
        }
        span {
            display: none;
        }
        > div {
            font-size: 14px;
            color: @color-bg-default__home5;
            font-family: @font-family-base__home5;
            font-weight: @font-weight-second__home5;
        }
    }
    .video-extenal-bottom {
        max-width: 1200px;
        padding: 50px 0;
        margin: auto;
    }
    .collections {
        max-width: 100%;
        .items {
            margin-top: 0;
        }
        div.row {
            display: flex;
            @media only screen and  (max-width: (@screen__large - 1)){
                display: block;
                margin-bottom: 0;
            }
        }
    }
    @media only screen and  (max-width: (@screen__large - 1)) {
        .video-extenal-bottom {
            iframe {
                width: 100%;
                height: auto;
            }
        }
        .product_page_content {
            margin-bottom: 0;
            padding: 0;
        }
        #maincontent {
            ul.product-item-wrapper-custom {
                display: none;
            }
        }
        .nb-custom-attr {
            padding: 10px 0;
        }
    }

    // End 

    // Products Product Media 
    //  -------------------------------------------
    .product.media {
        margin: 0 0 70px 0;
        float: none;
        width: 100%;
        .clearFix ();
        .product-info-price {
            .clearFix ();
            margin-bottom: 40px;
            span.price {
                color: @color-bg-default__home5;
                font-family: @font-family-base__home5;
                font-weight: @font-weight-second__home5;
            }
        }
        .page-title-wrapper.product {
            display: block;
            clear: both;
            padding-top: 25px;
            h1.page-title {
                color: @color-bg-default__home5;
                line-height: 35px;
                font-weight: @font-weight-second__home5;
                font-family: @font-family-second__home5;
                margin: 0;
                span {
                    position: relative;
                    padding: 20px 15px;
                    display: block;
                    font-size: 40px;
                    &:after {
                        position: absolute;
                        content: '';
                        left: 15px;
                        right: auto;
                        bottom: 0;
                        width: 1190px;
                        height: 1px;
                        background: #eee6db;
                        max-width: 300px;
                    }
                }
            }
        }
        .btn-product-share {
            display: flex;
            justify-content: flex-end;
            ul.social-list {
                li.social-item {
                    display: inline-block;
                    padding: 10px;
                    margin: 0;
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        i {
                            font-size: 23px;
                        }  
                        &.blog.icon {
                            font-family: 'Dancing Script';
                            font-size: 35px;
                        }
                    }
                }
            }
        }
        @media only screen and  (max-width: (@screen__large)) {
            .gallery-placeholder {
                padding: 0;
            }
            .product-item-wrapper-custom {
                padding-right: 0;
            }
            .page-title-wrapper.product {
                h1.page-title {
                    span {
                        padding: 10px 0;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    // End

    // Products Product-info-main
    //  -------------------------------------------
    .product-info-main {
        .oldesign-wraper__left {
            display: block;
            h3 , p {
                display: none;
            }
        }
    }


    // End   
    .nbd-user-design {
        .main-item {
            .item-img {
                .flex-wrap ();
                padding: 0 4px;
                margin-bottom: 25px;
                .preview-design {
                    .flex-width (25%);
                    padding: 0 4px;
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                        background: #ccc;
                        height: 100%;
                        margin: 0;
                        cursor: pointer;
                    }
                }
                @media (max-width: 767px) {
                    .preview-design {
                        .flex-width (50%);
                    }
                }
            }
        }
    }
    /* Error messeages */
    div.mage-error[generated] {
        margin-top: 7px;
        position: absolute;
        top: -35px;
        left: auto;
        background: #e02b27;
        color: @white;
        padding: 5px;
        line-height: 15px;
        border-radius: 5px;
        right: 30px;
        z-index: 99;
        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-left: 10px solid @nocolor;
            border-right: 10px solid @nocolor;
            border-top: 10px solid #e02b27;
            bottom: -5px;
            top: auto;
            left: auto;
            right: 50%;
            transform: translate(50%, 0);
        }
        @media (max-width: (@screen__medium - 1))  and (min-width: (@screen__small)) {
            top: -20px;
            left: 0;
            right: auto;        
        }
        @media only screen and (max-width: (@screen__small - 1)) {
            top: -40px;
            right: 0;
            left: auto;        
        }
    }
    /* End */

    .product-info-main-wrapper {
        .product-add-form {
            .product-add-form__action-box {
                .product-options-bottom {
                    .nb-option .box-tocart {
                        .cart-action button.action {
                            position: static;
                            background: @color-bg-default__home5;
                            border: none;
                            font-size: @font-size__base;
                            line-height: @font-size__base;
                            text-transform: uppercase;
                            color: @text_color__second;
                            font-weight: @font-weight-second__home5;
                            font-family: @font-family-base__home5;
                            letter-spacing: 1px;
                            border-radius: unset;
                            padding: 14px 25px;
                            display: inline;
                            margin: 15px 0;
                        }
                    }
                }
            }
            .product-options-wrapper {
                .fieldset {
                    > div.field.required {
                        > div.control {
                            position: relative;
                            @media (max-width: (@screen__medium - 1)) and (min-width: (@screen__small)) {
                                width: 65%;
                            }
                        }
                    }
                    > .field div.mage-error {
                        &::after {
                            position: absolute;
                            content: '';
                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-top: 10px solid #e02b27;
                            bottom: -5px;
                            top: auto;
                        }
                    }
                }
            }
        }
    }
    &.page-product-configurable {
        .product-options-bottom {
            width: 50%;
            order: 3;
            float: right;
            padding-right: 0;
            @media only screen and (max-width: (@screen__extra_large)) {
                width: 100%;
                padding-right: 15px;
            }
        }
        .product-info-main {
            .product-info-stock-sku {
                display: flex;
                align-items: center;
                font-family: @font-family-base__home5;
                font-weight: 300;
                color: @color-bg-default__home5;
            }
        }
        .swatch-opt {
            margin: 0 0 25px 15px;
            padding-top: 15px;
            .swatch-attribute-label {
                position: relative;
                font-weight: @font-weight_base;
                text-transform: uppercase;
                font-family: @font-family-base__home5;
                font-size: 14px;
                color: @color-bg-default__home5;
            }
            .swatch-attribute {
                display: flex;
                align-items: center;
                position: relative;
                margin-bottom: 25px;
                &.color {
                    margin-bottom: 0;
                }
                .swatch-attribute-options {
                    margin: 0;
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    padding-right: 30px;
                    .swatch-option {
                        width: 20px;
                        max-width: unset;
                        min-width: unset;
                        border-radius: 100%;
                        border: none;
                        &:hover,
                        &:focus,
                        &:active {
                            outline: none;
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        &.selected {
                            outline: unset;
                            border: 2px solid @black;
                        }
                    }
                    select {
                        border: none;
                        width: 61%;
                        padding: 0;
                        padding: 5px 0;
                        height: 50px;
                        font-size: 12px;
                        font-family: @font-family-base__home5;
                        color: @theme-color_gray_black;
                        font-weight: @font-weight_base;
                        letter-spacing: 1px;
                    }
                }
            }
        }
        .product-options-wrapper {
            .fieldset {
                @media (min-width: @screen__large) {
                    .price-box {
                        padding: 0 15px;
                    }
                }
                > div.field.required {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    position: relative;
                    margin-bottom: 10px;
                    label.label {
                        font-weight: @font-weight_base;
                        font-family: @font-family-base__home5;
                        letter-spacing: 1px;
                        padding: 0;
                        font-size: 14px;
                        span {
                            color: @color-bg-default__home5;
                            text-transform: uppercase;
                        }
                        &:after {
                            font-size: 14px;
                            margin: 0;
                            content: ':';
                            color: @text_color__second
                        }
                    }
                    > div.control {
                        height: 55px;
                        position: relative;
                        select {
                            border: none;
                            padding: 5px 30px 5px 0;
                            height: 50px;
                            font-size: 12px;
                            font-family: @font-family-base__home5;
                            color: @theme-color_gray_black;
                            font-weight: @font-weight_base;
                            letter-spacing: 1px;
                            background: url('@{images_icon}/angledown.png') no-repeat 50px;
                            background-position: right;
                            cursor: pointer;
                        }
                    }
                    @media (min-width: (@screen__medium)) and (max-width: (@screen__extra_large - 1)) {
                        label.label {
                            width: 35%;
                            font-size: 12px;
                        }
                        > div.control {
                            width: 65%;
                        }
                    }
                }
            }
        }
    }
    .page-bottom {
        max-width: 100%;
    }
}


// Products Product-info-main 
//  -------------------------------------------

.product-info-main {
    width: 45%;
    float: left;
    padding: 0 50px 0 15px;
    margin-bottom: 60px;
    display: block;
    position: relative;
    > label {
        font-weight: @font-weight_base;
        font-family: @font-family-base__home5;
        letter-spacing: 1px;
        padding: 0;
        font-size: 14px;
        color: @color-bg-default__home5;
        width: 25%;
        float: left;
        padding-right: 25px;
    }
    .clearFix ();
    .product-add-form {
        padding-top: 0;
        margin-bottom: 25px;
    }
    .nbdesigner_frontend_container {
        .nbd-save-for-later, 
        .nbd-download-pdf {
            display: inline-block;
            text-transform: uppercase;
            font-family: @font-family-base__home5;
            line-height: 1em;
            color: @text_color__second;
            background: @bg_color_base;
            font-weight: @font-weight-second__home5;
            border: 1px solid @bg_color_base;
            font-size: 17px;
            padding: 12px 44px;
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }
        #nbdesigner-preview-title {
            font-family: @font-family-base__home5
        }
        #nbdesigner_frontend_area {
            .flex-wrap ();
            .img-con {
                .flex-width (33.33%);
                margin-bottom: 10px;
                @media (min-width: @screen__extra_small) and (max-width: (@screen__medium - 1)) {
                    .flex-width (25%);
                }
                @media only screen and (max-width: (@screen__extra_small - 1)) {
                    .flex-width (50%);
                }
            }
        }
    }
    .oldesign-wraper {
        width: 50%;
        float: left;
        order: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        right: auto;
        padding: 0 15px 0 0;
    }
    #product-addtocart-button {
        background: @bg_color_base;
        border: none;
        text-transform: uppercase;
        color: @text_color__second;
        letter-spacing: 1px;
        border-radius: unset;
        padding: 13px;
        clear: both;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        width: 100%;
        @media (max-width: 991px) {
            width: 100%;
        }
        &::before {
            display: none;
        }
        span {
            font-weight: @font-weight-second__home5;
            font-family: @font-family-base__home5;
            font-size: @font-size__base;
            line-height: @font-size__base;
        }
    }
    .product-add-form__action-box {
        .clearFix ();
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
        .product-options-bottom {
            width: 50%;
            order: 3;
            float: right;
            padding-right: 0;
            .box-tocart {
                padding: 0;
                width: 100%;
                margin: 0;
                position: relative;
                .field.qty {
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;
                    .label {
                        display: inline-flex;
                        padding: 10px 0;
                    }
                    .content-for-menge {
                        font-size: 13px;
                        display: block;
                        line-height: 15px;
                        padding: 10px 0;
                    }
                    .nb-menge-default {
                        > span {
                            padding: 5px 0;
                            display: block;
                            &.content-second {
                                padding-bottom: 10px;
                            }
                        }
                    }
                    .control {
                        padding-left: 10px;
                        input {
                            width: 100%;
                            border: 1px solid #ccc;
                            margin: 0;
                        }
                        @media only screen and (max-width: (@screen__large - 1)) {
                            padding-left: 0;
                        }
                    }
                }
                .fieldset.cart-action {
                    .clearFix ();
                    .actions {
                        position: static;
                        .nb-description {
                            padding-top: 10px;
                            position: absolute;
                            left: auto;
                            right: 50%;
                            bottom: -20px;
                            font-size: 14px;
                            transform: translate(50%, 0);
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
                .label {
                    span {
                        color: @color-bg-default__home5;
                        font-weight: @font-weight_base;
                        font-family: @font-family-base__home5;
                        letter-spacing: 1px;
                        padding: 0;
                        font-size: 14px;
                        text-transform: uppercase;
                    }
                }
                #product-updatecart-button {
                    .btnDefault ();
                    text-overflow: ellipsis;
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 250px;
                    padding: 14px 15px;
                    @media(max-width: 1200px) {
                        width: 100%;
                    }
                }
            }
            @media only screen and (max-width: (@screen__extra_large)) {
                width: 100%;
                position: static;
                padding: 0;
                margin-top: 10px;
            }
        }
        .field.qty.default {
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .page-title-wrapper {
        .page-title {
            margin: 0;
            padding-bottom: 25px;
            display: inline-block;
            position: relative;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 15px;
                width: 100%;
                height: 1px;
                background: #eee6db;
            }
        }
    }
    .oldesign-wraper {
        .oldesign-wraper__left {
            #triggerDesign {
                padding: 6px 25px;
                background: @bg_color_base;
                border: 1px solid @bg_color_base;
                color: @text_color__second;
                border-radius: unset;
                width: 100%;
                font-family: @font-family-base__home5;
                font-weight: @font-weight-second__home5;
                font-size: @font-size__base;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
    .page-title-wrapper {
        .page-title span {
            font-size: 30px;
            color: @color-bg-default__home5;
            line-height: 35px;
            font-weight: @font-weight-second__home5;
        }
    }
    .product-options-wrapper {
        padding-top: 0;
        width: 100%;
        order: 1;
        margin-bottom: 15px;
    }
    .nb-custom {
        font-family: @font-family-base__home5;
        font-weight: @font-weight_base;
        letter-spacing: 1px;
        position: relative;
        clear: both;
        > label {
            width: 49%;
            float: left;
            line-height: 50px;
            span {         
                padding: 0;
                font-size: 14px;
                color: @color-bg-default__home5;
            }
        }
        .control.option-default {
            position: relative;
            display: block;
            .clearFix ();
        }
        select {
            border: none;
            padding: 5px 0;
            height: 50px;
            font-size: 12px;
            color: @theme-color_gray_black;
            letter-spacing: 1px;
            width: 51%;
            float: left;
            padding-right: 30px;
            background: url('@{images_icon}/angledown.png') no-repeat 50px;
            background-position: right;
            cursor: pointer;
        }
        > span {
            letter-spacing: 1px;
            padding: 0;
            font-size: 13px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            max-width: 300px;
            line-height: 18px;
            margin: 10px 0;
        }
    }
    @media (max-width: (@screen__large - 1)) and (min-width: (@screen__medium)) {
        .nb-custom > span {
            font-size: 12px;
        }
    }
    @media only screen and (min-width: (@screen__medium)) {
        &::after {
            position: absolute;
            right: 0;
            top: 15px;
            width: 2px;
            background: #99877a;
            height: calc(95%);
            left: auto;
        }
    }
    @media only screen and (max-width: (@screen__extra_large)) {
        .oldesign-wraper {
            width: 100%;
            position: static;
            margin: 0;
            padding: 0;
        }
    }
    @media only screen and (max-width: (@screen__large - 1)) {
        padding: 0 0 0 0;
        .product-add-form__action-box {
            .product-options-bottom {
                .box-tocart .fieldset.cart-action .actions {
                    text-align: left;
                }
            }
        }
    }
    @media only screen and (max-width: (@screen__medium - 1)) {
        width: 100%;
        margin-bottom: 0;
        .oldesign-wraper {
            padding: 0;
        }
    }
    @media only screen and (max-width: (@screen__extra_small - 1)) {
        .nb-custom {
            > label {
                width: 100%;
                float: none;
                display: block;
            }
            select {
                width: 100%;
                border-radius: unset;
                padding: 5px 10px;
                border: 1px solid #eee6db;
                background-position: top 20px right 15px;
                text-align-last: left;
            }
            .control.option-default {
                &::after {
                    right: 15px;
                }
                margin-bottom: 15px;
            }
        }
    }
}

// Products product-info-main-wrapper 
//  -------------------------------------------

.product-info-main-wrapper {
    &.product.info.detailed {
        width: 45%;
        padding-left: 0;
        border: none;
        float: left;
        padding-right: 45px;
        padding-top: 0;
        border-right: 1px solid @color-bg-default__home5;
        .clearFix ();
        .product-add-form.product-not-upload {
            .clearFix ();
        }
        .oldesign-wraper {
            margin: 40px 0;
            .clearFix ();
            #triggerDesign {
                background: @color-bg-default__home5;
                border: none;
                font-size: @font-size__base;
                line-height: 24px;
                text-transform: uppercase;
                color: @text_color__second;
                font-weight: @font-weight-second__home5;
                font-family: @font-family-base__home5;
                letter-spacing: 1px;
                border-radius: unset;
                padding: 14px 25px;
                display: block;
                clear: both;
                width: 60%;
            }
        }
    }
}

// Products Product.info.detailed 
//  -------------------------------------------
.product.info.detailed {
    width: 55%;
    float: left;
    clear: initial;
    padding: 15px 15px 0 50px;
    button.muster-bestseller {
        background: @bg_color_base;
        border: none;
        font-size: @font-size__base;
        text-transform: uppercase;
        color: @text_color__second;
        font-weight: @font-weight-second__home5;
        font-family: @font-family-base__home5;
        letter-spacing: 1px;
        border-radius: unset;
        padding: 6px 25px;
        clear: both;
        line-height: 30px;
        display: inline-block;
        width: 50%;
        margin-right: 15px;
    }
    .nb-my-designs {
        display: inline-block;
        width: 50%;
        margin-left: 15px;
        #my-design {
            padding: 12px 25px;
            background: @bg_color_base;
            border: 1px solid @bg_color_base;
            border-radius: unset;
            width: auto;
            text-transform: uppercase;
            font-size: @font-size__base;
            text-align: center;
            color: @text_color__second;
            font-weight: @font-weight-second__home5;
            font-family: @font-family-base__home5;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
    .product.data.items {
        >.item.content {
            padding: 25px 0 0 0;
        }
        >.item.title {
            width: 100%;
            &:hover {
                p.data.switch {
                    &:after {
                        display: none;
                    }
                }
            }
            &.active {
                p.data.switch {
                    &:after {
                        display: none;
                    }
                }
            }
            
            p.data.switch {
                border-bottom: 1px solid #eee6db;
                width: 100%;
                font-weight: @font-weight_base;
                font-family: @font-family-base__home5;
                letter-spacing: 1px;
                text-transform: uppercase;
                display: block;
                padding: 0;
                position: relative;
                vertical-align: text-top;
                height: auto;
                font-size: 14px;
                line-height: 14px;
                padding-bottom: 10px;
                margin-bottom: 20px;
                cursor: pointer;
                background: url(../images/angleright.png) no-repeat;
                background-position: right -1px;
                .transition (0.1s ease all);
                &.show {
                    background: url(../images/angledown1.png) no-repeat;
                    background-position: right 3px;
                }
            }
            > div.data.content {
                padding: 15px 0 0 20px;
                border-top: none;
                div {
                    p, .value {
                        font-weight: @font-weight_base;
                        font-family: @font-family-base__home5;
                        letter-spacing: 1px;
                        font-size: 13px;
                        color: @theme-color_gray_black;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: (@screen__extra_large + 1)) {
        .nb-button {
            display: flex;
            align-items: center;
        }
    }
    @media (max-width: (@screen__extra_large - 1)) and (min-width: @screen__large) {
        .nb-my-designs {
            #my-design {
                font-size: 15px;
            }
        }
        button.muster-bestseller {
            font-size: 15px;
        }
    }
    @media only screen and (max-width: @screen__extra_large) {
        .nb-button {
            display: block;
            button.muster-bestseller {
                width: 100%;
            }
            .nb-my-designs {
                margin: 10px 0 0 0;
                width: 100%; 
            }
        }
    }
}

// Related Products
//  -------------------------------------------

.block {
    &.related {
        clear: both;
        padding: 15px;
        .block-title {
            text-align: center;
            strong {
                font-family: @font-family-base__home5;
            }
        }
        .product-items {
            .item {
                .product-item-actions-wrap {
                    a {
                        color: @text_color__second;
                        line-height: inherit;
                        border-right: 1px solid #fff;
                    }
                }
                .actions-primary + .actions-secondary {
                    > a.action.towishlist {
                        border-left: 1px solid @white;
                        border-right: 1px solid @white;
                    }
                }
                .tocart {
                    border: none;
                    &:hover {
                        background: @nocolor;
                    }
                }
            }
        }
        .HeadingBanner {
            padding: 20px 15px;
        }
        span.product-image-container {
            display: block;
            clear: both;
        }
        @media (min-width: @screen__extra_large) {
            span.product-image-container {
                height: 350px;
            }
        }
        @media (min-width: @screen__tablet ) and (max-width: (@screen__extra_large - 1)){
            span.product-image-container {
                height: 275px;
            }
        }
        @media (min-width: @screen__large) and (max-width: (@screen__tablet - 1)){
            span.product-image-container {
                height: 350px;
            }
        }
        @media (min-width: @screen__extra_small) and (max-width: (@screen__large - 1)){
            span.product-image-container {
                height: 275px;
            }
        }
        @media (min-width: @screen__small) and (max-width: (@screen__extra_small - 1)){
            span.product-image-container {
                height: 250px;
            }
        }
        @media only screen and (max-width: (@screen__small - 1)) {
            span.product-image-container {
                height: 100%;
            }
        }
    }
}


// Responsive 
//  -------------------------------------------

@media only screen and (max-width: (@screen__large - 1)) {
    .product-info-main-wrapper {
        .product-add-form {
            .product-options-wrapper {
                .fieldset {
                    .clearFix ();
                }
            }
        }  
    }
    .catalog-product-view {
        .product.media {
            margin: 0;
        }
        .video-extenal-bottom {
            padding: 15px;
        }
        #maincontent {
            .product.media {
                .gallery-placeholder {
                    .fotorama-item {
                        .fotorama__nav-wrap {
                            .fotorama__nav--dots {
                                .fotorama__nav__frame {
                                    display: inline-block;
                                    position: relative;
                                }
                            }
                        }
                    }
                }
            }
            .fotorama__nav-wrap {
                width: auto;
                float: none;
                .fotorama__nav {
                    top: auto;
                    bottom: 0;
                }
            }
            ul.product-item-wrapper-custom {
                li {
                    height: 80px;
                    text-align: center;
                    margin: 0;
                    border: none;
                    padding-bottom: 0 !important;
                    img {
                        width: 80px;
                        height: 100%;
                    }
                }
            }
        }
        &.page-product-configurable {
            .swatch-opt {
                .swatch-attribute-label {
                    font-size: 14px;
                }
            }
            .product-options-wrapper {
                .fieldset {
                    > div.field.required {
                        > div.control select {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .product-options-wrapper {
            .fieldset {
                > div.field.required {
                    label.label {
                        font-size: 14px;
                    }
                }
            }
        }
        .product.info.detailed {
            .product.data.items {
                > .item.title {
                    p.data.switch {
                        font-size: 12px;
                        padding-right: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

@media (min-width: (@screen__medium)) and (max-width: (@screen__large - 1)) {
    .catalog-product-view {
        .product-info-main {
            width: 50%;
            padding-right: 15px;
        }
        .product.info.detailed {
            width: 50%;
            padding-left: 15px;
        }
    }
}

@media only screen and (max-width: (@screen__medium - 1)) {
    .catalog-product-view {
        .product-info-main-wrapper.product.info.detailed {
            width: 100%;
            padding: 0;
            border: none;
            margin-bottom: 15px;
        }
        .product.info.detailed {
            width: 100%;
            padding: 0;
        }
        .product.media {
            .btn-product-share {
                justify-content: center;
            }
        }
        &.page-product-configurable {
            .swatch-opt {
                padding: 15px 0;
                margin: auto;
                .swatch-attribute.color {
                    padding-top: 15px;
                    .swatch-attribute-options {
                        padding-right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: (@screen__extra_small)) {
    .catalog-product-view {
        &.page-product-configurable {
            .product-options-wrapper {
                .fieldset {
                    > div.field.required {
                        display: block;
                        clear: both;
                        &:after {
                            top: 55%;
                        }
                        > div.control {
                            width: 100%;
                            border: 1px solid #eee6db;
                            line-height: unset;
                            &:after {
                                right: 10px;
                            }
                            select {
                                height: 53px;
                                padding: 5px 10px;
                                background-position-x: 96%;
                                text-align-last: left;
                            }
                        }
                        label.label {
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .product-info-main-wrapper.product.info.detailed {
        .oldesign-wraper #triggerDesign {
            width: 100%;
        }
    }
}

/* Update */
.swatch-attribute-selected-option {
    min-width: 170px;
}
.fotorama__stage__frame.fotorama__active {
    max-height: 708px;
}
.fotorama__stage__shaft.fotorama__grab {
    width: 100% !important;
}
.product.media {
    .gallery-placeholder {
        .fotorama-item {
            .fotorama__stage {
                max-height: 708px;
            }
        }
    }
}
ul.social-top.list {
    display: block;
    text-align: right;
    clear: both;
    padding-right: 15px;
    >li {
        display: inline-block;
        margin: 0;
        >a {
            display: block;
            color: #000;
            transition: 0.4s ease all;
            &:hover {
                color: #988879;
            }
            >i {
                font-size: 23px;
                padding: 0 15px;
                line-height: 23px;
                &:last-child {
                    padding-left: 0;
                }
            }
        }
        >a.blog.icon {
            font-family: 'Dancing Script';
            font-size: 35px;
            padding: 0 0px 0 10px;
        }
    }
}
.catalog-product-view {
    ul.product-item-wrapper-custom {
        overflow: hidden;
        max-height: 708px;
    }
}
@media (max-width: 1024px) {
    ul.social-top.list {
        text-align: center;
        padding: 15px;
    }
}


