<?php
/** @var \Mirasvit\Sorting\Block\Debug $block */

$types = [
        "global" =>  __('Global Score'),
        "criterion1" =>  __('Sorting Score') ,
        "criterion2" =>  __('Sorting Sub Score')
]
?>
    <div class="mst-sorting__debug">
    <?php foreach ($types as $type => $typeName): ?>
        <div class="mst-sorting__debug-score <?= $type?>">
            <span><?= $typeName ?></span>
            <strong><?= $block->getScore($type) ?></strong>
        </div>
    <?php endforeach ?>

        <div class="mst-sorting__debug-ranking">
            <?php foreach ($types as $type => $typeName): ?>
            <h4><?= $typeName ?></h4>
            <?php foreach ($block->getValues($type) as $name => $value): ?>
                <div style="margin-bottom: 10px;">
                    <?php if ($value == "-"): ?>
                        <div style="font-size: 13px;line-height: 16px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; margin-bottom: 2px;">
                            <?= __("%1 attribute: %2", ucfirst($name), $block->getProduct()->getData($name)) ?>
                        </div>
                        <?php
                        break; //we use only first attribute for sorting
                        ?>
                    <?php else: ?>
                        <div style="font-size: 13px;line-height: 16px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; margin-bottom: 2px;">
                            <?= $name ?>
                        </div>
                        <?php
                        $weights = $block->getWeights($type);
                        $max = $block->getMaxScore($type);
                        $score = $value*$weights[$name];
                        if ($max) {
                            $width = abs($score / $max * 50);
                        } else {
                            $width = 0;
                        }
                        ?>
                        <div style="font-size: 13px;line-height: 16px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; margin-bottom: 2px;">
                            <?= $value ?>*<?= $weights[$name] ?> = <?= $score ?>
                        </div>
                        <div style="height: 5px; background:#d6d6d6; position: relative;width: 100%;">
                            <?php if ($value > 0): ?>
                                <div style="background: #87BC24; height: 5px; left: 50%; top:0; position: absolute; width: <?= $width ?>%"></div>
                            <?php else: ?>
                                <div style="background: #D91A00; height: 5px; right: 50%; top:0; position: absolute; width: <?= $width ?>%"></div>
                            <?php endif ?>
                        </div>
                    <?php endif ?>
                </div>
            <?php endforeach ?>
            <?php endforeach ?>
        </div>
    </div>
<?php if ($block->isApplyStyles()): ?>
    <style>
        .mst-sorting__debug {
            position: relative;
            cursor: help;
        }

        .mst-sorting__debug-ranking {
            display: none;
            position: absolute;
            top: 67px;
            left: 0;
            background: #fff;
            border: 1px solid #d6d6d6;
            z-index: 10000;
            width: 100%;
            box-sizing: border-box;
            padding: 5px 10px;
        }

        .mst-sorting__debug-score {
            border: 1px solid #d6d6d6;
            padding: 5px 10px;
            margin-bottom: 5px;
            display: flex;
            color: #949494;
            font-size: 1.3rem;
        }

        .mst-sorting__debug-score strong {
            margin-left: auto;
            color: #333;
        }

        .mst-sorting__debug-score.global strong {
            color: #999;
        }

        .mst-sorting__debug:hover .mst-sorting__debug-ranking {
            display: block;
        }

        .mst-sorting__debug:hover .mst-sorting__debug-score {
            border-color: #bbb;
        }

    </style>
<?php endif ?>