<?php
/**
 * Copyright 2017 Netbaseteam, Inc. All rights reserved.
 */
?>
<?php /** @var $block \Magento\Framework\View\Element\Template */ ?>

<?php
	$posts = $block->getPosts();
	$leftPosition = true;
?>
<?php if ($posts): ?>
<section class="lastest-post our-blog section-print3 container">
	<div class="heading">
		<h5><?php echo __('Our Blogs') ?></h5>
		<h2><?php echo __('Interesting To Read') ?></h2>
		<div class="rule"></div>
	</div>
	<div class="section-content">
		<div class="row">
		<?php $i=0; ?>
		<?php foreach ($posts as $key => $post): ?>
			<?php if ($leftPosition): ?>
				<?php $leftPosition = false; ?>
				<div class="lastest-post__item col-md-6">
					<?php if ($post->getThumbnail()): ?>
						<div class="post-img effect-6">
							<a class="inner" href="<?php echo $block->getPostUrl($post->getIdentifier()); ?>">
								<img src="<?php echo $block->getImagePostUrl($post->getThumbnail(), 570, 400); ?>" alt="<?php echo __($post->getThumbnail()); ?>" />
							</a>
						</div>	
					<?php endif ?>
					<div class="post-content">
						<?php if ($block->getCategoryName($post->getId())): ?>
							<div class="cate-info">
								<span><?php echo __($block->getCategoryName($post->getId())); ?></span>
							</div>
						<?php endif ?>
						<div class="meta-btn">
							<div class="meta-btn__item author">
								<span><?php echo __($post->getAuthorName()); ?></span>
							</div>
							<div class="meta-btn__item create-time">	
								<span><?php echo __($block->formatCreatedDate($post->getCreationTime())); ?></span>
							</div>
						</div>
						<h3 class="title">
							<a href="<?php echo $block->getPostUrl($post->getIdentifier()); ?>" title="<?php echo __($post->getTitle()); ?>">
								<?php echo __($post->getTitle()); ?>
							</a>
						</h3>
						<div class="short-content">
							<?php echo __($post->getShortContent()); ?>
						</div>
					</div>
				</div>
				<?php else :?>
					<?php //$leftPosition = true; ?>
					<div class="lastest-post__item col-md-6"> 
						<div class="our-blog__inner row">
							<?php if ($post->getThumbnail()): ?>
								<div class="post-img col-md-6 effect-6">
									<a class="inner" href="<?php echo $block->getPostUrl($post->getIdentifier()); ?>">
										<img src="<?php echo $block->getImagePostUrl($post->getThumbnail()); ?>" alt="<?php echo __($post->getThumbnail()); ?>" />
									</a>
								</div>	
							<?php endif ?>
							<div class="post-content col-md-6">
								<?php if ($block->getCategoryName($post->getId())): ?>
									<div class="cate-info">
										<span><?php echo __($block->getCategoryName($post->getId())); ?></span>
									</div>
								<?php endif ?>
								<div class="meta-btn">
									<div class="meta-btn__item author">
										<span><?php echo __($post->getAuthorName()); ?></span>
									</div>
									<div class="meta-btn__item create-time">	
										<span><?php echo __($block->formatCreatedDate($post->getCreationTime())); ?></span>
									</div>
									
									<!-- <div class="meta-btn__item num-comments">	
										<span><?php echo __($block->getNumberComments($post->getId())) ?></span>
										<span><?php echo __('Comments') ?></span>		
									</div> -->
								</div>
								<h3 class="title">
									<a href="<?php echo $block->getPostUrl($post->getIdentifier()); ?>" title="<?php echo __($post->getTitle()); ?>">
										<?php echo __($post->getTitle()); ?>
									</a>
								</h3>
								<div class="short-content">
									<?php echo __($post->getShortContent()); ?>
								</div>
							</div>
						</div> 
					</div>
				<?php endif ?>
		<?php endforeach ?>
		</div>
	</div>
</section>
<?php endif ?>
