<?php
/**
 * Copyright 2017 Netbaseteam, Inc. All rights reserved.
 */
?>
<?php /** @var $block \Magento\Framework\View\Element\Template */ ?>

<?php
	$posts = $block->getPosts();
	$leftPosition = true;
?>
<?php if ($posts): ?>
<section class="section-home5 our-blog04 our-blog5 lastest-post">
	<div class="container">
		<div class="heading">
			<h2><?php echo __('Our Blog') ?></h2>
			<p><?php echo __('Printshop is an on-demand marketplace where we connect customers with beautiful artist’s designs on the world’s best products so anything imaginable can be created.') ?></p>
		</div>
		<div class="section-content">
		<div class="row">
		<?php $i = 0; ?>
		<?php foreach ($posts as $key => $post): ?>
			<?php if ($leftPosition): ?>
				<?php $leftPosition = false; ?>
					<div class="lastest-post__item col-md-5 our-blog5__right">
					<div class="blog5-right">
						<img src="<?php echo $block->getViewFileUrl('images/blog-right.jpg'); ?>" alt="<?php echo __('blog-right') ?>" /> 
					</div>
				</div>					
				
			<?php else :?>				
				
				<div class="lastest-post__item col-md-7 our-blog5__left"> 
						<div class="our-blog__inner row">
							<?php if ($post->getThumbnail()): ?>
								<div class="post-img col-md-6">
									<a href="<?php echo $block->getPostUrl($post->getIdentifier()); ?>">
										<img src="<?php echo $block->getImagePostUrl($post->getThumbnail()); ?>" alt="<?php echo __($post->getThumbnail()); ?>" />
									</a>
								</div>	
							<?php endif ?>
							<div class="post-content col-md-6">
								<?php if ($block->getCategoryName($post->getId())): ?>
									<div class="cate-info">
										<span><?php echo __($block->getCategoryName($post->getId())); ?></span>
									</div>
								<?php endif ?>
								<div class="meta-btn">
									<div class="meta-btn__item author">
										<span><?php echo __($post->getAuthorName()); ?></span>
									</div>
									<div class="meta-btn__item create-time">	
										<span><?php echo __($block->formatCreatedDate($post->getCreationTime())); ?></span>
									</div>
									
									<!-- <div class="meta-btn__item num-comments">	
										<span><?php echo __($block->getNumberComments($post->getId())) ?></span>
										<span><?php echo __('Comments') ?></span>		
									</div> -->
								</div>
								<h3 class="title">
									<a href="<?php echo $block->getPostUrl($post->getIdentifier()); ?>" title="<?php echo __($post->getTitle()); ?>">
										<?php echo __($post->getTitle()); ?>
									</a>
								</h3>
								<div class="short-content">
									<?php echo __($post->getShortContent()); ?>
								</div>
								<div class="action">
									<a class="shop-btn read-more-btn button" href="<?php echo $block->getPostUrl($post->getIdentifier()); ?>"><span><?php echo __('Read more'); ?></span> </a>
								</div>
							</div>
						</div> 
					</div>
			<?php endif ?>
		<?php endforeach ?>
		</div>
	</div>
	</div>
</section>
<?php endif ?>
