<div id="page:left" class="side-col side-design">
	<div id="system_config_tabs" class="config-nav">
		<div class="config-nav-block admin__page-nav _collapsed _hide">
			<ul class="admin__page-nav-items items">
				<li class="admin__page-nav-item item _active">
					<a class="admin__page-nav-link" href="#">Typography</a>
				</li>
				<li class="admin__page-nav-item item">
					<a class="admin__page-nav-link" href="#!links">Link</a>
				</li>
				<li class="admin__page-nav-item item">
					<a class="admin__page-nav-link" href="#!btn-prime">Button</a>
				</li>
				<li class="admin__page-nav-item item">
					<a class="admin__page-nav-link" href="#!btncta">Button CTA</a>
				</li>
				<li class="admin__page-nav-item item">
					<a class="admin__page-nav-link" href="#!btnsubmit">Button Submit</a>
				</li>
				<li class="admin__page-nav-item item">
					<a class="admin__page-nav-link" href="#!menu">Menu</a>
				</li>
			</ul>
		</div>
	</div>
</div>