<div id="container" class="main-col design-typography">
    <div class="admin__scope-old">
        <form id="config-edit-form">
            <div class="accordion">
                <div class="entry-edit form-inline">
                    <div class="section-config">
                        <div class="entry-edit-head admin__collapsible-block"> 
                            <fieldset class="config admin__collapsible-block">
                                <table cellspacing="0" class="form-list">
                                    <tbody>
                                        <tr>
                                            <td class="label">
                                                <label>Font base</label>
                                            </td>
                                            <td class="value">
                                                <select id="font-base" name="font-base" class=" select font-base admin__control-select">
                                                    <option value="1" selected="selected">Yes</option>
                                                    <option value="0">No</option>
                                                </select> 
                                            </td>
                                        </tr>
                                        <tr>    
                                            <td class="label">
                                                <label>Text Color</label>
                                            </td>
                                            <td class="value">
                                                <input id="size-base" name="size-base" value="" class="size-base input-text admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                 <label>Line Height Base</label>
                                            </td>
                                            <td class="value">
                                                <input id="line-hight-base" name="line-hight-base" value="" class="line-hight-base input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <label>Heading base</label>
                                            </td>
                                            <td class="value">
                                                <select id="heading-base" name="heading-base" class="heading-base select admin__control-select">
                                                    <option value="1" selected="selected">Yes</option>
                                                    <option value="0">No</option>
                                                </select> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <label>Scale Font</label>.
                                            </td>
                                            <td class="value">
                                               <input id="scale-font" name="scale-font" value="" class="scale-font input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <label>LineHeight Heading base</label>
                                            </td>
                                            <td class="value">
                                                <input id="line-hight-heading-base" name="line-hight-heading-base" value="" class="line-hight-heading-base input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr> 
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> 