//  CardShop theme overrides
//  _____________________________________________

@import '_theme.less';
@import '_mixins.less';


//  Breadcrumbs
//  ---------------------------------------------

.breadcrumbs {
    max-width: 100%;
    clear: both;
    margin: 0;
    padding: 0 95px;
    .clearFix ();
    ul.items {
        padding: 0 0 30px 0;
        li {
            margin-bottom: 0;
            padding: 0 16px 0 0;
            position: relative;
            .transition (0.4s ease all); 
            a {
                font-weight: @font-weight-second__home5;
                font-family: @font-family-base__home5;
                color: @black;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1px;
            }
            strong {
                font-weight: @font-weight-second__home5;
                font-family: @font-family-base__home5;
                color: #c1b8af;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1px;
            }
            &:first-child {
                padding-left: 0;
            }
        }
    }
    .item {
        &:not(:last-child) {
            &:after {
                content: '';
                position: absolute;
                width: 1px;
                height: 45%;
                right: 5px;
                left: auto;
                background: #888;
                margin: 0;
                top: auto;
                bottom: 50%;
                .transform(translate(0, 50%));
            }
        }
    }
    @media (max-width: 1024px) {
        padding: 0 15px;
        ul.items {
            li strong {
                font-size: 10px;
            }
            li a {
                font-size: 10px;
            }
        }
    }
}
.customer-account-login {
    .breadcrumbs {
        .items {
            .item {
                a {
                    color: #000;
                }
                &:hover {
                    a {
                        color: #c1b8af;
                    }
                }
            }
        }
    }
}
.customer-account-create {
    .breadcrumbs {
        .items {
            .item {
                a {
                    color: #000;
                }
                &:hover {
                    a {
                        color: #c1b8af;
                    }
                }
            }
        }
    }
}
.page-products {
    .breadcrumbs {
        .items {
            .item {
                a {
                    color: #000;
                }
                &:hover {
                    a {
                        color: #c1b8af;
                    }
                }
            }
        }
    }
}
.catalog-product-view {
    .breadcrumbs {
        .items {
            .item {
                a {
                    color: #000;
                }
                &:hover {
                    a {
                        color: #c1b8af;
                    }
                }
            }
        }
    }
}
.multishipping-checkout-register {
    .breadcrumbs {
        .items {
            .item {
                a {
                    color: #000;
                }
                &:hover {
                    a {
                        color: #c1b8af;
                    }
                }
            }
        }
    }
}

