//  CardShop theme overrides
//  _____________________________________________

@import '_theme.less';
@import '_mixins.less';


//  Heading Line
//  ---------------------------------------------

.HeadingBanner {
    max-width: 2200px;
    margin: auto;
    padding: @horizontal__padding_small ceil(9 * @horizontal__padding_small);
    clear: both;
    width: 100%;
    .clearFix();
    .heading {
        font-family: @font-family-base__home5;
        color: @theme-color_gray_black;
        text-align: center;
        color: @headings_color;
        position: relative;
        width: 28%;
        float: left;
        letter-spacing: 1px;
        padding: 0 15px;
        margin: 0;
        font-size: ceil(1.3125 * @font-size__base);
        font-weight: 300;
        text-transform: uppercase;
    }
    .line-left {
        width: 36%;
        float: left;
        border-top: 1px solid @color-bg-default__home5;
    }
    .line-right {
        width: 36%;
        float: left;
        border-top: 1px solid @color-bg-default__home5;
    }
    &.first-title {
        @media (min-width: (@screen__tablet + 1)) {
            padding-top: 100px;
        }
        @media (max-width: (@screen__tablet)) {
            margin-top: 10px;
        }
        @media  (min-width: (@screen__extra_large  + 500)) {
            .heading {
                width: 20%;
            }
            .line-left {
                width: 40%;
            }
            .line-right {
                width: 40%;
            }
        }
        @media (max-width: (@screen__extra_large + 499)) and (min-width: (@screen__extra_large + 201)) {
            .line-left {
                width: 37.5%;
            }
            .line-right {
                width: 37.5%;
            }
            .heading {
                width: 25%;
            }
        }
        @media (max-width: (@screen__extra_large + 200)) and (min-width: (@screen__extra_large)) {
            .line-left {
                width: 34%;
            }
            .line-right {
                width: 34%;
            }
            .heading {
                width: 32%;
            }
        }
        @media (max-width: (@screen__extra_large - 1)) and (min-width: (@screen__tablet + 1)) {
            .line-left {
                width: 30%;
            }
            .line-right {
                width: 30%;
            }
            .heading {
                width: 40%;
            }
        }
        @media (max-width: (@screen__tablet)) and (min-width: (@screen__extra_small - 66)){
            padding: 10px 15px;
            .heading {
                font-size: ceil(0.9375 * @font-size__base);
                margin-top: 7px;
                padding: 0 5px;
            }
        }
        @media (min-width: (@screen__large)) and (max-width: (@screen__tablet)){
            padding: 10px 15px;
            .line-left {
                width: 37.5%;
            }
            .line-right {
                width: 37.5%;
            }
            .heading {
                width: 25%;
            }
        }
        @media (max-width: (@screen__large - 1)) and (min-width: (@screen__medium)){
            padding: 10px 15px;
            .line-left {
                width: 35%;
            }
            .line-right {
                width: 35%;
            }
            .heading {
                width: 30%;
            }
        }
        @media (min-width: (@screen__extra_small + 85)) and (max-width: (@screen__medium - 1)){
            padding: 10px 15px;
            .line-left {
                width: 35%;
            }
            .line-right {
                width: 35%;
            }
            .heading {
                width: 30%;
            }
        }
        @media (max-width: (@screen__extra_small + 84)) and (min-width: (@screen__extra_small - 66)){  
            .line-left {
                width: 30%;
            }
            .line-right {
                width: 30%;
            }
            .heading {
                width: 40%;
            }
        }
        @media (max-width: (@screen__extra_small - 67)) and (min-width: (@screen__small - 70)) {
            .line-left {
                width: 25%;
            }
            .line-right {
                width: 25%;
            }
            .heading {
                width: 50%;
                font-size: 15px;
                margin-top: 5px;
            }
        }
        @media (max-width: (@screen__small - 71)) {
            padding: 15px 15px;
            .line-left {
                width: 21%;
            }
            .line-right {
                width: 21%;
            }
            .heading {
                width: 58%;
                font-size: 13px;
                margin-top: 7px;
                padding: 0;
            }
        }
    }
    @media  (min-width: (@screen__extra_large + 500)) {
        .heading {
            width: 30%;
        }
        .line-left {
            width: 35%;
        }
        .line-right {
            width: 35%;
        }
    }
    @media (max-width: (@screen__extra_large + 499)) and (min-width: (@screen__extra_large + 201)) {
        .line-left {
            width: 33.5%;
        }
        .line-right {
            width: 33.5%;
        }
        .heading {
            width: 33%;
        }
    }
    @media (max-width: (@screen__extra_large + 200)) and (min-width: (@screen__extra_large)) {
        .line-left {
            width: 29%;
        }
        .line-right {
            width: 29%;
        }
        .heading {
            width: 42%;
        }
    }
    @media (max-width: (@screen__extra_large - 1)) and (min-width: (@screen__tablet - 1)) {
        .line-left {
            width: 25%;
        }
        .line-right {
            width: 25%;
        }
        .heading {
            width: 50%;
        }
    }
    @media (max-width: (@screen__tablet)) and (min-width: (@screen__extra_small - 66)){
            padding: 10px 15px;
            .heading {
                font-size: ceil(0.9375 * @font-size__base);
                margin-top: 7px;
                padding: 0 5px;
            }
        }
    @media (min-width: (@screen__large)) and (max-width: (@screen__tablet)){
        .line-left {
            width: 35%;
        }
        .line-right {
            width: 35%;
        }
        .heading {
            width: 30%;
        }    
    }
    @media (max-width: (@screen__large - 1)) and (min-width: (@screen__medium)){
        .line-left {
            width: 32.5%;
        }
        .line-right {
            width: 32.5%;
        }
        .heading {
            width: 35%;
        }     
    }
    @media (min-width: (@screen__extra_small + 85)) and (max-width: (@screen__medium - 1)){
        .line-left {
            width: 29.5%;
        }
        .line-right {
            width: 29.5%;
        }
        .heading {
            width: 41%;
        }    
    }
    @media (max-width: (@screen__extra_small + 84)) and (min-width: (@screen__extra_small - 66)){
        .line-left {
            width: 22.5%;
        }
        .line-right {
            width: 22.5%;
        }
        .heading {
            width: 55%;
        }      
    }
    @media (max-width: (@screen__extra_small - 67)) and (min-width: (@screen__small - 70)) {
        padding: 10px 15px;
        .line-left {
            width: 15%;
        }
        .line-right {
            width: 15%;
        }
        .heading {
            width: 70%;
            padding: 0;
            font-size: 15px;
            margin-top: 5px;
        }
    }
    @media (max-width: (@screen__small - 71)) {
        padding: 10px 15px;
        .line-left {
            width: 15%;
        }
        .line-right {
            width: 15%;
        }
        .heading {
            width: 70%;
            padding: 0;
            font-size: 13px;
            margin-top: 7px;
        }    
    } 
    @media (max-width: (@screen__small - 106)) and (min-width: (@screen__small - 160)) {
        padding: 10px 15px;
        .line-left {
            width: 10%;
        }
        .line-right {
            width: 10%;
        }
        .heading {
            width: 80%;
            font-size: 13px;
            margin-top: 7px;
            padding: 0 5px;
        }
    }
}
.section-home5 {
    @media(min-width: (@screen__large)) {
        .HeadingBanner {
            padding: @horizontal__padding_small ceil(6.5 * @horizontal__padding_small);
        }
    }
}
.instagram_cate {
    @media(max-width: (@screen__large - 1)) {
        .HeadingBanner {
            padding: @horizontal__padding_small 0;
        }
    }
    @media(min-width: (@screen__large)) {
        .HeadingBanner {
            padding: 50px 140px 40px 140px;
        }
    }
}
// End 

//  Banner
//  ---------------------------------------------
.main_banner {
    max-width: 1920px;
    margin: auto;
    padding: 20px 130px 90px 130px;
    .nb-box-22-custom {
        display: flex;
        align-items: center;
        .nb-box-2-custom {
            > div { 
                position: relative;
                .flex-width(50%);
                .transition (0.4s ease all);
                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(201,185,161,0.72);;
                    .transform (scale(0));
                    visibility: hidden;
                    opacity: 0;
                    .transition (0.4s ease all);
                }
            }
            &.column-2 {
                padding-right: @horizontal__padding_large;
                .flex-wrap ();
                @media (min-width: 1025px) {
                    width: 50%;
                }
                > div.left-image {
                    &::after {
                        .transform (scale(1));
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            &.column-3 {
                padding-left: @horizontal__padding_large;
                .flex-wrap ();
                @media (min-width: 1025px) {
                    width: 50%;
                }
                .img-bg.column-3.col {
                    height: 100%;
                }
                > div.right-image{
                    &::after {
                        .transform (scale(1));
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
            .text-headline {
                position: absolute;
                bottom: 28%;
                left: 15%;
                right: auto;
                transform: none;
            }
        }
    }
    .nb-box-2-custom {
        .flex-wrap ();
        > div {
            position: relative;
            .transition (0.4s ease all);   
        }
        &.column-1 {
            > div {
                &:nth-of-type(02) {
                    &::after {
                        .transform (scale(1));
                        visibility: visible;
                        opacity: 1;
                    }
                }
                position: relative;
                .transition (0.4s ease all);
                &::after {
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(201,185,161,0.72);
                    .transform (scale(0));
                    visibility: hidden;
                    opacity: 0;
                    .transition (0.4s ease all);
                }
            }
            .left-image {
                .flex-width(26%);
            }
            .right-image {
                .flex-width(50%);
            }
            .middle-box-1-custom {
                .flex-width(24%);
                .middle-image {
                    height: 100%;
                }
            }
        }
        .text-headline {
            z-index: 1;
            left: 20%;
            right: auto;
            position: absolute;
            bottom: 29%;
            text-align: center;
            p.content-headline {
                font-size: ceil(3.125 * @font-size__base);
                line-height: 50px;
                z-index: 2;
                color: @theme_color__white;
                font-family: @font-family-second__home5;
                letter-spacing: 2.5px;
            }
        }
        a.btn-1.btn-banner {
            left: 20%;
            right: auto;
        }
        .btn-banner {
            position: absolute;
            left: 15%;
            right: auto;
            display: block;
            bottom: 25%;
            width: 100%;
            z-index: 1;
            button  {
                position: absolute;
                left: 0;
                right: auto;
                top: 0;
                font-size: ceil(1.25 * @font-size__base);
                line-height: 20px;
                color: @theme-color_gray_black;
                background: @theme_color__white;
                font-weight: @font-weight_base;
                font-family: @font-family-base__home5;
                text-align: center;
                padding: 12px 30px;
                display: block;
                letter-spacing: 0.5px;
                width: auto;
                .transition (0.4s ease all);
                z-index: 2;
                border: none;
                .border-radius (unset);
            }
        }
        &.column-1 {
            clear: both;
            margin-bottom: 50px;
        }
        .clearFix ();
        > div {
            img {
                .img_crop ();
            }
        }
    }
    @media (min-width: (@screen__desktop + 500)) and (max-width: (@screen__desktop + 600)) {
        .nb-box-22-custom {
            height: auto;
            max-height: 500px;
            overflow: hidden;
            .nb-box-2-custom {
                .text-headline {
                    bottom: 34%;
                }
            }
            .btn-banner {
                bottom: 30%;
            }
        }
        .nb-box-2-custom {
            &.column-1 {
                height: auto;
                max-height: 500px;
                overflow: hidden;
                a.btn-1.btn-banner {
                    bottom: 36%;
                }
                .text-headline {
                    bottom: 40%;
                }
            }
        }
    }
    @media (min-width: (@screen__desktop)) and (max-width: (@screen__desktop + 200)) {
        .nb-box-2-custom  {
            > div {
                .text-headline {
                    p.content-headline {
                        font-size: ceil(2.5 * @font-size__base);
                    }
                } 
            }
        }
    }
    @media (min-width: (@screen__extra_large)) and (max-width: (@screen__desktop - 1)) {
        .nb-box-2-custom  {
            > div {
                .text-headline {
                    p.content-headline {
                        font-size: ceil(2.1875 * @font-size__base);
                    }
                } 
            }
        }
    }
    @media (min-width: (@screen__large)) and (max-width: (@screen__desktop + 200)) {
        .nb-box-2-custom {
            p.content-headline {
                font-size: ceil(1.5 * @font-size__base);
                bottom: 25%;
            }
            .text-headline {
                left: 10%;
                p.content-headline {
                    font-size: ceil(1.875 * @font-size__base);
                }
            }
            .btn-banner {
                bottom: 15%;
                left: 10%;
                button {
                    font-size: @font-size__base;
                    padding: 10px 15px;
                    position: static;
                }
            }
            a.btn-1.btn-banner {
                left: 10%;
            }
        }
        .nb-box-22-custom {
            .nb-box-2-custom {
                .text-headline {
                    left: 10%;
                }
            }
        }
    }
    @media (min-width: (@screen__tablet + 1)) and (max-width: (@screen__extra_large - 1)) {
        .nb-box-2-custom  {
            .text-headline {
                p.content-headline {
                    font-size: ceil(1.5625 * @font-size__base);
                }
            }
            .btn-banner button {
                font-size: ceil(0.8125 * @font-size__base);
            }
        }
    }
    @media only screen and  (max-width: @screen__tablet) {
        .nb-box-2-custom {
            .text-headline {
                bottom: 22%;
                width: 100%;
                left: 0;
                text-align: center;
                position: absolute;
            }
            .btn-banner {
                bottom: 5%;
                left: 0;
                text-align: center;
                right: auto;
                display: flex;
                justify-content: center;
                button {
                    position: static;
                    padding: 15px 30px;
                }
            }
            a.btn-1.btn-banner {
                left: 0;
            }
            &.column-1 {
                padding: 0 25px;
                margin-bottom: 25px;
                .left-image {
                    width: 50%;
                    float: left;
                    max-width: 50%;
                }
                .middle-box-1-custom {
                    width: 50%;
                    float: left;
                    max-width: 50%;
                }
                .right-image {
                    display: none;
                }
            }
        }
        .nb-box-22-custom {
            padding: 0 25px;
            display: block;
            .nb-box-2-custom {
                &.column-2 {
                    padding-right: 0;
                    margin-bottom: 25px;
                }
                &.column-3 {
                    padding-left: 0; 
                }
                .text-headline {
                    left: 0;
                    right: auto;
                    position: absolute;
                    bottom: 22%;
                    text-align: center;
                }
            }
        }
    }
    @media (max-width: (@screen__tablet)) and (min-width: (@screen__large)) {
        .nb-box-22-custom {
            .text-headline {
                bottom: 15%;
            }
        }
        .nb-box-2-custom {
            .text-headline {
                bottom: 15%;
            }
        }
    }
    @media (min-width: (@screen__extra_small)) and (max-width: (@screen__tablet)){
        .nb-box-2-custom {
            .text-headline {
                p.content-headline {
                    font-size: ceil(2.5 * @font-size__base);
                    line-height: 40px;
                }
            }
            .btn-banner {
                button {
                    font-size: ceil(1.25 * @font-size__base);
                }
            }
        }
    }
    @media only screen and (max-width: (@screen__extra_small - 1))  and (min-width: (@screen__small - 105)){
        .nb-box-2-custom {
            .text-headline {
                p.content-headline {
                    font-size: ceil(1.4375 * @font-size__base);
                    line-height: 23px;
                }
            }
            .btn-banner {
                button {
                    font-size: ceil(0.875 * @font-size__base);
                    padding: 5px 8px;
                }
            }
        }
    }
    @media (max-width: (@screen__small - 1)) and (min-width: (@screen__small - 105)) {
        .nb-box-2-custom  {
            .text-headline {
                bottom: 25%;
            }
        }
        .nb-box-22-custom {
            .nb-box-2-custom .text-headline {
                bottom: 25%;
            }
        }
    }
    @media (min-width: (@screen__small - 160)) and (max-width: (@screen__small - 106)) {
        .nb-box-2-custom  {
            .text-headline {
                p.content-headline {
                    font-size: ceil(1.25 * @font-size__base);
                    line-height: 20px;
                }
            }
            .btn-banner {
                button {
                    font-size: ceil(0.625 * @font-size__base);
                    padding: 5px 8px;
                }
            }
        }
    }
}

//  Products Home page
//  ---------------------------------------------

/* + Tab link */
.new-product5 {
    padding: 0 50px 100px 50px;
    clear: both;
    max-width: 1920px;
    margin: auto;
    .section-content {
        .tab-list {
            .tab-header { 
                .title-list.tabs-new {
                    margin: auto;
                    text-align: center;
                    .tab-link {
                        display: inline-block;
                        padding: 10px;
                        margin: 0 6px;
                        cursor: pointer;
                        color: @theme_color_grey;
                        font-size: ceil(1.3125 * @font-size__base);
                        position: relative;
                        text-transform: capitalize;
                        &:after {
                            position: absolute;
                            top: 11px;
                            right: -5px;
                            content: ' ';
                            height: 20px;
                            width: 2px;
                            background: @theme_color_silver;
                        }
                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                        &:hover {
                            color: #c1b8b5;
                        }
                    }

                    .tab-link.current { 
                        color: #c1b8b5;
                    }
                }
            }
            .tab-main {
                .product-list-content {
                    .home-product-slider {
                        display: none;
                        .product-banner5 {
                            &-img {
                                position: relative;
                                margin-bottom: 40px;
                            }
                            &-desc {
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                background: rgba(200, 165, 118, 0.84);
                                color: @theme_color__white;
                                padding: @indent__base;
                                text-align: center;
                                h2 {
                                    margin: 0;
                                    font-size: ceil(1.5 * @font-size__base);
                                    font-style: italic;
                                }
                                a {
                                    color: @theme_color__white;
                                    font-size: @font-size__base;
                                }
                            }
                        }
                    }
                    .home-product-slider.current {
                        display: block;
                        margin: 0;
                        .clearFix ();
                    }
                }
            }
        }
    }
    @media (max-width: (@screen__large - 1)) {
        .section-content {
            .tab-list {
                .tab-header {
                    .title-list.tabs-new {
                        .tab-link {
                            font-size: ceil(0.9375 * @font-size__base);
                            margin: 0;
                            padding: 5px 7px;
                            text-transform: capitalize;
                            font-weight: @font-weight__second;
                            font-family: @font-weight-second__home5;
                            &:after {
                                top: auto;
                                right: 0;
                                left: auto;
                                height: 50%;
                                width: 1px;
                                bottom: 50%;
                                transform: translate(0, 50%);
                            }
                        }
                    }
                }
            }
        }  
    }
    @media (max-width: (@screen__small + 20)) {
        .section-content {
            .tab-list {
                .tab-header {
                    .title-list.tabs-new {
                        .tab-link {
                            font-size: ceil(0.8125 * @font-size__base);
                        }
                    }
                }
            }
        }  
    }
}
/* + Style Global Product Items */
.page-products {
    .products.product-items {
        .item {
            width: 33.33%;
        }
    }
}

.cms-index-index ol.products.list.product-items {
    .flex-wrap ();
    > li {
        padding: 0 5px 0 5px;
        position: relative;
        .flex-width (20%);
    }
}
.home-product-slider {
    &.products-grid {
        .product-items {
            margin: 0;
            &.owl-carousel {
                .owl-stage-outer {
                    z-index: 2;
                }
                .owl-stage {
                    display: flex;
                    max-height: 460px;
                }
                .owl-nav.disabled {
                    display: block;
                }
                .owl-nav {
                    position: absolute;
                    top: auto;
                    bottom: 50%;
                    left: auto;
                    right: 50%;
                    .transform (translate(50%, 50%));
                    width: 100%;
                    z-index: 1;
                    > div {
                        position: absolute;
                        top: auto;
                        bottom: 50%;
                        .transform (translate(0, 50%));
                        .transition (0.4s ease all);
                        display: none;
                    }
                    .owl-next {
                        right: -100%;
                        left: auto;
                    }
                    .owl-prev {
                        left: -100%;
                        right: auto;
                    }
                    i.fa {
                        font-size: ceil(3.75 * @font-size__base);
                        color: @main_color__general;
                    }
                    @media (max-width: @screen__tablet) {
                        > div {
                            display: block;
                        }
                        .owl-next {
                            right: -25px;
                        }
                        .owl-prev {
                            left: -25px;
                        }
                        i.fa {
                            font-size: ceil(1.875 * @font-size__base);
                        }
                    }
                }
            }
        }
        &:hover {
            .product-items {
                &.owl-carousel {
                    .owl-nav {
                        .owl-next {
                            right: -17px;
                        }
                        .owl-prev {
                            left: -17px;
                        }
                    }
                }
            }
        }
    }
}
.products.product-items {
    .item {
        padding: 0 5px 0 5px;
        position: relative;
        overflow: hidden;
        height: 100%;
        .product-item-info {
            .clearFix ();
            height: 100%;
            .product.photo.product-item-photo {
                img {
                    .img_crop ();
                }
            }
            .product.details.product-item-details {
                .inner-product {
                    clear: both;
                    padding-top: @indent__l;
                    .product-item-link {
                        font-size: ceil(1.25 * @font-size__base);
                        font-weight: @font-weight__400;
                        color: @theme_color_444;
                        padding-bottom: 10px;
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        
                        &:hover {
                            color: @theme_color;
                        }
                    }
                    .price-home {
                        font-size: @font-size__xl;
                        font-weight: @font-weight__700;
                        color: @theme_color;
                    } 
                    .price-sale {
                        .normal {
                            float: left;
                            text-decoration: line-through;
                            color: @theme_color_silver;
                        }
                        .special {
                            padding-left: @indent__s;
                        }
                    }

                }
            }
        }
        .product-reviews-summary {
            padding-bottom: 10px;
            .rating-summary .rating-result {
                &:before {
                    color: @theme_color;
                    font-size: ceil(1.375 * @font-size__base);
                    letter-spacing: 2px;
                }
            }
        }
        .tocart {
            border-radius: 0;
            line-height: 45px;
            padding: 0;
            background: none;
            display: inline-block;
            border: none;
            height: 45px;
            margin: 5px;
            position: relative;
            border-left: 1px solid @white;
            border-right: 1px solid @white;
            width: 50%;
            &:before {
                font-size: ceil(1.875 * @font-size__base);
                content: "\f106";
                font-family: 'flaticon';
                font-weight: @font-weight_base;
                color: @theme_color__white;
                line-height: inherit;
            }
            span {
                .tip ();
                overflow: inherit;
                &:before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    border: 5px solid transparent;
                    border-top-color: @color-bg-default__home5;
                    left: 50%;
                    margin-left: -.3125rem;
                }
            }
            &:hover {
                &:before {
                    color: @theme_color__white;
                }
                span {
                    visibility: visible;
                    .opacity (1);
                    .transform (translateX(-50%));
                }
            }
        }
        .tocompare:before {
            content: "\f104";
            font-family: @font-family-icon__flaticon;
            font-size: ceil(2.1875 * @font-size__base);
        }
        .action.towishlist:before {
            content: "\f105";
            font-family: @font-family-icon__flaticon;
            font-size: ceil(1.875 * @font-size__base);
        }
        .actions-primary {
            display: flex;
            justify-content: center;
            width: 33.33%;
            position: relative;
            height: 55px;
            .wishlist_content {
                width: 100%;
                a {
                    span {
                        .tip ();
                        &:before {
                            content: "";
                            position: absolute;
                            top: 100%;
                            border: 5px solid transparent;
                            border-top-color: @color-bg-default__home5;
                            left: 50%;
                            margin-left: -.3125rem;
                        }
                    }
                    &:hover {
                        span {
                            visibility: visible;
                            .opacity (1);
                            .transform (translateX(-50%));
                        }
                    }
                }
            }
            .action.towishlist {
                span {
                    .tip ();
                    &:before {
                        content: "";
                        position: absolute;
                        top: 100%;
                        border: 5px solid transparent;
                        border-top-color: @color-bg-default__home5;
                        left: 50%;
                        margin-left: -.3125rem;
                    }
                }
                &:hover {
                    span {
                        visibility: visible;
                        .opacity (1);
                        .transform (translateX(-50%));
                    }
                }
            }
        }
        .actions-secondary {
            text-align: center;
            position: relative;
            padding-left: 0;
            width: 66.66%;
            line-height: 45px;
            display: flex;
            form {
                display: inline-block;
                width: 50%;
            }
            .stock.unavailable {
                line-height: 45px;
                background: none;
                height: 45px;
                margin: 5px;
                border-left: 1px solid @white;
                border-right: 1px solid @white;
                width: 50%;
                color: @white;
                font-size: 12px;
            }
        }
        .actions-primary+.actions-secondary>a.action {
            color: @theme_color__white;
            background: transparent;
            position: relative;
            span {
                .tip ();
                &:before {
                    content: "";
                    position: absolute;
                    top: 100%;
                    border: 5px solid transparent;
                    border-top-color: @color-bg-default__home5;
                    left: 50%;
                    margin-left: -.3125rem;
                }
            }
            &:hover {
                span {
                    visibility: visible;
                    .opacity (1);
                    .transform (translateX(-50%));
                    text-overflow: ellipsis;
                    white-space: normal;
                }
            }
        }
        .actions-primary+.actions-secondary >a.action.towishlist {
            border-radius: 0;
            line-height: 45px;
            padding: 0;
            background: none;
            display: inline-block;
            border: none;
            height: 45px;
            width: 50%;
            position: relative;
            margin: 5px 0;
        }
        .actions-primary+.actions-secondary >a.action.tocompare {
            height: 45px;
            width: 50%;
            line-height: 45px;
            border: none;
            position: relative;
            left: inherit;
            right: inherit;
            display: inline-block;
            border-radius: 0;
            margin: 5px 0;
        }
        .product-item-actions-wrap {
            display: block;
            width: 100%;
            position: relative;
            overflow: hidden;
            height: 100%;
            a {
                display: block;
                height: 100%;
                width: 100%;
                &:hover {
                    background: transparent;
                }
                &.action.towishlist {
                    color: @white;
                    line-height: 55px;
                }
                &.action.tocompare {
                    color: @white;
                    line-height: 55px;
                }
            }
            .product-item-actions {
                left: 50%;
                bottom: -50%;
                top: auto;
                position: absolute;
                visibility: hidden;
                z-index: 9;
                background: rgba(229,224,215,0.63);
                .opacity(0);
                .transition(all .6s ease);
                .transform(translate(-50%, 0));
            }
            .quickview {
                border: 1px solid @theme_color__white;
                height: 45px;
                max-width: 162px;
                position: absolute;
                line-height: 45px;
                color: @theme_color__white;
                margin-top: 10px;
                width: 100%;
                left: 50%;
                bottom: -32px;
                .transform(translate(-50%, 50%));
                a {
                    color: @theme_color__white;
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: @font-weight_base;
                }
                &:hover {
                    background: @theme_color; 
                    border: 1px solid transparent;
                }
            }
        }
        &:hover {
            .product-item-actions-wrap {
                box-shadow: unset;
                .transition(all .2s ease);
                &:before {
                    visibility: visible;
                    .opacity(1);
                    .transform(scale(1));
                    .transition(all 0.3s ease-out 0s);
                }
            }
            .product-item-actions  {
                .opacity(1);
                visibility: visible;
                bottom: 0;
            }
        }
    } 
}

@media only screen and (max-width: (@screen__large - 1)) {
    .item {
        .actions-primary {
            height: 40px;
        }
    }
    .new-product5 {
        .products-grid  {
            .product-item-actions {
                .actions-primary {
                    .action {
                        height: 40px;
                        &.action.towishlist {
                            line-height: 40px;
                        }
                    }
                    .calculator {
                        height: 40px;
                    }
                }
            }
        }
    }
    .products.product-items {
        .item {
            .actions-primary {
                height: 40px;
            }
            .product-item-actions-wrap {
                a {
                    line-height: 40px;
                }
            }
            .tocart {
                height: 30px;
                line-height: 30px;
                &::before {
                    font-size: 20px;
                }
            }
            .actions-primary + .actions-secondary {
                > a.action.tocompare {
                    height: 30px;
                    line-height: 30px;
                }
                a.action.towishlist {
                    height: 30px;
                    line-height: 30px;
                }
            }
            .action.towishlist {
                &::before {
                    font-size: ceil(1.25 * @font-size__base);
                }
            }
            .tocompare {
                &::before {
                    font-size: ceil(1.25 * @font-size__base);
                }
            }
        }
    }
}

//  Static Blog
//  ---------------------------------------------

/* +  Collections */

.collections {
    max-width: 2200px;
    margin: auto;
    width: 100%;
    .HeadingBanner {
        padding-bottom: 50px;
    }
    .row.slick-slider {
        max-width: 100%;
        margin: auto;
        margin-bottom: 80px;
        padding: 0 65px;
    }
    .clearFix();
    .slick-track {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        position: relative;
        max-height: 370px;
        margin: 25px 0;
        .slick-slide {
            height: auto;
            > div {
                height: 100%;
                .clearFix();
                > div.custom-slider {
                    height: 100%;
                }
                > div.col-sm-6.col-md-4.col-xs-6 {
                    height: 100%;
                }
            }
        }
    }
    .items {
        position: relative;
        display: block;
        height: 100%;
        figure.text-center {
            position: relative;
            overflow: hidden;
            height: 100%;
            img {
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                height: 100%;
            }
            > a {
                display: block;
                height: 100%;
            }
        }
        figcaption {
            font-family: @font-family-base__home5;
            font-size: ceil(1.5625 * @font-size__base);
            font-weight: 400;
            letter-spacing: 2px;
            color: @main_color__general;
            margin: 0;
            line-height: 65px;
            text-transform: uppercase;
            h4 {
                font-family: @font-family-second__home5;
                margin: 0;
                line-height: 65px;
                color: @main_color__general;
                font-family: @font-family-second;
                font-size: ceil(1.5625 * @font-size__base);
                font-weight: 500;
            }
        }
        figcaption {
            position: absolute;
            left: 0;
            top: auto;
            bottom: 0;
            height: 65px;
            text-align: center;
            right: auto;
            width: 100%;
            background: rgba(255,255,255,0.78);
            .transition (0.4s ease all);
        }
        &:hover {
            figcaption.overlapping {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
        .news {
            position: absolute;
            top: -25px;
            right: -25px;
            width: 70px;
            height: 70px;
            background: #d61f36;
            border-radius: 100%;
            text-align: center;
            line-height: 70px;
            a {
                color: #fff;
                transform: rotate(45deg);
                font-size: ceil(1.25 * @font-size__base);
                font-family: @font-family-second__home5;
                text-transform: lowercase;
            }
        }
    }
    @media (max-width: 991px) {
        .row.slick-slider {
            padding: 0;
        }
        padding: 15px;
        .row {
            figure.text-center h4 {
                font-size: ceil(0.75 * @font-size__base);
                line-height: 35px;
            }
        }
        .items {
            margin-bottom: 20px;
            margin-top: 0;
            figcaption {
                font-size: ceil(0.875 * @font-size__base);
                height: 35px;
                line-height: 35px
            }
        }
        .HeadingBanner {
            padding: 10px 0;
        }
    }
}
@media (max-width: 991px) {
    .service.exklusive .bg {
        padding: 15px;
    }
}


/* +  More_information */
.more_information {
    background: #fbf9f6;
    margin: 0 0 50px 0;
    .content {
        max-width: 100%;
        margin: auto;
        padding: 35px 180px;
        .items_infor {
            position:relative;
            margin-bottom: 15px;
            border-bottom: 1px solid #a49585;
            font-family: @font-family-base__home5;
            .sub_title {
                position: relative;
                .angle-down ();
                .transition(0.4s ease all);
                cursor: pointer;
            }
            &.action {
                .sub_title {
                    &::after {
                        width: auto;
                        height: auto;
                        border: none;
                        transform: rotate(0);
                        font-size: 30px;
                        content: 'x';
                        color: #b8ab9e;
                        font-weight: 100;
                        top: 0;
                    }
                    @media (max-width: 991px) {
                        &::after {
                            font-size: 20px;
                        }
                    }
                }
            }
            h4.title {
                font-weight: @font-weight-second__home5;
                font-family: @font-family-base__home5;
                letter-spacing: 2px;
                text-transform: uppercase;
                display: block;
                padding: 0;
                position: relative;
                vertical-align: text-top;
                height: auto;
                font-size: ceil(1.5625 * @font-size__base);
                line-height: 20px;
                padding-bottom: 15px;
                cursor: pointer;
                margin-top: 20px;
            }
            span.sub_title {
                padding-bottom: 20px;
                font-weight: 300;
                letter-spacing: 1px;
                font-size: ceil(1.25 * @font-size__base);
                line-height: 25px;
                display: block;
            }
            .discription {
                padding: 20px 0 30px 0;
                display: none;
                p {
                    font-weight: 300;
                    letter-spacing: 1px;
                    font-size: ceil(1.25 * @font-size__base);
                    line-height: 25px;
                    font-family: @font-family-base__home5;
                }
            }
        }
    }
    @media (min-width: (@screen__tablet + 1)) and (max-width: (@screen__extra_large - 41)) {
        .content {
            .items_infor {
                h4.title {
                    margin: 0;
                    font-size: ceil(1.25 * @font-size__base);
                }
                span.sub_title {
                    padding-bottom: 15px;
                    font-size: ceil(0.6875 * @font-size__base);
                }
            } 
        }
    }
    @media (min-width: (@screen__extra_large - 40)) and (max-width: (@screen__extra_large + 10)) {
        .content {
            .items_infor {
                h4.title {
                    margin: 0;
                    font-size: ceil(1.375 * @font-size__base);
                }
                span.sub_title {
                    padding-bottom: 15px;
                    font-size: ceil(0.875 * @font-size__base);
                }
            } 
        }
    }
    @media (min-width: (@screen__extra_large + 11)) and (max-width: (@screen__desktop)) {
        .content {
            .items_infor {
                span.sub_title {
                    font-size: ceil(0.9375 * @font-size__base);
                }
            } 
        }
    }
    @media (min-width: (@screen__desktop + 1)) and (max-width: (@screen__desktop + 200)) {
        .content {
            .items_infor {
                span.sub_title {
                    font-size: ceil(1.125 * @font-size__base);
                }
            } 
        }
    }
    @media only screen and (max-width: (@screen__tablet)) {
        background: #faf8f6;
        padding: 0 20px;
        margin-bottom: 15px;
        .content {
            padding: 5px 15px 10px 15px;
            .items_infor {
                h4.title {
                    font-size: ceil(0.875 * @font-size__base);
                    font-weight: @font-weight__base;
                    letter-spacing: 1px;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                span.sub_title {
                    padding-bottom: 2px;
                    font-size: ceil(0.6875 * @font-size__base);
                    line-height: 18px;
                    letter-spacing: 0;
                    font-weight: @font-weight__base;
                    padding-right: 15px;
                    &::after {
                        width: 10px;
                        height: 10px;
                        right: 0;
                    }
                }
                .discription {
                    padding: 15px 0 15px 0;
                    p {
                        padding-bottom: 2px;
                        font-size: ceil(0.75 * @font-size__base);
                        line-height: 18px;
                        letter-spacing: 0;
                        font-weight: @font-weight__base;
                    }
                }
                &::after {
                    border-right: 1px solid #373737;
                    border-bottom: 1px solid #373737;
                    top: 0;
                    right: 0;
                    width: 12px;
                    height: 12px;
                }
                &.action {
                    &::after {
                        font-size: ceil(1.25 * @font-size__base);
                        color: #373737;
                        top: 0;
                    }
                }
            }
        }
    }
}

/* + Service */

.service {
    &.exklusive {
        text-align: center;
        .bg {
            background: #faf7f4;
            width: 100%;
            padding: 25px 100px;
        }
        .serviceItem {
            padding-bottom: 35px;
            .title {
                font-family: @font-family-second__home5;
                color: @theme-color_gray_black;
                letter-spacing: 2px;
                font-weight: @font-weight__second;
                font-size: ceil(1.625 * @font-size__base);
            }
            .discript {
                p {
                    font-weight: @font-weight__second;
                    font-family: @font-family-base__home5;
                    color: #000;
                    font-size: @font-size__base;
                }
            }
        }
    }
    &.afterInsta {
        .clearFix();
        background: #eee6db;
        padding: 30px 20px;
        clear: both;
        margin-bottom: 35px;
        width: 100%;
        .serviceItem {
            text-align: center;
            width: 25%;
            float: left;
            padding-bottom: 0;
            padding: 0 15px;
            h4 {
                margin: 0;
                color: @theme-color_gray_black;
                font-family: @font-family-base__home5;
                font-weight: 300;
                padding-bottom: 30px;
                letter-spacing: 1px;
                font-size: 21px;
                text-transform: uppercase;
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    left: auto;
                    right: 50%;
                    bottom: 15px;
                    background: @white;
                    width: 80px;
                    height: 1px;
                    .transform(translate(50%, 0));
                }
            }
            .discript_service {
                p {
                    font-family: @font-family-base__home5;
                    font-weight: @font-weight_base;
                    font-size: @font-size__base;
                    line-height: 20px;
                }
            }
        }
        @media (min-width: (@screen__large)) and (max-width: (@screen__desktop)) {
            padding: 30px;
            .serviceItem {
                padding: 0 15px;
                h4 {
                    font-size: 13px;
                    font-weight: 500;
                }
                .discript_service p {
                    font-size: ceil(0.8125 * @font-size__base);
                }
            }
        }
        @media(max-width: (@screen__large - 1)) { 
            background: transparent;
            padding: 20px 0 0 0;
            margin-bottom: 20px;
            .serviceItem {
                width: 100%;
                margin-bottom: 5px;
                background: #eee6db;
                padding: 15px 0;
                h4 {
                    font-size: ceil(0.8125 * @font-size__base);
                    padding-bottom: 10px;
                    &::after {
                        bottom: 5px;
                    }
                }
                .discript_service p {
                    font-size: ceil(0.625 * @font-size__base);
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}

/* + Instagram */
.instagram_cate {
    padding: 0 40px 80px 40px;
    margin: auto;
    width: 100%;
    max-width: 1920px;
    &:after {
        display: none;
    }
    ul {
        li {
            position: relative;
            figcaption {
                position: absolute;
                bottom: -20%;
                left: auto;
                right: 50%;
                transform: translate(50%,0);
                color: @white;
                width: 100%;
                text-align: center;
            }
            &:hover {
                figcaption {
                    bottom: 10%;
                }
            }
        }
    }
}

@media only screen and (max-width: (@screen__tablet)) {
    .section-home5.new-product5 {
        padding: 0 0 40px 0;
        .section-content {
            padding: 0 23px 0 23px;
        }
        .HeadingBanner {
            padding: 15px 15px 5px 15px;
        }
    }
    .page-main {
        .column.main {
            div.main.main_banner {
                padding: 0;
                margin: 0;
                clear: both;
                > div.col {
                    .text-headline {
                        font-size: ceil(1.5625 * @font-size__base);
                    }
                    a {
                        font-size: @font-size__base;
                        width: 180px;
                    }
                }
            }
        }
    }
    .loggo-bottom {
        margin: 10px 0;
        padding: 0;
        min-height: inherit;
    }
    .instagram_cate {
        padding: 0px 15px 0 15px;
        clear: both;
    }
    .footer-bottom-wrp {
        .footer-bottom {
            .footer-bottom__left {
                p {
                    text-align: left;
                }
            }
        }
    }
    .footer {
        .footer-top {
            padding: 20px 0 10px 0;
        }
    }
}
@media (max-width: (@screen__large)) and (min-width: (@screen__small)) {
    .footer-bottom-wrp {
        .footer-bottom {
            .footer-bottom__left {
                p {
                    font-size: ceil(0.75 * @font-size__base);
                }
            }
            .footer-bottom__right {
                ul {
                    li {
                        padding: 15px 5px;
                        margin-bottom: 0;
                        font-size: ceil(0.75 * @font-size__base);
                        display: inline-block;
                    }
                }
            }
        }
    }
}
@media only screen and  (max-width: (@screen__small - 1)) {
    .footer-bottom-wrp {
        .footer-bottom {
            .copyright {
                padding: 0 5px;
            }
            .menu-right {
                padding: 0 5px;
            }
            .footer-bottom__left {
                p {
                    padding: 0;
                    font-size: 8px;
                }
            }
            .footer-bottom__right {
                ul {
                    li {
                        padding: 7px 2px;
                        margin-bottom: 0;
                        display: inline-block;
                        font-size: 8px;
                    }
                }
            }
        }
    }
}
.page-main {
    .column.main {
        div.main {
            > div.col {
                .img-bg {
                    position: relative;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                        object-position: 50% 50%;
                    }
                }
            }
        }
    }
}
.block-static-block.widget {
    clear: both;
}

.owl_custom {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
    margin-bottom: 25px;
}