//  CardShop theme overrides
//  _____________________________________________

@import '_theme.less';
@import '_mixins.less';

.footer-top {
    .footer-letter {
        .letter-left .info-number {
            font-weight: 700;
            color: @text_color__third;
            font-family: @font-family-base__home5;
        }
    }
    .row.top-menu-footer {
        .clearFix();
        .footer-menu__item {
            .image {
                @media only screen and (min-width: @screen__large) {
                    text-align: center;
                    margin-bottom: 25px;
                    position: relative;
                    height: 100px;
                    img {
                        width: 100%;
                        height: 100%;
                        transform: scale(8.5);
                    }
                }
            }
        }
        .title {
            text-align: center;
            font-family: @font-family-second__home5;
            color: @theme-color_gray_black;
            letter-spacing: 2px;
            font-weight: @font-weight__second;
            font-size: 28px;
            line-height: 30px;
        }
        @media (min-width: (@screen__large)) and (max-width: (@screen__desktop)) {
            .title {
                font-size: 25px;
            }
            .footer-menu__item {
                .image {
                    img {
                        transform: scale(5.5);
                    }
                }
            }
        }
    }
    .row.bottom-menu-footer {
        .HeadingBanner {
            display: block;
            padding: 40px 100px 20px 100px;
            .line-left {
                width: 47.5%;
                border-top: 1px solid #b8ab9e;
            }
            .btn-click {
                width: 5%;
                float: left;
                position: relative;
                cursor: pointer;
                padding: 15px;
                &:before, &:after {
                    content: '';
                    position: absolute;
                    margin: auto;
                    left: 0;
                    right: 0;
                    .transform (rotate(-135deg));
                    border-right: 1px solid #b8ab9e;
                    border-bottom: 1px solid #b8ab9e;
                    .transition (0.4s ease all);
                }
                &:before {
                    width: 42px;
                    height: 42px;
                    bottom: -8px;
                }
                &:after {
                    bottom: -2px;
                    width: 30px;
                    height: 30px;
                }
                &.active {
                    &:before, &:after {
                        .transform (rotate(45deg));
                    }
                }
            }
            .line-right {
                width: 47.5%;
                border-top: 1px solid #b8ab9e;
            }
            @media (min-width: 992px) and (max-width: 1600px) {
                .line-right {
                    width: 45.5%;
                }
                .line-left {
                    width: 45.5%;
                }
                .btn-click {
                    width: 9%;
                }
            }
            @media only screen and (max-width: (@screen__large - 1)) {
                padding: 40px 15px 0 15px;
                max-width: 100%;
                .line-right {
                    width: 35%;
                }
                .line-left {
                    width: 35%;
                }
                .btn-click {
                    width: 30%;
                }
            }
        }
    }
    @media only screen and (min-width: @screen__tablet) {
        .row.top-menu-footer {
            .footer-menu__item {
                pointer-events: none;
            }
        }
    }
    @media only screen and (max-width: (@screen__large - 1)) {
        .row.top-menu-footer {
            .footer-menu__item {
                padding-top: 0;
                padding-bottom: 15px;
                margin-bottom: 25px;
                border-bottom: 2px solid #a49585;
                display: flex;
                align-items: center;
                .clearFix ();
                .image {
                    text-align: left;
                    margin-bottom: 0;
                    float: left;
                    width: 10%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        transform: scale(5.5);
                    }
                }
                .title {
                    font-size: 18px;
                    float: left;
                    line-height: 35px;
                    text-align: center;
                    width: 90%;
                    position: relative;
                    padding-right: 35px;
                    .angle-down ();
                    &::after {
                        border-right: 1px solid #373737;
                        border-bottom: 1px solid #373737;
                        top: 10px;
                        right: 5px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
        .row.bottom-menu-footer {
            .HeadingBanner {
                display: none;
            }
        }
    }
}

.footer {
    .footer-top {
        background-color: #eee6db;
        padding: 30px 0 15px 0;
    }  
}
.footer-top {
    color: @theme_color_grey;
    padding-top: 100px;  
    .footer-logo p {
        color: @text_color__third;
    }
    .footer-letter .letter-right {
        p, .insert-mail input {
            color: @text_color__third;
            font-family: @font-family-base__home5;
        }
        p {
            color: @text_color__third;
        }
        .insert-mail button {
            .icon-angle-right::before {
                right: -10px;
                top: 14px;
                font-size: 12px;
            }
            @media (max-width: 767px) {
                margin-top: 15px;
            } 
        }
    } 
    .footer-content__item {
        ul {
            max-width: 260px;
            margin: auto;
            padding-top: 55px;
            @media (max-width: (@screen__large - 1)) {
                max-width: 100%;
                padding: 0;
            }
        }
        ul li {
            text-align: center;
            line-height: 20px;
        }
        h3,p,.social a {
            color: @theme-color_gray_black;
        }
        .social a {
            display: block;
            img {
                mix-blend-mode: darken;
                max-width: 90px;
                padding-top: 5px;
            }
        }
        ul li a {
            color: @link_color__general;
            font-weight: @font-weight__base;
            font-family: @font-family-base__home5;
            position: relative;
            text-align: center;
        }
        h3 {
            border-bottom: 2px solid #555557;
            font-family: @font-family-base__home5;
            color: @text_color__third;
            &:after {
                display: none;
            }
        }
        @media only screen and (max-width: @screen__tablet) {
            display: none;
        }
    }
}
.page-footer {
    .footer-top {
        .footer-menu__item {
            .social a {
                border: solid 1px @theme_color__ccc;
                float: left;
                width: 33px;
                height: 33px;
                line-height: 33px;
                text-align: center;
                padding: 0;
            }
        }
    }
}
.footer-bottom {
    background-color: ;
    padding-bottom: 70px;
    &__left p {
        color: @theme_color_grey;
    }
}
.footer-bottom-wrp {
    .footer-bottom {
        background: @white;
        padding: 5px;
        .footer-bottom__left {
            padding-top: 0;
            p {
                color: @link_color__general;
                font-family: @font-family-base__home5;
                position: relative;
                padding-left: 15px;
                text-align: left;
                line-height: 24px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                padding: 10px;
            }
        }
        .footer-bottom__right {
            ul {
                li {
                    padding: 15px;
                    margin-bottom: 0;
                    display: inline-block;
                    a {
                        color: @link_color__general;
                        font-family: @font-family-base__home5;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
        @media only screen and (max-width: @screen__large) {
            .footer-bottom__right {
                padding-top: 0;
                text-align: right;
            }    
            .footer-bottom__left {
                p {
                    text-align: center;
                }
            }
        }
    }
}