//  CardShop theme overrides
//  _____________________________________________

@import '_theme.less';
@import '_mixins.less';

//  Menu Scrolling
//  ---------------------------------------------
.typeseven {
    max-width: 2500px;
    margin: auto;
    &.scrolling {
        position: fixed;
        top: 0;
        left: auto;
        right: 50%;
        z-index: 99;
        background: @white;
        border-bottom: @main-border;
        .transform(translate(50%,0));
        .sections.nav-sections {
            .navigation {
                .col-left {
                    padding: 12px 15px;
                    ul.social-top.list {
                        display: none;
                    }
                    .logo {
                        display: block;
                        width: 40px;
                        height: auto;
                        line-height: 40px;
                    }
                    .action.nav-toggle {
                        display: none;
                    }
                }
            }
            border: none;
        }
        @media (max-width: (@screen__tablet)) and (min-width: (@screen__large)) {
            .sections.nav-sections {
                .navigation {
                    .col-left {
                        .logo {
                            line-height: 30px;
                        }
                    }
                }
            }
            &.page-header {
                .magemenu-menu {
                    &.horizontal-menu {
                        .explodedmenu li.menu a {
                            padding: 20.5px 5px;
                        }
                    }
                }
                .sections.nav-sections {
                    .navigation {
                        .col-right {
                            padding: 11px 15px;
                        }
                    }
                }
            }
        }
    }
    .sections {
        &.nav-sections {
            border: none;
            height: auto;
            .transition(0.4s ease all);
            top: 0;
            z-index: 9999999;
            background: @white;
            border: none;
            box-shadow: unset;
            border-bottom: @main-border;
            height: auto;
            @media (min-width: 1400px) {
                padding: 0 10px;
            }
            .navigation {
                max-width: 100%;
                .loggo-bottom {
                    .transition(0.4s ease all);
                    a.logo {
                        img {
                            .transition(0.4s ease all);
                        }
                    }
                }
                .col-left {
                    padding: 16px 15px;
                    .logo {
                        display: none;
                        .transition(0.4s ease all);
                    }
                    .action.nav-toggle {
                        position: static;
                        display: none;
                        &::before {
                            content: '\f0c9';
                            font-family: @font-tello__home5;
                        }
                        @media (max-width: 991px) {
                            display: block;
                        }
                    }
                    ul.social-top.list {
                        display: flex;
                        align-items: center;
                        > li {
                            display: inline-block;
                            margin: 0;
                            > a {
                                display: block;
                                &.blog.icon {
                                    font-family: 'Dancing Script';
                                    font-size: 35px;
                                    padding: 0 0px 0 10px;
                                }
                                &:hover,
                                &:focus,
                                &:visited {
                                    color: @black;
                                }
                                > i {
                                    font-size: 23px;
                                    padding: 0 15px;
                                    line-height: 23px;
                                    &:last-child{
                                        padding-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .col-center {
                    > div.navigation {
                        display: flex !important;
                        justify-content: center;
                    }
                }
                .col-right {
                    padding: 11px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    > div {
                        padding: 10px 0;
                        position: relative;
                    }
                    .nav-toggle {
                        display: none;
                    }
                    .box-search {
                        padding: 0;
                        .search-toggle-icon {
                            &:hover,
                            &:focus,
                            &:visited {
                                color: @black;
                            }
                        }
                        .block-search {
                            .block-content {
                                border-top: unset;
                            }
                        }
                        .block-search {
                            input {
                                border: @main-border;
                                background: @white;
                                font-size: 12px;
                                height: 45px;
                                padding: 10px;
                                font-family: @font-family-base__home5;
                            }
                        }
                    }
                    > div {
                        a {
                            &:hover,
                            &:focus,
                            &:visited {
                                color: @black;
                            }
                        }
                        i {
                            font-size: 20px;
                            color: @black;
                            font-weight: 900;
                            padding: 0 10px;
                            line-height: 24px;
                            &::before {
                                font-size: 19px;
                            }
                            &.flaticon-user {
                                &::before {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .panel.wrapper {
        background: #eee6db;
        padding: 0;
        display: flex;
        align-items: center;
        .panel.header {
            margin: 0;
            width: 100%;
            max-width: 100%;
            display: flex;
            align-items: center;
            padding: 0;
            > div.col-left {
                padding: 0;
                display: block;
            }
            .clearFix();
            .top_header.cardshop {
                .close {              
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    line-height: 30px;
                    z-index: 999;
                    .icon-cancel {
                        font-size: 1rem;
                        cursor: pointer;
                        &::before {
                            position: absolute;
                            top: auto;
                            bottom: 50%;
                            left: auto;
                            right: 50%;
                            .transform(translate(50%, 50%));
                            margin: 0;
                        }
                    }
                    @media (max-width: 1024px) {
                        width: 27px;
                        height: 27px;
                    }
                }
                .title_info_bar {
                    margin: 0;
                    text-align: center;
                    font-family: @font-family-base__home5;
                    font-weight: @font-weight-second__home5;
                    color: @color-bg-default__home5;
                    font-size: 14px;
                    padding: 10px;
                    > i.icon-back_01_white {
                        cursor: pointer;
                        padding: 0 15px;
                        position: relative;
                        &:before {
                            content: '';
                            position: absolute;
                            margin: auto;
                            left: 10px;
                            right: auto;
                            border-right: 1px solid #aea092;
                            border-bottom: 1px solid #aea092;
                            top: 1px;
                            bottom: auto;
                            width: 10px;
                            height: 10px;
                            .transform (rotate(45deg));
                            .transition(0.4s ease all);
                        }
                    }
                }
                .bg_info_bar {
                    display: none;
                    padding: 30px 0 10px;
                    text-align: center;
                    .discript {
                        max-width: 600px;
                        margin: auto;
                        background: rgba(255,255,255,0.7);
                        padding: 15px;
                        a {
                            .headline {
                                font-size: 30px;
                                color: @text_color__general;
                                font-family: @font-weight-second__home5;
                                letter-spacing: 2px;
                                font-weight: @font-weight-second__home5;
                            }
                        }
                        .heading-subline {
                            margin: 0;
                            font-size: 21px;
                            font-weight: 300;
                            font-family: @font-family-base__home5;
                        }
                    }
                    .btn_link_info {
                        > a {
                            padding: 10px 45px;
                            display: inline-block;
                            background: rgba(255,255,255,0.7);
                            margin-top: 10px;
                            text-transform: uppercase;
                            font-size: 20px;
                            font-family: @font-family-base__home5;
                            color: @theme-color_gray_black;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    //  Icon Right
    //  ---------------------------------------------
    .icon_svg {
        margin: 0 10px;
    }
    .minicart-wrapper {
        .icon_svg {
            margin-right: 0;
        }
    }
    //  Menu
    //  ---------------------------------------------
    .magemenu-menu.horizontal-menu {
        .explodedmenu {
            li.menu.parentMenu {
                &:hover {
                    .explodedmenu-menu-popup {
                        display: none;
                    }
                }
            }
            li.menu {
                &.selected {
                    a {
                        color: @color-bg-default__home5;
                        font-weight: 500;
                        &::after {
                            .transform(translate(50%, 0));
                            .opacity(1);
                            visibility: visible;
                            bottom: -1px;
                        }
                        span {
                            color: @color-bg-default__home5;
                        }
                    }
                }
                a {
                    padding: 25px 50px;
                    margin: 0;
                    font-size: @font-size__base;
                    span {
                        font-weight: 500;
                        font-family: @font-family-base__home5;
                        color: @black;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        width: calc(100% - 40%);
                        height: 1px;
                        left: auto;
                        right: 50%;
                        bottom: -1px;
                        background: @color-bg-default__home5;
                        .transition(0.4s ease all);
                        .opacity(0);
                        visibility: hidden;
                    }
                }
                &:hover {
                    a {
                        &::after {
                            .transform(translate(50%, 0));
                            .opacity(1);
                            visibility: visible;
                            bottom: -1px;
                        }
                        span {
                            color: @color-bg-default__home5;
                        }
                    }
                }
            }
        }
    }

    //  Mimicart
    //  ---------------------------------------------
    .minicart-wrapper {
        .action.close {
            &:before {
                content: '\e800';
            }
        }
    }
    //  My account link
    //  ---------------------------------------------
    .my-account-link {
        position: relative;
        ul.link-list {
            position: absolute;
            min-width: 170px;
            top: 100%;
            bottom: auto;
            right: 10px;
            border: @main-border;
            background: @white;
            z-index: 999;
            padding: 10px;
            display: none;
            > li {
                display: block;
                padding: 10px;
                margin: 0;
                border-bottom: @main-border;
                > a {
                    color: #333 !important;
                    font-family: @font-family-base__home5;
                    font-weight: @font-weight_base;
                    text-transform: uppercase;
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
        }
        &:hover {
            ul.link-list {
                display: block;
            }
        }
    }
}

// End

//  SubMenu in category page
//  ---------------------------------------------

.two-nd-header-sub-categories {
    display: block;
    clear: both;
    margin: 35px 0;
    text-align: center;
    padding: 23px 0;
    border-top: @main-border;
    border-bottom: @main-border;
    .transition(0.6s ease all);
    &.scrolling {
        position: fixed;
        top: 0;
        background: @white;
        z-index: 9;
        width: 100%;
        height: auto;
        clear: inherit;
        margin: 0;
    }
    ul {
        > li.item-level-sub {
            display: inline-block;
            position: relative;
            &.selected {
                &::after {
                    opacity: 1;
                    visibility: visible;
                    .transform(translate(50%, 0));
                }
                > a {
                    color: @color-bg-default__home5;
                }
            }
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                left: auto;
                right: 50%;
                bottom: -24px;
                background: #988879;
                .transition(0.4s ease all);
                .opacity(0);
                visibility: hidden;
            }
            > a {
                font-family: @font-family-base__home5;
                font-size: 16px;
                line-height: 24px;
                position: relative;
                padding-right: 30px;
                font-weight: 500;
                color: @black;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover {
                    color: @color-bg-default__home5;
                }
                &:after {
                    content: '';
                    position: absolute;
                    margin: auto;
                    left: auto;
                    right: 0;
                    border-right: 1px solid @black;
                    border-bottom: 1px solid @black;
                    .transition (0.4s ease all);
                    top: -1px;
                    bottom: auto;
                    width: 13px;
                    height: 13px;
                    .transform (rotate(45deg));
                }
            }
            .sub-level {
                position: absolute;
                top: 50px;
                right: auto;
                left: 0;
                z-index: 991;
                opacity: 0;
                visibility: hidden;
                .transition(0.5s ease all);
                .transform (scale(1,0));
                .transform-origin(top);
                background: @white;
                > ul.main-sub-item-list {
                    > li {
                        padding: 15px;
                        text-align: left;
                        border-bottom: @main-border;
                        display: block;
                        margin: 0;
                        position: relative;
                        width: 100%;
                        min-width: 300px;
                        &:after {
                            display: none;
                        }
                        &.has-sub-class {
                            .sub-level {
                                position: absolute;
                                left: 150%;
                                width: 100%;
                                top: 0;
                                right: auto;
                                .opacity(0);
                                visibility: hidden;
                                .transition (0.4s ease all);
                            }
                            &:hover {
                                .sub-level {
                                    .opacity(1);
                                    visibility: visible;
                                    left: 100%;
                                }
                            }
                        }
                        > a {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
            &:hover {
                .sub-level {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
                &::after {
                    .transform(translate(50%, 0));
                    .opacity(1);
                    visibility: visible;
                    bottom: -24px;
                }
            }
        }
    }
}
.inner-logo-craft-shop {
    .logo {
        img {
            &:last-child {
                display: none;
            }
            width: auto;
        }
    }
}
.loggo-bottom {
    text-align: center;
    min-height: 250px;
    line-height: 250px;
    padding-top: 108px;
}

@media only screen and (min-width: (@screen__desktop + 400)) {
    .two-nd-header-sub-categories {
        ul {
            > li.item-level-sub {
                margin: 0 100px;
            }
        }
    }
}
@media only screen and (max-width: (@screen__desktop  + 399)) {
    .two-nd-header-sub-categories {
        ul {
            > li.item-level-sub {
                margin: 0 15px;
            }
        }
    }
}
@media only screen and (max-width: (@screen__large - 1)) {
    .two-nd-header-sub-categories {
        display: none;
    }
    .typeseven {
        &.scrolling {
            .sections.nav-sections {
                .navigation {
                    .col-left {
                        .logo {
                            width: 25px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
}

/* End */

@media (max-width: (@screen__desktop + 499)) and (min-width: (@screen__extra_large + 101)) {
    .typeseven {
        .magemenu-menu.horizontal-menu {
            .explodedmenu {
                li.menu a {
                    padding: 25px 16px;
                }
            } 
        }
    }
}



@media (max-width: (@screen__extra_large + 100)) and (min-width: (@screen__tablet + 1)) {
    .typeseven {
        .sections.nav-sections {
            .navigation {
                .col-left {
                    padding: 20px 15px;
                }
            }
        }
    }
}

@media (max-width: (@screen__tablet)) and (min-width: (@screen__large)) {
    .typeseven {
        .sections.nav-sections {
            .navigation {
                .col-left {
                    padding: 5px 0;
                }
            }
        }
    }
}

@media (max-width: (@screen__extra_large + 100)) and (min-width: (@screen__large)) {
    .typeseven {
        .sections.nav-sections { 
            .navigation {
                .col-right {
                    .minicart-wrapper {
                        padding-right: 0;
                        position: relative;
                    }
                }
                .col-left {
                    ul.social-top.list {
                        > li {
                            > a {
                                > i {
                                    padding: 0 5px;
                                    margin: 0;
                                    font-size: 20px;
                                    line-height: 19px;
                                    &.icon-instagram {
                                        padding-left: 0;
                                        font-size: 20px;
                                    }
                                }
                                &.blog.icon {
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .panel.wrapper {
            .panel.header {
                .col-left {
                    display: block;
                }
            }
        }
        .magemenu-menu.horizontal-menu {
            .explodedmenu {
                li.menu {
                    a {
                        padding: 26px 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: (@screen__extra_large - 1))  {
    .typeseven {
        .sections.nav-sections {
            .navigation .col-right .box-search {
                position: static !important;
            }
        }
    }
}
@media only screen and (max-width: (@screen__tablet)) {
    .inner-logo-craft-shop {
        .logo {
            display: flex;
            justify-content: center;
            margin: 5px 0 5px 0;
            img {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
                width: 80px;
            }
        }
    }
    .typeseven.page-header {
        .panel.wrapper {
            .panel.header {
                .top_header.cardshop {
                    .title_info_bar {
                        padding: 6px;
                        font-weight: 400;
                        color: #666;
                        font-size: 12px;
                    }
                }
            }
        }
        .sections.nav-sections {
            .navigation {
                .col-right {
                    padding: 7px 15px;
                    > div {
                        &.wishlist-item {
                            .counter {
                                width: 15px;
                                height: 15px;
                                top: 1px;
                                line-height: 12px;
                                min-height: 15px;
                                min-width: 15px;
                                background: transparent;
                                border: 1px solid #5d5d5d;
                                font-size: 10px;
                                right: -5px;
                            }
                        }
                        i.icon-cancel {
                            padding: 0;
                            &:before {
                                font-size: @font-size__base;
                                position: absolute;
                                top: auto;
                                bottom: 50%;
                                right: 0;
                                left: auto;
                                .transform(translate(0, 50%));
                            }
                        }
                        .block.block-search {
                            margin: 0;
                        }
                    }
                    .minicart-wrapper {
                        padding-right: 0;
                        .action.showcart {
                            .counter.qty {
                                width: 15px;
                                height: 15px;
                                top: -10px;
                                right: -10px;
                                line-height: 9px;
                                min-height: 15px;
                                min-width: 15px;
                                background: transparent;
                                border: 1px solid #5d5d5d;
                                .counter-number {
                                    color: #000;
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: (@screen__large - 1)) {
    #nb_mn_mobile {
        background: @white;
    }
    .nav-open #nb_mn_mobile {
        z-index: 99999999;
    }
    .col-panel.loggo-bottom {
        .inner-logo-craft-shop {
            .nav-toggle {
                display: none;
            }
        }  
    }
    .typeseven.scrolling {
        .sections.nav-sections {
            height: auto;
            .navigation {
                .loggo-bottom {
                    border-top: @main-border;
                    min-height: 50px;
                    line-height: 25px;
                    a.logo {
                        img {
                            width: 0;
                        }
                    }
                }
            }
        }
    }
    .typeseven {
        .sections.nav-sections {
            .navigation {
                .loggo-bottom {
                    min-height: 150px;
                    a.logo {
                        img {
                            height: 70px;
                        }
                    }
                }
            }
            .navigation {
                .col-left {
                    ul.social-top.list {
                        display: none;
                    }
                }
                .col-right {
                    .minicart-wrapper {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            .col-panel.col-right {
                .nav-toggle {
                    display: none;
                }
            }
        }
    }
    #nb_megamenu_res {
        ul.explodedmenu {
            li {
                padding-right: 15px;
                color: @white;
                border-bottom: 1px solid #f4f4f4;
                line-height: 55px;
                a {
                    span {
                        color: #1f1f1f;
                        font-weight: 500;
                        font-family: @font-family-base__home5;
                    }
                }
            }
        }
        .explodedmenu-menu-popup h3 {
            a {
                font-size: 14px;
            }
        }
    }
    .explodedmenu-menu-popup {
        .exploded-cms-block {
            a {
                color: #1f1f1f;
                font-weight: 500;
                font-family: @font-family-base__home5;
                &:active,
                &:visited {
                    color: #1f1f1f;
                    font-weight: 500;
                    font-family: @font-family-base__home5;
                }
            }
        }
    }
}
#heading_slider {
    padding: 18px 50px;
    position: relative;
    @media (min-width: 992px) {
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            bottom: 0;
            height: 2px;
            background: @color-bg-default__home5;
            left: 0;
        }
    } 
}
@media (max-width: (@screen__small - 80)) {
    .typeseven {
        .sections.nav-sections {
            .navigation {
                .col-left {
                    ul.social-top.list {
                        >li {
                            >a {
                                >i.icon-instagram {
                                    font-size: 16px;
                                    font-size: 16px;
                                }
                            }
                            >a.blog.icon {
                                font-size: 20px;
                            }
                        }
                    }
                }
                .col-right {
                    padding: 7px 15px;
                    > div {
                        i {
                            &:before {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.icon-plus-1 {
    &:before {
        color: #000;
        content: '\f105';
    }
}
.icon-minus-1 {
    &:before {
        color: #000;
        content: '\f107';
    }
}

/* Button Nav */
.nav-open {
    .nav-toggle {
        &:after {
            background: rgba(0, 0, 0, 0.5);
            content: '';
            display: block;
            height: 100%;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }
        > span {
            position: fixed;
            width: 30px;
            height: 30px;
            top: 15px;
            right: 10px;
            left: auto;
            z-index: 99999;
            &:after {
                content: 'X';
                position: absolute;
                top: auto;
                right: 50%;
                bottom: 50%;
                left: auto;
                color: red;
                transform: translate(50%, 50%);
                font-size: 30px;
            }
        }
    }
}


//  Sprite images generator
//  ---------------------------------------------

.typeseven {
    .sections.nav-sections {
        .navigation {
            .col-right {
                > div {
                    &.minicart-wrapper {
                        .action {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    &:hover {
                        img.icon_svg {
                            display: none;
                        }
                        img.icon_svg.home_active {
                            display: block;
                        }
                        img.icon_svg.heart_active {
                            display: block;
                        }
                        img.icon_svg.user_active {
                            display: block;
                        }
                        img.icon_svg.search_active {
                            display: block;
                        }
                        img.icon_svg.cart_hover {
                            display: block;
                        }
                    }
                    img.icon_svg.home_active {
                        display: none;
                    }
                    img.icon_svg.heart_active {
                        display: none;
                    }
                    img.icon_svg.user_active {
                        display: none;
                    }
                    img.icon_svg.search_active {
                        display: none;
                    }
                    img.icon_svg.cart_hover {
                        display: none;
                    }
                }
            }
        }
    }
}


@media (min-width: 1600px) {
    .inner-logo-craft-shop {
        padding-bottom: 20px;
    }
}