//  CardShop theme overrides
//  _____________________________________________

//  Variables theme Core Config "Mixins Config"
//  _____________________________________________

@import '_theme.less';
// Mixin
.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}
.transform(@transform) {
    -webkit-transform: @transform;
    -moz-transform: @transform;
    -o-transform: @transform;
    transform: @transform;
}
.border-radius(@border-radius) {
    -webkit-border-radius: @border-radius;
    -moz-border-radius: @border-radius;
    border-radius: @border-radius;
    -khtml-border-radius: @border-radius;
}
.box-shadow(@box-shadow) {
    -webkit-box-shadow: @box-shadow ;
    -moz-box-shadow: @box-shadow ;
    box-shadow: @box-shadow;
}
.opacity(@opacity) {
    -webkit-opacity: @opacity; 
    -moz-opacity: @opacity;
    opacity: @opacity;     
}
.background-size(@background-size) {
    background-size: @background-size;
    -ms-background-size: @background-size;
    -webkit-background-size: @background-size;
    -moz-background-size: @background-size;
}
.box-sizing(@border-box) {
    webkit-box-sizing: @border-box;
    -moz-box-sizing: @border-box;
    box-sizing: @border-box;
}
.transform-origin(@x) {
    -webkit-transform-origin: @x;
    -moz-transform-origin: @x;
    -ms-transform-origin: @x;
    -o-transform-origin: @x;
}
.flex-wrap () {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.flex-width (@width) {
    -ms-flex: @width;
    flex: @width;
    max-width: @width;
    width: @width;
}
.clearFix () {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

//  Style button default
//  ---------------------------------------------
.btnDefault () {
    background: @bg_color_base;
    border: none;
    font-size: @font-size__base;
    line-height: 16px;
    text-transform: uppercase;
    color: @text_color__second;
    font-weight: @font-weight-second__home5;
    font-family: @font-family-base__home5;
    letter-spacing: 1px;
    border-radius: unset;
    padding: 10px 15px;
    display: inline;
    width: 100%;
}

//  Angle
//  ---------------------------------------------

.angle-down () {
    &::after {
        content: '';
        position: absolute;
        margin: auto;
        left: auto;
        right: 10px;
        .transform(rotate(45deg));
        border-right: 1px solid #a49585;
        border-bottom: 1px solid #a49585;
        .transition(0.4s ease all);
        top: 0;
        bottom: auto;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
    }
}

//  Text line
//  ---------------------------------------------

.text-line () {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

//  Tipps
//  ---------------------------------------------

.tip () {
    clip: inherit;
    width: auto;
    height: auto;
    overflow: inherit;
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 300;
    line-height: 1.25rem;
    background: @color-bg-default__home5;
    color: @white;
    visibility: hidden;
    padding: 5px 10px;
    bottom: 100%;
    left: 50%;
    .transition (all 0.4s);
    .opacity (0);
    border-radius: 2px;
    margin: 0 0 .3125rem 0;
    .transform(translateX(0px));
    font-family: @font-family-base__home5;
}

//  Style counter qty
//  ---------------------------------------------
.counter () {
    color: @black;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: transparent;
    left: auto;
    border: 1px solid @black;
    line-height: 17px;
    min-width: 17px;
    position: absolute;
    text-align: center;
    overflow: hidden;
}

//  Images Crop
//  ---------------------------------------------
.img_crop () {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}