//  CardShop theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Variables theme Core Config "General Config"
//  ---------------------------------------------
//  Font Family Base
//  ---------------------------------------------
@font-family-base: 'Montserrat';
@font-family-second: 'Playfair Display';
body {
	font-family: @font-family-base;
	background: @backgroud-body;
	button:hover {
    	border-color: #e5d9c1;
    	border-width: 1px;
    	background: transparent;
    	color: #444;
	}
	.page-wrapper {
		max-width: 2500px;
		margin: auto;
	}
}

//  Font Family Icon
//  ---------------------------------------------

@font-family-icon__fontello: 'fontello';
@font-family-icon__flaticon: 'Flaticon';


//  Font Size base
//  ---------------------------------------------
@font-size__base: 16px;
@font-size-ratio__base: 1; 
@root__font-size : 100%;
@text_transform__base: uppercase;
@font-weight__light__base: 300;
@font-weight__base: 400;
@font-weight__second: 500;
//
//  Scale Font
//  ---------------------------------------------
@font-size__scale : 1.125;
//
//  Convert Font
//  ---------------------------------------------
@font-size-unit-convert:true;
//
//  Line Height Scale Base
//  ---------------------------------------------
@scale__line-height__base:1;
//
//  BaseLine Config
//  ---------------------------------------------
@base__line:1;
//
//  Font Heading Base
//  ---------------------------------------------
@heading__font-family__base : @font-family-name__base;
//
//  Scale linehight Heading Base 
//  ---------------------------------------------
@scale__heading__line-height__base: 1;
//
//  Baseline Heading Base
//  ---------------------------------------------
@base__line-heading__line-height__base : 1.3;
//
//  End Variables theme Core Config "General Config Typography"

//  Variables theme Core Config "General Config Color"
//  --------------------------------------------- 
//
//  Main Color
//  ---------------------------------------------
@black: #000;
@white: #fff;
@red: #e74c3c;
@yel: #feec1c;
@main_color__general:#988879;
@theme_color__ccc: #ccc;
//
//  Text Color General
//  ---------------------------------------------
@text_color__general:#666;
@text_color__second: #333;
@text_color__third: #444;
//
//  Color Hover General
//  ---------------------------------------------
@color_hover__general:#e74c3c;
@color_hover__link: #fef855;
//
//  Link Color Default
//  ---------------------------------------------
@link_color__general: #40413c;

@third_color__general: #e74c3c;
//
//  Color Secondary
//  ---------------------------------------------
@secondary_color__general:#89858a;
@line-yellow: @yel;
@line-red: @red;
@nocolor: transparent;

//  Copyright
@copyright_color: #474647;

//  Heading color.
@headings_color: #666;
@headings_color__red: #e74c3c;
@headings_color__yel: #feec1c;

//  Backgroud
@bg_color_red: @red;
@bg_color_yel: @yel;
@bg_color_base: #e5d9c1;

//
//  End Variables theme Core Config "General Config Color"
//  ---------------------------------------------
//
//  Variables theme Core Config "General Config Components"
//  ---------------------------------------------
//
//  Gutter Layout Base
//  ---------------------------------------------
@gutter__layout : 30px;
//
//  Visually hidden / show visually hidden
//  ---------------------------------------------
@grid-gutter-width: 30px;
//
//  Vertical Padding Small
//  ---------------------------------------------
@vertical__padding_small : 10px;
//
//  Horizontal Padding Small
//  ---------------------------------------------
@horizontal__padding_small : 20px;
//
//  Vertical Padding Large
//  ---------------------------------------------
@vertical__padding_large : 15px;
//
//  Horizontal Padding Large
//  ---------------------------------------------
@horizontal__padding_large: 25px;
//
//  Vertical Padding Base
//  ---------------------------------------------
@vertical__padding_base: 20px;

//  Padding left
//  ---------------------------------------------
@padding_left_large: 120px;
//
//  Horizontal Padding Base
//  ---------------------------------------------
@horizontal__padding_base : 10px;
//
//  Border Radius Small
//  ---------------------------------------------
@border-radius__small:3px;
//
//  Border Radius Large
//  ---------------------------------------------
@border-radius__large : 5px;
//
//  Border Radius Base
//  ---------------------------------------------
@border-radius__base : 25px;
//
//  Border Width Base
//  ---------------------------------------------
@border-width__base : 1px;
//
//  Border Color Base
//  ---------------------------------------------
@border-color__base: #eee6db;

//  Border line color

//  ---------------------------------------------
@border-line__color: #e9cc0a;

//  Border input text
//  ---------------------------------------------

@border-input_text: #dcdcdc;

//  Border table 
//  ---------------------------------------------

@border-table: #f4f4f4;

//  Main Border 
//  ---------------------------------------------
@main-border: @border-width__base solid @border-color__base;
//
//  End Variables theme Core Config "General Config Components"
//  ---------------------------------------------

//  Font Size Custom Design
//  ---------------------------------------------
@heading__font-size__design : '';
//
//  Font Size Design H1 Design
//  ---------------------------------------------
@h1__font-size__design : 26px;
//
//  Font Size Design H2 Design
//  ---------------------------------------------
@h2__font-size__design : 23px;
//
//  Font Size Design H3 Design
//  ---------------------------------------------
@h3__font-size__design : 21px;
//
//  Font Size Design H4 Design
//  ---------------------------------------------
@h4__font-size__design : 18px;
//
//  Font Size Design H5 Design
//  ---------------------------------------------
@h5__font-size__design : 16px;
//
//  Font Size Design H6 Design
//  ---------------------------------------------
@h6__font-size__design : 14.21px;
//
//  Line Height Custom Design
//  ---------------------------------------------
@heading__line-height__design:''; 
//
//  Line Height Base H1 Design
//  ---------------------------------------------
@h1__line-height__design : 26px;
//
//  Line Height Base H2 Design
//  ---------------------------------------------
@h2__line-height__design : 23px;
//
//  Line Height Base H3 Design
//  ---------------------------------------------
@h3__line-height__design : 19px;
//
//  Line Height Base H4 Design
//  ---------------------------------------------
@h4__line-height__design : 18px;
//
//  Line Height Base H5 Design
//  ---------------------------------------------
@h5__line-height__design : 16px;
//
//  Line Height Base H6 Design
//  ---------------------------------------------
@h6__line-height__design : 14.21px;
//
//  Color Body Base Design
//  ---------------------------------------------
@body__color__design:#444;
//
//  Color P Base Design
//  ---------------------------------------------
@p__color__design : #333;
//
//  Border Button Width Design
//  ---------------------------------------------
@width__border-button__design : 1px;
//
//  Color Border Button Design
//  ---------------------------------------------
@border__color-button__design : #333;
//
//  Color Border Hover Button Design
//  ---------------------------------------------
@hover__border__color-button__design : #333333;
//
//  Color Active Button Design
//  ---------------------------------------------
@active__border__color-button__design:#333;
//
//  Border Color Default
//  ---------------------------------------------
@button__border-color:#333;
@nav-owcarousel-font-size: 15px;

//  Text - Right - Left;

@text-right: right;
@text-left: left;
//breakcrumbs

@breadcrumbs__font-size : 14px;
@_breadcrumbs__font-weight: 400;
@breadcrumbs-current__color: #d8d8d8;
@breadcrumbs-link__visited__color : #1a171b;
@breadcrumbs-link__hover__text-decoration : none;
@breadcrumbs-link__visited__text-decoration : none;
@breadcrumbs-link__active__text-decoration:none;
@_breadcrumbs-page-current__color: #1c65dd;
@_breadcrumbs-icon__font-content : '\/';
@_breadcrumbs-icon__font-size: 20px;
@_breadcrumbs__light-height: 14px;

//  Urls images
//  ---------------------------------------------
@images_icon: "../images";


//  Screen Responsive
//  ---------------------------------------------
@media_common: true;
	@screen__large: 992px; //add 
	@screen__extra_large: 1200px; //add
	@screen__medium: 768px; //add 
	@screen__extra_small: 576px; //add
	@screen__small: 480px; //add
	@screen__tablet: 1024px;
	@screen__mobiles: 640px;
	@screen__desktop: 1400px;
	@screen__iphonex: 375px;
	@screen__iphone678_plus: 414px;
	@screen__iphone5: 320px;

//  Padding Margin
@pd-0: 0px;
@mg-0: 0px;
@right: 0;
@left: 0;
@max-width__base: 1440px;
@max-width_ft: 1440px;


// Layout backgroud

@backgroud-body: #f5f5f5;

