<?php
$configColor = [];
$productIds = [];
$productID = $variation_id == 0? $product_id : $variation_id;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $objectManager->create('Netbaseteam\Onlinedesign\Helper\Data');
$specialColorCollection  = $helper->getCollectionColor();
foreach ($specialColorCollection as $row) {
    if (!empty($row['product_ids'])) {
        $productIds = explode('&', $row['product_ids']);
        if (in_array($productID, $productIds)) {
            $configColor[] = $row;
        }
    }
}
?>
<div class="nbd-color-palette" id="nbd-color-palette">
    <div class="nbd-color-palette-inner">
        <div class="working-palette">
            <h3 class="color-palette-label"><?php echo __('Document colors'); ?></h3>
            <ul class="main-color-palette nbd-perfect-scroll">
                <li class="color-palette-add" ng-click="showTextColorPalette()" ng-if="settings['nbdesigner_show_all_color'] == 'yes'"></li>
                <li ng-if="stages[currentStage].states.customShapeLine == false" ng-repeat="color in listAddedColor track by $index" ng-click="changeFill(color)" class="color-palette-item" data-color="{{color}}" title="{{color}}" ng-style="{'background-color': color}"></li>
                <li ng-if="stages[currentStage].states.customShapeLine == true" ng-repeat="color in listAddedColor track by $index" ng-click="changeShapeLine(color)" class="color-palette-item" data-color="{{color}}" title="{{color}}" ng-style="{'background-color': color}"></li>

                <!--                add special color-->
                <?php if(count($configColor)): ?>
                    <?php foreach ($configColor as $value): ?>
                        <li  ng-if="!stages[currentStage].states.customShapeLine" ng-click="changeFill('<?php echo $value['hex']; ?>')"
                             class="color-palette-item"
                             data-color="{{'<?php echo $value['hex']; ?>'}}" title="{{'<?php echo $value['color_name']; ?>'}}"
                             ng-style="{'background-color': '<?php echo $value['hex']; ?>'}"></li>
                        <li  ng-if="stages[currentStage].states.customShapeLine"
                             ng-click="changeShapeLine('<?php echo $value['hex']; ?>')"
                             class="color-palette-item"
                             data-color="{{'<?php echo $value['hex']; ?>'}}" title="{{'<?php echo $value['color_name']; ?>'}}"
                             ng-style="{'background-color': '<?php echo $value['hex']; ?>'}"></li>
                    <?php endforeach; ?>
                <?php endif; ?>
            </ul>
        </div>
        <div class="pinned-palette default-palette" ng-if="settings['nbdesigner_show_all_color'] == 'yes'">
            <h3 class="color-palette-label"><?php echo __('Default palette'); ?></h3>
            <ul class="main-color-palette" ng-repeat="palette in resource.defaultPalette" style="margin-bottom: 15px;">
                <li ng-if="!stages[currentStage].states.customShapeLine" ng-class="{'first-left': $first, 'last-right': $last, 'first-right': $index == 4,'last-left': $index == (palette.length - 5)}" ng-repeat="color in palette track by $index" ng-click="changeFill(color)" class="color-palette-item" data-color="{{color}}" title="{{color}}" ng-style="{'background': color}"></li>
                <li ng-if="stages[currentStage].states.customShapeLine" ng-class="{'first-left': $first, 'last-right': $last, 'first-right': $index == 4,'last-left': $index == (palette.length - 5)}" ng-repeat="color in palette track by $index" ng-click="changeShapeLine(color)" class="color-palette-item" data-color="{{color}}" title="{{color}}" ng-style="{'background': color}"></li>
            </ul>
        </div>
        <div class="pinned-palette default-palette" ng-if="settings['nbdesigner_show_all_color'] == 'no'">
            <h3 class="color-palette-label"><?php echo __('Color palette'); ?></h3>
            <ul class="main-color-palette" style="margin-bottom: 15px;">
                <li ng-if="!stages[currentStage].states.customShapeLine" ng-repeat="color in __colorPalette track by $index" ng-class="{'first-left': $first, 'last-right': $last, 'first-right': $index == 4,'last-left': $index == (palette.length - 5)}" ng-click="changeFill(color);addColor(color)" class="color-palette-item" data-color="{{color}}" title="{{color}}" ng-style="{'background': color}"></li>
                <li ng-if="stages[currentStage].states.customShapeLine" ng-repeat="color in __colorPalette track by $index" ng-class="{'first-left': $first, 'last-right': $last, 'first-right': $index == 4,'last-left': $index == (palette.length - 5)}" ng-click="changeShapeLine(color);addColor(color)" class="color-palette-item" data-color="{{color}}" title="{{color}}" ng-style="{'background': color}"></li>

            </ul>
        </div>
        <div class="nbd-text-color-picker" id="nbd-text-color-picker" ng-class="showTextColorPicker ? 'active' : ''">
            <spectrum-colorpicker
                    ng-model="currentColor"
                    options="{
                    preferredFormat: 'hex',
                    flat: true,
                    showButtons: false,
                    showInput: true,
                    containerClassName: 'nbd-sp'
            }">
            </spectrum-colorpicker>
            <div>
                <button ng-if="!stages[currentStage].states.customShapeLine" class="nbd-button" ng-click="addColor();changeFill(currentColor);"><?php echo __('Apply'); ?></button>
                <button  ng-if="stages[currentStage].states.customShapeLine" class="nbd-button" ng-click="addColor();changeShapeLine(currentColor) ;"><?php echo __('Apply'); ?></button>
            </div>
        </div>
        <!--        add shape-->
        <div class="pinned-palette default-palette" ng-if="!stages[currentStage].states.customShapeLine && stages[currentStage].states.customShape">
            <h3 class="color-palette-label"><?php echo __('No Fill'); ?></h3>
            <ul class="main-color-palette" style="margin-bottom: 15px;">
                <li ng-if="!stages[currentStage].states.customShapeLine"
                    ng-click="changeNoFill()"
                    class="color-palette-item"  title="No Fill" style="border: 1px solid black; background-color: white" "></li>

            </ul>
        </div>
        <div class="pinned-palette default-palette" ng-if="stages[currentStage].states.customShapeLine && stages[currentStage].states.customShape">
            <h3 class="color-palette-label"><?php echo __('No Out Line'); ?></h3>
            <ul class="main-color-palette" style="margin-bottom: 15px;">
                <li ng-if="stages[currentStage].states.customShapeLine"
                    ng-click="changeOutLine()"
                    class="color-palette-item"  title="No OutLine" style="border: 1px solid black; background-color: white" "></li>
            </ul>
        </div>
    </div>
</div>
