<ul class="nbd-main-menu menu-center tool-path"  ng-show="( stages[currentStage].states.isPath || stages[currentStage].states.isNativeGroup || stages[currentStage].states.isShape ) && !stages[currentStage].states.isMask">
<!--    CW-100-->
<!--    <li ng-click="unGroupLayers()" class="menu-item menu-group" ng-show="stages[currentStage].states.isNativeGroup">-->
<!--        <i style="border-right: 1px solid #ebebeb;padding-right: 10px;margin-top: 8px;" class="icon-nbd icon-nbd-ungroup nbd-tooltip-hover tooltipstered" title="--><?php //echo __('Ungroup'); ?><!--"></i>-->
<!--    </li>-->
<!--    <li class="menu-item item-color-fill nbd-show-color-palette" ng-click="stages[currentStage].states.svg.currentPath = $index" ng-repeat="path in stages[currentStage].states.svg.groupPath" end-repeat-color-picker>-->
<!--        <span ng-style="{'background': path.color}"  class="nbd-tooltip-hover color-fill nbd-color-picker-preview" title="--><?php //echo __('Color'); ?><!--" ></span>-->
<!--    </li>-->
    <li  class="menu-item item-color-fill nbd-show-color-palette" ng-click="stages[currentStage].states.svg.currentPath = $index;stages[currentStage].states.customShapeLine = false" ng-repeat="(key,path) in stages[currentStage].states.svg.groupPath" end-repeat-color-picker>
        <span ng-style="{'background': path.color}"  class="nbd-tooltip-hover color-fill nbd-color-picker-preview" title="<?php echo __('Color'); ?>" ></span>
        <span ng-if="stages[currentStage].states.isShapeSvg && (stages[currentStage].states.svg.groupPath.length ==1 || key < (stages[currentStage].states.svg.groupPath.length-1))"
              style="padding: 10px 0px 0px 5px"><?php echo __('Fill') ?></span>
        <span ng-if="stages[currentStage].states.isShapeSvg && (stages[currentStage].states.svg.groupPath.length > 1 && key == (stages[currentStage].states.svg.groupPath.length-1))"
              style="padding: 10px 0px 0px 5px"><?php echo __('Out line') ?></span>
    </li>
<!--    add shape-->
    <li ng-hide="stages[currentStage].states.customShape != true" class="menu-item item-color-fill nbd-show-color-palette ng-scope" ng-click="stages[currentStage].states.customShapeLine = true">
        <span ng-style="{'background': stages[currentStage].states.customShapeLineColor}"  class="nbd-tooltip-hover color-fill nbd-color-picker-preview" title="<?php echo __('Color line'); ?>" ></span>
    </li>
    <!--    thêm svg-->
    <li ng-hide="stages[currentStage].states.customShape == true || !stages[currentStage].states.isShapeSvg" class="menu-item item-color-fill  ng-scope" ng-click="noFillSVG()">
        <span style="background-color: white; border: 1px solid black"  class="nbd-tooltip-hover color-fill nbd-color-picker-preview" title="<?php echo __('NO FILL'); ?>" ></span>
        <span style="padding: 17px 0px 0px 5px"><p style="text-decoration: underline; float: left">N</p>o Fill</span>
    </li>
    <li ng-hide="stages[currentStage].states.customShape == true || stages[currentStage].states.svg.groupPath.length ==1 || !stages[currentStage].states.isShapeSvg" class="menu-item item-color-fill  ng-scope" ng-click="noOutLineSVG()">
        <span style="background-color: black; border: 1px solid white"  class="nbd-tooltip-hover color-fill nbd-color-picker-preview" title="<?php echo __('NO OUT LINE'); ?>" ></span>
        <span style="padding: 17px 0px 0px 5px"><p style="text-decoration: underline; float: left">N</p>o Out Line</span>
    </li>
</ul>

<!--add apply mask-->
<ul class="nbd-main-menu menu-center tool-path" ng-show="stages[currentStage].states.isMask">
    <li class="menu-item" ng-click="exitMaskMode()">
        <i class="icon-nbd icon-nbd-fomat-done nbd-tooltip-hover" title="<?php echo __('Apply mask'); ?>"></i>
    </li>
</ul>