<div class="toolbar-image" ng-show="stages[currentStage].states.isImage">
    <ul class="nbd-main-menu">
        <!--<li class="menu-item menu-filter">
            <i class="icon-nbd icon-nbd-baseline-tune"></i>
            <span>Filter</span>
            <div class="sub-menu" data-pos="left">
                <ul class="filter-presets">
                    <li class="filter-scroll scrollLeft disable"><i class="icon-nbd icon-nbd-arrow-drop-down"></i></li>
                    <li class="container-presets">
                        <ul class="main-presets">
                            <li class="preset active" ng-click="filterImage()">
                                <div class="image">
                                    <div class="inner">
                                        <img src="<?php //echo NBDESIGNER_PLUGIN_URL;?>assets/images/background/49.png"  alt="imge filter">
                                    </div>
                                </div>
                                <span class="title">Grayscale</span>
                            </li>

                        </ul>
                    </li>
                    <li class="filter-scroll scrollRight"><i class="icon-nbd icon-nbd-arrow-drop-down"></i></li>
                </ul>
                <div class="filter-ranges">
                    <ul class="main-ranges">
                        <li class="range range-brightness">
                            <label>Brightness</label>
                            <div class="main-track">
                                <input ng-model="brightness" class="slide-input" type="range" step="1" min="-100" max="100">
                                <span class="range-track"></span>
                                <span class="snap-guide"></span>
                            </div>
                            <span class="value-display1">{{brightness}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </li>-->
        <li class="menu-item menu-crop" ng-click="initCrop()">
            <i class="icon-nbd icon-nbd-round-crop nbd-tooltip-hover" title="<?php echo __('Crop'); ?>"></i>
        </li>
        <!--     clip mask-->
        <li class="menu-item menu-crop" ng-show="!stages[currentStage].states.isMasked">
            <i style="height: 24px;" class="nbd-tooltip-hover nbd-svg-icon" title="<?php echo __('Create clipping mask'); ?>">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg>
            </i>
            <div class="sub-menu" data-pos="left" style="min-width: 206px;">
                <div class="shape_mask-wrapper">
                    <span class="shape_mask shape-type-{{n}}" ng-click="createClippingMask(n)" ng-repeat="n in [] | range:25"></span>
                </div>
            </div>
        </li>
        <!--     Effect Image-->
        <li class="menu-item item-effect-image" data-range="true">
            <i class="icon-nbd icon-nbd-opacity nbd-tooltip-hover" title="<?php echo __('Effect Image'); ?>"></i>
            <div class="sub-menu" data-pos="center">
                <div class="filter-image-option">
                <!--                    thêm reset-->
                    <div class="gray-scale-filter">
                        <label for="checkbox">
                            <input ng-click="setResetFilterImage()" type="button" id="resetFilter" class="resetFilter" value="<?php echo __('Reset Effect Value') ?>"/>
                        </label>
                    </div>
                    <div class="gray-scale-filter">
                        <label for="checkbox">
                            <input ng-click="setGrayScale()" type="checkbox" id="grayscale" value="Grayscale" class="gray-scale" />
                            <?= __('Grayscale'); ?>
                        </label>
                        <label><span> <?= __('Avg'); ?></span> <input ng-click="applyFilterValue(0, 'mode', 'average')" class="filterAvg" type="radio" id="average" name="grayscale"></label>
                        <label><span> <?= __('Lum'); ?></span> <input ng-click="applyFilterValue(0, 'mode', 'lightness')" type="radio" class="filterLum" id="lightness" name="grayscale"></label>
                        <label><span> <?= __('Light'); ?></span> <input ng-click="applyFilterValue(0, 'mode', 'luminosity')" class="filterLight" type="radio" id="luminosity" name="grayscale"></label>
                    </div>
                    <div class="filter-invert">
                        <label><span><?= __('Invert'); ?></span> <input ng-click="setInvert()" type="checkbox" id="invert" class="invert"></label>
                    </div>
                    <div class="color-matrix-filter">
                        <label><?= __('Colormatrix filters:') ?></label>
                        <p>
                            <label><span><?= __('Sepia:') ?></span> <input ng-click="setSepia()" type="checkbox" id="sepia" class="sepia"></label>
                        </p>
                        <p>
                            <label><span><?= __('Black/White:') ?></span> <input ng-click="setBlackWhite()" id="blackwhite" type="checkbox" class="blackwhite"></label>
                        </p>
                        <p>
                            <label><span><?= __('Brownie:') ?></span> <input ng-click="setBrownie() " type="checkbox" id="brownie" class="brownie"></label>
                        </p>
                        <p>
                            <label><span><?= __('Vintage:') ?></span> <input ng-click="setVintage()" type="checkbox"  id="vintage" class="vintage"></label>
                        </p>
                        <p>
                            <label><span><?= __('Kodachrome:') ?></span> <input ng-click="setKodachrome() " type="checkbox" id="kodachrome" class="kodachrome"></label>
                        </p>
                        <p>
                            <label><span><?= __('Technicolor:') ?></span> <input ng-click="setTechnicolor()" type="checkbox" id="technicolor" class="technicolor"></label>
                        </p>
                        <p>
                            <label><span><?= __('Polaroid:') ?></span> <input ng-click="setPolaroid()" type="checkbox" id="polaroid" class="polaroid"></label>
                        </p>
                    </div>
                        <div class="option-remove-color">
                        <p>
                            <label><span><?= __('Remove color:') ?></span> <input ng-click="removeColor()" type="checkbox" id="remove-color" class="remove-color"></label>
                            <label><?= __('Color:') ?> <input type="color" id="remove-color-color" value="#00f900"></label><br>
                            <label><?= __('Distance:') ?> <input type="range" id="remove-color-distance" value="0.02" min="0" max="1" step="0.01"></label>
                        </p>
                        </div>
                        <div class="option-customize">
                        <p>
                            <label><span><?= __('Brightness:') ?></span> <input ng-click="setBrightness()" type="checkbox" id="brightness" class="brightness"></label>
                            <label><?= __('Value:') ?> <input type="range" id="brightness-value" value="0.1" min="-1" max="1" step="0.003921"></label>
                        </p>
                            <p>
                                <label><span><?= __('Contrast:') ?></span> <input ng-click="setContrast()" type="checkbox" id="contrast" class="contrast"></label>
                                <label><?= __('Value:') ?> <input type="range" id="contrast-value" value="0" min="-1" max="1" step="0.003921"></label>
                            </p>
                            <p>
                                <label><span><?= __('Saturation:') ?></span> <input ng-click="setSaturation()" type="checkbox" id="saturation" class="saturation"></label>
                                <label><?= __('Value:') ?> <input type="range" id="saturation-value" value="0" min="-1" max="1" step="0.003921"></label>
                            </p>

                        <p>
                            <label><span><?= __('Gamma:') ?></span> <input id="gamma" ng-click="setGamma()" type="checkbox" class="gamma"></label>
                            <br>
                            <label><?= __('Red:') ?> <input type="range" id="gamma-red" value="1" min="0.2" max="2.2" step="0.003921"></label>
                            <br>
                            <label><?= __('Green:') ?> <input type="range" id="gamma-green" value="1" min="0.2" max="2.2" step="0.003921"></label>
                            <br>
                            <label><?= __('Blue:') ?> <input type="range" id="gamma-blue" value="1" min="0.2" max="2.2" step="0.003921"></label>

                        </p>
                        </div>
                        <div class="option-customize-effect">
                        <p>
                            <label><span><?= __('Noise:') ?></span> <input ng-click="setNoise()" type="checkbox" id="noise" class="noise"></label>
                            <br>
                            <label><?= __('Value:') ?> <input type="range" id="noise-value" value="100" min="0" max="1000"></label>
                        </p>
                        <p>
                            <label><span><?= __('Pixelate:') ?></span> <input ng-click="setPixelate()" type="checkbox" id="pixelate"  class="pixelate"></label>
                            <br>
                            <label><?= __('Value:') ?> <input type="range" id="pixelate-value" value="4" min="2" max="20"></label>
                        </p>
                        <p>
                            <label><span><?= __('Blur:') ?></span> <input ng-click="setBlurFilter()" type="checkbox" id="blur" class="blur"></label>
                            <br>
                            <label><?= __('Value:') ?>  <input type="range" id="blur-value" value="0.1" min="0" max="1" step="0.01"></label>
                        </p>
                        <p>
                            <label><span><?= __('Sharpen:') ?></span> <input ng-click="setSharpen()" type="checkbox" id="sharpen" class="sharpen"></label>
                        </p>
                        <p>
                            <label><span><?= __('Emboss:') ?></span> <input ng-click="setEmboss()" type="checkbox" id="emboss" class="emboss"></label>
                        </p>
                        </div>
                        <div class="blend-filter">
                        <p>
                            <label><span><?= __('Blend Color:') ?></span> <input ng-click="setBlendFilter()" type="checkbox" id="blend" class="blend"></label>
                            <br>
                            <label><?= __('Mode:') ?></label>
                            <select id="blend-mode" name="blend-mode">
                                <option id="defaultOption" selected="" value="add"><?= __('Add:') ?></option>
                                <option class="diff" value="diff"><?= __('Diff') ?></option>
                                <option class="subtract" value="subtract"><?= __('Subtract') ?></option>
                                <option class="multiply" value="multiply"><?= __('Multiply') ?></option>
                                <option class="screen" value="screen"><?= __('Screen') ?></option>
                                <option class="lighten" value="lighten"><?= __('Lighten') ?></option>
                                <option class="darken" value="darken"><?= __('Darken') ?></option>
                                <option class="overlay" value="overlay"><?= __('Overlay') ?></option>
                                <option class="exclusion" value="exclusion"><?= __('Exclusion') ?></option>
                                <option class="tint" value="tint"><?= __('Tint') ?></option>
                            </select>
                            <br>
                            <label><?= __('Color:') ?> <input type="color" id="blend-color" value="#00f900"></label><br>
                            <label><?= __('Alpha:') ?> <input type="range" id="blend-alpha" min="0" max="1" value="1" step="0.01"></label><br>
                        </p>
                        <p>
                            <label><span><?= __('Blend Image:') ?></span> <input ng-click="setBlendImage()" type="checkbox" id="blend-image" class="blend-image"></label>
                            <label for="mode"><?= __('Mode:') ?></label>
                            <select id="blend-image-mode" name="blend-image-mode">
                                <option id="defaultMultiply" selected="" value="multiply"><?= __('Multiply:') ?></option>
                                <option value="mask"><?= __('Mask') ?></option>
                            </select>
                            <label><?= __('Alpha:') ?> <input type="range" id="blend-image-alpha" min="0" max="1" value="1" step="0.01"></label>
                        </p>
                        </div>

                    </div>
            </div>
        </li>
        <li class="menu-item menu-crop" ng-click="removeClippingMask()" ng-show="stages[currentStage].states.isMasked">
            <i style="height: 24px;" class="nbd-tooltip-hover nbd-svg-icon" title="<?php echo __('Remove clipping mask'); ?>">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3.25 2.75l17 17L19 21l-2-2H5c-1.1 0-2-.9-2-2V7c0-.55.23-1.05.59-1.41L2 4l1.25-1.25zM22 12l-4.37-6.16C17.27 5.33 16.67 5 16 5H8l11 11 3-4z"/></svg>
            </i>
        </li>
        <li class="menu-item menu-crop edit-mask" ng-click="editMask()" ng-show="stages[currentStage].states.isMasked">
            <i style="height: 24px;" class="nbd-tooltip-hover nbd-svg-icon" title="<?php echo __('Edit mask'); ?>">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24" xml:space="preserve">
                    <path d="M23,7V1h-6v2H7V1H1v6h2v10H1v6h6v-2h10v2h6v-6h-2V7H23z M3,3h2v2H3V3z M5,21H3v-2h2V21z M17,19H7v-2H5V7h2V5h10v2h2v10h-2 V19z M21,21h-2v-2h2V21z M19,5V3h2v2H19z M13.7,14h-3.5l-0.7,2H7.9l3.4-9h1.4l3.4,9h-1.6C14.5,16,13.7,14,13.7,14z M10.7,12.7h2.6 L12,8.9C12,8.9,10.7,12.7,10.7,12.7z"/>
                    <path d="M12,5.4c-3.7,0-6.6,3-6.6,6.6s3,6.6,6.6,6.6s6.6-3,6.6-6.6S15.7,5.4,12,5.4z"/>
                </svg>
            </i>
        </li>
        <!--<li class="menu-item menu-crop" ng-click="createClippingMask()">
            <i style="height: 24px;" class="nbd-tooltip-hover" title="<?php echo __('Create clipping mask'); ?>">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#888" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                </svg>
            </i>
        </li>
        <li class="menu-item menu-crop" ng-click="fixedClippingMask()">
            <i style="height: 24px;" class="nbd-tooltip-hover" title="<?php echo __('Remove clipping mask'); ?>">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#888" width="21" height="21" viewBox="0 0 21 21">
                    <path d="M15.487 1.313c3.043 0 5.513 2.47 5.513 5.513 0 5.993-6.477 7.851-10.5 13.933-4.256-6.12-10.5-7.743-10.5-13.933 0-3.043 2.47-5.513 5.513-5.513 1.238 0 2.379 0.565 3.298 1.391l-1.591 2.546 4.594 2.625-2.625 6.563 7.219-7.875-4.594-2.625 1.269-1.904c0.726-0.446 1.542-0.721 2.405-0.721z"></path>
                </svg>
            </i>
        </li>
        <li class="menu-item menu-crop" ng-click="removeClippingMask()">
            <i style="height: 24px;" class="nbd-tooltip-hover" title="<?php echo __('Remove clipping mask'); ?>">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#888" width="21" height="21" viewBox="0 0 21 21">
                    <path d="M15.487 1.313c3.043 0 5.513 2.47 5.513 5.513 0 5.993-6.477 7.851-10.5 13.933-4.256-6.12-10.5-7.743-10.5-13.933 0-3.043 2.47-5.513 5.513-5.513 1.238 0 2.379 0.565 3.298 1.391l-1.591 2.546 4.594 2.625-2.625 6.563 7.219-7.875-4.594-2.625 1.269-1.904c0.726-0.446 1.542-0.721 2.405-0.721z"></path>
                </svg>
            </i>
        </li>
        <li class="menu-item menu-crop" ng-click="debug()">
            <i style="height: 24px;" class="nbd-tooltip-hover" title="<?php echo __('Remove clipping mask'); ?>">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#888" width="21" height="21" viewBox="0 0 21 21">
                    <path d="M15.487 1.313c3.043 0 5.513 2.47 5.513 5.513 0 5.993-6.477 7.851-10.5 13.933-4.256-6.12-10.5-7.743-10.5-13.933 0-3.043 2.47-5.513 5.513-5.513 1.238 0 2.379 0.565 3.298 1.391l-1.591 2.546 4.594 2.625-2.625 6.563 7.219-7.875-4.594-2.625 1.269-1.904c0.726-0.446 1.542-0.721 2.405-0.721z"></path>
                </svg>
            </i>
        </li> -->       
    </ul>
</div>
<style>
    .filter-image-option {
        margin-left: 200px;
        overflow: auto;
        height: 800px;
    }
</style>