<?php
if ($this->getRequest()->getParam('quickview')) return;
/* add js for */
echo $this->getLayout()->createBlock('Netbaseteam\Onlinedesign\Block\Onlinedesign')
    ->setTemplate('Netbaseteam_Onlinedesign::nbdesigner.phtml')->toHtml();
?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $this->helper('Netbaseteam\Onlinedesign\Helper\Data');
$customerId = $helper->getCustomerId();
$checkDesignList = $helper->filterDesignByCustomer($customerId);
$product_id = $block->getCurrentProduct()->getId();
include_once($helper->getLibOnlineDesign() . '/Onlinedesign/includes/class.helper.php');
include_once($helper->getLibOnlineDesign() . '/Onlinedesign/includes/class-util.php');
$hide_on_mobile = nbdesigner_get_option('nbdesigner_disable_on_smartphones');
if (wp_is_mobile() && $hide_on_mobile == 'yes' || !wp_is_mobile()) {
    $statusDesign = $this->helper('Netbaseteam\Onlinedesign\Helper\Data')->getStatusDesign($product_id);
    $statusUploadDesign = $block->getStatusUploadDesign($product_id);
    $visuaLayout = $helper->getDesignLayout($product_id);
    $buttonDesignOnline = nbdesigner_get_option("nbdesigner_start_design_and_upload");
    $catalogSession = $objectManager->create('Magento\Customer\Model\Session');
    $catalogSession->setNbdesignerPid($product_id);
    $nbdesigner_enable = get_post_meta($product_id, "_nbdesigner_enable", true);
    $title_btn = nbdesigner_get_option("nbdesigner_button_label");
    if ($this->getRequest()->getParam('orderid')) {
        $title_btn = __("Design Again");
    }
    if (!$visuaLayout) {
        $src = $this->getUrl('onlinedesign/index/design', array('_current' => true));
        $src .= "?product_id=" . $product_id;
        if (isset($_GET['task']) && $_GET['task'] == "create") {
            $src .= "?product_id=" . $product_id . "&task=create&rd=admin_templates";
            $title_btn = __("Create Template");
        }
    }
    ?>
    <?php if ($visuaLayout == 1): ?>
        <link type="text/css" href="<?php echo NBDESIGNER_PLUGIN_URL . 'assets/css/vista.css'; ?>" rel="stylesheet"
              media="all"/>
        <script>
            require([
                'jquery',
                'masonry',
                'bridget',
                'nbvista',
                'modern',
                'curved',
                'nblodash',
                'imagesLoaded',
                'nbangular',
                'fabric',
                'tooltipster',
                'angular-spectrum',
                'Webcam',
                'qrcode',
                'fontface',
                'designmodern',
                'spectrum',
                'perfect-scrollbar',
                'jqueryUiBlock'
            ], function ($, Masonry, jQueryBridget) {
                jQueryBridget('masonry', Masonry, $);
            });
        </script>

    <?php endif; ?>
    <?php
    if (isset($_GET['task']) && $_GET['task'] == "create") {
        ?>
        <script>
            require([
                'jquery'
            ], function ($) {
                $(document).ready(function ($) {
                    $("button.btn-cart").css("display", "none");
                    $("#triggerDesign").text($("#dsgn-btn-name").text());
                });
            });
        </script>
    <?php } ?>
<?php } ?>
<style>
    .catalog-product-view .oldesign-wraper__left {
        display: flex;
    }

    .catalog-product-view .nb-my-designs {
        margin-left: 10px;
    }

    .nbd-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nbd-popup .main-popup {
        pointer-events: all;
        background-color: #fff;
        border-radius: 2px;
        -webkit-box-shadow: 0 0 42px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 42px rgba(0, 0, 0, 0.15);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        text-align: left;
        width: 1200px;
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
        position: relative;
        overflow-y: auto;
        max-height: 800px;
    }
    
    
    .main-popup::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 10px;
    }
    .main-popup::-webkit-scrollbar {
        background: #eee6db;
        width: 5px;
    }
    .nbd-popup.nb-show {
        opacity: 1;
        visibility: visible;
        z-index: 9999999;
    }

    .nbd-popup[data-animate="fixed-top"] {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .nbd-popup[data-animate="fixed-top"] .main-popup {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: 60px;
    }

    .nbd-popup[data-animate="fixed-top"].nb-show .main-popup {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .nbd-popup[data-animate="scale"] .main-popup {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nbd-popup[data-animate="scale"].nb-show .main-popup {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .nbd-popup[data-animate="bottom-to-top"] .main-popup {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nbd-popup[data-animate="bottom-to-top"].nb-show .main-popup {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    .nbd-popup[data-animate="top-to-bottom"] .main-popup {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nbd-popup[data-animate="top-to-bottom"].nb-show .main-popup {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    .nbd-popup[data-animate="left-to-right"] .main-popup {
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nbd-popup[data-animate="left-to-right"].nb-show .main-popup {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    .nbd-popup[data-animate="right-to-left"] .main-popup {
        -webkit-transform: translate(50%);
        transform: translate(50%);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nbd-popup[data-animate="right-to-left"].nb-show .main-popup {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    .nbd-popup .close-popup {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
    }
</style>
<script>
    require(['jquery', 'jquery/ui'], function ($) {
        $(document).ready(function () {
            $('div#my-design').click(function () {
                let url = '<?php echo $this->getUrl('onlinedesign/index/info'); ?>';
                let action = 'nbd_get_user_designs';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: {action: action},
                    dataType: 'json',
                    success: function (data) {
                        if (data.flag == 1) {
                            return jQuery('.popup-nbd-my-templates2-product-page').each(function () {
                                var sefl = this;
                                var $close = $(sefl).find('.overlay-popup, .close-popup');
                                if (!$(this).hasClass('nb-show')) {
                                    $(this).addClass('nb-show');
                                }
                                $close.on('click', function () {
                                    $(sefl).removeClass('nb-show');
                                });
                            });
                        }
                    }
                });
            });
        });
    });
</script>
<div class="nbd-popup popup-nbd-my-templates2-product-page" data-animate="scale">
    <div class="main-popup">
        <div class="overlay-popup"></div>
        <i class="fa icon-nbd icon-nbd-clear close-popup" style="font-size:24px">&#xf00d;</i>
        <div class="head">
            <h2><?php echo __('Preview Saved Design'); ?></h2>
        </div>
        <div class="body">
            <div class="main-body">
                <div class="tab-scroll">
                    <table id="my-downloadable-products-table" class="data table table-downloadable-products">
                        <thead>
                        <?php if (count($checkDesignList)) : ?>
                            <tr>
                                <th scope="col" class="col preview"><?php echo __('Preview') ?></th>
                                <th scope="col" class="col create-time"><?php echo __('Created at') ?></th>
                                <th scope="col" class="col action"><?php echo __('Action') ?></th>
                            </tr>
                        <?php else : ?>
                            <tr>
                                <th scope="col" class="col title"><?php echo __('ORDER #') ?></th>
                                <th scope="col" class="col title"><?php echo __('PRODUCT') ?></th>
                                <th scope="col" class="col title"><?php echo __('TOTAL') ?></th>
                            </tr>
                        <?php endif; ?>
                        </thead>
                        <?php
                        if (count($checkDesignList)) :
                            ?>
                            <tbody>
                            <tr>
                                <?php foreach ($checkDesignList as $item) : ?>
                                <td data-th="<?php echo $block->escapeHtml(__('Preview')) ?>" class="col preview">
                                    <?php
                                    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($item->getProductId());
                                    $productName = $product->getName();
                                    $previewImage = $helper->getBaseDir() . '/designs/' . $item->getFolder();
                                    $dir = $previewImage;
                                    $dh = opendir($dir);
                                    $files = [];
                                    while (false !== ($filename = readdir($dh))) {
                                        $files[] = $filename;
                                    }
                                    $containImage = preg_grep('/\.(jpg|png|jpeg)/i', $files);
                                    ?>
                                    <div class="data-preview">
                                        <div class="data-name">
                                            <a href="<?php echo $product->getProductUrl()?>"> <?= $productName; ?> </a>
                                        </div>
                                        <div class="nb-image-preview">
                                            <?php
                                            foreach ($containImage as $image) :
                                                $convertPath = $helper->wp_convert_path_to_url($previewImage . '/' . $image) .'?t=' . time();
                                                ?>
                                                <img src="<?= $convertPath ?>" alt="" class="preview-design"/>
                                            <?php endforeach; ?>
                                        </div>
                                    </div>
                                </td>
                                <td data-title="Date" data-th="<?php echo $block->escapeHtml(__('Created at')) ?>"
                                    class="col create-time">
                                    <div class="nb-create-time"><?= $item->getCreatedDate(); ?></div>
                                </td>
                                <td data-th="<?php echo $block->escapeHtml(__('Action')) ?>" class="col action">
                                    <div class="nb-edit-preview">
                                        <?php
                                        $editDesign = $this->getBaseUrl() . 'onlinedesign/index/design?product_id=' . $item->getProductId() .'&rd=edit-save-for-late&nbd_item_key='.$item->getFolder(). '&task=edit&ed=cart';
                                        ?>
                                        <a href="<?= $editDesign ?>" class="nb-delete-preview" id="nb-delete-preview">
                                            <span><?= __('Edit') ?></span>
                                        </a>
                                    </div>
                                    <div class="nb-delete-preview">
                                        <a href="<?= $this->getUrl('onlinedesign/index/Deletedesigns', ['folder' => $item->getFolder()]) ?>" class="nb-delete-preview" id="nb-delete-preview">
                                            <span><?= __('Delete') ?></span>
                                        </a>
                                    </div>
                                    <div class="nb-add-tocart">
                                        <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $listBlock = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
                                        $product = $objectManager->create("Magento\Catalog\Model\Product")->load($item->getProductId());
                                        $addToCartUrl =  $listBlock->getAddToCartUrl($product); ?>
                                        <form data-role="tocart-form" action="<?php echo $addToCartUrl; ?>" method="post">
                                            <input type="hidden" name="folder_design" value="<?= $item->getFolder() ?>">
                                            <input type="hidden" name="product" value="<?= $item->getProductId() ?>">
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            <button type="submit" title="Add to Cart" class="action tocart primary">
                                                <span><?= __('Add to cart'); ?></span>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                            </tbody>
                        <?php endif; ?>
                    </table>
                </div>
            </div>
        </div>
        <div class="footer"></div>
    </div>
</div>
<style>
.catalog-product-view .nbd-user-design .main-item .item-img img {
    width: 100px;
    background: #ccc;
    margin: 10px;
}
</style>

