@font-face {
    font-family: 'Dancing Script';
    src: url('@{baseDir}fonts/dancing/DancingScript.woff2') format('woff2'),
        url('@{baseDir}fonts/dancing/DancingScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}