<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $this->helper('Netbaseteam\Onlinedesign\Helper\Data');
include_once($helper->getLibOnlineDesign() . '/Onlinedesign/includes/class.helper.php');
include_once($helper->getLibOnlineDesign() . '/Onlinedesign/includes/class-util.php');
$hide_on_mobile = nbdesigner_get_option('nbdesigner_disable_on_smartphones');
if (wp_is_mobile() && $hide_on_mobile == 'yes' || !wp_is_mobile()) {
    if(isset($_GET['product_id'])) {
        $product_id = $_GET['product_id'];
    }else {
        $product_id = $block->getCurrentProduct()->getId();
    }
    $visuaLayout = $helper->getDesignLayout($product_id);
    if(!$visuaLayout) {
     $statusDesign = $this->helper('Netbaseteam\Onlinedesign\Helper\Data')->getStatusDesign($product_id);
     $statusUploadDesign = $block->getStatusUploadDesign($product_id);
    $buttonDesignOnline = nbdesigner_get_option("nbdesigner_start_design_and_upload");
    $catalogSession = $objectManager->create('Magento\Customer\Model\Session');
    $catalogSession->setNbdesignerPid($product_id);
    $nbdesigner_enable = get_post_meta($product_id, "_nbdesigner_enable", true);
    $title_btn = nbdesigner_get_option("nbdesigner_button_label");
    if ($this->getRequest()->getParam('orderid')) {
        $title_btn = __("Design Again");
    }
    $src = $this->getUrl('onlinedesign/index/design');
    $src .= "/id/".$product_id."?product_id=" . $product_id;
        $helper = $objectManager->get("\Netbaseteam\Onlinedesign\Helper\Data");
        $preDesign = $helper->getPredesignCollection($product_id);
        if(!empty($preDesign)) {
            $src .= "&nbd_item_key=" . $preDesign;
            $src .= "&rd=details";
        }
    if (isset($_GET['task']) && $_GET['task'] == "create_template") {
        if (isset($_GET['priority']) && $_GET['priority'] == "primary") {
            $src .= "?product_id=" . $product_id . "&priority=primary&task=create_template";
        } else {
            $src .= "?product_id=" . $product_id . "&priority=extra&task=create_template";
        }
        $title_btn = __("Create Template");
    } elseif (isset($_GET['task']) && $_GET['task'] == "edit_template") {
        if (isset($_GET['priority']) && $_GET['priority'] == "primary") {
            $src .= "?product_id=" . $product_id . "&priority=primary&task=edit_template&template_folder=primary";
            $title_btn = __("Edit Primary Template");
        } else {
            $src .= "?product_id=" . $product_id . "&priority=extra&task=edit_template&template_folder=" . $_GET['template_folder'] . "";
            $title_btn = __("Edit Template");
        }
    } elseif (isset($_GET['task']) && $_GET['task'] == "redesign") {
        $src = $this->getUrl('onlinedesign/index/design', array('_current' => false)) . '?folder=' . $_GET["folder"] . '&orderid=' . $_GET["orderid"] . '&product_id=' . $_GET["product_id"] . '&order_item_id=' . $_GET["order_item_id"] . '&task=redesign';
    }
    if ($statusUploadDesign) {
        $src .= "&noupload=1";
    }
    if($this->getRequest()->getParam('rd')) {
        $src .= "&rd=use-template";
    }

}

?>
<script type="text/javascript">
    var is_nbd_upload = <?php echo isset($statusUploadDesign) ? $statusUploadDesign : 0 ; ?>;
</script>
<style>
    a.nbd-save-for-later svg {
        display: none;
        margin-right: 10px;
    }
    a.nbd-save-for-later:focus {
        outline: none;
    }
    a.nbd-save-for-later.saved {
        pointer-events: none;
    }
    .nbd-social {
        width: 36px;
        height: 36px;
        display: inline-block;
        padding: 5px;
        border: 1px solid #ddd;
        margin: 0px;
        opacity: 0.8;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        background: #fff;
        cursor: pointer;
    }
    .nbd-save-loading, .nbd-pdf-loading {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
    }
    .nbd-save-loading.hide, .nbd-pdf-loading.hide {
        display: none;
    }
    #nbdesigner-preview-title {
        margin-top: 15px;
    }
    #nbd_processing {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        z-index: 1;
    }
    .nbd-popup-wrap {
        z-index: 2;
        background: rgba(245, 246, 247, 0.95);
        -webkit-transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
        -moz-transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
        transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
    .nbd-popup-wrap.is-hidden {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
    }
    .nbd__pop__content {
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        left: 50%;
        margin-left: auto;
        margin-right: auto;
        transform: translate(-50%, -50%);
        top: 48%;
        width: 100%;
    }
    .nbd__pop__content_wrapper {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        max-width: 60rem;
        margin: 0 auto;
    }
    .nbd__pop__content_wrapper.nbd__pop_wide {
        max-width: 76.5rem;
    }
    .__content_wrapper {
        width: 100% !important;
        position: relative !important;
        display: inline-block;
    }
    .content__header {
        bottom: 100%;
        width: 100%;
        padding-bottom: 3rem;
        position: absolute;
        text-align: center;
        margin: 0;
        font-size: 1.875rem;
        line-height: 1.15;
    }
    .content__content {
        margin: 0;
        display: flex;
        margin-top: -1.5rem;
        margin-left: -1.5rem;
        font-size: 0;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .layout__item {
        width: 50%;
        font-size: 1rem;
        padding-left: 1.5rem;
        position: relative;
        padding-top: 1.5rem;
        display: flex;
        display: -ms-flexbox;
    }
    .nbd__pop_wide .layout__item {
        width: 33.333333%;
    }
    .layout__item__inner {
        box-shadow: 0 0.125rem 0.25rem 0 rgba(79,90,109,0.25);
        flex-direction: row;
        -ms-flex-direction: row;
        text-align: left;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-transition: box-shadow 200ms linear, opacity 200ms;
        -moz-transition: box-shadow 200ms linear, opacity 200ms;
        transition: box-shadow 200ms linear, opacity 200ms;
        background-color: #fff;
        position: relative;
        cursor: pointer;
    }
    .item__layout {
        overflow: hidden;
        flex: 1 1 auto;
        font-size: 0;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        padding: 0;
        margin-left: -1.5rem;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .tile__media-wrap {
        min-height: 0;
        display: -ms-flexbox;
        display: flex;
        padding-left: 1.5rem;
        width: 33.333333%;
        position: relative;
        overflow: hidden;
        font-size: 1rem;
    }
    .tile-action__image-wrap {
        height: auto;
        position: relative;
        text-align: center;
        margin: 0;
        width: 100%;
    }
    .custom_design .tile-action__image-wrap {
        background-color: #f1eb9c;
    }
    .upload_design .tile-action__image-wrap {
        background-color: #afcdd7;
    }
    .use_our_design .tile-action__image-wrap {
        background-color: #b6b8dc;
    }
    .tile-action__image-wrap svg {
        position: absolute !important;
        top: 50% !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
        left: 50% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        transform: translate(-50%, -50%) !important;
        height: 50%;
        width: 50%;
    }
    .tile__text-wrap {
        font-size: 1rem;
        width: 66.666667%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 1.125rem;
    }
    .tile__text-wrap-inner {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 0.1rem 2.25rem 1.5rem 0;
    }
    .h__block {
        line-height: 1.15;
        font-size: 1.35rem;
        margin-bottom: 0.1875em;
        font-weight: 500;
        color: #3f4a59;
    }
    .layout__item__inner:hover {
        box-shadow: 0 0.1875rem 0.625rem 0 rgba(79,90,109,0.3);
    }
    .tile__text-wrap-inner ul{
        margin: 0;
        list-style: none;
        padding: 0;
    }
    .tile--horizontal__chevron {
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        top: 50%;
        margin-top: auto;
        margin-bottom: auto;
        transform: translateY(-50%);
        right: 0.75rem;
        fill: #128a67;
        transition: right 200ms;
    }
    .layout__item__inner:hover .tile--horizontal__chevron{
        right: 0.4375rem;
    }
    .nbd-m-custom-design-wrap,
    .nbd-m-upload-design-wrap {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background: #fff;
    }
    .nbd-m-custom-design-wrap.is-visible,
    .nbd-m-upload-design-wrap.is-visible {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }
    .nbd-custom-design-wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .nbd-custom-design-wrap iframe {
        left: 0;
        top: 0;
        position: absolute;
    }
    .nbd-m-upload-design-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .inputfile + label {
        width: 320px;
        flex-direction: column;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 2px dashed #ddd;
        border-radius: 4px;
        color: #394264;
        cursor: pointer;
        padding: 10px;
        margin: 0 auto;
    }
    .inputfile + label.highlight {
        border-color: #394264;
    }
    .inputfile + label svg {
        width: 2em;
        height: 2em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        margin-right: 0.25em;
    }
    .upload-zone span {
        display: block;
        line-height: 20px;
    }
    .nbd-upload-items {
        width: 150px;
        height: 150px;
        display: inline-block;
        margin: 15px;
    }
    .nbd-upload-items-inner {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
    .nbd-upload-item {
        max-width: 100%;
        max-height: 100%;
    }
    .nbd-upload-item-title {
        position: absolute;
        border: 0;
        background: #fff;
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0 5px;
        white-space: nowrap;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.75);
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .nbd-upload-items-inner span {
        position: absolute;
        z-index: 2;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: #fff;
        line-height: 30px;
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        border-radius: 50%;
        font-size: 20px;
        color: #cc324b;
    }
    .nbd-upload-items-inner:hover span {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .upload-design-preview {
        margin: 15px;
        max-height: 300px;
        max-width: 720px;
        position: relative;
        overflow: hidden;
    }
    .submit-upload-design:hover {
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    }
    .submit-upload-design {
        height: 40px;
        border-radius: 20px;
        background: #fff;
        padding: 0 15px;
        color: #394264;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 40px;
        cursor: pointer;
        display: inline-block;
        margin-top: 15px;
        box-shadow: 0 5px 6px -3px rgba(0,0,0,.2), 0 9px 12px 1px rgba(0,0,0,.14), 0 3px 16px 2px rgba(0,0,0,.12);
    }
    .upload-zone {
        position: relative;
    }
    .upload-zone .nbd-upload-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -1;
        visibility: hidden;
        opacity: 0;
    }
    .upload-zone .nbd-upload-loading.is-visible {
        visibility: visible;
        z-index: 2;
        opacity: 1;
    }
    .inputfile + label.is-loading {
        opacity: 0.75;
    }
    .nbd-m-upload-design-wrap.is-loading {
        pointer-events: none;
    }
    #container-online-designer {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 400ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
        -moz-transition: opacity 400ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
        transition: opacity 400ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
    }
    #container-online-designer.is-visible {
        opacity: 1;
        z-index: 999999999;
        visibility: visible;
        -webkit-transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
        -moz-transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
        transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
    }
    .rtl .tile__text-wrap-inner {
        padding: 1.5rem 0 1.5rem 2.25rem;
    }
    @media only screen and (max-width: 40.0525em){
        .nbd-popup-wrap{
            padding: 5rem 0 3rem;
        }
        .layout__item {
            width: 100% !important;
        }
        .tile__media-wrap {
            width: 25%;
        }
        .tile__text-wrap {
            width: 75%;
        }
        .content__header {
            position: unset;
        }
    }
    @media screen and (max-width: 768px){
        #container-online-designer {
            height: 100%;
        }
    }
</style>
<div class="nbdesigner_frontend_container">
    <div id="nbd-actions" style="display: none;">
            <p>
                <?php if( is_user_logged_in() ): ?>
                    <a href="javascript:void(0)" onclick="NBDESIGNERPRODUCT.save_for_later()" class="button alt nbd-save-for-later" id="nbd-save-for-later">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                            <title>check2</title>
                            <path fill="#0085ba" d="M13.055 4.422c0 0.195-0.078 0.391-0.219 0.531l-6.719 6.719c-0.141 0.141-0.336 0.219-0.531 0.219s-0.391-0.078-0.531-0.219l-3.891-3.891c-0.141-0.141-0.219-0.336-0.219-0.531s0.078-0.391 0.219-0.531l1.062-1.062c0.141-0.141 0.336-0.219 0.531-0.219s0.391 0.078 0.531 0.219l2.297 2.305 5.125-5.133c0.141-0.141 0.336-0.219 0.531-0.219s0.391 0.078 0.531 0.219l1.062 1.062c0.141 0.141 0.219 0.336 0.219 0.531z"></path>
                        </svg>
                        <img class="nbd-save-loading hide" src="<?php echo NBDESIGNER_PLUGIN_URL.'assets/images/loading.gif' ?>"/>
                        <?php echo __('Save for later'); ?>
                    </a>
                <?php endif; ?>
                <?php
                $allow_donwload_pdf = false;
                if( $allow_donwload_pdf ):
                    ?>
                    <a href="javascript:void(0)" onclick="NBDESIGNERPRODUCT.download_pdf()" class="button alt nbd-download-pdf">
                        <img class="nbd-pdf-loading hide" src="<?php echo NBDESIGNER_PLUGIN_URL.'assets/images/loading.gif' ?>"/>
                        <?php echo __('Download PDF'); ?>
                    </a>
                <?php endif; ?>
            </p>
    </div>
    <div id="nbdesigner_frontend_area"></div>
    <h4 id="nbdesigner-preview-title" style="display: none;"><?php echo __('Custom design'); ?></h4>
    <h4 id="nbdesigner-upload-title" style="display: none;"></h4>
    <div id="nbdesigner_upload_preview" style="margin-bottom: 15px;"></div>

</div>
<script type="text/javascript">
    var nbd_allow_type = "<?php echo $helper->getAllowFileType() ?>",
        nbd_disallow_type = "<?php echo $helper->getDisallowFileType(); ?>",
        nbd_number = parseInt(<?php echo $helper->getNumberUpload(); ?>),
        nbd_minsize = parseInt(<?php echo $helper->getMinUploadDesign(); ?>),
        nbd_maxsize = parseInt(<?php echo $helper->getMaxUploadDesign(); ?>);

</script>
<div id="container-online-designer" data-iframe="<?php echo isset($src) ? $src : ''; ?>">
    <div class="nbd-m-custom-design-wrap" id="nbd-m-custom-design-wrap">
        <div id="nbd_processing">
            <div class="atom-loading">
                <div class="loading__ring">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><path d="M85.5,42c-0.2-0.8-0.5-1.7-0.8-2.5c-0.3-0.9-0.7-1.6-1-2.3c-0.3-0.7-0.6-1.3-1-1.9c0.3,0.5,0.5,1.1,0.8,1.7  c0.2,0.7,0.6,1.5,0.8,2.3s0.5,1.7,0.8,2.5c0.8,3.5,1.3,7.5,0.8,12c-0.4,4.3-1.8,9-4.2,13.4c-2.4,4.2-5.9,8.2-10.5,11.2  c-1.1,0.7-2.2,1.5-3.4,2c-0.5,0.2-1.2,0.6-1.8,0.8s-1.3,0.5-1.9,0.8c-2.6,1-5.3,1.7-8.1,1.8l-1.1,0.1L53.8,84c-0.7,0-1.4,0-2.1,0  c-1.4-0.1-2.9-0.1-4.2-0.5c-1.4-0.1-2.8-0.6-4.1-0.8c-1.4-0.5-2.7-0.9-3.9-1.5c-1.2-0.6-2.4-1.2-3.7-1.9c-0.6-0.3-1.2-0.7-1.7-1.1  l-0.8-0.6c-0.3-0.1-0.6-0.4-0.8-0.6l-0.8-0.6L31.3,76l-0.2-0.2L31,75.7l-0.1-0.1l0,0l-1.5-1.5c-1.2-1-1.9-2.1-2.7-3.1  c-0.4-0.4-0.7-1.1-1.1-1.7l-1.1-1.7c-0.3-0.6-0.6-1.2-0.9-1.8c-0.2-0.5-0.6-1.2-0.8-1.8c-0.4-1.2-1-2.4-1.2-3.7  c-0.2-0.6-0.4-1.2-0.5-1.9c-0.1-0.6-0.2-1.2-0.3-1.8c-0.3-1.2-0.3-2.4-0.4-3.7c-0.1-1.2,0-2.5,0.1-3.7c0.2-1.2,0.3-2.4,0.6-3.5  c0.1-0.6,0.3-1.1,0.4-1.7l0.1-0.8l0.3-0.8c1.5-4.3,3.8-8,6.5-11c0.8-0.8,1.4-1.5,2.1-2.1c0.9-0.9,1.4-1.3,2.2-1.8  c1.4-1.2,2.9-2,4.3-2.8c2.8-1.5,5.5-2.3,7.7-2.8s4-0.7,5.2-0.6c0.6-0.1,1.1,0,1.4,0s0.4,0,0.4,0h0.1c2.7,0.1,5-2.2,5-5  c0.1-2.7-2.2-5-5-5c-0.2,0-0.2,0-0.3,0c0,0-0.2,0.1-0.6,0.1c-0.4,0-1,0-1.8,0.1c-1.6,0.1-4,0.4-6.9,1.2c-2.9,0.8-6.4,2-9.9,4.1  c-1.8,1-3.6,2.3-5.4,3.8C26,21.4,25,22.2,24.4,23c-0.2,0.2-0.4,0.4-0.6,0.6c-0.2,0.2-0.5,0.4-0.6,0.7c-0.5,0.4-0.8,0.9-1.3,1.4  c-3.2,3.9-5.9,8.8-7.5,14.3l-0.3,1l-0.2,1.1c-0.1,0.7-0.3,1.4-0.4,2.1c-0.3,1.5-0.4,2.9-0.5,4.5c0,1.5-0.1,3,0.1,4.5  c0.2,1.5,0.2,3,0.6,4.6c0.1,0.7,0.3,1.5,0.4,2.3c0.2,0.8,0.5,1.5,0.7,2.3c0.4,1.6,1.1,3,1.7,4.4c0.3,0.7,0.7,1.4,1.1,2.1  c0.4,0.8,0.8,1.4,1.2,2.1c0.5,0.7,0.9,1.4,1.4,2s0.9,1.3,1.5,1.9c1.1,1.3,2.2,2.7,3.3,3.5l1.7,1.6c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0  c0,0,0,0,0,0l0.1,0.1l0.1,0.1h0.2l0.5,0.4l1,0.7c0.4,0.2,0.6,0.5,1,0.7l1.1,0.6c0.8,0.4,1.4,0.9,2.1,1.2c1.4,0.7,2.9,1.5,4.4,2  c1.5,0.7,3.1,1,4.6,1.5c1.5,0.3,3.1,0.7,4.7,0.8c1.6,0.2,3.1,0.2,4.7,0.2c0.8,0,1.6-0.1,2.4-0.1l1.2-0.1l1.1-0.1  c3.1-0.4,6.1-1.3,8.9-2.4c0.8-0.3,1.4-0.6,2.1-0.9s1.3-0.7,2-1.1c1.3-0.7,2.6-1.7,3.7-2.5c0.5-0.4,1-0.9,1.6-1.3l0.8-0.6l0.2-0.2  c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0,0,0,0v0.1l0.1-0.1l0.4-0.4c0.5-0.5,1-1,1.5-1.5c0.3-0.3,0.5-0.5,0.8-0.8l0.7-0.8  c0.9-1.1,1.8-2.2,2.5-3.3c0.4-0.6,0.7-1.1,1.1-1.7c0.3-0.7,0.6-1.2,0.9-1.8c2.4-4.9,3.5-9.8,3.7-14.4C87.3,49.7,86.6,45.5,85.5,42z"></path></svg>
                </div>
                <div class="loading__ring">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><path d="M85.5,42c-0.2-0.8-0.5-1.7-0.8-2.5c-0.3-0.9-0.7-1.6-1-2.3c-0.3-0.7-0.6-1.3-1-1.9c0.3,0.5,0.5,1.1,0.8,1.7  c0.2,0.7,0.6,1.5,0.8,2.3s0.5,1.7,0.8,2.5c0.8,3.5,1.3,7.5,0.8,12c-0.4,4.3-1.8,9-4.2,13.4c-2.4,4.2-5.9,8.2-10.5,11.2  c-1.1,0.7-2.2,1.5-3.4,2c-0.5,0.2-1.2,0.6-1.8,0.8s-1.3,0.5-1.9,0.8c-2.6,1-5.3,1.7-8.1,1.8l-1.1,0.1L53.8,84c-0.7,0-1.4,0-2.1,0  c-1.4-0.1-2.9-0.1-4.2-0.5c-1.4-0.1-2.8-0.6-4.1-0.8c-1.4-0.5-2.7-0.9-3.9-1.5c-1.2-0.6-2.4-1.2-3.7-1.9c-0.6-0.3-1.2-0.7-1.7-1.1  l-0.8-0.6c-0.3-0.1-0.6-0.4-0.8-0.6l-0.8-0.6L31.3,76l-0.2-0.2L31,75.7l-0.1-0.1l0,0l-1.5-1.5c-1.2-1-1.9-2.1-2.7-3.1  c-0.4-0.4-0.7-1.1-1.1-1.7l-1.1-1.7c-0.3-0.6-0.6-1.2-0.9-1.8c-0.2-0.5-0.6-1.2-0.8-1.8c-0.4-1.2-1-2.4-1.2-3.7  c-0.2-0.6-0.4-1.2-0.5-1.9c-0.1-0.6-0.2-1.2-0.3-1.8c-0.3-1.2-0.3-2.4-0.4-3.7c-0.1-1.2,0-2.5,0.1-3.7c0.2-1.2,0.3-2.4,0.6-3.5  c0.1-0.6,0.3-1.1,0.4-1.7l0.1-0.8l0.3-0.8c1.5-4.3,3.8-8,6.5-11c0.8-0.8,1.4-1.5,2.1-2.1c0.9-0.9,1.4-1.3,2.2-1.8  c1.4-1.2,2.9-2,4.3-2.8c2.8-1.5,5.5-2.3,7.7-2.8s4-0.7,5.2-0.6c0.6-0.1,1.1,0,1.4,0s0.4,0,0.4,0h0.1c2.7,0.1,5-2.2,5-5  c0.1-2.7-2.2-5-5-5c-0.2,0-0.2,0-0.3,0c0,0-0.2,0.1-0.6,0.1c-0.4,0-1,0-1.8,0.1c-1.6,0.1-4,0.4-6.9,1.2c-2.9,0.8-6.4,2-9.9,4.1  c-1.8,1-3.6,2.3-5.4,3.8C26,21.4,25,22.2,24.4,23c-0.2,0.2-0.4,0.4-0.6,0.6c-0.2,0.2-0.5,0.4-0.6,0.7c-0.5,0.4-0.8,0.9-1.3,1.4  c-3.2,3.9-5.9,8.8-7.5,14.3l-0.3,1l-0.2,1.1c-0.1,0.7-0.3,1.4-0.4,2.1c-0.3,1.5-0.4,2.9-0.5,4.5c0,1.5-0.1,3,0.1,4.5  c0.2,1.5,0.2,3,0.6,4.6c0.1,0.7,0.3,1.5,0.4,2.3c0.2,0.8,0.5,1.5,0.7,2.3c0.4,1.6,1.1,3,1.7,4.4c0.3,0.7,0.7,1.4,1.1,2.1  c0.4,0.8,0.8,1.4,1.2,2.1c0.5,0.7,0.9,1.4,1.4,2s0.9,1.3,1.5,1.9c1.1,1.3,2.2,2.7,3.3,3.5l1.7,1.6c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0  c0,0,0,0,0,0l0.1,0.1l0.1,0.1h0.2l0.5,0.4l1,0.7c0.4,0.2,0.6,0.5,1,0.7l1.1,0.6c0.8,0.4,1.4,0.9,2.1,1.2c1.4,0.7,2.9,1.5,4.4,2  c1.5,0.7,3.1,1,4.6,1.5c1.5,0.3,3.1,0.7,4.7,0.8c1.6,0.2,3.1,0.2,4.7,0.2c0.8,0,1.6-0.1,2.4-0.1l1.2-0.1l1.1-0.1  c3.1-0.4,6.1-1.3,8.9-2.4c0.8-0.3,1.4-0.6,2.1-0.9s1.3-0.7,2-1.1c1.3-0.7,2.6-1.7,3.7-2.5c0.5-0.4,1-0.9,1.6-1.3l0.8-0.6l0.2-0.2  c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0,0,0,0v0.1l0.1-0.1l0.4-0.4c0.5-0.5,1-1,1.5-1.5c0.3-0.3,0.5-0.5,0.8-0.8l0.7-0.8  c0.9-1.1,1.8-2.2,2.5-3.3c0.4-0.6,0.7-1.1,1.1-1.7c0.3-0.7,0.6-1.2,0.9-1.8c2.4-4.9,3.5-9.8,3.7-14.4C87.3,49.7,86.6,45.5,85.5,42z"></path></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="nbd-m-upload-design-wrap" id="nbd-m-upload-design-wrap">
        <div class="nbd-upload-inner">
            <h2><?php echo __('Upload design'); ?></h2>
            <div class="upload-zone">
                <input type="file" id="nbd-file-upload" autocomplete="off" class="inputfile"/>
                <label for="nbd-file-upload">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z">
                        </path>
                    </svg>
                    <span style="margin-bottom: 10px; margin-top: 10px;"><?php echo __('Click or drop file here'); ?></span>
                    <?php if ($helper->getAllowFileType() != ''): ?><span>
                        <small><?php echo __('Allow extensions'); ?>: <?php echo $helper->getAllowFileType(); ?></small>
                        </span>
                    <?php endif; ?>
                    <?php if ($helper->getDisallowFileType() != ''): ?><span>
                        <small><?php echo __('Disallow extensions'); ?>: <?php echo $helper->getDisallowFileType(); ?></small>
                        </span>
                    <?php endif; ?>
                    <span><small><?php echo __('Min size'); ?> <?php echo $helper->getMinUploadDesign(); ?> MB</small></span>
                    <span><small><?php echo __('Max size'); ?> <?php echo $helper->getMaxUploadDesign(); ?> MB</small></span>
                </label>
                <svg class="nbd-upload-loading" xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 50 50"><circle fill="none" opacity="0.05" stroke="#000000" stroke-width="3" cx="25" cy="25" r="20"/><g transform="translate(25,25) rotate(-90)"><circle  style="stroke:#48B0F7; fill:none; stroke-width: 3px; stroke-linecap: round" stroke-dasharray="110" stroke-dashoffset="0"  cx="0" cy="0" r="20"><animate attributeName="stroke-dashoffset" values="360;140" dur="2.2s" keyTimes="0;1" calcMode="spline" fill="freeze" keySplines="0.41,0.314,0.8,0.54" repeatCount="indefinite" begin="0"/><animateTransform attributeName="transform" type="rotate" values="0;274;360" keyTimes="0;0.74;1" calcMode="linear" dur="2.2s" repeatCount="indefinite" begin="0"/><animate attributeName="stroke" values="#10CFBD;#48B0F7;#ff0066;#48B0F7;#10CFBD" fill="freeze" dur="3s" begin="0" repeatCount="indefinite"/></circle></g></svg>
            </div>
            <div class="upload-design-preview"></div>
            <div class="submit-upload-design"><span onclick="hideDesignFrame()"><?php echo __('Complete'); ?></span></div>
            <p style="margin-top: 15px;margin-bottom: 0;color: #2a6496;cursor: pointer;" onclick="backtoOption()">← <?php echo __('Back to option'); ?></p>
        </div>
    </div>
    <?php if( isset($statusUploadDesign ) ? $statusUploadDesign : ''): ?>
        <div class="nbd-popup-wrap" id="nbd__content__overlay">
            <div class="nbd__pop__content">
                <div class="nbd__pop__content_wrapper">
                    <div class="__content_wrapper">
                        <div class="content__header"><?php echo __('How would you like to design your: '); ?><strong><?php echo $block->getTitleProduct(); ?></strong></div>
                        <div class="content__content">
                            <div class="layout__item">
                                <div class="layout__item__inner" id="open_m-upload-design-wrap">
                                    <div class="item__layout upload_design">
                                        <div class="tile__media-wrap">
                                            <div class="tile-action__image-wrap">
                                                <svg viewBox="0 0 49 30" width="100%" height="100%"><g stroke-width=".8" fill="none" fill-rule="evenodd"><path d="M39.793 8.384c.001-.053.004-.106.004-.16 0-2.56-2.061-4.637-4.603-4.637-1.226 0-2.339.485-3.164 1.273A13.124 13.124 0 0 0 22.726 1C16.135 1 10.672 5.86 9.673 12.217c-.055 0-.11-.004-.164-.004-4.7 0-8.509 3.838-8.509 8.572 0 4.59 3.58 8.336 8.08 8.56v.012h28.362c5.822 0 10.542-4.755 10.542-10.62 0-5.052-3.502-9.276-8.191-10.353z" stroke="#4B4F54" stroke-dasharray="2,2" fill="#FFF"></path><path d="M26.597 14.366l-2.054-2.022v11.691h-.749V12.343l-2.053 2.023-.53-.522 2.429-2.39.529-.522.53.522 2.427 2.39-.53.522zm-2.453-.974h.05l-.025-.024-.025.024z" stroke="#52575C" stroke-linejoin="round" fill="#52575C"></path></g></svg>
                                            </div>
                                        </div>
                                        <div class="tile__text-wrap">
                                            <div class="tile__text-wrap-inner">
                                                <h3 class="h__block"><?php echo __('Upload a full design'); ?></h3>
                                                <ul>
                                                    <li>- <?php echo __('Have a complete design'); ?></li>
                                                    <li>- <?php echo __('Have your own designer'); ?></li>
                                                </ul>
                                            </div>
                                            <svg class="tile--horizontal__chevron" viewBox="0 0 24 24" width="100%" height="100%"><path d="M10.5 18.5a1 1 0 0 1-.71-1.71l4.8-4.79-4.8-4.79A1 1 0 0 1 11.2 5.8l6.21 6.2-6.21 6.21a1 1 0 0 1-.7.29z"></path></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layout__item">
                                <div class="layout__item__inner" id="open_m-custom-design-wrap">
                                    <div class="item__layout custom_design">
                                        <div class="tile__media-wrap">
                                            <div class="tile-action__image-wrap">
                                                <svg viewBox="0 0 49 39" width="100%" height="100%"><g fill="none" fill-rule="evenodd"><path stroke="#4B4F54" stroke-dasharray="4,4" fill="#FFF" d="M2.577 2.627h44.165v34.392H2.577z"></path><path stroke="#52575C" fill="#FFF" d="M1.225 1.232H4.38v3.253H1.225zM44.939 1.232h3.155v3.253h-3.155zM1.225 35.16H4.38v3.253H1.225zM44.939 35.16h3.155v3.253h-3.155z"></path><path d="M32.663 23.91a.459.459 0 0 1-.46-.473v-.917c-.582.901-1.486 1.454-2.711 1.454-1.87 0-3.294-1.517-3.294-3.618 0-2.102 1.424-3.619 3.294-3.619 1.225 0 2.129.553 2.711 1.454v-.916c0-.269.2-.474.46-.474s.46.205.46.474v6.162c0 .268-.2.474-.46.474zm-3.049-6.367c-1.532 0-2.497 1.17-2.497 2.813 0 1.643.965 2.812 2.497 2.812 1.578 0 2.59-1.28 2.59-2.812 0-1.533-1.012-2.813-2.59-2.813zm-4.658 6.368c-.23 0-.353-.143-.414-.3l-1.256-2.892h-5.27l-1.257 2.891c-.061.158-.184.3-.414.3-.275 0-.444-.19-.444-.426 0-.079.03-.158.061-.22l4.26-9.813c.091-.205.214-.316.429-.316.214 0 .337.11.429.316l4.259 9.812c.03.063.061.142.061.221 0 .237-.169.427-.444.427zm-4.305-9.45l-2.284 5.42h4.566l-2.282-5.42z" fill="#FFC600"></path><path fill="#CC9E00" d="M15.646 25.865h18.477v.5H15.646z"></path></g></svg>
                                            </div>
                                        </div>
                                        <div class="tile__text-wrap">
                                            <div class="tile__text-wrap-inner">
                                                <h3 class="h__block"><?php echo __('Design here online'); ?></h3>
                                                <ul>
                                                    <li>- <?php echo __('Already have your concept'); ?></li>
                                                    <li>- <?php echo __('Customise every detail'); ?></li>
                                                </ul>
                                            </div>
                                            <svg class="tile--horizontal__chevron" viewBox="0 0 24 24" width="100%" height="100%"><path d="M10.5 18.5a1 1 0 0 1-.71-1.71l4.8-4.79-4.8-4.79A1 1 0 0 1 11.2 5.8l6.21 6.2-6.21 6.21a1 1 0 0 1-.7.29z"></path></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>

    <span id="closeFrameDesign" class="nbdesigner_pp_close">&times;</span>
</div>
<script type="text/javascript">
        require(['jquery'], function ($) {
            $(document).ready(function () {
                /* Drag & Drop uplod file */
                var nbdDropArea = $('label[for="nbd-file-upload"]'),
                    nbdInput = $('#nbd-file-upload');
                var listFileUpload = [];
                ['dragenter', 'dragover'].forEach(function (eventName) {
                    nbdDropArea.on(eventName, highlight)
                });
                ['dragleave', 'drop'].forEach(function (eventName) {
                    nbdDropArea.on(eventName, unhighlight)
                });

                function highlight(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    nbdDropArea.addClass('highlight');
                }

                function unhighlight(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    nbdDropArea.removeClass('highlight');
                }

                nbdDropArea.on('drop', handleDrop);

                function handleDrop(e) {
                    if ($('#accept-term').length && !$('#accept-term').is(':checked')) {
                        alert(NBDESIGNCONFIG.nbdlangs.alert_upload_term);
                        return;
                    } else {
                        if (e.originalEvent.dataTransfer) {
                            if (e.originalEvent.dataTransfer.files.length) {
                                e.preventDefault();
                                e.stopPropagation();
                                handleFiles(e.originalEvent.dataTransfer.files);
                            }
                        }
                    }
                }

                nbdInput.on('click', function (e) {
                    e.stopPropagation();
                });
                nbdInput.on('change', function () {
                    handleFiles(this.files);
                });

                function handleFiles(files) {
                    if (files.length > 0) uploadFile(files);
                }

                function uploadFile(files) {
                    var file = files[0],
                        type = file.type.toLowerCase();
                    if (listFileUpload.length > (nbd_number - 1)) {
                        alert('Exceed number of upload files!');
                        return;
                    }
                    if (type == '') {
                        type = file.name.substring(file.name.lastIndexOf('.') + 1).toLowerCase();
                    }
                    type = type == 'image/jpeg' ? 'image/jpg' : type;
                    if (nbd_disallow_type != '') {
                        var nbd_disallow_type_arr = nbd_disallow_type.toLowerCase().split(',');
                        var check = false;
                        nbd_disallow_type_arr.forEach(function (value) {
                            value = value == 'jpeg' ? 'jpg' : value;
                            if (type.indexOf(value) > -1) {
                                check = true;
                            }
                        });
                        if (check) {
                            alert('Disallow extensions: ' + nbd_disallow_type);
                            return;
                        }
                    }
                    if (nbd_allow_type != '') {
                        var nbd_allow_type_arr = nbd_allow_type.toLowerCase().split(',');
                        var check = false;
                        nbd_allow_type_arr.forEach(function (value) {
                            value = value == 'jpeg' ? 'jpg' : value;
                            if (type.indexOf(value) > -1) {
                                check = true;
                            }
                        });
                        if (!check) {
                            alert('Only support: ' + nbd_allow_type);
                            return;
                        }
                    }
                    if (file.size > nbd_maxsize * 1024 * 1024) {
                        alert('Max file size' + nbd_maxsize + " MB");
                        return;
                    } else if (file.size < nbd_minsize * 1024 * 1024) {
                        alert('Min file size' + nbd_minsize + " MB");
                        return;
                    }
                    var formData = new FormData;
                    formData.append('file', file);
                    $('.nbd-upload-loading').addClass('is-visible');
                    $('.upload-zone label').addClass('is-loading');
                    $('.nbd-m-upload-design-wrap').addClass('is-loading');
                    var first_time = listFileUpload.length > 0 ? 2 : 1;
                    var product_id = $('[name="nbd-add-to-cart"]').attr('value');
                    var ajax_url = '<?php echo $this->getUrl('onlinedesign/index/info', array('_current' => true)); ?>';
                    formData.append('first_time', first_time);
                    formData.append('action', 'nbd_upload_design_file');
                    formData.append('product_id', product_id);
                    $.ajax({
                        url: ajax_url,
                        method: "POST",
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: formData,
                        complete: function () {
                            $('.nbd-upload-loading').removeClass('is-visible');
                            $('.upload-zone label').removeClass('is-loading');
                            $('.nbd-m-upload-design-wrap').removeClass('is-loading');
                        },
                        success: function (data) {
                            console.log(data);
                            if (data.flag == 1) {
                                listFileUpload.push({src: data.src, name: data.name});
                                buildPreviewUpload();
                            } else {
                                alert(data.mes);
                            }
                        }
                    });
                };
                window.removeUploadFile = function (index) {
                    listFileUpload.splice(index, 1);
                    buildPreviewUpload();
                };
                show_upload_thumb = function (arr) {
                    if (arr.length) {
                        $('#nbdesigner-upload-title').show();
                    } else {
                        $('#nbdesigner-upload-title').hide();
                    }
                    var html = '';
                    var d = new Date();
                    $.each(arr, function (key, val) {
                        html += '<div class="img-con" style=\"display: inline-block; margin-right: 15px;\"><img src="' + val.src + '?t=' + d.getTime() + '" style=\"width: 100px;\"/><p class="nbd-file-title">' + val.name + '</p></div>'
                    });
                    $('#nbdesigner_upload_preview').html('').append(html);
                };
                update_nbu_value = function (arr) {
                    var files = '';
                    $.each(arr, function (key, val) {
                        files += key == 0 ? val.name : '|' + val.name;
                    });
                    if ($('#triggerDesign').length > 0) {
                        $('button[type="submit"].single_add_to_cart_button').show();
                    }
                    $('input[name="nbd-upload-files"]').val(files);
                };

                function buildPreviewUpload() {
                    show_upload_thumb(listFileUpload);
                    update_nbu_value(listFileUpload);
                    var html = '';
                    listFileUpload.forEach(function (file, index) {
                        html += '<div class="nbd-upload-items"><div class="nbd-upload-items-inner"><img src="' + file.src + '" class="shadow nbd-upload-item"/><p class="nbd-upload-item-title">' + file.name + '</p><span class="shadow" onclick="removeUploadFile(' + index + ')" >&times;</span></div></div>';
                    });
                    $('.upload-design-preview').html(html);
                }
            });
        });
</script>
<?php } ?>
