<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="product-options-bottom col-md-6 col-xs-12">
    <div class="nb-option">
        <?php echo $block->getChildHtml('', true);?>
    </div>
</div>
