<div class="block-search-inner"> 
	<div class="block-search-content">
		<form action="<?php echo $block->getFormAction();?>" method="get" id="search_form">
			<input type="text" name="q_str" class="block-search-input" placeholder="Search Post..." value="<?php
				if ($block->getSearchString()) {
					echo $block->getSearchString();
				}?>" />
			<input type="hidden" name="style" value="<?php echo $block->getListStyle(); ?>" />
			<button type="submit" class="sbm_button">
				<i class="icon-search-outline"></i>
			</button>
		</form>
	</div>
</div> 