<?php /** @var $block \Netbaseteam\Onlinedesign\Block\Designlist */ ?>
<?php $_productCollection = $block->getOnlineDesignProducts(); ?>
<?php if (count($_productCollection)): ?>
    <div class="create5-inner col-md-6">
        <div class="heading">
            <h2><?php echo __('create your own card'); ?></h2>
            <p><?php echo __('Choose an existing template and personalize it.'); ?> </p>
        </div>
        <div class="section-content row display-clear">
            <?php $i = 1; ?>
            <?php foreach ($_productCollection as $product): ?>
                <?php $productId = $product->getId(); ?>
                <?php $imageDesign = $block->getImageDesign($productId)?>
                <?php if($imageDesign) :?>
                    <?php if ($i <= 6): ?>
                        <div class="inner col-sm-6 col-md-4 col-lg-4">
                            <div class="create5-inner--img"><?php echo $imageDesign; ?>
                                <div class="create5-inner--mask">
                                    <a class="button" href="<?php echo $product->getProductUrl(); ?>"><?php echo __('Start Design'); ?></a>
                                </div>
                            </div> 
                        </div>
                    <?php endif; ?>
                    <?php $i++; ?>
                <?php endif; ?>                
            <?php endforeach; ?>
        </div>
    </div>
    <script type="text/javascript">
        require(['jquery'], function ($) {
            equalheight = function (container) {
                var currentTallest = 0,
                    currentRowStart = 0,
                    rowDivs = new Array(),
                    $el,
                    topPosition = 0;
                $(container).each(function () {

                    $el = jQuery(this);
                    jQuery($el).height('auto')
                    topPostion = $el.position().top;

                    if (currentRowStart != topPostion) {
                        for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                            rowDivs[currentDiv].height(currentTallest);
                        }
                        rowDivs.length = 0; // empty the array
                        currentRowStart = topPostion;
                        currentTallest = $el.height();
                        rowDivs.push($el);
                    } else {
                        rowDivs.push($el);
                        currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);
                    }
                    for (currentDiv = 0; currentDiv < rowDivs.length; currentDiv++) {
                        rowDivs[currentDiv].height(currentTallest);
                    }
                });
            };
            $(document).ready(function() {
                equalheight('.section-content .section-online__inner ');
            });
            $(window).resize(function () {
                equalheight('.section-content .section-online__inner');
            });
        });
    </script>
<?php endif; ?>