<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$leftImage = $block->getData('left_image');
$middleImage = $block->getData('middle_image');
$textHeading = $block->getData('text_heading');
$textBody = $block->getData('text_body');
$buttonText = $block->getData('button_text');
$buttonLink = $block->getData('button_link');
$convertId = explode("/", $buttonLink);
$cid = isset($convertId[1]) ? $convertId[1] : '';
$itemLink = $objectManager->create('Magento\Catalog\Model\Category')->load($cid)->getUrl();
$rightImage = $block->getData('right_image');
?>
<div class="main main_banner">
    <?php if ($leftImage || $textHeading || $middleImage): ?>
        <div class="nb-box-2-custom column-1">
            <?php if ($leftImage): ?>
                <div class="left-image">
                    <img src="<?= $block->getData('left_image') ?>" alt="left-image" width="300" height="300">
                </div>
            <?php endif; ?>
            <?php if ($middleImage || $textHeading || $buttonText): ?>
                <div class="middle-box-1-custom">
                    <?php if ($middleImage): ?>
                        <div class="middle-image">
                            <img src="<?= $block->getData('middle_image') ?>" alt="middle-image" width="300" height="300">
                        </div>
                    <?php endif; ?>
                    <?php if ($textHeading): ?>
                        <div class="text-headline">
                            <p class="content-headline">
                                <?= $textHeading ?>
                            </p>
                        </div>
                    <?php endif; ?>
                    <?php if ($textBody): ?>
                        <div class="text-description content">
                            <p class="content">
                                <?= html_entity_decode(strip_tags($textBody)) ?>
                            </p>
                        </div>
                    <?php endif; ?>
                    <?php if ($buttonText): ?>
                        <a class="btn-1 btn-banner" href="<?= $itemLink ?>">
                            <button> <?= $buttonText ?> </button>
                        </a>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
            <?php if ($rightImage): ?>
                <div class="right-image img-bg column-3 col">
                    <img src="<?= $rightImage ?>" alt="right-image" width="300" height="300">
                </div>
            <?php endif; ?>
        </div>
    <?php endif; ?>
</div>

