<?php
$titleHeading = $block->getData('title_heading');
$titleHeadingBox2 = $block->getData('title_heading_box_2');
$titleHeadingBox3 = $block->getData('title_heading_box_3');
$titleHeadingBox4 = $block->getData('title_heading_box_4');
$subTitle = $block->getData('sub_title');
$subTitleBox2 = $block->getData('sub_title_box_2');
$subTitleBox3 = $block->getData('sub_title_box_3');
$subTitleBox4 = $block->getData('sub_title_box_4');
?>
<div class="service bottom afterInsta">
    <div class="serviceItem">
        <h4 class="title"><?= $titleHeading ?></h4>
        <div class="discript_service">
            <p><?= html_entity_decode(strip_tags($subTitle)) ?></p>
        </div>
    </div>
    <div class="serviceItem">
        <h4 class="title"><?= $titleHeadingBox2 ?></h4>
        <div class="discript_service">
           <p><?= html_entity_decode(strip_tags($subTitleBox2)) ?></p>
        </div>
    </div>
    <div class="serviceItem">
        <h4 class="title"><?= $titleHeadingBox3 ?></h4>
        <div class="discript_service">
            <p><?= html_entity_decode(strip_tags($subTitleBox3)) ?></p>
        </div>
    </div>
    <div class="serviceItem">
        <h4 class="title"><?= $titleHeadingBox4 ?></h4>
        <div class="discript_service">
            <p><?= html_entity_decode(strip_tags($subTitleBox4)) ?></p>
        </div>
    </div>
</div>