& when (@media-common = true) {
	.swatch-attribute {
		&-options {
		  	margin-top: 10px;
		}
		&-label {
		  	font-weight: bold;
		  	position: relative;
		  	&.required {
		   	 	padding-right: 10px;
		  	}
		  	&[data-required="1"]:after {
			    content: '*';
			    color: red;
			    position: absolute;
			    right: -11px;
			    top: -2px;
			    font-weight: bold;
			    font-size: 1em;
			 }
		}
		&-selected-option {
		  	color: #646464;
		  	padding-left: 17px;
		}
		&.size .swatch-option, &.manufacturer .swatch-option {
			background: rgb(240, 240, 240);
			color: rgb(148, 148, 148);
		}
		&.size .swatch-option.selected, &.manufacturer .swatch-option.selected {
			color: black;
			background: @theme_color__white;
			border: 1px solid @theme_color__white;
		}
		&-options .swatch-option-tooltip-layered .title {
			width: 100%;
			height: 20px;
			position: absolute;
			bottom: -5px;
			left: 0;
			color: rgb(40, 40, 40);
			text-align: center;
			margin-bottom: 10px;
		}
	}

	.swatch-option {
		.border-radius(3px);
	  	width: 30px;
		padding: 1px 2px;
		min-width: 35px;
		max-width: 90px;
		height: 20px;
		float: left;
		margin: 0 10px 5px 0;
		text-align: center;
		cursor: pointer;
		position: relative;
		border: 1px solid rgb(218, 218, 218);
		overflow: hidden;
		text-overflow: ellipsis;
		&.text {
			background: #F0F0F0;
			color: #686868;
			font-size: 12px;
			font-weight: 700;
			line-height: 1;
			padding: 4px 8px;
			min-width: 35px;
    		max-width: 90px;
			margin-right: 7px;
		}
		&.selected {
			outline: 2px solid #ff5501;
			border: 1px solid @theme_color__white;
			color: @theme_color_333;
		}
		&.text.selected {
			background-color: @theme_color__white !important;
		}
		&:not(.disabled):hover {
		    outline: 1px solid @theme_color_silver;
		    border: 1px solid @theme_color__white;
		    color: @theme_color_333;
	  	}
		&.image:not(.disabled):hover, &.color:not(.disabled):hover {
			outline: 2px solid #ee0000;
			border: 1px solid @theme_color__white;
		}
	  	&.disabled {
	    	cursor: default;
	    &:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: -moz-linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 1) 46%, rgba(255, 82, 22, 1) 47%, rgba(255, 82, 22, 1) 53%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(42%, rgba(255, 255, 255, 0)), color-stop(43%, rgba(255, 255, 255, 1)), color-stop(46%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(255, 82, 22, 1)), color-stop(53%, rgba(255, 82, 22, 1)), color-stop(54%, rgba(255, 255, 255, 1)), color-stop(57%, rgba(255, 255, 255, 1)), color-stop(58%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
			background: -webkit-linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 1) 46%, rgba(255, 82, 22, 1) 47%, rgba(255, 82, 22, 1) 53%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
			background: -o-linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 1) 46%, rgba(255, 82, 22, 1) 47%, rgba(255, 82, 22, 1) 53%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
			background: -ms-linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 1) 46%, rgba(255, 82, 22, 1) 47%, rgba(255, 82, 22, 1) 53%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
			background: linear-gradient(to left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 42%, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 1) 46%, rgba(255, 82, 22, 1) 47%, rgba(255, 82, 22, 1) 53%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
			}
		}
		&-tooltip {
			max-width: 140px;
			max-height: 100%;
			min-height: 20px;
			min-width: 20px;
			position: absolute;
			padding: 5px;
			background: @theme_color__white;
			color: rgb(148, 148, 148);
			border: 1px solid #adadad;
			z-index: 999;
			text-align: center;
			border-radius: 50%;
			display: none;
			.corner {
				position: absolute;
				bottom: -3px;
				height: 8px;
			}
			.corner:after, &-layered .corner:after {
				content: '';
				position: static;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7px 7.5px 0 7.5px;
				border-color: #adadad transparent transparent transparent;
				font-size: 1px;
			}
			.image, &-layered .image {
				display: block;
				height: 130px;
				width: 130px;
				margin: 0 auto;
				border-radius: 50%;
			}
			&-layered {
				width: 140px;
				position: absolute;
				background: @theme_color__white;
				color: rgb(148, 148, 148);
				border: 1px solid #adadad;
				display: none;
				z-index: 999;
				left: -47px;
				.corner {
					left: 40%;
					position: absolute;
					bottom: 0;
					height: 8px;
				}
			}
			.title {
				max-width: 140px;
				min-height: 20px;
				max-height: 200px;
				color: rgb(40, 40, 40);
				text-align: center;
				display: none;
				overflow: hidden;
			}
		}
		&-link-layered {
			position: relative;
			margin: 0 !important;
			padding: 0 !important;
			&:focus > div {
				.box-shadow(0 0 3px 1px #68a8e0);
			}
			&:hover > .swatch-option-tooltip-layered {
	  			display: block;
			}
		}
		&-disabled {
			&:after {
				content: '';
				position: absolute;
				width: 42px;
				height: 2px;
				background: red;
				z-index: 995;
				left: -4px;
				top: 10px;
				.transform(rotate(-30deg));
			}
			outline: none !important;
			cursor: default;
			border: 0;
		}
		&-loading {
	  		content: url("../images/loader-2.gif");
		}
	}


	.swatch-opt {
	  	margin: 20px 0;
	}

	.swatch-more {
	 	display: inline-block;
	  	margin: 2px 0;
	 	text-decoration: none !important;
	 	position: static;
	  	z-index: 1;
	}
	.swatch-visual-tooltip-layered {
	  	height: 160px;
	  	top: -170px;
	}
	.swatch-textual-tooltip-layered {
	  	height: 30px;
	  	top: -40px;
	}
	.swatch-opt {
		&-listing {
		  	margin-bottom: 10px;
		}
	}
	.swatch-input {
		left: -1000px;
		position: absolute;
		visibility: hidden;
	}
	.catalogsearch-result-index {
		.product-options {
			&-wrapper .fieldset {
				margin: 0;
			}
			&-bottom {
				width: 100%;
    			padding: 0;
				.box-tocart {
					.field.qty {
						padding: 0;	
					}
					.actions {
						#product-addtocart-button {
							width: 100%;
							&:before {
								font-size: @h2__font-size;
	    						padding-right: 3px;
							}
						}
					}
				}
			}
		}
		.price-box.price-final_price {
			margin-bottom: 10px;
		}
		.clearfix:after {
			content: " ";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
	}
}