// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  UI -> Data Grid -> Header
//  _____________________________________________

//
//  Components
//  ---------------------------------------------

@import 'data-grid-header/_data-grid-filters.less';
@import 'data-grid-header/_data-grid-pager.less';
//  Actions group
@import 'data-grid-header/_data-grid-action-bookmarks.less';
@import 'data-grid-header/_data-grid-action-columns.less';
@import 'data-grid-header/_data-grid-action-export.less';
@import 'data-grid-header/_data-grid-sticky-header.less';

.admin__data-grid-header {
    font-size: @font-size__base; // ToDo UI: should be deleted, added to prevent fz override with .grid
}

.admin__data-grid-header-row {
    &:extend(.abs-clearfix all);
    + .admin__data-grid-header-row {
        margin-top: @data-grid-header-row__indent - @data-grid-header-add-indent__bottom;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .action-select-wrap {
        display: block;
    }

    .action-select {
        width: 100%;
    }
}

//
//  Data grid Header Actions group
//  ---------------------------------------------

.admin__data-grid-actions-wrap {
    float: right;
    margin-left: 1.1rem;
    text-align: right;

    .admin__action-dropdown-wrap {
        position: relative;
        text-align: left;
        vertical-align: middle;

        &._active,
        &._active + .admin__action-dropdown-wrap, // ToDo UI: remove after bookmarks ready
        &._hide + .admin__action-dropdown-wrap,
        &:first-child {
            &:after {
                display: none;
            }
        }

        &._active {
            .admin__action-dropdown,
            .admin__action-dropdown-menu{
                &:after{
                    border-color: #fff transparent transparent transparent;
                }
            }
            .admin__action-dropdown{
                border: none;
                background-color: @nb-color-active;
                color: #fff;
            }
        }

        &:after {
            border-left: 1px solid @color-gray80;
            content: '';
            height: @action__height;
            left: 0;
            position: absolute;
            top: 0;
            z-index: 3;
        }
    }

    .admin__action-dropdown {
        padding-bottom: 0px;
        padding-top: 5px;
        &:after {
            margin-top: -.3rem;
        }
    }
}
