//  Loader variables
//  _____________________________________________

@loader-overlay__background-color: rgba(255, 255, 255, .5);
@loader-overlay__z-index: 9999;

@loader-icon__width: 160px;
@loader-icon__height: 160px;
@loader-icon__background-color: transparent;
@loader-icon__background-image: url('@{baseDir}images/loader-2.gif');
@loader-icon__background-position: 50% 50%;
@loader-icon__border-radius: 5px;
@loader-icon__padding: '';

@loader-text: false;
@loader-text__color: @primary__color;
@loader-text__font-size: @font-size__base;
@loader-text__font-family: @font-family__base;
@loader-text__font-weight: @font-weight__regular;
@loader-text__font-style: @font-style__base;
@loader-text__padding: 130px 0 0;

@loading__background-color: @loader-overlay__background-color;
@loading__background-image: @loader-icon__background-image;
