<?php /**
 * Copyright 2017 Netbaseteam, Inc. All rights reserved.
 */ ?>
<?php /** @var $block \Netbase\Product\Block\NewProduct */ ?>
<?php
$showWishlist = true;
$showCompare = true;
$_helper = $this->helper('Netbase\Product\Helper\Data');
$config = $_helper->getConfig("pro_new/general");
$categories = explode(',', $config['categories']);
$attributeId = $config['attribute_code'];
$title = $_helper->getTitle('pro_new/general/title');
$currentSymbol = $_helper->getCurrencySymbol();
$banner = $_helper->getBanner('pro_new/general/banner');
$tabs = $_helper->getAllTabs('pro_new/general/categories', 'new-product-tab');

?>
<?php if (!empty($categories)): ?>
    <section class="section-home5 new-product5 product-list test" data-action="tab-pro-new">
        <div>
            <div class="HeadingBanner">
                <hr class="line-left">
                <h4 class="heading"><?php echo __('UNSERE NEUESTEN KARTEN') ?></h4>
                <hr class="line-right">
            </div>
            <div class="section-content">
                <div class="tab-list">
                    <div class="tab-header">
                        <ul class="title-list tabs-new">
                            <li class="tab-link custom-filter current" data-tab="last-item-filter">
                            <span class="alle-text">
                                  <?php echo __('Alle') ?>
                            </span>
                            </li>
                            <?php echo $tabs; ?>
                        </ul>
                    </div>
                    <div class="tab-main">
                        <div class="product-list-content">
                            <div class="row products wrapper home-product-slider products-grid nb-list-custom-filter"></div>
                        <?php $j = 1; foreach ($categories as $key => $cateId): ?>
                            <?php $productCollection = $block->getProductCollection($cateId); ?>
                            <div class="row products wrapper home-product-slider products-grid nb-list" data-rev="<?php echo $cateId; ?>">
                                <?php if ($j == 1): ?>
                                    <div class="product-inner5 col-lg-12">
                                        <ol class="products list items product-items row">
                                            <?php $i = 0;
                                            foreach ($productCollection as $key => $_product): ?>
                                                <li class="product item">
                                                    <div class="product-item-info" data-container="product-grid">

                                                        <?php
                                                        $originalPrice = $_product->getPrice();  //200
                                                        $specialPrice = $_product->getSpecialPrice();
                                                        ?>
                                                        <?php if (($specialPrice) && ($specialPrice <= $originalPrice)) { ?>
                                                            <div class="sale">
			                                        <span>
			                                        <?php
                                                    $saleof = abs(($specialPrice / ($originalPrice)) * 100 - 100);
                                                    echo '- ';
                                                    print_r(floor($saleof));
                                                    echo '%';
                                                    ?>
			                                        </span>
                                                            </div>
                                                        <?php } ?>
                                                        <?php
                                                        $image = 'category_page_grid' or 'category_page_list';
                                                        $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
                                                        $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250)->getUrl();
                                                        ?>
                                                        <div class="product-item-actions-wrap">
                                                            <a href="<?php echo $_product->getProductUrl() ?>"
                                                               class="product photo product-item-photo display-flex"
                                                               tabindex="-1">
                                                                <img alt="" src="<?php echo $productImage; ?>"/>
                                                            </a>
                                                            <div class="product actions product-item-actions">
                                                                <div class="inner-actions">
                                                                    <?php
                                                                    $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                                                    ?>
                                                                    <div class="actions-primary dfsdfsfd">

                                                                        <?php if ($_product->isSaleable()): ?>
                                                                            <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>

                                                                                <button class="action tocart primary one"
                                                                                        data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */
                                                                                        echo $block->getAddToCartUrl($_product) ?>"}}'
                                                                                        type="button"
                                                                                        title="<?php /* @escapeNotVerified */
                                                                                        echo __('Add to Cart') ?>">
                                                                                    <span><?php /* @escapeNotVerified */
                                                                                        echo __('Add to Cart') ?></span>
                                                                                </button>
                                                                            <?php else: ?>
                                                                                <?php
                                                                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                                $postDatas = $_helper->getAddToCartPostParams($_product);
                                                                                $postData = json_encode($postDatas);
                                                                                ?>
                                                                                <button class="action tocart primary two"
                                                                                        data-post='<?php /* @escapeNotVerified */
                                                                                        echo $postData; ?>'
                                                                                        type="button"
                                                                                        title="<?php /* @escapeNotVerified */
                                                                                        echo __('Add to Cart') ?>">
                                                                                    <span><?php /* @escapeNotVerified */
                                                                                        echo __('Add to Cart') ?></span>
                                                                                </button>
                                                                            <?php endif; ?>
                                                                        <?php else: ?>
                                                                            <?php if ($_product->getIsSalable()): ?>
                                                                                <div class="stock available">
                                                                                    <span><?php /* @escapeNotVerified */
                                                                                        echo __('In stock') ?></span>
                                                                                </div>
                                                                            <?php else: ?>
                                                                                <div class="stock unavailable">
                                                                                    <span><?php /* @escapeNotVerified */
                                                                                        echo __('Out of stock') ?></span>
                                                                                </div>
                                                                            <?php endif; ?>
                                                                        <?php endif; ?>
                                                                    </div>
                                                                    <?php if ($showWishlist || $showCompare): ?>
                                                                        <?php
                                                                        $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                                                                        $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                                                                        ?>
                                                                        <div class="actions-secondary"
                                                                             data-role="add-to-links">
                                                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                                                <a href="#"
                                                                                   data-post='<?php /* @escapeNotVerified */
                                                                                   echo $objBlock->getAddToWishlistParams($_product); ?>'
                                                                                   class="action towishlist"
                                                                                   data-action="add-to-wishlist"
                                                                                   title="<?php /* @escapeNotVerified */
                                                                                   echo __('Add to Wish List') ?>">
                                                                                    <span>Add to Wish List</span>
                                                                                </a>
                                                                                <a href="#"
                                                                                   class="action tocompare"
                                                                                   title="<?php echo __('Add To Compare'); ?>"
                                                                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                                                                   data-post='<?php /* @escapeNotVerified */
                                                                                   echo $compareHelper->getPostDataParams($_product); ?>'
                                                                                   role="button">
                                                                                    <span>Compare</span>
                                                                                </a>
                                                                            <?php endif; ?>
                                                                        </div>
                                                                    <?php endif; ?>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <?php
                                                if ($i == 4) {
                                                    break;
                                                }
                                                $i++; endforeach;
                                            ?>
                                        </ol>
                                    </div>
                                <?php endif; ?>
                            </div>
                            <?php $j++; endforeach ?>
                    </div>
                </div>
            </div>
        </div>
        <?php if ($block->getCategoryShowAll()): ?>
            <div class="action-box">
                <a href="<?php echo $block->getCategoryShowAllUrl(); ?>" class="btn-link view-more-btn button">
                    <span><?php echo __('View More'); ?></span>
                    <i class="icon-right-thin"></i>
                </a>
            </div>
        <?php endif ?>
        </div>
    </section>
    <script type="text/javascript">
        require([
                'jquery',
                'jquery/ui'
            ],
            function ($, tabs) {
                $(document).ready(function () {
                    $('li span.alle-text').click(function(e){
                        e.preventDefault();
                    });
                    var last_item_filter = $('li.tab-link.custom-filter.current').attr('data-tab');
                    var param = {
                        'type': 'newproduct',
                        'product_newest': last_item_filter,
                        'home': 'home5',
                    };
                    if(last_item_filter) {
                        $.ajax({
                            url: "<?php echo $this->getUrl('product/index/index') ?>",
                            data: param,
                            type: "POST",
                            showLoader: true,
                            dataType: 'json'
                        }).done(function (data) {
                            let html = $(data.cate_view);
                            if (data.accept === 1) {
                                $(".new-product5 .row.products.wrapper.home-product-slider.products-grid.nb-list-custom-filter").html(html).addClass('current loaded');
                                $(".tab-link.custom-filter").addClass('current');
                            }
                        });
                    }

                    $('.new-product5 ul.tabs-new li').click(function (event) {
                        var tab_id = $(this).attr('data-tab');
                        var cat_id = $(this).attr('data-rev');
                        var last_item_filter = $(this).attr('data-tab');
                        $('.new-product5 ul.tabs-new li').removeClass('current');
                        $('.new-product5 .nb-list').removeClass('current');
                        $(".tab-link.custom-filter").removeClass('current');
                        $('.new-product5 .nb-list-custom-filter').removeClass('current');
                        $(".new-product5 div[data-rev='" + cat_id + "']").addClass('current');
                        $(".new-product5 li[data-rev='" + cat_id + "']").addClass('current');
                        var hasloaded = !$(".new-product5 div[data-rev='" + cat_id + "']").hasClass('loaded');
                        if (hasloaded) {
                            var param = {
                                'categoryId': cat_id,
                                'type': 'newproduct',
                                'product_newest': last_item_filter,
                                'home': 'home5',
                            };
                            $.ajax({
                                url: "<?php echo $this->getUrl('product/index/index') ?>",
                                data: param,
                                type: "POST",
                                showLoader: true,
                                dataType: 'json'
                            }).done(function (data) {
                                let html = $(data.cate_view);
                                if (data.accept === 1) {
                                    $(".new-product5 .row.products.wrapper.home-product-slider.products-grid.nb-list-custom-filter").html(html).addClass('current loaded');
                                    $(".tab-link.custom-filter").addClass('current');
                                }
                                $(".new-product5 div[data-rev='" + cat_id + "']").html(html);
                            });
                        }
                        $(".new-product5 div[data-rev='" + cat_id + "']").addClass('loaded');
                        $("div .tab-link.custom-filter").addClass('loaded');
                    })
                });
            });
    </script>
<?php endif ?>