.mst-sorting-criterion-listing__cluster-html {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > div {
        display: inline-flex;
        margin: 2px 0;

        > div {
            border: solid #1967d2;
            border-width: 1px 0 1px 0;
            background: #e8f0fe;
            padding: 1px 8px;
            height: 24px;
            display: flex;
            align-items: center;
            white-space: nowrap;

            i {
                display: block;
                font-style: normal;
                width: 8rem;
            }

            small {
                display: block;
                background-color: #1967d2;
                border-radius: 8px;
                color: #fff;
                font-size: 11px;
                line-height: 16px;
                font-weight: 500;
                margin: 2px 0 2px 8px;
                padding: 0 8px;
                vertical-align: middle;
            }

            b {
                display: block;
                margin: 0 2rem 0 1rem;
                font-weight: 600;
            }
        }

        svg {
            fill: #e8f0fe;
            stroke: #1967d2;
            min-width: 12px;
            width: 12px;
            height: 24px;
        }

        &:first-child {
            div {
                border-left-width: 1px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            svg.before {
                display: none;
            }
        }

        &:last-child {
            div {
                border-right-width: 1px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            svg.after {
                display: none;
            }
        }

        &:nth-child(2n) {
            > div {
                background-color: #c8e6c9;
                border-color: #2e7d32;

                small {
                    background-color: #2e7d32;
                }
            }

            svg {
                fill: #c8e6c9;
                stroke: #2e7d32;
            }
        }
    }
}