<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$subCatUrl = $block->getData('sub_cat_url');
$convertId = explode("/", $subCatUrl);
$itemLink = isset($convertId[1]) ? $convertId[1] : '';
$urlCat = $objectManager->create('Magento\Catalog\Model\Category')->load($itemLink)->getUrl();
$bgImage = $block->getData('bg_image');
$headingText = $block->getData('heading_text');
$headingSubline = $block->getData('heading_sub_line');
$urlBtn = $block->getData('url_btn');
$convertBtn = explode("/", $urlBtn);
$itemLinkBtn = isset($convertBtn[1]) ? $convertBtn[1] : '';
$urlBtnLink = $objectManager->create('Magento\Catalog\Model\Category')->load($itemLinkBtn)->getUrl();
$labelBtn = $block->getData('label_btn');
?>
<div class="top_header cardshop info_bar">
    <h4 class="title_info_bar">WAS GIBT ES NEUES ? <i class="icon-back_01_white" aria-hidden="true"></i></h4>
    <div class="bg_info_bar" style="background: url('<?= $bgImage ?>');background-size: cover;
    background-position: right;">
        <div class="discript">
            <a href="<?= $urlBtnLink ?>">
            <h1 class="headline"><?= $headingText ?></h1>
            </a>
                <h3 class="heading-subline">
                    <?= $headingSubline ?>
                </h3>
        </div>
        <div class="btn_link_info">
            <a href="<?= $urlCat ?>"><?= $labelBtn ?></a>
        </div>
    </div>
    <div class="close">
        <i class="icon-cancel close"></i>
    </div>
</div>
<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){
        /* Show Hide Info Bar */
        $(document).ready(function($) {
            $('.title_info_bar').click(function(event){
                $(".bg_info_bar").slideToggle();
                $(this).toggleClass('show');
                event.stopPropagation();
            });
            $('.info_bar .close').click(function(e){
                $(".top_header.cardshop.info_bar").fadeOut('slow');
            });
        });
        /* End */
        /* Scroll Top menu */
        $(window).scroll(function() {
            if ($(this).scrollTop()  >= 350) {
                $(".page-header.header-container.typeseven").addClass('scrolling');
            } else {
                $(".page-header.header-container.typeseven").removeClass('scrolling');
            }
            let cate = $('.catalog-category-view').attr('class');
            let product = $('.catalog-product-view').attr('class');
            if ($('body').hasClass(cate) || $('body').hasClass(product)) {
                if ($(this).scrollTop() >= 350) {
                    $(".top_header.cardshop.info_bar").hide();
                    $('.two-nd-header-sub-categories').css('top', $(".page-header.header-container.typeseven .nav-sections").height() + 1);
                    $('.two-nd-header-sub-categories').addClass('scrolling');
                    $('.panel.wrapper').show();

                } else {
                    $(".top_header.cardshop.info_bar").show();
                    $('.two-nd-header-sub-categories').removeClass('scrolling');
                    $(".page-header.header-container.typeseven").show();
                }
            }
        });
    });
</script>
