<?php
$textHeading = $block->getData('text_heading');
$subHeading = $block->getData('sub_heading');
$textBody = $block->getData('text_body');
$textHeadingSecond = $block->getData('text_heading_second');
$subHeadingSecond = $block->getData('sub_heading_second');
$textBodySecond = $block->getData('text_body_second');
$textHeadingThird = $block->getData('text_heading_third');
$subHeadingThird = $block->getData('sub_heading_third');
$textBodyThird = $block->getData('text_body_third');

?>
<?php if($textHeading || $subHeading || $textBody
    || $textHeadingSecond || $subHeadingSecond
    || $textBodySecond || $textHeadingThird ||
    $subHeadingThird || $textBodyThird) : ?>
<div class="more_information">
    <div class="content">
        <div class="items_infor">
            <h4 class="title"><?= isset($textHeading) ? $textHeading : ''; ?></h4>
            <span class="sub_title"><?= isset($subHeading) ? $subHeading : ''; ?></span>
            <div class="discription"><?= isset($textBody) ? html_entity_decode(strip_tags($textBody)) : ''; ?></div>
        </div>
        <div class="items_infor">
            <h4 class="title"><?= isset($textHeadingSecond) ? $textHeadingSecond : ''; ?></h4>
            <span class="sub_title"><?= isset($subHeadingSecond) ? $subHeadingSecond : ''; ?></span>
            <div class="discription"> <?= isset($textBodySecond) ? html_entity_decode(strip_tags($textBodySecond)) : ''; ?> </div>
        </div>
        <div class="items_infor">
            <h4 class="title"><?= isset($textHeadingThird) ? $textHeadingThird : ''; ?></h4>
            <span class="sub_title"><?= isset($subHeadingThird) ? html_entity_decode(strip_tags($subHeadingThird)) : ''; ?></span>
            <div class="discription"><?= isset($textBodyThird) ? html_entity_decode(strip_tags($textBodyThird)) : ''; ?></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){
        $(document).ready(function($) {
            $('.more_information .items_infor').click(function(event){
                $(this).toggleClass('action');
                $(this).children('.discription').slideToggle();
                event.stopPropagation();
            });
            $(this).children('.discription').css('display','none');
        });
    });
</script>
<?php endif; ?>
<style>
    .cms-index-index .more_information {
        clear: both;
    }
</style>
