
<?php
	$cateId = $block->getCategoryId(); 
	$productCollection = $block->getProductCollection($cateId); 
	$_helper = $this->helper('Netbase\Product\Helper\Data');
	$currentSymbol = $_helper->getCurrencySymbol();
	$showWishlist = true;
    $showCompare = true;
    $checkHome = $block ->getHomeName();
    $type = 'widget-new-grid';
?>
<?php if($checkHome == 'home1') :?>
	<ol class="products list items product-items row display-clear">
        <?php $i=0; foreach ($productCollection as $key => $_product): ?>
        <li class="product item col-sm-6 col-md-3 col-lg-3">
            <div class="product-item-info" data-container="product-grid">
                <?php      
                    $originalPrice = $_product->getPrice();  //200 
                    $specialPrice = $_product->getSpecialPrice();  
                    ?>
                <?php if(($specialPrice)&&($specialPrice <= $originalPrice)){?>	
                <div class="sale">
                    <span> 
                    <?php
                        $saleof= abs(($specialPrice/($originalPrice))*100-100);
                        echo '- ';    
                        print_r(floor($saleof));
                        echo '%'; 
                        ?>									 
                    </span> 
                </div>
                <?php } ?>
                <?php
                    $image = 'category_page_grid' or 'category_page_list';
                    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
                    //var_dump($_imagehelper->init($_product, $image)->getData());die;
                    $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250)->getUrl();
                    ?>
                <div class="product-item-actions-wrap">
                    <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo display-flex" tabindex="-1">
                    <img class="product-image-photo" alt="" src="<?php echo $productImage; ?>" />
                    </a> 
                    <div class="product actions product-item-actions"> 
                        <?php
                            $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                            ?> 
                        <div class="actions-primary">
                            <?php if ($_product->isSaleable()): ?>
                                <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                    <button class="action tocart primary one"
                                            data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_product) ?>"}}'
                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                    </button>
                                <?php else: ?>
                                    <?php
                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper') ; 
                                        $postDatas = $_helper->getAddToCartPostParams($_product);
                                        $postData = json_encode($postDatas);
                                    ?>
                                    <button class="action tocart primary two"
                                            data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                    </button>
                                <?php endif; ?>
                            <?php else: ?>
                                <?php if ($_product->getIsSalable()): ?>
                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                <?php else: ?>
                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                        <?php if ($showWishlist || $showCompare): ?>
                        <?php
                            $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                            $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                            ?>
                        <div class="actions-secondary" data-role="add-to-links"> 
                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                            <a href="#"
                                data-post='<?php /* @escapeNotVerified */ echo $objBlock->getAddToWishlistParams($_product); ?>'
                                class="action towishlist" data-action="add-to-wishlist"
                                title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#"
                                class="action tocompare"
                                title="<?php echo __('Add To Compare'); ?>"
                                aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                                role="button"> 
                                <span>Compare</span>
                            </a>
                            <?php endif; ?>  
                        </div>
                        <?php endif; ?> 
                    </div>
                </div>
                <div class="product details product-item-details">
                    <div class="inner-product">
                        <a title="<?php echo $_product->getName(); ?>" href="<?php echo $_product->getProductUrl() ?>" class="product-item-link">
                        <?php echo substr($_product->getName(),0,30); ?>
                        </a>
                        <?php
                            $originalPrice = $_product->getData('price')+0;
                            $finalPrice = $_product->getData('special_price')+0; 
                            ?>
                        <div class="price-home <?php if($finalPrice){ echo 'price-sale'; } ?>">
                            <?php
                                if ($finalPrice) {
                                    echo "<span class='special'>".$_helper->getFormatPrice($finalPrice, 2)."</span>";
                                };
                                //
                                if ($originalPrice) {
                                    echo "<span class='normal'>".$_helper->getFormatPrice($originalPrice, 2)."</span>";
                                }; 
                                ?>
                        <?php echo $this->getProductPricetoHtml($_product, $type); ?>
                        </div>

                        <div class="swatch">
                                <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>
                    </div>
                </div>
            </div>
        </li> 
        <?php
			if ($i == 7) {
				break;
			}
			$i++; endforeach;
		?>
    </ol> 
<?php elseif($checkHome == 'home2') :?>
    <ol class="products list items product-items row">
        <?php $i=0; foreach ($productCollection as $key => $_product): ?>
        <li class="product product-item item">
            <div class="product-item-info" data-container="product-grid">
                <?php      
                    $originalPrice = $_product->getPrice();  //200 
                    $specialPrice = $_product->getSpecialPrice();  
                    ?>
                <?php if(($specialPrice)&&($specialPrice <= $originalPrice)){?> 
                <div class="sale">
                    <span> 
                    <?php
                        $saleof= abs(($specialPrice/($originalPrice))*100-100);
                        echo '- ';    
                        print_r(floor($saleof));
                        echo '%'; 
                        ?>                                   
                    </span> 
                </div>
                <?php } ?>
                <?php
                    $image = 'category_page_grid' or 'category_page_list';
                    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
                    //var_dump($_imagehelper->init($_product, $image)->getData());die;
                    $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250)->getUrl();
                    ?>
                <div class="product-item-actions-wrap">
                    <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo display-flex" tabindex="-1">
                    <img class="product-image-photo" alt="" src="<?php echo $productImage; ?>" />
                    </a> 
                    <div class="product actions product-item-actions"> 
                        <?php
                            $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                            ?> 
                        <div class="actions-primary">
                            <?php if ($_product->isSaleable()): ?>
                                <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                    <button class="action tocart primary one"
                                            data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_product) ?>"}}'
                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                    </button>
                                <?php else: ?>
                                    <?php
                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper') ; 
                                        $postDatas = $_helper->getAddToCartPostParams($_product);
                                        $postData = json_encode($postDatas);
                                    ?>
                                    <button class="action tocart primary two"
                                            data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                    </button>
                                <?php endif; ?>
                            <?php else: ?>
                                <?php if ($_product->getIsSalable()): ?>
                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                <?php else: ?>
                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                        <?php if ($showWishlist || $showCompare): ?>
                        <?php
                            $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                            $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                            ?>
                        <div class="actions-secondary" data-role="add-to-links"> 
                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                            <a href="#"
                                data-post='<?php /* @escapeNotVerified */ echo $objBlock->getAddToWishlistParams($_product); ?>'
                                class="action towishlist" data-action="add-to-wishlist"
                                title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                            <span>Add to Wish List</span>
                            </a>
                            <a href="#"
                                class="action tocompare"
                                title="<?php echo __('Add To Compare'); ?>"
                                aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                                role="button"> 
                                <span>Compare</span>
                            </a>
                            <?php endif; ?>  
                        </div>
                        <?php endif; ?> 
                    </div>
                </div>
                <div class="product details product-item-details">
                    <div class="inner-product">
                        <a title="<?php echo $_product->getName(); ?>" href="<?php echo $_product->getProductUrl() ?>" class="product-item-link">
                        <?php echo substr($_product->getName(),0,30); ?>
                        </a>
                        <?php
                            $originalPrice = $_product->getData('price')+0;
                            $finalPrice = $_product->getData('special_price')+0; 
                            ?>
                        <div class="price-home <?php if($finalPrice){ echo 'price-sale'; } ?>">
                            <?php
                                if ($finalPrice) {
                                    echo "<span class='special'>".$_helper->getFormatPrice($finalPrice, 2)."</span>";
                                };
                                //
                                if ($originalPrice) {
                                    echo "<span class='normal'>".$_helper->getFormatPrice($originalPrice, 2)."</span>";
                                }; 
                                ?>
                        </div>
                    </div>
                </div>
            </div>
        </li> 
        <?php
            if ($i == 7) {
                break;
            }
            $i++; endforeach;
        ?>
    </ol>
<?php elseif($checkHome == 'home3') : ?>
    <ol class="products list items product-items row display-clear">
        <?php $i = 0; foreach ($productCollection as $key => $_product): ?>
             <li class="product item col-sm-6 col-md-3 col-lg-3">
                <div class="product-item-info" data-container="product-grid">
                    <?php      
                        $originalPrice = $_product->getPrice();  //200 
                        $specialPrice = $_product->getSpecialPrice();  
                        ?>
                    <?php if(($specialPrice)&&($specialPrice <= $originalPrice)){?> 
                    <div class="sale">
                        <span> 
                        <?php
                            $saleof= abs(($specialPrice/($originalPrice))*100-100);
                            echo '- ';    
                            print_r(floor($saleof));
                            echo '%'; 
                            ?>                                   
                        </span> 
                    </div>
                    <?php } ?>
                    <?php
                        $image = 'category_page_grid' or 'category_page_list';
                        $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
                        //var_dump($_imagehelper->init($_product, $image)->getData());die;
                        $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250)->getUrl();
                        ?>
                    <div class="product-item-actions-wrap">
                        <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo display-flex" tabindex="-1">
                        <img class="product-image-photo" alt="" src="<?php echo $productImage; ?>" />
                        </a> 
                        <div class="product actions product-item-actions"> 
                            <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?> 
                            <div class="actions-primary">
                                <?php if ($_product->isSaleable()): ?>
                                    <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                        <button class="action tocart primary one"
                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_product) ?>"}}'
                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                        </button>
                                    <?php else: ?>
                                        <?php
                                            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper') ; 
                                            $postDatas = $_helper->getAddToCartPostParams($_product);
                                            $postData = json_encode($postDatas);
                                        ?>
                                        <button class="action tocart primary two"
                                                data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                        </button>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <?php if ($_product->getIsSalable()): ?>
                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                            <?php if ($showWishlist || $showCompare): ?>
                            <?php
                                $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                                $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                                ?>
                            <div class="actions-secondary" data-role="add-to-links"> 
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                <a href="#"
                                    data-post='<?php /* @escapeNotVerified */ echo $objBlock->getAddToWishlistParams($_product); ?>'
                                    class="action towishlist" data-action="add-to-wishlist"
                                    title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                <span>Add to Wish List</span>
                                </a>
                                <a href="#"
                                    class="action tocompare"
                                    title="<?php echo __('Add To Compare'); ?>"
                                    aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                    data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                                    role="button"> 
                                    <span>Compare</span>
                                </a>
                                <?php endif; ?>  
                            </div>
                            <?php endif; ?> 
                        </div>
                    </div>
                    <div class="product details product-item-details">
                        <div class="inner-product">
                            <a title="<?php echo $_product->getName(); ?>" href="<?php echo $_product->getProductUrl() ?>" class="product-item-link">
                            <?php echo substr($_product->getName(),0,30); ?>
                            </a>
                            <?php
                                $originalPrice = $_product->getData('price')+0;
                                $finalPrice = $_product->getData('special_price')+0; 
                                ?>
                            <div class="price-home <?php if($finalPrice){ echo 'price-sale'; } ?>">
                                <?php
                                    if ($finalPrice) {
                                        echo "<span class='special'>".$_helper->getFormatPrice($finalPrice, 2)."</span>";
                                    };
                                    //
                                    if ($originalPrice) {
                                        echo "<span class='normal'>".$_helper->getFormatPrice($originalPrice, 2)."</span>";
                                    }; 
                                    ?>
                            </div>
                        </div>
                    </div>
                </div>
            </li> 
        <?php 
        if($i == 3){
            break;
        }
        $i++;endforeach ?>
    </ol>
<?php elseif ($checkHome == 'home4') : ?>
    <ol class="products list items product-items row display-clear">
        <?php $i = 0;
        foreach ($productCollection as $key => $_product): ?>
            <li class="product item col-sm-6 col-md-4 col-lg-4">
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $originalPrice = $_product->getPrice();  //200
                    $specialPrice = $_product->getSpecialPrice();
                    ?>
                    <?php if (($specialPrice) && ($specialPrice <= $originalPrice)) { ?>
                        <div class="sale">
                    <span>
                    <?php
                    $saleof = abs(($specialPrice / ($originalPrice)) * 100 - 100);
                    echo '- ';
                    print_r(floor($saleof));
                    echo '%';
                    ?>
                    </span>
                        </div>
                    <?php } ?>
                    <?php
                    $image = 'category_page_grid' or 'category_page_list';
                    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
                    $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250)->getUrl();
                    ?>
                    <div class="product-item-actions-wrap">
                        <a href="<?php echo $_product->getProductUrl() ?>"
                           class="product photo product-item-photo display-flex" tabindex="-1">
                            <img class="product-image-photo" alt="" src="<?php echo $productImage; ?>"/>
                        </a>
                        <div class="product actions product-item-actions">
                            <?php
                            $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                            ?>
                            <div class="actions-primary">
                                <?php if ($_product->isSaleable()): ?>
                                    <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                        <button class="action tocart primary one"
                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */
                                                echo $block->getAddToCartUrl($_product) ?>"}}'
                                                type="button" title="<?php /* @escapeNotVerified */
                                        echo __('Add to Cart') ?>">
                                            <span><?php /* @escapeNotVerified */
                                                echo __('Add to Cart') ?></span>
                                        </button>
                                    <?php else: ?>
                                        <?php
                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                        $postDatas = $_helper->getAddToCartPostParams($_product);
                                        $postData = json_encode($postDatas);
                                        ?>
                                        <button class="action tocart primary two"
                                                data-post='<?php /* @escapeNotVerified */
                                                echo $postData; ?>'
                                                type="button" title="<?php /* @escapeNotVerified */
                                        echo __('Add to Cart') ?>">
                                            <span><?php /* @escapeNotVerified */
                                                echo __('Add to Cart') ?></span>
                                        </button>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <?php if ($_product->getIsSalable()): ?>
                                        <div class="stock available"><span><?php /* @escapeNotVerified */
                                                echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                                echo __('Out of stock') ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                            <?php if ($showWishlist || $showCompare): ?>
                                <?php
                                $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                                $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                                ?>
                                <div class="actions-secondary" data-role="add-to-links">
                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                        <a href="#"
                                           data-post='<?php /* @escapeNotVerified */
                                           echo $objBlock->getAddToWishlistParams($_product); ?>'
                                           class="action towishlist" data-action="add-to-wishlist"
                                           title="<?php /* @escapeNotVerified */
                                           echo __('Add to Wish List') ?>">
                                            <span>Add to Wish List</span>
                                        </a>
                                        <a href="#"
                                           class="action tocompare"
                                           title="<?php echo __('Add To Compare'); ?>"
                                           aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                           data-post='<?php /* @escapeNotVerified */
                                           echo $compareHelper->getPostDataParams($_product); ?>'
                                           role="button">
                                            <span>Compare</span>
                                        </a>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <div class="product details product-item-details">
                        <div class="inner-product">
                            <a title="<?php echo $_product->getName(); ?>"
                               href="<?php echo $_product->getProductUrl() ?>" class="product-item-link">
                                <?php echo substr($_product->getName(), 0, 30); ?>
                            </a>
                            <?php $regularPrice = $_product->getPriceInfo()->getPrice('regular_price'); ?>
                            <div class="price-home">
                                <span class='min-price'><?php echo $_helper->getFormatPrice(((string)$regularPrice->getMinRegularAmount()), 2) ?></span>
                                <span class='max-price'><?php echo $_helper->getFormatPrice(((string)$regularPrice->getMaxRegularAmount()), 2) ?></span>
                            </div>

                            <div class="swatch">
                                <?php echo $block->getProductDetailsHtml($_product); ?>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <?php
            if ($i == 5) {
                break;
            }
            $i++; endforeach;
        ?>
    </ol>
<?php elseif ($checkHome == 'home5') : ?>
    
   <div class="product-banner5 col-lg-3">
                                    <div class="product-banner5-img ">
                                        <img src="<?php echo $block->getViewFileUrl('images/product-banner1.jpg'); ?>" alt="<?php echo __('product-banner1') ?>" /> 
                                        <div class="product-banner5-desc">
                                            <h2><?php echo __('Wedding invitations') ?></h2>
                                            <p><?php echo __('Free custom back printing >>') ?></p>
                                        </div>
                                    </div>
                                    <div class="product-banner5-img">
                                        <img src="<?php echo $block->getViewFileUrl('images/product-banner2.jpg'); ?>" alt="<?php echo __('product-banner2') ?>" /> 
                                        <div class="product-banner5-desc">
                                            <h2><?php echo __('Wedding invitations') ?></h2>
                                            <p><?php echo __('Free custom back printing >>') ?></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-inner5 col-lg-9">
                                    <ol class="products list items product-items row">
                                        <?php $i=0; foreach ($productCollection as $key => $_product): ?>
                                        <li class="product item col-sm-6 col-md-4 col-lg-4">
                                            <div class="product-item-info" data-container="product-grid">
                                       
                                                <?php      
                                                    $originalPrice = $_product->getPrice();  //200 
                                                    $specialPrice = $_product->getSpecialPrice();  
                                                    ?>
                                                <?php if(($specialPrice)&&($specialPrice <= $originalPrice)){?> 
                                                <div class="sale">
                                                    <span> 
                                                    <?php
                                                        $saleof= abs(($specialPrice/($originalPrice))*100-100);
                                                        echo '- ';    
                                                        print_r(floor($saleof));
                                                        echo '%'; 
                                                        ?>                                   
                                                    </span> 
                                                </div>
                                                <?php } ?>
                                                <?php
                                                    $image = 'category_page_grid' or 'category_page_list';
                                                    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
                                                    //var_dump($_imagehelper->init($_product, $image)->getData());die;
                                                    $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250)->getUrl();
                                                    ?>
                                                <div class="product-item-actions-wrap">
                                                    <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo display-flex" tabindex="-1">
                                                    <img alt="" src="<?php echo $productImage; ?>" />
                                                    </a> 
                                                    <div class="product actions product-item-actions"> 
                                                        <?php
                                                            $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                                            ?> 
                                                        <div class="actions-primary">
                                                            <?php if ($_product->isSaleable()): ?>
                                                                <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>

                                                                    <button class="action tocart primary one"
                                                                            data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_product) ?>"}}'
                                                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                                    </button>
                                                                <?php else: ?>
                                                                    <?php
                                                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper') ; 
                                                                        $postDatas = $_helper->getAddToCartPostParams($_product);
                                                                        $postData = json_encode($postDatas);
                                                                    ?>
                                                                    <button class="action tocart primary two"
                                                                            data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                                    </button>
                                                                <?php endif; ?>
                                                            <?php else: ?>
                                                                <?php if ($_product->getIsSalable()): ?>
                                                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                                <?php else: ?>
                                                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                        </div>
                                                        <?php if ($showWishlist || $showCompare): ?>
                                                        <?php
                                                            $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                                                            $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                                                            ?>
                                                        <div class="actions-secondary" data-role="add-to-links"> 
                                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                            <a href="#"
                                                                data-post='<?php /* @escapeNotVerified */ echo $objBlock->getAddToWishlistParams($_product); ?>'
                                                                class="action towishlist" data-action="add-to-wishlist"
                                                                title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                                            <span>Add to Wish List</span>
                                                            </a>
                                                            <a href="#"
                                                                class="action tocompare"
                                                                title="<?php echo __('Add To Compare'); ?>"
                                                                aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                                                data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                                                                role="button"> 
                                                                <span>Compare</span>
                                                            </a>
                                                            <?php endif; ?>  
                                                        </div>
                                                        <div class="quickview actions-all">
                                                            <div class="display-flex">
                                                            <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")
                                                                ->setData('pid', $_product->getId())
                                                                ->setTemplate("Cmsmart_Quickview::quickview.phtml")->toHtml();?>
                                                            </div>
                                                        </div>
                                                        <?php endif; ?> 
                                                    </div>
                                                </div>
                                                <div class="product details product-item-details">
                                                    <div class="inner-product">
                                                        <a title="<?php echo $_product->getName(); ?>" href="<?php echo $_product->getProductUrl() ?>" class="product-item-link">
                                                        <?php echo substr($_product->getName(),0,30); ?>
                                                        </a>
                                                        <?php
                                                            $originalPrice = $_product->getData('price')+0;
                                                            $finalPrice = $_product->getData('special_price')+0; 
                                                            ?>
                                                        <div class="price-home <?php if($finalPrice){ echo 'price-sale'; } ?>">
                                                            <?php
                                                                if ($finalPrice) {
                                                                    echo "<span class='special'>".$_helper->getFormatPrice($finalPrice, 2)."</span>";
                                                                };
                                                                //
                                                                if ($originalPrice) {
                                                                    echo "<span class='normal'>".$_helper->getFormatPrice($originalPrice, 2)."</span>";
                                                                }; 
                                                                ?>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li> 
                                        <?php
                                            if ($i == 7) {
                                                break;
                                            }
                                            $i++; endforeach;
                                        ?>
                                    </ol>
                                </div>

<?php endif; ?>