<?php
$widgetParam = $this->getRequest()->getParam('widget_param');
$_helper = $this->helper('Netbase\Product\Helper\Data');
$config = $_helper->getConfig("pro_new/general");
$conditionCid = explode(",", $block->getCategoryIds($widgetParam));
$currentSymbol = $_helper->getCurrencySymbol();
$showWishlist = true;
$showCompare = true;
$checkHome = $block->getHomeName();
?>
<?php if ($checkHome == "home5") :
    ?>
    <div class="product-inner5 col-lg-12" id="newproduct-require-view">
        <ol class="products list items product-items owl_custom row">
            <?php
            $j = 0;
            foreach ($conditionCid as $key => $cid) {
                if($j == 5) break;
                 $categoryId = $block->filterNewestProduct($cid);
                 $checkProduct = $block->checkProductExist($cid);
                if ($checkProduct) {
               //     $productCollection = $block->getProductCollection($cid)->getData()[count($block->getProductCollection($cid)->getData()) - 1];
                    $productCollection = $block->getProductCollection($cid);
                    $collectionNewest = $_helper->getNewItemProduct($cid)->getLastItem()->getId();
                    if(!$collectionNewest) continue;
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
//                    $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
//                    $connection = $resource->getConnection();
//                    $tableName = $resource->getTableName('catalog_category_product');
//                    $sql = "Select * FROM " . $tableName ." Where category_id = ".$cid ." ORDER BY ". $tableName . " .entity_id " . " DESC ";
//                    $result = $connection->fetchAll($sql);
//                    $lastId = $result[0]['product_id'];
                    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($collectionNewest);
                    ?>
                    <li class="product item">
                        <div class="product-item-info" data-container="product-grid">
                            <?php
                            $originalPrice = $product->getPrice();
                            $specialPrice = $product->getSpecialPrice();
                            ?>
                            <?php if (($specialPrice) && ($specialPrice <= $originalPrice)) { ?>
                                <div class="sale">
			                                        <span>
			                                        <?php
                                                    $saleof = abs(($specialPrice / ($originalPrice)) * 100 - 100);
                                                    echo '- ';
                                                    print_r(floor($saleof));
                                                    echo '%';
                                                    ?>
			                                        </span>
                                </div>
                            <?php } ?>
                            <?php
                            $image = 'category_page_grid' or 'category_page_list';
                            $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
                            $productImage = $_imagehelper->init($product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->getUrl();
                            ?>
                            <div class="product-item-actions-wrap">
                                <a href="<?php echo $product->getProductUrl() ?>"
                                   class="product photo product-item-photo display-flex"
                                   tabindex="-1">
                                    <img alt="" src="<?php echo $productImage; ?>"/>
                                </a>
                                <div class="product actions product-item-actions">
                                <div class="inner-actions">
                                        <?php
                                        $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                        ?>
                                        <div class="actions-primary">
                                            <?php if ($showWishlist): ?>
                                            <?php
                                            $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                                            $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                                            ?>
                                            <div class="wishlist_content"
                                                 data-role="add-to-links">
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?php /* @escapeNotVerified */
                                                       echo $objBlock->getAddToWishlistParams($product); ?>'
                                                       class="action towishlist"
                                                       data-action="add-to-wishlist"
                                                       title="<?php /* @escapeNotVerified */
                                                       echo __('Add to Wish List') ?>">
                                                        <span>Add to Wish List</span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                        </div>
                                        <?php if ($showCompare): ?>
                                            <?php
                                            $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                                            $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                                            ?>
                                            <div class="actions-secondary"
                                                 data-role="add-to-links">
                                                 <?php if ($product->isSaleable()): ?>
                                                    <?php if ($product->getTypeInstance()->hasRequiredOptions($product)): ?>
                                                        <button class="action tocart primary one"
                                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($product) ?>"}}'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php else: ?>
                                                        <?php
                                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                        $postDatas = $_helper->getAddToCartPostParams($product);
                                                        $postData = json_encode($postDatas);
                                                        ?>
                                                        <button class="action tocart primary two"
                                                                data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                            <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                        </button>
                                                    <?php endif; ?>
                                                <?php else: ?>
                                                    <?php if ($product->getIsSalable()): ?>
                                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                    <?php else: ?>
                                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                    <a href="#"
                                                       class="action tocompare"
                                                       title="<?php echo __('Add To Compare'); ?>"
                                                       aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                                       data-post='<?php /* @escapeNotVerified */
                                                       echo $compareHelper->getPostDataParams($product); ?>'
                                                       role="button">
                                                        <span>Compare</span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php } ?>
            <?php
                $j++;
            } ?>
        </ol>
    </div>

    <script type="text/javascript">
        require(['jquery', 'owlCarousel','Netbaseteam_CustomWidget/js/slick'], function ($) {
            jQuery(document).ready(function () {
                //console.log($('.deal-product div.products-grid'));
                var owl = '#newproduct-require-view-all';
                $(owl).owlCarousel({
                    items: 6,
                    itemsCustom: [
                        [0, 1],
                        [480, 2],
                        [768, 3],
                        [992, 3],
                        [1024, 3],
                        [1200, 6]
                    ],
                    pagination: false,
                    slideSpeed: 800,
                    addClassActive: true,
                    scrollPerPage: false,
                    touchDrag: false,
                    afterAction: function (e) {
                        if (this.$owlItems.length > this.options.items) {

                            $('.new-product .navslider').show();
                        } else {
                            $('.new-product .navslider').hide();
                        }
                    }
                });
                $('.owl_custom').slick({
                    lazyLoad: 'ondemand',
                    slidesToShow: 5,
                    slidesToScroll: 1,
                    responsive: [
                        {
                            breakpoint: 992,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 1
                            }
                        }, {

                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }

                        }, {

                            breakpoint: 300,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }

                        }]
                });
                $('.new-product .navslider .prev').on('click', function (e) {
                    e.preventDefault();
                    $('.new-product').trigger('owl.prev');
                });
                $('.new-product .navslider .next').on('click', function (e) {
                    e.preventDefault();
                    $('.new-product').trigger('owl.next');
                });
            });
        });
    </script>
<?php elseif ($checkHome == "lazada") : ?>
    <div class="home-product-slider products-grid nb-list" id="newproduct-require-view-<?php echo $categoryId; ?>">
        <?php
        $i = 0;
        foreach ($productCollection as $_product):
            ?>
            <div class="item item<?php echo $i ?>">
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $originalPrice = $_product->getPrice();  //200
                    $specialPrice = $_product->getSpecialPrice();
                    ?>
                    <?php if (($specialPrice) && ($specialPrice <= $originalPrice)) { ?>
                        <div class="sale">
							<span>
								<?php
                                $saleof = abs(($specialPrice / ($originalPrice)) * 100 - 100);
                                echo '- ';
                                print_r(floor($saleof));
                                echo '%';
                                ?>
							</span>
                        </div>
                    <?php } ?>
                    <?php
                    $image = 'category_page_grid' or 'category_page_list';
                    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
                    $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->getUrl();
                    ?>
                    <div class="item-top">
                        <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo"
                           tabindex="-1">
                            <img alt="" src="<?php echo $productImage; ?>"/>
                        </a>
                        <div class="actions">
                            <div class="quickview actions-all">
                                <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")
                                    ->setData('pid', $_product->getId())
                                    ->setTemplate("Cmsmart_Quickview::quickview.phtml")->toHtml(); ?>
                            </div>
                            <?php
                            $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                            ?>
                            <div class="tocompare-div actions-all">
                                <a href="#"
                                   class="action tocompare"
                                   title="<?php echo __('Add To Compare'); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php /* @escapeNotVerified */
                                   echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </a>
                            </div>
                            <?php if ($showWishlist || $showCompare): ?>
                                <?php
                                $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                                $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                                ?>
                                <div class="actions-secondary actions-all" data-role="add-to-links">
                                    <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                        <a href="#"
                                           data-post='<?php /* @escapeNotVerified */
                                           echo $objBlock->getAddToWishlistParams($_product); ?>'
                                           class="action towishlist" data-action="add-to-wishlist"
                                           title="<?php /* @escapeNotVerified */
                                           echo __('Add to Wish List') ?>">
                                            <span><i class='icon-heart-1'></i></span>
                                        </a>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>

                        </div>
                    </div>
                    <div class="product details product-item-details">
                        <div class="inner-product">
                            <?php
                            $originalPrice = $_product->getData('price') + 0;
                            $finalPrice = $_product->getData('special_price') + 0;
                            ?>
                            <a href="<?php echo $_product->getProductUrl() ?>" class="product-item-link">
                                <?php echo $_product->getName(); ?>
                            </a>
                            <?php $ratingSummary = $this->getRatingSummary($_product); ?>
                            <div class="product-reviews-summary">
                                <div class="rating-summary">
                                    <span class="label"><span><?php /* @escapeNotVerified */
                                            echo __('Rating') ?>:</span></span>
                                    <div class="rating-result" title="<?php /* @escapeNotVerified */
                                    echo $ratingSummary; ?>%">
                                        <span style="width:<?php /* @escapeNotVerified */
                                        echo $ratingSummary ? $ratingSummary : '0';; ?>%"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="price-home <?php if ($finalPrice) {
                                echo 'price-sale';
                            } ?>">
                                <?php
                                if ($originalPrice) {
                                    echo "<span class='normal'>" . $currentSymbol . $originalPrice . '.00' . "</span>";
                                };
                                if ($finalPrice) {
                                    echo "<span class='special'>" . $currentSymbol . $finalPrice . '.00' . "</span>";
                                };

                                ?>
                            </div>
                            <div class="actions-primary">
                                <?php if ($_product->isSaleable()): ?>
                                    <?php if ($_product->getTypeInstance()->hasRequiredOptions($_product)): ?>
                                        <button class="action tocart primary one"
                                                data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */
                                                echo $block->getAddToCartUrl($_product) ?>"}}'
                                                type="button" title="<?php /* @escapeNotVerified */
                                        echo __('Add to Cart') ?>">
                                            <span><?php /* @escapeNotVerified */
                                                echo __('Add to Cart') ?></span>
                                        </button>
                                    <?php else: ?>
                                        <?php
                                        $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');

                                        $postDatas = $_helper->getAddToCartPostParams($_product);
                                        $postData = json_encode($postDatas);
                                        ?>
                                        <button class="action tocart primary two"
                                                data-post='<?php /* @escapeNotVerified */
                                                echo $postData; ?>'
                                                type="button" title="<?php /* @escapeNotVerified */
                                        echo __('Add to Cart') ?>">
                                            <span><?php /* @escapeNotVerified */
                                                echo __('Add to Cart') ?></span>
                                        </button>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <?php if ($_product->getIsSalable()): ?>
                                        <div class="stock available"><span><?php /* @escapeNotVerified */
                                                echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                                echo __('Out of stock') ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php
            if ($i == 8) {
                break;
            }
            $i++; endforeach;
        ?>
    </div>
    <script type="text/javascript">
        require(['jquery', 'owlCarousel'], function ($) {
            jQuery(document).ready(function () {
                //console.log($('.deal-product div.products-grid'));
                var owl = '#newproduct-require-view-<?php echo $categoryId; ?>';
                $(owl).owlCarousel({
                    items: 4,
                    itemsCustom: [
                        [0, 1],
                        [480, 2],
                        [768, 3],
                        [992, 3],
                        [1200, 3]
                    ],
                    pagination: false,
                    slideSpeed: 800,
                    addClassActive: true,
                    scrollPerPage: false,
                    touchDrag: false,
                    afterAction: function (e) {
                        if (this.$owlItems.length > this.options.items) {

                            $('.new-product .navslider').show();
                        } else {
                            $('.new-product .navslider').hide();
                        }
                    }
                });
                $('.new-product .navslider .prev').on('click', function (e) {
                    e.preventDefault();
                    $('.new-product').trigger('owl.prev');
                });
                $('.new-product .navslider .next').on('click', function (e) {
                    e.preventDefault();
                    $('.new-product').trigger('owl.next');
                });
            });
        });
    </script>
<?php endif; ?>
