<?php

/** @var $block \Magento\Catalog\Block\Product\View */

/*Create add to cart box: button Add to Cart...., qty, */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="button" title="Cancel" class="action primary" id="ajaxcart_cancel">
                <span><?php echo __('Cancel') ?></span>
            </button>
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart ajax-popup-to-cart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php echo $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>

<script>


    /*
        Require option field and submit popup
    */

    require([
        'jquery',
        'mage/mage',
        'Magento_Catalog/product/view/validation'
    ], function ($) {
        'use strict';
        /*
            * No1:validation : validate require option
            * No2: require for submit popup

        */
        $('.ajax-popup-to-cart').closest('#product_addtocart_form').mage('validation'
        );

        var please_wait = $('#nb-ajax-cart-loading');
        var popup_success = $('#nb_popupmess');
        popup_success.hide(); 

        $('#product_addtocart_form').on('submit', function(e) {
            
            var isValid = $(this).validation('isValid');
            if(isValid){
                please_wait.show();
                e.preventDefault();
                e.stopImmediatePropagation();
                var cartForm = $(this);
                var url =cartForm.attr('action')+"ajax/1/utype/detail-add";  
                var currentUrl = window.location.href;
                var form_key = $("input[name='form_key']").attr("value");
                if(currentUrl.indexOf('wishlist/index/index/') != -1){
                    var item = $('span.nb_w_item').text();
                    url = url+'/item/'+item;
                } 
                $.ajax({
                        url: url,
                        data: cartForm.serialize(),
                        type: 'post',
                        dataType: 'json',
                        beforeSend: function() {
                            
                        },
                        success: function(res) {
                           if(res["error"]==0){
                                please_wait.hide();
                                popup_success.html(res["html_popup"]);
                                $('#ajaxcart_content_option_product').hide();
                                popup_success.show();
                                if(res['item']){
                                    $('#item_'+res["item"]).remove();
                                }                            
                                return false;
                            }

                        },
                        error: function (response) {
                            please_wait.hide();                      
                        }
                });
                e.preventDefault();
                return false;
            }
        });
    });

</script>