<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if (sizeof($block->getTotals()) > 0): ?>
<div class="dashboard-totals" id="dashboard_diagram_totals">
    <ul class="dashboard-totals-list">
        <?php foreach ($block->getTotals() as $_total): ?>
            <li class="dashboard-totals-item">
                <span>
                    <span class="dashboard-totals-label"><?php /* @escapeNotVerified */ echo $_total['label'] ?></span>
                    <strong class="dashboard-totals-value">
                        <?php /* @escapeNotVerified */ echo $_total['value'] ?>
                        <span class="dashboard-totals-decimals"><?php /* @escapeNotVerified */ echo $_total['decimals'] ?></span>
                    </strong>
                </span>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
