<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;

?>
<p class="toolbar-amount" id="toolbar-amount">

    <?php if ((int) $block->getLastPageNum() > 1): ?>

        <?php echo __('Showing <span class="toolbar-number">'.$block->getFirstNum().'</span>-<span class="toolbar-number">'.$block->getLastNum().'</span> of <span class="toolbar-number">'.$block->getTotalNum().'</span> results'); ?>
    <?php elseif ($block->getTotalNum() == 1): ?>
        <?php /* @escapeNotVerified */ echo __('%1 result',
           '<span class="toolbar-number">' . $block->getTotalNum() . '</span>') ?>
    <?php else: ?>
        <?php /* @escapeNotVerified */ echo __('%1 results',
            '<span class="toolbar-number">' . $block->getTotalNum() . '</span>') ?>
    <?php endif; ?>
</p>
