@font-face {
    font-family: 'Montserrat';
    src: url('@{baseDir}fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('@{baseDir}fonts/montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@{baseDir}fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('@{baseDir}fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('@{baseDir}fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('@{baseDir}fonts/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('@{baseDir}fonts/montserrat/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('@{baseDir}fonts/montserrat/PlayfairDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

