<?php
$isApplicableOnly = 1;
?>
<?php if ($isApplicableOnly) : ?>
    <script type="text/x-magento-template" id="tier-prices-template">
        <% var tierPricesClone = tierPrices.sort(function(tierPriceA,tierPriceB){return tierPriceA.qty - tierPriceB.qty}); %>

        <% if(_.size(tierPricesClone)) { %>
        <label>
            <span><?= /* @noEscape */ __('MENGE INKL. PREIS:') ?></span>
        </label>
        <div class="control option-default">
            <select class="nb-tier-price">
            <% var min = null; %>
            <% _.each(tierPricesClone, function(item, key) { %>
            <% var priceStr = '<span class="price-container price-tier_price">'
                            + '<span data-price-amount="' + priceUtils.formatPrice(item.price, currencyFormat) + '"'
                            + ' data-price-type=""' + ' class="price-wrapper ">'
                            + '<span class="price">' + priceUtils.formatPrice(item.price, currencyFormat) + '</span>'
                            + '</span>'
            + '</span>'; %>
                <option value="<%- item.qty %>"><%- item.qty %> <%= $t('Stk.') %> <%= $t(' à') %> <%= priceStr %> </option>
            <% }); %>
            </select>
        </div>
        <span>
            <?= __('*Preis inkl. MwSt. zzgl. Versand Mindestbestellmenge 10 Stück') ?>
        </span>
        <% } %>
    </script>
        <script>
            require(['jquery', 'jquery/ui'], function($){
                jQuery(document).ready( function() {
                    $('div.product-options-wrapper div.swatch-opt').click(function() {
                        if($('select.nb-tier-price option').length > 0) {
                                $("select.nb-tier-price option:first").attr('selected','selected');
                                var first_value = $("select.nb-tier-price option:selected").val();
                                $('.box-tocart .field.qty input#qty').val(first_value);
                        }
                        if($('div.nb-custom').is(":hidden") === true) {
                            setTimeout(function() {
                                $('.box-tocart .field.qty input#qty').val(1);
                            });
                        }
                    });
                    $(document.body).on('change', "select.nb-tier-price", function (e) {
                        var optVal = $("select.nb-tier-price option:selected").val();
                        $('.box-tocart .field.qty input#qty').val(optVal);
                        $('#tier_price_qty').val(optVal);
                    });
                    $(document.body).on('change',"select.super-attribute-select",function (e) {
                        var optVal= $("select.nb-tier-price option:first").val();
                        $('.box-tocart .field.qty input#qty').val(optVal);
                    });
                });
            });
        </script>
<?php else : ?>
    <script type="text/x-magento-template" id="tier-prices-template">
        <ul class="prices-tier items">
            <% _.each(tierPrices, function(item, key) { %>
            <% var priceStr = '<span class="price-container price-tier_price">'
                    + '<span data-price-amount="' + priceUtils.formatPrice(item.price, currencyFormat) + '"'
                    + ' data-price-type=""' + ' class="price-wrapper ">'
                    + '<span class="price">' + priceUtils.formatPrice(item.price, currencyFormat) + '</span>'
                    + '</span>'
            + '</span>'; %>
            <li class="item">
                <%= $t('Buy %1 for %2 each and').replace('%1', item.qty).replace('%2', priceStr) %>
                <strong class="benefit">
                    <%= $t('save') %><span class="percent tier-<%= key %>">&nbsp;<%= item.percentage %></span>%
                </strong>
            </li>
            <% }); %>
        </ul>
    </script>
<?php endif; ?>
<div class="nb-custom" data-role="tier-price-block"></div>
