<?php

use Magento\Catalog\Pricing\Price\TierPrice;
use Magento\Catalog\Pricing\Render\PriceBox;
use Magento\Framework\Pricing\Render;

?>

<?php
/** @var PriceBox $block */
$tierPriceModel = $block->getPrice();
/** @var TierPrice $tierPriceModel */
$tierPrices = $tierPriceModel->getTierPriceList();
$helper = $this->helper('Netbaseteam\CustomTierPrice\Helper\Data');
$msrpShowOnGesture = $block->getPriceType('msrp_price')->isShowPriceOnGesture();
$product = $block->getSaleableItem();
$isTabularEnabled = 1;
$uniqueId = uniqid('', true);
?>
<?php if ($tierPrices) : ?>
    <?php if ($isTabularEnabled) : ?>
    <label><?= /* @noEscape */ 'Menge:' ?></label>
    <select class="nb-tabular">
        <?php else : ?>
        <ul class="<?= /* @noEscape */ ($block->hasListClass() ? $block->getListClass() : 'prices-tier items') ?>">
            <?php endif; ?>
            <?php foreach ($tierPrices as $index => $price) :
                ?>
                <li class="item">
                <?php
                $productId = $product->getId();
                $isSaleable = $product->isSaleable();
                $popupId = 'msrp-popup-' . $productId . $block->getRandomString(20);
                if ($msrpShowOnGesture && $price['price']->getValue() < $product->getMsrp()) :
                    $addToCartUrl = '';
                    if ($isSaleable) {
                        $addToCartUrl = $this->helper(Magento\Checkout\Helper\Cart::class)
                            ->getAddUrl($product, ['qty' => $price['price_qty']]);
                    }
                    $tierPriceData = [
                        'addToCartUrl' => $addToCartUrl,
                        'name'         => $product->getName(),
                        'realPrice'    => $block->renderAmount(
                            $price['price'],
                            [
                                'price_id'          => $index,
                                'id_suffix'         => '-' . $index,
                                'include_container' => true
                            ]
                        ),
                        'msrpPrice'    => $block->renderAmount(
                            $block->getPriceType('msrp_price')->getAmount(),
                            [
                                'price_id'          => $index,
                                'id_suffix'         => '-' . $index,
                                'include_container' => true
                            ]
                        ),
                    ];
                    if ($block->getCanDisplayQty($product)) {
                        $tierPriceData['qty'] = $price['price_qty'];
                    }
                    ?>
                    <div>
                        <?= /* @noEscape */ __('Buy %1 for: ', $price['price_qty']) ?>
                        <a href="javascript:void(0);"
                           id="<?= /* @noEscape */ $popupId ?>"
                           data-tier-price="<?= /* @noEscape */ $block->escapeHtml($block->jsonEncode($tierPriceData)) ?>">
                            <?= /* @noEscape */ __('Click for price') ?></a>
                    </div>
                <?php else :
                    $priceAmountBlock = $block->renderAmount(
                        $price['price'],
                        [
                            'price_id'          => $index,
                            'id_suffix'         => '-' . $index,
                            'include_container' => true,
                            'zone'              => Render::ZONE_ITEM_OPTION
                        ]
                    );
                    ?>
                    <?php if ($isTabularEnabled) : ?>
                    <option class="nb-tier-price" value="<?= /* @noEscape */ $price['price_qty'] ?>" name="<?= /* @noEscape */ $uniqueId ?>">
                        <?= /* @noEscape */ ($block->getShowDetailedPrice() !== false)
                                            ? __(
                                                    '%1 Stück (à %2 )',
                                                    $price['price_qty'],
                                                    $priceUnit = $price['price'] . $helper->getCurrencySymbol(),
                                                    $index,
                                                    $block->formatPercent($price['percentage_value'] ?? $tierPriceModel->getSavePercent($price['price']))
                                                )
                                            : __('Buy %1 for %2 each', $price['price_qty'], $priceAmountBlock);
                    ?>
                    </option>
                <?php else : ?>
                    <?= /* @noEscape */ ($block->getShowDetailedPrice() !== false)
                        ? __(
                            'Buy %1 for %2 each and <strong class="benefit">save<span class="percent tier-%3">&nbsp;%4</span>%</strong>',
                            $price['price_qty'],
                            $priceAmountBlock,
                            $index,
                            $tierPriceModel->getSavePercent($price['price'])
                        )
                        : __('Buy %1 for %2 each', $price['price_qty'], $priceAmountBlock)
                    ?>
                <?php endif; ?>
                <?php endif; ?>
                    </li>
            <?php endforeach; ?>
            <?php if (!$isTabularEnabled) : ?>
        </ul>
        <?php else : ?>
    </select>
<?php endif; ?>
    <?php if ($msrpShowOnGesture) : ?>
        <script type="text/x-magento-init">
            {
                ".product-info-main": {
                    "addToCart": {
                        "origin": "tier",
                        "addToCartButton": "#product_addtocart_form [type=submit]",
                        "inputQty": "#qty",
                        "attr": "[data-tier-price]",
                        "productForm": "#product_addtocart_form",
                        "productId": "<?= /* @noEscape */ $productId ?>",
                        "productIdInput": "input[type=hidden][name=product]",
                        "isSaleable": "<?= /* @noEscape */ $isSaleable ?>"
                    }
                }
            }
        </script>
    <?php endif; ?>
        <script>
            require([
                'jquery'
            ], function ($) {
                $(document).ready(function() {
                    setTimeout(function(){
                        $('.box-tocart .field.qty input#qty').val($('select.nb-tabular').val());
                    }, 500);
                    $('select.nb-tabular').on('change', function (e) {
                        e.stopPropagation();
                        if ($(this).parents('.grouped').length) {
                            var qtyInputEl = $(this).parents('.row-tier-price').prev().find('.input-text.qty');
                            if (!qtyInputEl.length) {
                                qtyInputEl = $(this).parents('.row-tier-price').parents('tbody').find('.input-text.qty');
                            }
                            qtyInputEl.val($(this).val());
                        } else {
                            $('.box-tocart .field.qty input#qty').val($(this).val());
                        }
                    });
                    if (!$('.nb-tabular option').length) {
                        $('.nb-tabular').hide();
                    }
                })
            })
        </script>
<?php endif; ?>
