& when (@media-common = true) {
    .typefor, .typeseven {
        .magemenu-menu.horizontal-menu .explodedmenu li.menu a span {
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    .typefor {
        .magemenu-menu.horizontal-menu .explodedmenu li.menu.parentMenu:hover .explodedmenu-menu-popup {
            top: 60px;
        }
    }
    .typesix {
        .sections.nav-sections {
            padding-bottom: 4px;
        }
        .magemenu-menu.horizontal-menu .explodedmenu li.menu > a {
            font-size: @font-size__base;
            color: @theme_color_444;
            font-weight: 700;
            text-transform: uppercase;
            span {
                text-transform: uppercase;
            }
        }
    }
    .typeone {
        .magemenu-menu.horizontal-menu .explodedmenu {
            top: 15px; 
            li.menu>a {
                padding: @indent__l @indent__s;
            } 
        }
    }
    .typeseven {
        .magemenu-menu.horizontal-menu .explodedmenu {
            top: 0; 
            li.menu>a {
                padding: @indent__l @indent__base;
            } 
        }
    }

    .typethree .magemenu-menu.horizontal-menu .explodedmenu {
        left: 0;
    }
    .typesix {
        .magemenu-menu.horizontal-menu .explodedmenu 
        li.menu.parentMenu:hover .explodedmenu-menu-popup {
            top: 54px;
        }
    } 
    .cms-home2 .magemenu-menu.horizontal-menu .menu 
    .inner-cms-block .block.block-cate h3:before{
        top: 22px;
    }
    .cms-home-2 .magemenu-menu.horizontal-menu .explodedmenu 
    li.menu.parentMenu:hover .explodedmenu-menu-popup {
        top: 60px;
    }
    #nb_mn_computer .magemenu-menu.horizontal-menu {
        clear: both;
        display: block;
    }
    .magemenu-menu.horizontal-menu .menu.menu.nbtype-0,
    .magemenu-menu.horizontal-menu .menu.nbtype- {
        position: relative;
    }
    .magemenu-menu.horizontal-menu {
        .menu {
            & > a {
                position: relative;
                & img {
                    position: absolute;
                    left: 50%;
                    margin-left: -16px;
                    top: -12px;
                }
            }
            .inner-cms-block {
                .block.block-cate {
                    position: relative;
                    z-index: 2;
                    h3 {
                        position: relative;
                        .transition (all 0.3s ease-out 0s);
                        a {
                            float: left;
                            white-space: nowrap;
                            text-decoration: none;
                            color: #555f76;
                        }
                    }
                    .subcate {
                        position: relative;
                        float: left;
                        width: 100%;
                        border-bottom: 1px dotted @border-color__menu;
                        padding-left: @indent__base;
                        cursor: pointer;
                        &:last-child {
                            border-bottom: none !important;
                        }
                        h3 {
                            float: left;
                            width: 100%;
                            margin: 0;
                            line-height: 40px;
                            font-size: 100%;
                            text-transform: capitalize;
                            &>a {
                                .lib-css(color, @theme_color_333) !important;
                            }
                            .itemMenu {
                                position: relative;
                                .lib-css(padding-left, @indent__base);
                                a {
                                    .lib-css(color, @theme_color_444);
                                    line-height: 40px;
                                }
                            }
                        }
                        ul.itemsubmenu {
                            position: absolute;
                            left: 150%;
                            min-width: 220px;
                            opacity: 0;
                            filter: alpha(opacity=0);
                            .transition (all 0.3s ease-out 0s);
                            visibility: hidden;
                            top: 0;
                        }
                        ul {
                            .lib-css(background, @theme_color__white);
                            .box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
                            li {
                                border-bottom: 1px dotted @border-color__menu;
                                &:first-child {
                                    border-top: 1px dotted @border-color__menu;
                                }
                                a {
                                    line-height: 40px;
                                    text-decoration: none;
                                }
                            }
                        }
                        ul .itemMenu:hover > ul {
                            opacity: 1;
                            filter: alpha(opacity=100);
                            left: 100%;
                            .transition (all 0.3s ease-out 0s);
                            visibility: visible;
                        }
                        &:hover {
                            background: none !important;
                            a {
                                .lib-css(color, @theme_color) !important;
                                i {
                                    .lib-css(color, @theme_color);
                                }
                            }
                            h3 {
                                .transition (all 0.3s ease-out 0s);
                                &:before {
                                    .transition (all 0.3s ease-out 0s);
                                    .lib-css(border-color, @theme_color);
                                }
                                >ul {
                                    opacity: 1;
                                    filter: alpha(opacity=100);
                                    left: 100%;
                                    top: 0;
                                    .transition (all 0.3s ease-out 0s);
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
                .block.block-left {
                    min-width: auto;
                    .lib-css(padding-right, ceil(1.3 * @indent__base));
                    width: 250px;
                    & > p > img {
                       width: 100%; 
                    }
                }
                .block.block-bottom {
                    border-top: 1px dashed @border-color__menu;
                    color: #555f76;
                    float: left;
                    .lib-css(padding-top, @indent__base);
                    .lib-css(font-size, @font-size__xl);
                    text-transform: uppercase;
                    width: 100%;
                    & > p img {
                        width: 100%;
                    }
                }
                .block.block-top {   
                    width: 100%;
                    color: #555f76;
                    text-transform: uppercase;
                    border-bottom: 1px dashed @border-color__menu;
                    .lib-css(font-size, @font-size__xl);
                    .lib-css(padding, 0 0 ceil(0.9 * @indent__base) 0);
                    .lib-css(margin-bottom,  @font-size__s);
                }
                .block.block-product {
                    position: relative;
                    z-index: 1;
                    width: 250px;
                    min-width: 250px;
                    .lib-css(padding-right, ceil(1.3 * @indent__base));
                }
                .block.block-right {
                    width: 250px;
                    min-width: 250px;
                    .lib-css(padding-right, ceil(1.3 * @indent__base));
                }
                .block h2.title-right {
                    white-space: nowrap;
                    text-transform: uppercase;
                    color: #555f76;
                    width: 100%;
                    text-overflow: ellipsis;
                    .lib-css(font-size, @font-size__base);
                    .lib-css(margin-bottom, ceil(0.7 * @indent__base));
                }
                .block .block-content {
                    float: left;
                    width: 100%;
                    & > a {
                      .lib-css(margin-bottom, ceil(0.7 * @indent__base));
                      float: left;
                    }
                    & > img {
                      width: 100%;
                    }
                    & > p {
                      width: 230px;
                      color: @text__color-description;
                      float: left;
                    }  
                }
                .product-grid .item {
                    & > h2 {
                        color: #555f76;
                        .lib-css(font-size, @font-size__xl);
                        .lib-css(margin-bottom, -ceil(0.1 * @indent__base));
                        .lib-css(margin-bottom, ceil(0.7 * @indent__base));
                        .product-image {
                            float: left;
                            border: 1px solid @border-color__menu;
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .product-info {
                        float: left;
                        width: 100%;
                        .product-name {
                            float: left;
                            width: 100%;
                            .lib-css(margin-bottom, ceil(0.2 * @indent__base));
                            .lib-css(margin-top, ceil(0.8 * @indent__l));
                            a {
                                width: 100%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                float: left;
                                .lib-css(font-weight, @font-weight__700);
                                .lib-css(font-size, @font-size__base);
                            }
                        }
                    }
                    .product-info .price-box .old-price .price {
                        .lib-css(font-size, @font-size__base);
                    }
                    .actions {
                        .lib-css(margin-top, ceil(0.7 * @indent__base));
                        .btn-cart {
                            line-height: 40px;
                            padding: 0 25px;
                            float: left;
                            border: none;
                            .lib-css(padding, 0 ceil(0.8 * @indent__l));
                            &:hover {
                                opacity: 0.8;
                            }
                            span {
                                .lib-css(color, @theme_color__white);
                            }
                        }
                        .add-to-links {
                            float: left;
                            width: 100%;
                            clear: both;
                            li {
                                float: left;
                                a {
                                    &.link-wishlist {
                                        .lib-css(margin-right, ceil(0,7 * @indent__base));
                                }
                                    &.link-compare {
                                        .lib-css(margin-left, ceil(0,7 * @indent__base));
                                    }
                                }
                            }
                        }
                        p {
                          color: @text__color-description;
                        }
                    }
                    .product-info .price-box {
                        .regular-price, .special-price {
                            padding-left: 0;
                            .lib-css(margin-right, ceil(0.7 * @indent__base));
                            .price {
                                .lib-css(font-size, @font-size__xl);
                            }
                        }
                    }
                }
                &.row-cate-grid {
                    width: 100%;
                    .form-group {
                         display: inline-block;
                         a {
                            text-decoration: none;        
                        }
                    }
                }
            }
        }
        .navbar {
            min-height: 0;
            margin-bottom: 0;
            &.subparent:before {
                content: "\f105";
                font-family: "FontAwesome";
                top: 7px;
                right: 10px;
                position: absolute;
                .lib-css(font-size, @font-size__base);
                .lib-css(color, @theme_color_444);
                .transition (all 0.3s ease-out 0s);
            }
            &.subparent:hover.subparent:before {
                right: 5px;
                color: #fff;
                .lib-css(color, @theme_color__white);
                .transition (all 0.3s ease-out 0s);
            }
        }
        .nbtype-3 .explodedmenu-menu-popup, 
        .nbtype-2 .explodedmenu-menu-popup, 
        .nbtype-5 .explodedmenu-menu-popup {
            width: 100%;
        } 
        .explodedmenu {
            top: 18px;
            & > li {
                margin-bottom: 0;
                
                &:hover {
                    & > a {
                       .transition (all 0.3s ease-out 0s);
                        text-decoration: none;
                        z-index: 1;
                        background: none !important;
                    } 
                }
            }
            li.menu {
                float: left;
                position: relative;
                & > a {
                    margin-right: 1px;
                    float: left;
                    position: relative;
                    color: @theme_color_444;    
                    .lib-css (padding, 27px ceil(1.3 * @indent__base));  
                    font-size: @font-size__l;
                    font-weight: @font-weight__500;
                    &:hover {
                        color: @theme_color;
                        background: none;
                    }
                }
                .ic-category {
                    font-size: inherit !important;;
                    padding-top: 5px;
                    display: none;
                }
            }
            #menu3 {
                .explodedmenu-menu-popup {
                    .exploded-cms-block {
                        .inner-cms-block {
                            .block {
                                width: 185px;
                                li {
                                    float: left;
                                    width: 100%;
                                    border-bottom: 1px dotted @border-color__menu;
                                    padding-left: 15px;
                                    margin: 0;
                                    line-height: 40px;
                                    font-size: 100%;
                                    text-transform: capitalize;
                                    & > a {
                                        color: @theme_color_333;
                                    }
                                    &:hover {
                                        a {
                                            color: @theme_color;

                                        }
                                    }
                                    &:last-child {
                                         border-bottom: none;
                                    }
                                }

                            }
                        }
                    }
                }
            }
            li.menu {
                a {
                    span {
                        text-transform: capitalize;
                    }
                }
                .explodedmenu-menu-popup {
                    .exploded-cms-block {
                        .inner-cms-block {
                            .block {
                                width: 185px;
                                li {
                                    float: left;
                                    width: 100%;
                                    border-bottom: 1px dotted @border-color__menu;
                                    padding: 0 @indent__base;
                                    margin: 0;
                                    line-height: 40px;
                                    font-size: 100%;
                                    text-transform: capitalize;
                                    & > a {
                                        color: @theme_color_333;
                                    }
                                    &:hover {
                                        a {
                                            color: @theme_color;

                                        }
                                    }
                                    &:last-child {
                                         border-bottom: none;
                                    }
                                }

                            }
                        }
                    }
                }
            }
            li.design {
                .explodedmenu-menu-popup{
                    left: -234% !important;
                    width: 870px;
                    .inner-cms-block {
                        padding: @indent__base;
                        margin: 0 -@indent__base @indent__base -@indent__base;
                    }
                    .section-online {
                        &__inner {
                            width: 25%;
                            padding: 0 @indent__base;
                            float: left;
                            position: relative;
                            &--mask {
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-box-pack: center;
                                -webkit-justify-content: center;
                                -ms-flex-pack: center;
                                justify-content: center;
                                -webkit-box-align: center;
                                -webkit-align-items: center;
                                -ms-flex-align: center;
                                align-items: center;
                                padding-top: 0;
                                .button {
                                    display: inline-block;
                                    .border-radius(20px);
                                    text-transform: uppercase;
                                }
                            }
                            &--img {
                                img {
                                    min-height: 185px;
                                }
                            }
                        }
                    }
                }
            }
            li.menu.parentMenu {
                &.nbtype-4 .explodedmenu-menu-popup {
                    width: 100%;
                }
                .explodedmenu-menu-popup {
                    position: absolute;
                    top: 100px;
                    left: 20px;
                    z-index: 991;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    visibility: hidden;
                    .transition (all 0.3s ease-out 0s);
                    .inner-cms-block {
                        float: left;
                        max-width: 1200px;
                        width: auto !important;
                        &.row-productgrid {
                            width: 100%;
                            div {
                                text-align: center;
                                &:not(:last-child) {
                                  padding-right: @indent__base;
                                }
                                a.mm-product-name {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                    .exploded-menu-block {
                        background: @theme_color__white;
                        ul {
                            .box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
                            min-width: 270px;
                            padding: @indent__base 10px;
                            .lib-css(padding, @indent__base ceil(0.7 * @indent__base));
                            li {
                                position: relative;
                                background: #fbfbfb;
                                a {
                                    display: block;
                                    position: relative;
                                    .lib-css(color, @theme_color_grey);
                                    .lib-css(padding, ceil(0.3 * @indent__base) 0 ceil(0.3 * @indent__base) ceil(1.1 * @indent__l));
                                    &:hover {
                                        // color: #fff;
                                    }
                                }
                                ul {
                                    position: absolute;
                                    top: 0;
                                    left: 230px;
                                    opacity: 0;
                                    filter: alpha(opacity=0);
                                    visibility: hidden;
                                    .lib-css(background, @theme_color__white);
                                    .transition (all 0.3s ease-out 0s);
                                    z-index: 9;
                                }
                                &:hover > ul {
                                    opacity: 1;
                                    filter: alpha(opacity=100);
                                    visibility: visible;
                                    left: 180px;
                                    .transition (all 0.3s ease-out 0s);
                                }
                            }
                        }
                    }
                }
                &.nbtype-7 .explodedmenu-menu-popup {
                    left: 20%;
                }
                &:hover .explodedmenu-menu-popup {
                    top: 73px;
                    opacity: 1;
                    filter: alpha(opacity=100);
                    visibility: visible;   
                    .box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
                    max-width: 1200px;
                    .transition (all 0.3s ease-out 0s);
                    .lib-css(background, @theme_color__white);
                    border-top: 3px solid @theme_color !important;
                }
                .nbtype-5 {
                    .row-product-list > p {
                        text-transform: uppercase;
                    }
                    .block-2.row-product-list {
                        padding-top: 15px;
                    }
                }
            }

        }
        .nbtype-3 .explodedmenu-menu-popup .col-category {
            padding-top: 15px;
            a {
                padding-top: 3px;
                padding-bottom: 3px;
                color: @theme_color_black;
                text-decoration: none;
            }
        }
        .nbtype-3 .explodedmenu-menu-popup .col-category a:hover, 
        .explodedmenu li.menu.parentMenu.nbtype-5 .row-product-list > div a:hover {
            text-decoration: underline;
        }
    } 
    .magemenu-menu.vertical-menu {
        float: left;
        width: 100%;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 50px;
        opacity: 0;
        filter: alpha(opacity=0);
        border: 1px solid @border-color__menu;
        .transition (all 0.3s ease-out 0s);
        &.show {
            overflow: visible;
            height: auto;
            min-height: 200px;
            z-index: 999;
            opacity: 1;
            filter: alpha(opacity=100);
            .transition (all 0.3s ease-out 0s);
            .lib-css(background, @theme_color__white);
        }
        .subparent:before {
            content: "\f105";
            font-family: "FontAwesome";
            top: 7px;
            right: 10px;
            position: absolute;
            .lib-css(font-size,@font-size__base);
            .lib-css(color, @theme_color_444);
            .transition (all 0.3s ease-out 0s);
        }
        .header-nav > ul > li {
            float: left;
            width: 100%;
            border-top: 1px dotted @border-color__menu;
            &:first-child {
                border-top: none;
            }
        }
        .explodedmenu {
            float: left;
            width: 100%;
            position: relative;
            margin-bottom: 0;
            & > li {
                .lib-css(padding, ceil(0.3 * @indent__base) 0);
                & > a {
                    float: left;
                    width: 100%;
                    position: relative;
                    .lib-css(color, @theme_color_444);
                }
            }
            & > li.parentMenu {
                & > a:after {
                    content: "\f105";
                    position: absolute;
                    right: 20px;
                    top: 3px;
                    font-family: "FontAwesome";
                    z-index: 9;
                    .lib-css(font-size, @font-size__l);
                    .lib-css(color, @theme_color_444);
                    .transition (all 0.3s ease-out 0s);
                }
                &:hover {
                    & > a:after {
                        .lib-css(color, @theme_color__white);
                        .transition (all 0.3s ease-out 0s);
                    }
                }
            }
            li.menu {
                float: left;
                margin-bottom: 0;
                & > a {
                    margin-right: 1px;
                    float: left;
                    position: relative;
                    padding: 4px @indent__base 4px;
                    text-decoration: none;
                    span {
                        font-weight: 500 !important;
                        & > img {
                            float: left;
                            margin-right: 15px;
                        }
                    }
                    & > img {
                        position: absolute;
                        left: 17%;
                        top: -12px; 

                    }
                }
                .parentMenu .explodedmenu-menu-popup 
                .inner-cms-block.row-productgrid div a.mm-product-name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .inner-cms-block {
                    .block {
                        float: left;
                        margin-bottom: 0;
                        width: auto;
                    }
                    .block.block-cate {
                        position: relative;
                        z-index: 2;
                        width: 235px;
                        min-width: 215px;
                        .lib-css(padding-right, ceil(1.3 * @indent__base));
                        h3 {
                            position: relative;
                            .transition (all 0.3s ease-out 0s);
                            &:before {
                                position: absolute;
                                width: 6px;
                                height: 6px;
                                content: "";
                                .border-radius(100%);
                                top: 16px;
                                left: -15px;
                                border: 1px solid @theme_color_silver;
                                .transition (all 0.3s ease-out 0s);
                            }
                            a {
                                float: left;
                                white-space: nowrap;
                                text-decoration: none;
                                color: #555f76;
                            }
                        }
                        .subcate {
                            position: relative;
                            float: left;
                            width: 100%;
                            padding-left: 25px;
                            .lib-css(padding-left, ceil(0.8 * @indent__l));
                            border-bottom: 1px dotted @border-color__menu;
                            &:first-child {
                                border-top: 1px dotted @border-color__menu;
                            }
                            h3 {
                                float: left;
                                width: 100%;
                                margin: 0;
                                line-height: 40px;
                                font-size: 100%;
                                text-transform: uppercase; 
                                & > a {
                                    .lib-css(color, @theme_color_444);
                                }
                            }
                            .itemMenu {
                                position: relative;
                                .lib-css(padding-left, @indent__base);
                                a {
                                    line-height: 40px;
                                    .lib-css(color, @theme_color_444);
                                }
                            }
                            ul.itemsubmenu {
                                position: absolute;
                                left: 150%;
                                min-width: 220px;
                                opacity: 0;
                                filter: alpha(opacity=0);
                                visibility: hidden;
                                top: 0;
                                 .transition (all 0.3s ease-out 0s);
                            }
                            ul {
                                -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                                -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
                                .lib-css(background, @theme_color__white);
                                li {
                                    border-bottom: 1px dotted @border-color__menu;
                                    &:first-child {
                                        border-top: 1px dotted @border-color__menu;
                                    } 
                                    a {
                                        line-height: 40px;
                                        text-decoration: none;
                                    }
                                }
                                .itemMenu:hover > ul {
                                    opacity: 1;
                                    filter: alpha(opacity=100);
                                    left: 100%;
                                    .transition (all 0.3s ease-out 0s);
                                    visibility: visible;
                                }
                            }
                            &:hover {
                                h3 {
                                    .transition (all 0.3s ease-out 0s);
                                    &:before {
                                        .transition (all 0.3s ease-out 0s);
                                        .lib-css(border-color, @theme_color__white );
                                    }
                                    a {
                                        .lib-css(color, @theme_color__white );
                                    }
                                }
                                & > ul {
                                    opacity: 1;
                                    filter: alpha(opacity=100);
                                    left: 100%;
                                    top: 0;
                                    .transition (all 0.3s ease-out 0s);
                                    visibility: visible;
                                }
                            }
                        } 
                        .subcate.subparent:before {
                            content: "\f105";
                            font-family: "FontAwesome";
                            top: 7px;
                            right: 15px;
                            position: absolute;
                            .lib-css(font-size, @font-size__base);
                            .lib-css(color, @theme_color_444);
                            .transition (all 0.3s ease-out 0s);
                        }
                    }
                    .block.block-left {
                        min-width: auto;
                        display: block;
                        float: left;
                        min-width: 225px;
                        width: 245px;
                        .lib-css(padding-right, ceil(1.3 * @indent__base));
                        & > p > img {
                            width: 100%;
                        }
                    }
                    .block.block-bottom {
                        border-top: 1px dashed @border-color__menu;
                        color: #555f76 !important;
                        float: left;
                        padding-top: @indent__base;
                        text-transform: uppercase;
                        width: 100%;
                        .lib-css(font-size, @font-size__xl);
                        .lib-css(padding-top, @indent__base);
                        & > p img {
                            width: 100%;
                        } 
                    }
                    .block.block-top {
                        padding: 0 0 13px 0;
                        border-bottom: 1px dashed @border-color__menu;
                        width: 100%;
                        color: #555f76;
                        font-size: @font-size__xl;
                        text-transform: uppercase;
                        .lib-css(margin-bottom, @indent__l);
                        .lib-css(font-size, @font-size__xl);
                    }
                    .block.block-product {
                        position: relative;
                        z-index: 1;
                        width: 250px;
                        min-width: 225px;
                        .lib-css(padding-right, ceil(1.3 * @indent__base));
                    }
                    .block.block-right {
                        min-width: 230px;
                        width: 250px;
                        .lib-css(padding-right, ceil(1.3 * @indent__base));
                    }
                    .block {
                        h2.title-right {
                            white-space: nowrap;
                            text-transform: uppercase;
                            color: #555f76;
                            width: 100%;
                            text-overflow: ellipsis;
                            .lib-css(margin-bottom, ceil(0.7 * @indent__base));
                            .lib-css(font-size, @font-size__base);
                        }
                        .block-content {
                            width: 230px;
                            float: left;
                            & > img {
                                width: 100%;
                            }
                            & > a {
                                float: left;
                                .lib-css(margin-bottom, ceil(0.7 * @indent__base));
                            }
                            & > p {
                                width: 230px;
                                color: @text__color-description;
                                float: left;
                            }    
                        }
                    }
                   .product-grid .item {
                        & > h2 {
                            color: #555f76;
                            margin-top: -2px;
                            .lib-css(margin-bottom, ceil(0.7 * @indent__base));
                            .lib-css(font-size, @font-size__xl);
                        }
                        .product-image {
                            float: left;
                            border: 1px solid @border-color__menu;
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                        .product-info {
                            float: left;
                            width: 100%;
                            .product-name {
                                float: left;
                                width: 100%;
                                margin-bottom: 3px;
                                .lib-css(margin-top, ceil(0.8 * @indent__l));
                                a {
                                    font-weight: bold;
                                    width: 100%;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    float: left;
                                    .lib-css(font-size, @font-size__base);
                                }
                            }
                            .price-box {
                                .old-price .price {
                                    .lib-css(font-size, @font-size__base);
                                }
                                .regular-price, .special-price {
                                    padding-left: 0;
                                    margin-right: 10px;
                                    .price {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                        .actions {
                            margin-top: 7px;
                            .btn-cart {
                                line-height: 40px;
                                padding: 0 25px;
                                float: left;
                                border: none;
                                &:hover {
                                  opacity: 0.8;
                                }
                                span {
                                  color: @theme_color__white;
                                }
                            }
                            .add-to-links {
                                float: left;
                                width: 100%;
                                clear: both;
                                li {
                                    float: left;
                                    a {
                                        &.link-wishlist {
                                            margin-right: 10px;
                                        }
                                        &.link-compare {
                                            margin-left: 10px;
                                        }
                                    }
                                }
                            }
                            p {
                                color: @text__color-description;
                            }
                        }
                    }
                }
                &.nb-custome {
                    position: relative;
                }
                &.parentMenu .explodedmenu-menu-popup, 
                .explodedmenu-menu-popup {
                    position: absolute;
                    top: -1px;
                    z-index: 991;
                    opacity: 0;
                    filter: alpha(opacity=0);
                    visibility: hidden;
                    .transition (all 0.3s ease-out 0s);
                    left: 150%;
                }
                &.parentMenu .explodedmenu-menu-popup .inner-cms-block, 
                .explodedmenu-menu-popup .inner-cms-block {
                    .box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
                    background: @theme_color__white;
                    padding: 20px @indent__base;
                    float: left;
                    max-width: 1170px;
                }
                &.nbtype-3 .explodedmenu-menu-popup .inner-cms-block,
                &.nbtype-5 .explodedmenu-menu-popup .inner-cms-block {
                    box-shadow: none;
                    padding-top: 0;
                }
                &.nbtype-3 .explodedmenu-menu-popup .exploded-cms-block,
                &.nbtype-5 .explodedmenu-menu-popup .exploded-cms-block {
                    .box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
                    background: @theme_color__white;
                    padding: 20px @indent__base;
                    float: left;
                    max-width: 1170px;
                }
                &.parentMenu:hover .explodedmenu-menu-popup,
                &:hover .explodedmenu-menu-popup {
                    opacity: 1;
                    filter: alpha(opacity=100);
                    visibility: visible;
                    left: 100%;
                    .transition (all 0.3s ease-out 0s);
                }
            }
        }
        .nbtype-5 .explodedmenu-menu-popup {
            min-height: 250px;
        }
    }
    .magemenu-menu {
        &.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block {
            background: @theme_color__white;
        }
        img {
            max-width: 100%;
        }
        &.vertical-menu .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .exploded-menu-block ul {
            .box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
            min-width: 270px;
            padding: @indent__base 10px;
            li {
                position: relative;
                background: #fbfbfb;
                a {
                    padding: 5px 0 5px 32px;
                    display: block;
                    position: relative;
                    color: @theme_color_grey;
                    &:before {
                        content: "\f105";
                        position: absolute;
                        left: 20px;
                        top: 5px;
                        font-family: "FontAwesome";
                    }
                    &:hover {
                        &:before {
                            content: "\f105";
                            position: absolute;
                            left: 20px;
                            top: 5px;
                            font-family: "FontAwesome";
                        }
                    }
                }
                ul {
                    position: absolute;
                    top: 0;
                    left: 230px;
                    background: @theme_color__white;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 9;
                   .transition (all 0.3s ease-out 0s);
                }
                &:hover > ul {
                    opacity: 1;
                    visibility: visible;
                    left: 180px;
                   .transition (all 0.3s ease-out 0s);
                }
            }
        }
    }
    .menu parentMenu.nbtype-3 .explodedmenu-menu-popup {
        width: 100%;
        .inner-cms-block.row-cate-grid a {
            color: @theme_color_333;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .main-container {
        clear: both;
    }
    .vertical-menu {
        .menu .row-cate-grid img {
            margin: 0 auto;
        }
        .explodedmenu-menu-popup {
            border-top: 1px solid #d7d7d7;
        }
    }
    .wrap-vertical-menu {
        padding-left: 0;
        float: left;
        cursor: pointer;
        clear: both;
        display: block !important;
    }
    .nb_lbl_type img {
        float: left;
        margin-right: 5px;
    }
    .nb_pstatic_cat {
        font-weight: bold;
    }
    .wrap-vertical-menu > span {
        line-height: 50px;
        padding-left: 25px;
        position: relative;
        text-transform: uppercase;
        float: left;
        width: 100%;
        color: @theme_color_444;
        font-weight: bold;

        &:before {
            content: "\f0c9";
            position: absolute;
            font-family: "FontAwesome";
            font-size: 16px;
            top: 0;
            left: 0px;
        }
    }
    #header-nav {
        border: none !important;
    }
    #custommenu-mobile .level1 {
        background-color: #ededed !important;
    }
    
    .nbtype-6 .mm-product-name strong {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: block;
    }
    .magemenu-menu {
        .price-box .price {
            font-size: 13px;
            color: #1979c3;
        }
        .explodedmenu {
            li.menu.parentMenu {
                .explodedmenu-menu-popup .inner-cms-block {
                    &.row-productgrid {
                        img {
                            margin: 0 auto;
                            display: block;
                            max-width: 100%;
                        }
                        div a:first-child img {
                            .transition (all 0.4s);
                        }
                    }
                }
            }
            .explodedmenu-menu-popup .inner-cms-block.row-productgrid div a:hover img {
                .transform(translateY(-10px));
            }
        }
        .inner-cms-block.row-cate-grid 
        .form-group a.mm-cate-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .menu {
            .inner-cms-block .block {
                h2 {
                    font-size: 18px;
                    color: #555f76;
                    min-width: 1px;
                    margin-top: -2px;
                    margin-bottom: 10px;
                }
                h2.product-name {
                    margin-top: 25px;
                    font-size: 14px;
                    font-weight: bold;
                }
                .product-image, .product-image:hover {
                    border: 1px solid #d7d7d7;
                }
                .product-image {
                    display: inline-block;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .inner-cms-block.row-cate-grid .form-group {
            a:first-child span:first-child {
                height: 145px;
                display: block;
            }
            img {
                margin: 0 auto;
                max-width: 100%;
                max-height: 100%;
                .transition (all 0.4s);
                &:hover {
                    .transform(translateY(-10px));
                }
            }
        }
        .explodedmenu li.menu.parentMenu.nbtype-6 
        .explodedmenu-menu-popup .inner-cms-block {
            padding-left: 0;
        }
        .explodedmenu li.menu.parentMenu.nbtype-5 .row-product-list > div a, 
        .subcate_content a.mm-product-name {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        #block-col2.row-static-cate-grid img {
            max-width: 100%;
        }
        .pull-right {
            position: absolute;
            bottom: 0;
            right: 5px;
        }
    }
    .nbtype-6 .product_list_by_sub_cat .inner-cms-block {
        width: 100%;
        padding-left: 0;
    }
    .col-nb-1 {
        width: 100%;
        float: left;
        padding: 0px @indent__base;
        box-sizing: border-box;
    }
    .col-nb-2 {
        width: 50%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .col-nb-3 {
        width: 33.333333333%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .col-nb-4 {
        width: 25%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .col-nb-5 {
        width: 20%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .col-nb-6 {
        width: 16.666666666%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
        min-height: 200px;
    }
    .col-nb-7 {
        width: 14.2857142857%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .col-nb-8 {
        width: 12.5%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .col-nb-9 {
        width: 11.1111111111%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .col-nb-10 {
        width: 10%;
        float: left;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .col-nb-11 {
        width: 9.09090909091%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .col-nb-12 {
        width: 8.333333333%;
        float: left;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .nbtype-5 .col-nb-1,
    .nbtype-5 .col-nb-2,
    .nbtype-5 .col-nb-3,
    .nbtype-5 .col-nb-4,
    .nbtype-5 .col-nb-5,
    .nbtype-5 .col-nb-6,
    .nbtype-5 .col-nb-7,
    .nbtype-5 .col-nb-8,
    .nbtype-5 .col-nb-9,
    .nbtype-5 .col-nb-10,
    .nbtype-5 .col-nb-11,
    .nbtype-5 .col-nb-12 {
        padding: 0px;
        padding-right: 15px;
    }
    
    li.subcate_list {
        display: block;
        border: 1px dotted #d7d7d7;
        line-height: 40px;
        height: 40px;
        width: 100%;
        border-left: 0;
        cursor: pointer;
        padding-left: 30px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 0;
        &:not(:first-child) {
            border-top: 0;
        }
        &.active {
            border-right: 0;
        }
        :hover {
            color: #fff;
            background: #25bce9;
        }
        :hover:before {
            border-color: #fff;
        }
        :before {
            left: 15px;
        }
    }
    .subcate {
        &_content {
            display: none;
        }
        &_content.active {
            display: block;
        }
    }
    .nbtype-3 .row-static-cate-grid {
        .col-category span:first-child {
            height: 80px;
            display: block;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
        a {
            color: @theme_color_black;
        }
    }
     .block .price-box {
        float: left;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .block .price-box >p {
        float: left;
        margin-top: 5px;
    }
    .block .price-box button.action {
        margin-left: 20px;
        float: left;
        text-transform: uppercase;
    }
    .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block-cate .subcate ul li {
        margin-bottom: 0;
    }
    .magemenu-menu .menu .inner-cms-block .block h2.product-name {
        margin-bottom: 4px;
    }
    .parentMenu >a {
        display: block;
    }
    #contact-form span {
        color: @theme_color_444;
    }
    .my-contact-form >p {
        float: left;
    }
    .my-contact-form > form {
        float: right;
        width: 43%;
    }
    #header-nav {
        border-bottom: 1px solid #ededed;
        display: block;
        padding: 0 20px;
    }
    .my-contact-form > p > iframe {
        float: left;
    }
    .vertical-menu .row-product-list .nb_lbl_type {
        margin-top: 10px;
        img {
            float: left;
            margin-bottom: -5px;
        }
        a {
            width: 100%;
            float: left;
            margin-bottom: 10px;
        }
    }
    .panel.header {
        background: none;
        border-radius: 0;
        margin-bottom: 0;
        box-shadow: none;
    }
    .page-header {
        margin-top: 0;
    }
    .sections.nav-sections {
        background: none;
        width: 100%;
        float: left;
        margin-bottom: 0;
        border-bottom: 1px solid #cecece;
        .box-shadow(0 3px 4px 0px rgba(0,0,0,0.1));
        .navigation {
            background: none;
            display: block;
        }
    }
    .horizontal-menu .explodedmenu .nbtype-4 .explodedmenu-menu-popup .row-productgrid,
    .horizontal-menu .explodedmenu .nbtype-6 .explodedmenu-menu-popup .inner-cms-block,
    .horizontal-menu .explodedmenu .nbtype-7 .explodedmenu-menu-popup .inner-cms-block,
    .horizontal-menu .explodedmenu .nbtype-2 .explodedmenu-menu-popup .inner-cms-block {
        width: 100% !important;
    }
    .horizontal-menu .explodedmenu .nbtype- .explodedmenu-menu-popup .inner-cms-block {
        width: auto !important;
    }
    .horizontal-menu .explodedmenu .nbtype- .explodedmenu-menu-popup .inner-cms-block .block.block-cate {
        padding-right: 0;
    }
    #header-nav.navigation,
    .explodedmenu-menu-popup h3 {
        font-weight: normal;
    }
    .label {
        color: #333333;
    }
    .fieldset {
        margin-bottom: 25px;
    }
}
/* Responsive */
& when (@media-common = true),
    (@media-target = 'all') {
    @media (min-width: (@screen__992)) and (max-width: (@screen__1200 - 1)){
        .magemenu-menu.horizontal-menu {
            .menu .inner-cms-block .block.block-right {
                width: 200px;
                min-width: 200px;
            }
            .menu .inner-cms-block .block .block-content img {
                width: 100%;
            }
            .explodedmenu li.menu.parentMenu .explodedmenu-menu-popup .inner-cms-block {
                padding: 14px 10px;
            }
        }
        .typefor, .typeseven {
            .magemenu-menu.horizontal-menu .explodedmenu li.menu a {
                font-size: @font-size__base;
                span {
                    font-weight: 400px;
                    text-transform: inherit;        
                }
            } 
        }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media (min-width: (@screen__m)) and (max-width: (@screen__992 - 1)){
        .menu-mobile .parentMenu {
            float: left;
            width: 100%;
            padding-left: 20px;
        }
        .wrap-vertical-menu {
            display: none;
        }
        .magemenu-menu.horizontal-menu {
            .menu {
                .inner-cms-block.nb-repare-width {
                    .block {
                        img {
                            width: 100%;
                            height: auto;
                        }
                        h2 {
                            font-size: 16px; 
                        }
                    }
                    .block.block-cate .subcate a {
                        font-size: 13px;
                    }
                    .block.block {
                        &-product, &-left, &-right, &-cate {
                            width: 160px;
                            min-width: 160px;
                        }
                    }
                }
                &.nb-custome {
                    position: static;
                }
            }
            .explodedmenu li.menu.parentMenu {
                .explodedmenu-menu-popup .inner-cms-block {
                    padding: 10px;
                }
            }
        }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__m)) {
        .media-width('max', @screen__m);
            .menu-mobile .parentMenu {
            float: left;
            width: 100%;
            padding-left: 20px;
        }
        .wrap-vertical-menu {
            display: none;
        }
        #nb_mn_computer {
            display: none;
        }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (min-width: (@screen__992)) {
        .media-width('min', @screen__992);
        #nb_mn_mobile {
            display: none;
        }
       .nav-toggle {
            display: none;
       }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media (min-width: 1200px) and (max-width: 1280px) {
        .wrap-vertical-menu {
            width: 180px;
        }
        .magemenu-menu.vertical-menu {
            .explodedmenu li.menu {
                &.nbtype-5 .explodedmenu-menu-popup .exploded-cms-block,
                &.parentMenu .explodedmenu-menu-popup .inner-cms-block,
                .explodedmenu-menu-popup .inner-cms-block {
                    max-width: 1060px;
                }
            }
            .my-contact-form p iframe {
                width: 550px;
            }
        }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media (min-width: (@screen__992)) and (max-width: (@screen__1200 - 1)){
        .magemenu-menu.horizontal-menu .menu .inner-cms-block .block.block {
            &-product {
                min-width: 230px;
                width: 230px;
            }
            &-left {
                width: 230px;
            }
        }
        .my-contact-form > p > iframe {
            width: 520px;
        }
        .magemenu-menu.vertical-menu {
            .explodedmenu li.menu .inner-cms-block .block {
                &.block-left {
                    width: 200px;
                    min-width: 200px;
                    img {
                      width: 100%;
                    }
                }
                .block-content {
                    width: 100%;
                }
                &.block-cate {
                    min-width: 200px;
                    width: 200px;
                }
                &.block-product {
                    width: 200px;
                    min-width: 200px;
                }
                &.block-right {
                    width: 200px;
                    min-width: 200px;
                } 
            }
            .block .price-box {
                margin-top: 5px;
                & > p {
                    clear: both;
                    width: 100%;
                    float: left;
                }
                button.action {
                    margin-left: 0;
                }
            }   
            .my-contact-form p iframe {
                width: 450px;
            }
        }
        .magemenu-menu.vertical-menu .explodedmenu li.menu {
            &.nbtype-5 .explodedmenu-menu-popup .exploded-cms-block,
            &.parentMenu .explodedmenu-menu-popup .inner-cms-block,
            .explodedmenu-menu-popup .inner-cms-block {
                max-width: 845px;
            }
        }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media (min-width: (@screen__m)) and (max-width: (@screen__992 - 1)){
        .magemenu-menu.horizontal-menu {
            .menu .inner-cms-block {
                .block.block-left {
                    width: 175px;
                } 
                .block.block-cate {
                    width: 175px;
                    min-width: 175px;
                }
                .block.block-product {
                    width: 175px;
                    min-width: 175px;
                }
                .block.block-right {
                    width: 175px;
                    min-width: 175px;
                }
            }
            .explodedmenu li.menu > a {
                padding: 4px 15px;
            }
        }
        .block .price-box {
            margin-top: 5px;
            width: 100%;
            button.action {
                margin-left: 0;
            }
        }
        .block .price-box 
        .my-contact-form > p > iframe {
            width: 400px;
        }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__1200)) {
        .media-width('max', @screen__1200 + 1);
        .cms-home3, .cms-default {
            .wrapper-header-bottom .header.content .col-panel {
                padding-left: 15%;
            }
        }
        .magemenu-menu.horizontal-menu .explodedmenu li.menu > a {
            padding: 25px @indent__base;
        }
        .typeone .magemenu-menu.horizontal-menu .explodedmenu li.menu > a {
            padding: 25px @indent__base;
        }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__l)) {
        .media-width('max', @screen__l + 1);
        .cms-home3, .cms-default {
            .wrapper-header-bottom .header.content .col-panel {
                padding-left: 12%;
            }
        }
        .typeone .magemenu-menu.horizontal-menu .explodedmenu li.menu > a {
            padding: 25px 10px;
        }
    }
}

& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__m)) {
        .media-width('max', @screen__m + 1);
        .page-header {
            .col-panel.col-left {
                .inner-logo {
                    .nav-toggle {
                        display: none;
                    }
                }
            }
            .wrapper-header-bottom {
                .header.content {
                    .col-panel.col-left {
                        .navigation {
                            .lib-css (background, @theme_color);
                        }
                    }
                }
            }
        }
        
        .typefive {
            .col-panel.col-right .nav-toggle {
                top: 105%;
                left: 75%;
            }
        }
        .typethree {
            .wrapper-header-bottom {
                .header.content {
                    .col-center {
                        display: none;
                    }
                    .col-right {
                        padding-left: 55%;
                        width: 80%;
                    }
                    .col-panel.col-right .nav-toggle {
                        top: 24%;
                        left: 99%;
                        &:before {
                            color: @theme_color_444;
                        }
                    }
                }
            }
        }  
          
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__m - 1)) {
        .media-width('max', @screen__m);
        .typethree .wrapper-header-bottom .header.content .col-panel.col-right {
            .nav-toggle{
                left: 3%;
            }
        }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__xs - 1)) {
        .media-width('max', @screen__xs);
        .typethree .wrapper-header-bottom .header.content .col-panel.col-right {
            padding-left: 40%; 
            width: 100%;
        }
    }
}
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__s - 1)) {
        .media-width('max', @screen__s);
        .page-header {
            .col-panel.col-right {
                .nav-toggle {
                    left: 3%;
                    top: 128%;
                }
            }
        }
    }
}
& when (@media-target = 'desktop'),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__1200 - 1)) {
        .media-width('max', @screen__1200);
        #header-nav {
            padding: 0;
        }
        .magemenu-menu.horizontal-menu .explodedmenu {
            left: 0;
        }   
    }
}
& when (@media-target = 'desktop'),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__992 - 1)) {
        .media-width('max', @screen__992);
        .wrapper-header-bottom {
            .header.content {
                .navigation {
                    .magemenu-menu.horizontal-menu {
                        .nav-exploded.explodedmenu li {
                            padding-right: 0;
                        }
                    }
                }
            }            
        }       
    }
}
// responsive printshop
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__992 - 1)) {
        .media-width('max', @screen__992);
        #nb_mn_computer {
            display: none;
        }
        .nav-toggle {
            &:before {
                content: '\e898';
                .lib-css (color, @theme_color_grey);
            }
            &:hover {
               &:before {
                    .lib-css (color, @theme_color_grey);
                } 
            }
        } 
        .sections.nav-sections {
            border-bottom: none;
            .box-shadow(none);
        } 
        .page-header {
            .col-panel.col-left {
                .inner-logo {
                    .nav-toggle {
                        display: none;
                    }
                }
            }
            .col-panel.col-right .nav-toggle {
                display: block;
                left: -29px;
                top: 38px;
            }
        }
        .nav-open{
            #nb_mn_mobile{
                left: 0;
                z-index: 99;
            }
        }

        #nb_mn_mobile {
            background: @theme_color;
            display: block;
            -webkit-overflow-scrolling: touch;
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: -80%;
            left: calc(~'-1 * (100% - @{active-nav-indent})');
            overflow: auto;
            position: fixed;
            top: 0;
            width: 80%;
            width: calc(~'100% - @{active-nav-indent}');
            .navigation {
                .lib-css (background, @theme_color);
                & > ul {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
                
            }
        }
        #nb_megamenu_res {
            position: relative;
            .explodedmenu-menu-popup h3{
                float: left;
                width: 100%;
            }
            .Online{
                .my-contact-form{
                    width: 100%;
                    float: left;
                    .section-online__inner{
                        width: 50%;
                    }
                }
            }
            .parentMenu {
                >a{
                    color: @theme_color__white;  
                    float: left; 
                    font-size: @font-size__base;
                }
                span {
                    i {
                        position: absolute;
                        top: 0;
                        right: 15px;
                    }
                }
            }
            ul.explodedmenu{
                >li{
                    float: left;
                    line-height: 40px;
                    width: 100%; 
                    border-bottom: 1px solid @theme_color__white; 
                }
                li{
                    padding-left: 30px; 
                    margin-bottom: 0;
                    color: @theme_color__white;
                    position: relative;
                    float: left;
                    width: 100%;
                }
                li{
                    li{
                        &:last-child{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            ul{
                margin-bottom: 0;
            }
            .ui-menu-item{
                &.current{
                    .explodedmenu-menu-popup{ 
                        display: block;
                    }
                }
                .explodedmenu-menu-popup{
                    display: none;
                    .inner-cms-block{
                        ul{
                            display: block !important;
                        }
                    }
                } 
            }
        }
    }
}
//
//  responsive menu mobile
//  ---------------------------------------------
& when (@media-common = true),
(@media-target = 'all') {
    @media only screen and (max-width: @screen__992 - 1) {
        .media-width('max', @screen__992);  
        .nav-open{
            #nb_mn_mobile{
                left: 0;
                z-index: 99;
            }
        }

        #nb_mn_mobile {
            background: @theme_color;
            display: block;
            -webkit-overflow-scrolling: touch;
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: -80%;
            left: calc(~'-1 * (100% - @{active-nav-indent})');
            overflow: auto;
            position: fixed;
            top: 0;
            width: 80%;
            width: calc(~'100% - @{active-nav-indent}');
            .navigation {
                .lib-css (background, @theme_color);
                & > ul {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
                
            }
        }
        #nb_megamenu_res {
            .parentMenu a{
                color: @theme_color__white; 
                position: relative;
                span {
                    i {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
            ul.explodedmenu{
                >li{
                    float: left;
                    line-height: 40px;
                    width: 100%; 
                    border-bottom: 1px solid @theme_color__white; 
                }
                li{
                    padding-left: @indent__l; 
                    margin-bottom: 0;
                    color: @theme_color__white;
                }
                li.Online.design {
                    display: none;
                }
                li{
                    li{
                        &:last-child{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            ul{
                margin-bottom: 0;
            }
            .ui-menu-item{
                &.active{
                    .explodedmenu-menu-popup{ 
                        display: block;
                    }
                }
                .explodedmenu-menu-popup{
                    display: none;
                    .inner-cms-block{
                        ul{
                            display: block !important;
                        }
                    }
                } 
            }
        }
    }
} 

