// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Extend common form control styles
//  ---------------------------------------------

.abs-form-control-pattern {
    .__form-control-pattern();

    &:hover {
        .__form-control-pattern__hover();
    }

    &:focus {
        .__form-control-pattern__focus();
    }

    &[disabled] {
        .__form-control-pattern__disabled();
    }
}

//
//  Transformation to rows form layout
//  ---------------------------------------------

.abs-field-rows[class] {
    > .admin__field-control {
        clear: left;
        float: none;
        text-align: left;
        width: auto;
    }

    &:not(.admin__field-option) {
        > .admin__field-label {
            display: block;
            line-height: @field-label__font-size;
            //  Try to Calculate margin offset considering line-height;
            margin-bottom: 1rem - round((@field-label__line-height - 1) * @field-label__font-size / 2, 2);
            margin-top: 0 - round((@field-label__line-height - 1) * @field-label__font-size / 2, 2);
            text-align: left;
            width: auto;

            &:before {
                display: none;
            }
        }

        &.required,
        &._required {
            > .admin__field-label {
                span {
                    padding-left: 1.5rem;

                    &:after {
                        left: 0;
                        margin-left: 0; //@temp_gutter; // @todo ui: update after finalizing Form Grid mixing css/source/forms/_temp.less:10
                    }
                }
            }
        }
    }
}

.abs-control-qty {
    min-width: 0;
    width: 5.4rem;
}

.abs-control-price {
    min-width: 0;
    width: 10rem;
}

.abs-fieldset-legend {
    font-size: 1.6rem;
    font-weight: @font-weight__semibold;
    margin-bottom: @indent__l;
}
