// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Partners page
//  _____________________________________________

.page-partners {
    .partners-block {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(row);
        .lib-vendor-prefix-flex-wrap(wrap);

        .ie9 & {
            word-spacing: -.45rem;
        }
    }

    .partner {
        margin-bottom: @indent__xl;
        padding: 0 @indent__m;
        width: 100% / 3;

        .ie9 & {
            display: inline-block;
            vertical-align: top;
            word-spacing: normal;
        }
    }
}

.partners-description,
.partner-description {
    line-height: @line-height__xl;
}

.partners-description {
    margin-bottom: 2em;
}

.partner-title {
    font-size: 1.7rem;
    font-weight: @font-weight__semibold;
    margin-bottom: .8rem;
}

.partner-image {
    margin-bottom: 2.2rem;
    margin-top: .8rem;
    max-height: 12rem;
    max-width: 12rem;
}

.partner-description {
    margin-bottom: 1rem;
}

.partners-footer {
    .magento-connect-logo {
        float: right;
        margin-bottom: 1px;
    }

    p {
        line-height: @line-height__xl;
    }
}

.partners-search {
    padding-left: 7.7rem;
    position: relative;

    &:before {
        &:extend(.abs-icon all);
        content: @icon-cart__content;
        font-size: 4.5rem;
        left: .9rem;
        position: absolute;
        top: .6rem;
    }
}
