<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<div class="block block-search">
    <div class="block block-title"><strong><?php /* @escapeNotVerified */ echo __('Search'); ?></strong></div>
    <div class="block block-content" data-action = "search-popup">
        <form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
            <div class="field search">
                <label class="label" for="search" data-role="minisearch-label">
                    <span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
                </label>
                <div class="control">
                    <input id="search"
                           data-mage-init='{"quickSearch":{
                                "formSelector":"#search_mini_form",
                                "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest', ['_secure' => $block->getRequest()->isSecure()]); ?>",
                                "destinationSelector":"#search_autocomplete"}
                           }'
                           type="text"
                           name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                           value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                           placeholder="<?php /* @escapeNotVerified */ echo __('Search entire store here...'); ?>"
                           class="input-text"
                           maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength();?>"
                           role="combobox"
                           aria-haspopup="false"
                           aria-autocomplete="both"
                           aria-expanded ="true"
                           autocomplete="off"/>
                    <span class="actions">
                      <button type="submit"
                              title="<?php echo $block->escapeHtml(__('Search')) ?>"
                              class="action search">
                          <span><?php /* @escapeNotVerified */ echo __('Search'); ?></span>
                      </button>
                    </span>
                    <div id="search_autocomplete" class="search-autocomplete"></div>
                    <?php echo $block->getChildHtml() ?>
                </div>
            </div>
           
        </form>
        <div class="close_popup" data-action = "search-popup-close">
          <span>
            <i class="icon-cancel"></i>
          </span>
        </div>
    </div>
</div>
<style type="text/css">
  .page-header .sections.nav-sections .navigation .col-right .box-search .block-search .block-content.active {
    z-index: 9999;
  }
</style>
<script type="text/javascript">
  require(['jquery'], function($){
    jQuery(document).ready( function() {
      $('.search-toggle-icon').click(function(){
        $('.block.block-content').toggleClass('active');
      });
      $('.close_popup').click(function(){
        $('.block.block-content').removeClass('active');
      });
    });
  });
</script>
