<?php
$pid = $this->getRequest()->getParam('id');
$sku = $block->getCustomAttr($pid)->getSku();
$attr = $block->getCustomAttr($pid)->getData('additional_product_name');
?>
<div class="nb-custom-attr">
    <div class="nb-attr"><?= $attr ?></div>
    <span> | </span>
    <div class="nb-sku"><?= $sku ?></div>
</div>
