<div class="page-toolbar">
    <div class="page-main">
        <ul>
            <li ng-class="$index == 0 ? 'disabled' : ''" ng-click="switchStage($index, 'prev')"><i class="nbd-icon-vista nbd-icon-vista-arrow-upward" title="<?php echo __('Prev Page'); ?>"></i></li>
            <li class="index_Total"><span style="font-size: 14px;">{{$index + 1}}/{{stages.length}}</span></li>
            <li ng-class="$index == (stages.length - 1) ? 'disabled' : ''" ng-click="switchStage($index, 'next')"><i class="nbd-icon-vista nbd-icon-vista-arrow-upward rotate-180" title="<?php echo __('Next Page'); ?>"></i></li>
            <!--                            <li><i class="icon-nbd icon-nbd-content-copy" title="<?php echo __('Copy Design'); ?>"></i></li> -->
            <li><i nbd-clear-stage class="nbd-icon-vista nbd-icon-vista-refresh click-reset-design" title="<?php echo __('Clear Design'); ?>"></i></li>
        </ul>
    </div>
</div>