<?php
$helper = $this->helper('Netbaseteam\CustomCategory\Helper\Data');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
$parCatId = $category->getId();
$parCategory = $objectManager->create('Magento\Catalog\Model\Category')->load($parCatId);
$parent_category = $parCategory->getParentCategory();
$level = $parent_category->getLevel();
$mode = $helper->getCategoryMode($parCatId);
$collection = $helper->getBlockByCategory($parCatId);
$catSelected = [];
foreach ($collection as $data) {
    $catSelected[] = $data->getCatSelected();
}
?>
<?php if ($level >= 2 && $mode == 'PRODUCTS_AND_PAGE' || $mode == 'PRODUCTS') : ?>
<div class="col-lg-12 col-md-12 col-xs-12 custom-category-page">
    <div class="collections">
            <div class="HeadingBanner">
                <hr class="line-left">
                    <h4 class="heading"><?php echo __('UNSERE EMPFEHLUNG FÜR DICH'); ?></h4>
                <hr class="line-right">
            </div>
            <div class="row" id="carousel">
            <?php
            $j = 0;
            foreach ($catSelected as $key => $cid ) :
                $conditionCollection = $block->loadCid($cid); ?>
                    <?php foreach ($conditionCollection as $data) : ?>
                        <div class="col-sm-6 col-md-3 col-xs-6 custom-slider">
                            <div class="items">
                                <a href="<?= $data->getUrl(); ?>">
                                    <figure class="text-center">
                                        <?php
                                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $category = $objectManager->create('Magento\Catalog\Model\Category')->load($data->getId());
                                        $outPutHelper = $this->helper('Magento\Catalog\Helper\Output');
                                        $_imgHtml = '';
                                        if ($_imgUrl = $category->getImageUrl()) {
                                            $_imgHtml = '<img class="banner-category" src="' . $_imgUrl . '" />';
                                            $_imgHtml = $outPutHelper->categoryAttribute($category, $_imgHtml, 'image');
                                            /* @escapeNotVerified */
                                            echo $_imgHtml;
                                        }
                                        ?>
                                        <figcaption>
                                            <h4> <?= $category->getName(); ?></h4>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    <?php endforeach; ?>
                    <?php $j++; endforeach; ?>
                </div>
        <?php endif; ?>
    </div>
</div>
<script>
    require(['jquery', 'jquery/ui', 'owl_carousel'], function($){
        $(document).ready(function(){
                    jQuery("div.collections #carousel").owlCarousel({
                        autoplay: true,
                        lazyLoad: true,
                        loop: true,
                        responsiveClass: true,
                        autoHeight: true,
                        autoplayTimeout: 7000,
                        smartSpeed: 800,
                        navigation: true,
                        nav: true,
                        items: 4,
                        navigationText: [
                            "<i class='fa fa-chevron-left'></i>",
                            "<i class='fa fa-chevron-right'></i>"
                        ],
                        responsive: {
                            0: {
                                items: 1
                            },
                            320: {
                                items: 1
                            },
                            600: {
                                items: 3
                            },

                            1024: {
                                items: 4
                            },
                            1366: {
                                items: 4
                            }
                        }
                    });
                    if(jQuery('div.custom-category-page .collections .row div.custom-slider').length <=4) {
                        $('div.owl-buttons').hide();
                    }else {
                        $('div.owl-buttons').show();
                    }
        });
    });
</script>

