<div class="manufacturer-name">
    <?php $getOptionValue = $block->getMaterialOptions(); ?>
    <?php foreach ($getOptionValue as $value) : ?>
        <span><?php echo $value; ?></span>
    <?php endforeach; ?>
</div>