<?php
$rootCatId = $block->getRootCategoryId();
$childCatRoot = $block->getCategoryCollection($rootCatId)
    ->getChildrenCategories()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('is_active', 1)
    ->addAttributeToFilter('include_in_menu', 1);
$cid = $block->getCurrentCategory()->getId();
$level = $block->getCategoryCollection($cid)->getLevel();
$parentId = $block->getCategoryCollection($cid)->getParentId();
$catId = 0;
if($level > 4) {
    $catIdLevel = $block->getCategoryCollection($parentId)->getParentId();
    $catId = $block->getCategoryCollection($catIdLevel)->getParentId();
}
$cat_level = $block->getCategoryCollection($parentId)->getParentId();
$main_cat = $block->getCategoryCollection($cat_level)
    ->getChildrenCategories()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('is_active', 1)
    ->addAttributeToFilter('include_in_menu', 1);
$checkLevel = 0;
if($level == 3) {
    $checkLevel = $parentId;
} else if($level == 4) {
    $checkLevel = $cat_level;
} else if ($level > 4) {
    $checkLevel = $catId;
}
$subCategoryList = $block->getCategoryCollection($checkLevel)
    ->getChildrenCategories()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('is_active', 1)
    ->addAttributeToFilter('include_in_menu', 1);
?>
    <div class="main-category-list">
        <div class="nav-label">
            <?= __('Themen') ?>
            <i class="icon-back_01_white" aria-hidden="true"></i>
        </div>
        <ul class="root-cate">
            <?php foreach ($childCatRoot as $item) : ?>
                <li class="main-cat-item <?= $item->getId() == $checkLevel ? 'selected' : '' ?> ">
                    <a href="<?= $item->getUrl(); ?>"><?= $item->getName(); ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="sub-category-list">
        <?php foreach ($subCategoryList as $item) :;
            $subId = $item->getId();
            if($level > 4) {
                $cid = $parentId;
            }
            ?>
            <ul class="sub-category-list <?= $cid == $subId ? 'selected' : '' ?>">
                <h4 class="title"><?= $item->getName(); ?><i class="icon-back_01_white" aria-hidden="true"></i>
                    <?php
                    $subCollection = $block->getCategoryCollection($subId)->getChildrenCategories()->addAttributeToSelect('*')
                        ->addAttributeToFilter('is_active', 1)
                        ->addAttributeToFilter('include_in_menu', 1);
                    ?>
                </h4>
                    <ul class="child">
                        <?php foreach ($subCollection as $subItem): ?>
                        <li class="child-item <?= $cid == $subItem->getId() ? 'selected' : '' ?>">
                            <a href="<?= $subItem->getUrl(); ?>"><?= $subItem->getName(); ?></a>
                        </li>
                        <?php endforeach; ?>
                    </ul>
            </ul>
        <?php endforeach; ?>
    </div>
<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){
        $(document).ready(function($) {
            $("div.sub-category-list ul.sub-category-list").each(function( index ) {
                if (!$(this).hasClass("selected")) {
                    $(this).find('h4.title').addClass('show');
                    $(this).find('ul.child').css('display', 'none');
                }
            });
            $("div.sub-category-list ul.child li.child-item").each(function( index ) {
                if ($(this).hasClass("selected")) {
                    $(this).parent().parent().addClass('selected');
                    $(this).parent().parent().find('h4.title').removeClass('show');
                    $(this).parent().parent().find('ul.child').css('display', 'block');
                }
            });
            $('.sub-category-list .title').click(function(event){
                $(this).toggleClass('show');
                $(this).next('.child').slideToggle();
                event.stopPropagation();
            });
            $('.main-category-list .nav-label').click(function(event){
                $(this).toggleClass('show');
                $(this).next('.root-cate').slideToggle();
                event.stopPropagation();
            });
        });
    });
</script>