<?php
$_product = $block->getProduct();
$video = false;
$helper = $this->helper('Netbase\Sun\Helper\Data');
$galleryImages = $this->helper('Netbase\Sun\Helper\Data')->getMediaGalleryImages($_product);
?>
<ul class="video-extenal-bottom">
    <li>
        <?php
        if ($galleryImages) {
            foreach ($galleryImages as $primage) {
                $imageData = $primage->getData();
                if (isset($imageData['media_type']) && $imageData['media_type'] == 'external-video') {
                    $video = true;
                    if (strpos($imageData['video_url'], 'youtube.com') !== false) {
                        $videoUrl = explode(" ", $imageData['video_url']);
                        echo preg_replace("/\s*[a-zA-Z\/\/:\.]*youtube.com\/watch\?v=([a-zA-Z0-9\-_]+)([a-zA-Z0-9\/\*\-\_\?\&\;\%\=\.]*)/i","<iframe width=\"800\" height=\"450\" src=\"//www.youtube.com/embed/$1\" frameborder=\"0\" allowfullscreen></iframe>", $imageData['video_url']);
                    }elseif (strpos($imageData['video_url'], 'youtu.be') !== false) {
                        echo "<iframe width=\"800\" height=\"450\" src=".$helper->getYoutubeEmbedUrl($imageData['video_url'])." frameborder=\"0\" allowfullscreen></iframe>";
                    }elseif(strpos($imageData['video_url'], 'vimeo.com') !== false){
                        echo "<iframe width=\"800\" height=\"450\" src=".$imageData['video_url']." frameborder=\"0\" allowfullscreen></iframe>";
                    }
                }
            }
        }
        ?>
    </li>
</ul>
<?php if($this->getRequest()->getFullActionName() == 'catalog_product_view') : ?>
    <?php echo $this->getLayout()->createBlock("Netbaseteam\CustomCategory\Block\Product\Details")->setTemplate("Magento_Catalog::product/view/menu_details.phtml")->toHtml() ?>
<?php endif; ?>
<script>
    require(['jquery', 'jquery/ui'], function($){
        $(document).ready( function() {
            $( "ul.video-extenal-bottom li iframe" ).each(function( index ) {
                if(index >=1) {
                    $(this).addClass('auto-hide');
                }
            });
        });
    });
</script>
<style>
    ul.video-extenal-bottom li iframe.auto-hide {
        display: none;
    }
</style>
