<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Netbaseteam\CustomCategory\Block\Adminhtml\Category\AssignCategories $block */

/** @var \Netbaseteam\CustomCategory\Block\Adminhtml\Category\Tab\Category $blockGrid */
$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?= $block->getGridHtml() ?>
<input type="hidden" name="category_selected" id="in_category_selected" data-form-part="category_form" value="" />
<script type="text/x-magento-init">
    {
        "*": {
            "Netbaseteam_CustomCategory/catalog/category/assign-categories": {
                "selectedCategories": <?= /* @noEscape */ $block->getProductsJson() ?>,
                "gridJsObjectName": <?= /* @noEscape */ '"' . $gridJsObjectName . '"' ?: '{}' ?>
            }
        }
    }
</script>
<!-- @todo remove when "UI components" will support such initialization -->
<script>
    require('mage/apply/main').apply();
</script>
