<div id="container" class="main-col general-color-gray">
    <div class="admin__scope-old">
        <form id="config-edit-form">
            <div class="accordion">
                <div class="entry-edit form-inline">
                    <div class="section-config">
                        <div class="entry-edit-head admin__collapsible-block"> 
                            <fieldset class="config admin__collapsible-block">
                                <table cellspacing="0" class="form-list">
                                    <tbody>
                                        <tr>
                                            <td class="label">
                                                <label>Main Color</label> 
                                            </td>
                                            <td class="value">
                                                <input type="input" class="input-text admin__control-text" name="main-color"/>
                                            </td>
                                        </tr>
                                        <tr>    
                                            <td class="label">
                                                 <label>Accent Color</label>
                                            </td>
                                            <td class="value">
                                                <input type="text" class="input-text admin__control-text" name="accent-color"/> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                 <label>Secondary Color</label>
                                            </td>
                                            <td class="value">
                                                <input type="text" class="input-text admin__control-text" name="extra-color"/> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                 <label>Text Color</label>
                                            </td>
                                            <td class="value">
                                                <input type="text" class="input-text admin__control-text" name="text-color"/> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                 <label>link Color</label>
                                            </td>
                                            <td class="value">
                                                <input type="text" class="input-text admin__control-text" name="link-color"/> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                 <label>Hover Color</label>
                                            </td>
                                            <td class="value">
                                                <input type="text" class="input-text admin__control-text" name="hover-color"/> 
                                            </td>
                                        </tr>
                                         <tr>
                                            <td class="label">
                                                 <label>Decoration Color</label>
                                            </td>
                                            <td class="value">
                                                <input type="text" class="input-text admin__control-text" name="decoration-color"/> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>