<div id="container" class="main-col general-components">
    <div class="admin__scope-old">
        <form id="config-edit-form">
            <div class="accordion">
                <div class="entry-edit form-inline">
                    <div class="section-config">
                        <div class="entry-edit-head admin__collapsible-block"> 
                            <fieldset class="config admin__collapsible-block">
                                <table cellspacing="0" class="form-list">
                                    <tbody>
                                        <tr>
                                            <td class="label">
                                               <label>Baseline</label>
                                            </td>
                                            <td class="value">
                                                <input id="baseline" name="baseline" value="" class="baseline input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>    
                                            <td class="label">
                                                 <label>Gutter</label>
                                            </td>
                                            <td class="value">
                                                <input id="gutter" name="gutter" value="" class="gutter input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                 <label>Vertical Padding Small</label>
                                            </td>
                                            <td class="value">
                                                <input id="vertical-padding-small" name="vertical-padding-small" value="" class="vertical-padding-small input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <label>Vertical Padding Base</label>
                                            </td>
                                            <td class="value">
                                                <input id="vertical-padding-base" name="vertical-padding-base" value="" class="vertical-padding-base input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                 <label>Vertical Padding Large</label>
                                            </td>
                                            <td class="value">
                                                <input id="vertical-padding-large" name="vertical-padding-large" value="" class="vertical-padding-large input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <label>Horizontal Padding Small</label>
                                            </td>
                                            <td class="value">
                                                <input id="horizontal-padding-small" name="horizontal-padding-small" value="" class="horizontal-padding-small input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                         <tr>
                                            <td class="label">
                                                <label>Horizontal Padding Base</label>
                                            </td>
                                            <td class="value">
                                                <input id="horizontal-padding-base" name="horizontal-padding-base" value="" class="horizontal-padding-base input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <label>Horizontal Padding Large</label>
                                            </td>
                                            <td class="value">
                                                <input id="horizontal-padding-large" name="horizontal-padding-large" value="" class="horizontal-padding-large input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <label>Border Radius Small</label>
                                            </td>
                                            <td class="value">
                                                <input id="border-radius-small" name="border-radius-small" value="" class="border-radius-small input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                         <tr>
                                            <td class="label">
                                                <label>Border Radius Base</label>
                                            </td>
                                            <td class="value">
                                                <input id="border-radius-base" name="border-radius-base" value="" class="border-radius-base input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">
                                                <label>Border Radius Large</label>
                                            </td>
                                            <td class="value">
                                                <input id="border-radius-large" name="border-radius-large" value="" class="border-radius-large input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                         <tr>
                                            <td class="label">
                                                <label>Border Width Base</label>
                                            </td>
                                            <td class="value">
                                                <input id="border-width-base" name="border-width-base" value="" class="border-width-base input-number admin__control-number" type="number" /> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> 