<div id="page:left" class="side-col">
	<div id="system_config_tabs" class="config-nav">
		<div class="config-nav-block admin__page-nav _collapsed _hide">
			<ul class="admin__page-nav-items items">
				<li class="admin__page-nav-item item _active">
					<a class="admin__page-nav-link" href="#">Typography</a>
				</li>
				<li class="admin__page-nav-item item">
					<a class="admin__page-nav-link" href="#!colors">Colors</a>
				</li>
				<li class="admin__page-nav-item item">
					<a class="admin__page-nav-link" href="#!colorsdark">Colors Dark</a>
				</li>
				<li class="admin__page-nav-item item">
					<a class="admin__page-nav-link" href="#!colorsgray">Colors Grays</a>
				</li>
				<li class="admin__page-nav-item item">
					<a class="admin__page-nav-link" href="#!components">Components</a>
				</li>
			</ul>
		</div>
	</div>
</div>