& when (@media-common = true) {  
    #nb_popupmess { 
        background-color: #fff;
        border: 1px solid #ccc;
        left: 50%;
        margin-left: -250px;
        margin-top: -100px;
        max-height: 480px;
        min-height: 100px;
        position: fixed;
        text-align: left;
        top: 30%;
        max-width: 500px;
        width: 70%;
        z-index: 9999;
        border-radius: 3px;
        .ajaxcart-success-box {
            text-align: center;
        }
        .pop-title {
            font-weight: bold;
            margin-top: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }
        .product-info {
            h4{
                margin-bottom: 25px; 
            }
            .product-name {
                color: #1979c3;
                font-weight: 600;
            }
        }
        .product-info{
            padding: 0 30px;
        }
        .ajaxcart-success-box img.image {
            float: none;
        }
        img.image {
            float: left;
            max-width: 100%;
            width: 35%;
            max-height: 220px;
        }
        .cart-info {
            font-size: 15px;
            margin-top: 5px;
            span {
                &.total-items, &.total-prices {
                    color: #3385ff;
                    font-weight: 600;
                }
            }
        }
        .close_x {
            position: absolute;
            top: 0px;
            right: 15px;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            line-height: 100%;
        }
        .the-action {
            margin-top: 10px;
            padding: 0 30px 30px 30px;
            display: flex;
        }
        .view-cart {
            color: #3385ff;
            font-weight: 600;
        }
    }

    #nb-ajaxcart {
        &-title {
            position: relative;
            margin-bottom: 15px;
            line-height: 100%;
        }
        &-continue {
            background-color: #4CAF50;
            border: none;
            padding: 15px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px; 
            width: calc(~"50% - 7px");
            margin-right: 7px;
            span {
                color: #fff;
            }
        }
        &-checkout {
            background-color: #E4672D; /* Green */
            border: none;
            padding: 15px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px; 
            margin-left: 8px;
            width: calc(~"50% - 8px");
            span {
                color: #fff;
            }
        }
    }
    #nb-ajax-cart {
        &-loading1 {
            border: 1px solid #ccc;
            box-shadow: 5px 5px 5px #888888;
            height: 145px;
            left: 50%;
            margin-left: -200px;
            margin-top: -50px;
            opacity: 0.8;
            position: fixed;
            text-align: center;
            top: 50%;
            width: 400px;
            z-index: 10000;
        }
        &-loading {
            background: #ffffff url("../images/loading.gif") no-repeat scroll center center;
            border: 1px solid #ccc;
            box-shadow: 5px 5px 5px #888888;
            height: 150px;
            width: 250px;
            opacity: 0.8;
            position: fixed;
            top: 40%;
            left: 50%;
            .transform(translate(-50%,0));
            z-index: 10000;
        }
    }
    .ajax-cart-popup-none{
        display: none;
    }
    #ajaxcart_content_option_product{
        background-color: #fff;
        border: 1px solid #ccc;
        left: 50%;
        transform: translate(-50%,0);
        margin-top: -100px;
        max-height: 480px;
        min-height: 100px;
        max-width: 500px;
        border: 10px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        overflow-y: auto !important;
        padding: 10px;
        position: fixed;
        text-align: left;
        top: 30%;
        width: 60%;
        z-index: 9999;
        border-radius: 3px;
        img.image {
            max-width: 100%;
            float: left;
            width: 33%;
            margin-right:20px;
        }
        #product-options-wrapper {
            float: left;
            min-width: 150px;
            width: 60%;
            .product-name{
                font-size: 16px;
                font-weight: 600;
            }
            span.price{
                font-size:14px;
                font-weight: 600;
                line-height: 2.2rem;
            }
        }
        #product-addtocart-button {
            font-size: 1.4rem;
            padding: 7px 15px;
            width: 80%;
        }
        #ajaxcart_cancel {
            line-height: 2.2rem;
            margin-right: 15px;
            display:none;
        }
        .option_title {
            overflow: hidden;
            position: relative;
            padding:10px 10px;
            text-align: left;
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            color: #006400;
            font-size:16px;
            p {
                float:left;
            }
            .close_x {
                float:right;
                font-size: 30px;
                font-weight: bold;
                position: absolute;
                text-decoration: none;
                float: right;
                position: absolute;
                right: 10px;
                top: 5px;
                line-height: 25px;
            }

        }
    }

    .nb_w_item{
        display: none;
    }

    #nb_shadow{
        background-color: rgba(51, 51, 51, 0.55);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
    }
}
/*Pop up responsive*/
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__m - 1)) {
        .media-width('max', @screen__m);
        #nb_popupmess{
            margin-left:0;
            left: 2%;
        }
        #ajaxcart_content_option_product{
            margin-left: 0;
            /*left:20%;*/
        }
        #nb-ajax-cart-loading{
            margin-left: 0px;
            width: 140px;
            height: 120px;
        }
    }
}

& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (500px)) {
        .media-width('max', 500px);
        #ajaxcart_content_option_product{
            overflow: hidden;
            overflow-y: auto !important;
            height:300px;
        }
        #nb_popupmess{
            overflow: hidden;
            overflow-y: auto !important;
            height:300px;
            top:35%;
            width: 300px;
        }
    }
}