<?php
$url_process = $this->getUrl('categoryicon/index/icon');

function top_get_categories() {
	$objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
	$category = $objectManagerr->create('Magento\Catalog\Model\Category');
    $tree = $category->getTreeModel();
    $tree->load();
    $ids = $tree->getCollection()->getAllIds();
    $arr = array();
    $arrayCategories = array();
    if ($ids) {
        foreach ($ids as $id) {
            $cat = $objectManagerr->create('Magento\Catalog\Model\Category');
            $cat->load($id);
 
          //  if($id!=1){
 
                $arrayCategories[$id] =
                        array("parent_id" => $cat->getParentId(),
                            "name" => $cat->getName(),
                            "cat_id" => $cat->getId(),
                            "cat_level" => $cat->getLevel(),
                            "cat_url" => $cat->getUrl()
                );
          //  }
        }// for each ends
        return $arrayCategories;
        /*
          echo 'PK<pre>';
          print_r($arrayCategories);
          echo '</pre>';
         */
    }//if ids present
}
$arrayCategories = top_get_categories();
/* \zend_debug::dump($arrayCategories); */
	
function top_createTree($array, $currentParent, $currLevel = 0, $prevLevel = -1) {
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$catalogSession = $objectManager->create('Magento\Catalog\Model\Session');
	$selected_arr = array();
	if(count($selected_arr) <= 0) {
		$model = $objectManager->create('Cmsmart\Categoryicon\Model\Categoryicon');
		$collections  = $model->getCollection();
		foreach($collections as $col){
			$selected_arr[] = $col->getCategoryId();
		}
	}
    foreach ($array as $categoryId => $category) {
        if ($currentParent == $category['parent_id']) {
            if ($currLevel > $prevLevel)
                echo "<ul id='ul_".$categoryId."'>";
            if ($currLevel == $prevLevel)
                echo " </li> ";
 
                    $cat_id_hidden = array('1','2');//set category id hidden
                    if(in_array($categoryId,$cat_id_hidden)){
                       // $display = 'none';
                    }
                    else{
                       // $display = 'block';
                    }
 
            /* class="level_'.$category['cat_level'].' " */
			$chk = ""; $bg_style = "";
			if(in_array($categoryId, $selected_arr)){
				$chk = ' checked="true"';
				$bg_style = 'style="background: #f5d6c7 none repeat scroll 0 0;"';
			}
			
            echo '
				<li id="li_'.$categoryId.'">
					<img id="ext-cus-'.$categoryId.'" class="my_folder">';
				if($categoryId > 1){
					echo '<input type="checkbox" class="mytree-l-tcb" id="ext-gen'.$categoryId.'" '.$chk.' value="'.$categoryId.'" onClick="myCatSelect(this)">';
				}
            
			echo '<a id="a_'.$categoryId.'" onClick="myCatSelectA(this)">';
                echo '<span id="span_'.$categoryId.'">'.$category['name'].'</span>';
            echo '</a>';
            //echo '<input type="text" id="m_cat_id_'.$category['cat_id'].'" name="m_cat_id_'.$category['cat_id'].'" value="id = '.$category['cat_id'].' : level = '.$category['cat_level'].' "/>';
            if ($currLevel > $prevLevel) {
                $prevLevel = $currLevel;
            }
            $currLevel++;
            top_createTree($array, $categoryId, $currLevel, $prevLevel);
            $currLevel--;
        }
    }
    if ($currLevel == $prevLevel)
        echo " </li></ul> ";
}
?>

<script type="text/javascript">
requirejs(['jquery', 'cmsmartTreeview'], function($){
	"use strict";
	
	function expand_prags(str){
	  
	}
	jQuery(document).ready(function() {
		//to remove default behaviour on category id 1 and 2
		jQuery("#span_1").html('');
		jQuery("#span_1").html('All Categories');
		/* jQuery("#span_2").html('');
		jQuery("#span_2").html('Pragnesh Karia Root Category'); */

		jQuery("#a_1").removeAttr("href");
		jQuery("#a_1").removeAttr("target");
		jQuery("#a_2").removeAttr("href");
		jQuery("#a_2").removeAttr("target");

		/* jQuery("#a_1").attr({'class':'expandable-hitarea','href':''});
		jQuery("#a_2").attr({'class':'expandable-hitarea','href':''}); */

		jQuery('#btn_save_icon').attr('data-bind', "");
	});
	jQuery(function() {
		jQuery("#top_tree").treeview({
		   collapsed: true,
		   animated: "medium",
		   control:".sidetreecontrol",
		   persist: "location"
		});
	})
	
});

function myCatSelectA(e){
	require(['jquery'], function($){ 
		var el = jQuery(e);
		jQuery("#top_tree .selected").css("background", "none");
		if(el.prev().is(':checked')){
		} else {
			el.prev().trigger( "click" );
		}
		el.css("background", "#f5d6c7 none repeat scroll 0 0");
		reloadIcon(el.prev());
	});
}

function myCatSelect(e){
	
	require(['jquery'], function($){ 
		var el = jQuery(e);
		jQuery("#top_tree .selected").css("background", "none");
		if(el.is(':checked')){
		} else {
			jQuery('#btn_save_icon').attr('data-bind', "");
			reloadIcon(el);
		}
		el.next().css("background", "#f5d6c7 none repeat scroll 0 0");
	});
}
	
function reloadIcon(el){
	require(['jquery'], function($){ 
		jQuery('#btn_save_icon').attr('data-bind', el.val());
		jQuery("#my_class_cat").removeAttr( "class" );
		jQuery("#my_class_cat").text("...");
		jQuery.ajax({
			type: 'POST',
			url: '<?php echo $url_process ?>',
			data: {
				id_cate: jQuery('#btn_save_icon').attr('data-bind'),
				cat_class: document.getElementById("my_class_name").value,
				icon_type: "load",
			},
			dataType: 'json',
			success: function(data) {
				jQuery("#my_class_cat").text("");
				if(data.class_name){
					jQuery("#my_class_cat").addClass(data.class_name);
				} else {
					jQuery("#my_class_cat").text("No Icon");
				}
			},
			error: function() {
				/* console.log("Error...") */
			}
		});
	});
}
</script>

<div id="caticon_main_div">

	<div id="top_sidetree">
		<div class="sidetreecontrol"><a href="?#">Collapse All</a> | <a href="?#">Expand All</a></div>
		<div id="top_tree">
			<?php top_createTree($arrayCategories, 0); ?>
		</div>
	</div>
	
	<div id="category_info_tabs_my_custom_tab_content">
	
		<div class="input-icon-class">
			<b>Class Name:</b>
			<input id="my_class_name" name="my_class_name" value="" type="text">
		</div>
		<div class="icon-select">
			<label>Icon Selected:</label>
			<span style="cursor: pointer;" class="icon-lock-open" id="my_class_cat" onclick="clickSpan(this);"></span>
		</div>
		<div class="menu-icon-head">
			<h3>Fontello Icons</h3>
			<div class="button-set">
				<button onclick="my_accept(this); return false;" id="btn_save_icon" class="btn_save_icon" data-bind=""><span>Save Icon</span></button>
			</div>
		</div>
		<div class="container">
			<?php
			/* read json file */
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
			$mediaUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
			$path = $mediaUrl.'/Categoryicon/config.json';
			$rows = json_decode(file_get_contents($path), TRUE);
			/* \zend_debug::dump($rows["glyphs"]); */
			$glyphs = $rows["glyphs"];
			$html = "";
			for($i=1; $i < count($glyphs); $i++){
				$val = $glyphs[$i]["css"];
				$html .= '<span style="cursor: pointer;" class="icon-'.$val.'" id="'.$val.'"  onclick="clickSpan(this);"></span>';
			}
			echo $html;
			?>
			
		</div>
	
	</div>
</div>

<script type="text/javascript">
	function my_accept(el){
		if(document.getElementById("my_class_name").value == ""){
			alert("Please select an icon");
			return false;
		} else {		
			require(['jquery'], function($){ 
				if(jQuery('#btn_save_icon').attr('data-bind') != "") {
					var btn = jQuery(el);
					btn.text("Saving Icon");
					jQuery.ajax({
						type: 'POST',
						url: '<?php echo $url_process ?>',
						data: {
							id_cate: jQuery('#btn_save_icon').attr('data-bind'),
							cat_class: document.getElementById("my_class_name").value,
							icon_type: "save",
						},
						dataType: 'json',
						success: function(data) {
							btn.text("Saved Icon");
							console.log("Success...")
						},
						error: function() {
							console.log("Error...")
						}
					});
				} else {
					alert("Please press to checkbox to choose category");
				}
			});
		}
	}
	function clickSpan(object) {
		document.getElementById("my_class_name").value = object.id;
		document.getElementById("my_class_cat").className = "icon-" + object.id;
		
		require(['jquery'], function($){ 
			jQuery("#my_class_cat").text("");
		});
	}

</script>
