// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@edit-order-comment-notes__border-color: @color-gray65;
@edit-order-comment-notes__font-size: @font-size__s;

//
//  Table secondary for edit order
//  ---------------------------------------------

.abs-admin__table-secondary-edit-order {
    th {
        font-weight: @font-weight__regular;
        text-align: left;
        vertical-align: top;
    }
    td {
        text-align: right;
    }
    tr {
        &:last-child {
            td {
                border: none;
            }
        }
    }
}

//
//  Order information
//  ---------------------------------------------

.order-information-table {
    &:extend(.abs-admin__table-secondary-edit-order all);
}

//
//  Order account information
//  ---------------------------------------------

.order-account-information-table {
    &:extend(.abs-admin__table-secondary-edit-order all);
}

//
//  Edit order tables
//  ---------------------------------------------

.edit-order-table {
    &:extend(.abs-order-tables all);
    &:extend(.abs-order-tbody-border all);
    margin-bottom: 0rem;
    tfoot {
        &._hide {
            display: none;
        }
        td {
            padding-top: @order-create-sidebar__margin__m;
        }
        .col-total {
            text-align: right;
        }
    }
    .edit-total-price-block {
        padding-left: 3rem;
    }
}

.order-subtotal-table {
    tr {
        td {
            &:last-child {
                text-align: right;
            }
        }
    }
}

.order-history-block {
    margin: 0 0 5rem;
}

.order-history-comments-actions {
    margin-top: @order-create-sidebar__margin__reqular;
    button{
        font-size: 1.6rem;
        padding: 10px 27px 9px;
    }
}
