//  Navigation variables
//  _____________________________________________

@navigation__background: @secondary__color__light;
@navigation__border: '';

@navigation-level0-item__font-size: 16;
@navigation-level0-item__font-weight: @font-weight__bold;
@navigation-level0-item__line-height: false;
@navigation-level0-item__margin: 0;
@navigation-level0-item__padding: 8px @indent__xl 8px 15px;
@navigation-level0-item__text-transform: uppercase;

@navigation-level0-item__background: '';
@navigation-level0-item__border: 1px solid @color-gray82;
@navigation-level0-item__color: @color-gray34;
@navigation-level0-item__text-decoration: none;

@navigation-level0-item__active__background: '';
@navigation-level0-item__active__border-color: @color-orange-red1;
@navigation-level0-item__active__border-style: solid;
@navigation-level0-item__active__border-width: 0 0 0 8px;
@navigation-level0-item__active__color: '';
@navigation-level0-item__active__text-decoration: '';

@submenu__background: '';
@submenu__border: '';
@submenu__padding-top: @indent__s;
@submenu__padding-right: 0;
@submenu__padding-bottom: @indent__s;
@submenu__padding-left: 15px;
@submenu__font-size: '';
@submenu__font-weight: @font-weight__regular;
@submenu-item__line-height: 1.3;

@submenu-item__background: '';
@submenu-item__border: '';
@submenu-item__color: @color-gray34;
@submenu-item__text-decoration: '';

@submenu-item__active__background: '';
@submenu-item__active__border: 8px;
@submenu-item__active__border-color: @color-orange-red1;
@submenu-item__active__border-style: solid;
@submenu-item__active__border-width: 0 0 0 @submenu-item__active__border;
@submenu-item__active__color: '';
@submenu-item__active__text-decoration: '';

//
//  Desktop navigation
//  ---------------------------------------------

@navigation-desktop__background: @navigation__background;
@navigation-desktop__border: '';
@navigation-desktop__font-size: '';
@navigation-desktop__font-weight: @font-weight__bold;

@navigation-desktop-level0-item__line-height: 53px;
@navigation-desktop-level0-item__margin: 0 @indent__s 0 0;
@navigation-desktop-level0-item__padding: 0 12px;

@navigation-desktop-level0-item__background: '';
@navigation-desktop-level0-item__border: '';
@navigation-desktop-level0-item__color: @color-gray34;
@navigation-desktop-level0-item__text-decoration: none;

@navigation-desktop-level0-item__hover__background: '';
@navigation-desktop-level0-item__hover__border: '';
@navigation-desktop-level0-item__hover__color: @primary__color;
@navigation-desktop-level0-item__hover__text-decoration: @navigation-desktop-level0-item__text-decoration;

@navigation-desktop-level0-item__active__background: '';
@navigation-desktop-level0-item__active__border-color: @color-orange-red1;
@navigation-desktop-level0-item__active__border-style: solid;
@navigation-desktop-level0-item__active__border-width: 0 0 3px;
@navigation-desktop-level0-item__active__color: @navigation-desktop-level0-item__hover__color;
@navigation-desktop-level0-item__active__text-decoration: @navigation-desktop-level0-item__text-decoration;

@submenu-desktop__background: @page__background-color;
@submenu-desktop__border-width: @border-width__base;
@submenu-desktop__border-style: solid;
@submenu-desktop__border-color: @border-color__base;
@submenu-desktop__box-shadow: 0 @indent__xs @indent__xs rgba(0, 0, 0, .19);
@submenu-desktop__font-size: '';
@submenu-desktop__font-weight: @font-weight__bold;
@submenu-desktop__min-width: 230px;
@submenu-desktop__padding: 15px 0;

@submenu-desktop-arrow: true; // [true|false]
@submenu-desktop-arrow__size: 10px;
@submenu-desktop-arrow__left: 20px;

@submenu-desktop-item__padding: 8px @indent__base;
@submenu-desktop-item__background: '';
@submenu-desktop-item__border: '';
@submenu-desktop-item__color: @navigation-desktop-level0-item__color;
@submenu-desktop-item__text-decoration: '';

@submenu-desktop-item__hover__background: @secondary__color;
@submenu-desktop-item__hover__border: '';
@submenu-desktop-item__hover__color: @navigation-desktop-level0-item__hover__color;
@submenu-desktop-item__hover__text-decoration: @navigation-desktop-level0-item__text-decoration;

@submenu-desktop-item__active__background: '';
@submenu-desktop-item__active__border-color: @color-orange-red1;
@submenu-desktop-item__active__border-style: solid;
@submenu-desktop-item__active__border-width: 0 0 0 3px;
@submenu-desktop-item__active__color: '';
@submenu-desktop-item__active__text-decoration: '';
