//  Sections variables
//  _____________________________________________

//
//  Tabs
//  ---------------------------------------------

//  Tabs controls
@tab-control__font-size: @font-size__base;
@tab-control__font-family: false;
@tab-control__font-weight: @font-weight__semibold;
@tab-control__font-style: false;
@tab-control__line-height: @tab-control__height;
@tab-control__height__base: @line-height__computed;
@tab-control__height: @indent__base;
@tab-control__margin-right: @indent__xs;
@tab-control__padding-top: @indent__xs;
@tab-control__padding-right: @indent__base;
@tab-control__padding-bottom: @tab-control__padding-top;
@tab-control__padding-left: @tab-control__padding-right;
@tab-control__border-color: @border-color__base;
@tab-control__border-width: @border-width__base;

//  Current tab
@tab-control__background-color: @panel__background-color;
@tab-control__color: @text__color__muted;
@tab-control__text-decoration: none;

@tab-control__hover__background-color: lighten(@tab-control__background-color, 5%);
@tab-control__hover__color: @tab-control__color;
@tab-control__hover__text-decoration: @tab-control__text-decoration;

@tab-control__active__background-color: lighten(@tab-control__background-color, 15%);
@tab-control__active__color: @text__color;
@tab-control__active__text-decoration: @tab-control__text-decoration;

@tab-content__background-color: @tab-control__active__background-color;
@tab-content__border-top-status: false;
@tab-content__border: @tab-control__border-width solid @tab-control__border-color;
@tab-content__margin-top: @tab-control__height + @tab-control__border-width + @tab-control__padding-top + @tab-control__padding-bottom;
@tab-content__padding-top: @indent__base;
@tab-content__padding-right: @indent__base;
@tab-content__padding-bottom: @tab-content__padding-top;
@tab-content__padding-left: @tab-content__padding-right;

//
//  Accordions
//  ---------------------------------------------

@accordion-control__font-family: @tab-control__font-family;
@accordion-control__font-size: @font-size__l;
@accordion-control__font-style: @tab-control__font-style;
@accordion-control__font-weight: @tab-control__font-weight;
@accordion-control__line-height: @accordion-control__height;
@accordion-control__border-top: @tab-control__border-width solid @tab-control__border-color;
@accordion-control__border-right: @tab-control__border-width solid @tab-control__border-color;
@accordion-control__border-bottom: @tab-control__border-width solid @tab-control__border-color;
@accordion-control__border-left: @tab-control__border-width solid @tab-control__border-color;
@accordion-control__background-color: @tab-control__background-color;
@accordion-control__color: @tab-control__color;
@accordion-control__text-decoration: @tab-control__text-decoration;
@accordion-control__height: @indent__xl;
@accordion-control__margin-bottom: @indent__xs;
@accordion-control__padding-top: @tab-control__padding-top;
@accordion-control__padding-right: @indent__base;
@accordion-control__padding-bottom: @tab-control__padding-bottom;
@accordion-control__padding-left: @accordion-control__padding-right;

@accordion-control__visited__color: @accordion-control__color;
@accordion-control__visited__text-decoration: @accordion-control__text-decoration;

@accordion-control__hover__background-color: @tab-control__hover__background-color;
@accordion-control__hover__color: @tab-control__hover__color;
@accordion-control__hover__text-decoration: @tab-control__hover__text-decoration;

@accordion-control__active__background-color: @tab-control__active__background-color;
@accordion-control__active__color: @tab-control__active__color;
@accordion-control__active__text-decoration: @tab-control__active__text-decoration;

@accordion-content__background-color: @tab-control__active__background-color;
@accordion-content__border: @tab-content__border;
@accordion-content__margin: 0 0 @indent__xs;
@accordion-content__padding: @tab-content__padding-top @tab-content__padding-right @tab-content__padding-bottom @tab-content__padding-left;
