//  Tooltips variables
//  _____________________________________________

@tooltip__background: @color-white;
@tooltip__border-color: @color-gray-light2;
@tooltip__border-width: 1px;
@tooltip__border-radius: false;
@tooltip__color: @primary__color;
@tooltip__cursor: help;
@tooltip__font-size: false;
@tooltip__font-family: false;
@tooltip__font-weight: false;
@tooltip__line-height: 1.4;
@tooltip__font-style: false;
@tooltip__margin: false;
@tooltip__padding: 12px 16px;
@tooltip__min-width: 210px;
@tooltip__max-width: 360px;
@tooltip__z-index: 100;

@tooltip-arrow__size: 5px;
@tooltip-arrow__offset: 10px;
