<?php
    $cateId = $block->getCategoryId();
    $productCollection = $block->getProductCategory($cateId);
    $_helper = $this->helper('Netbase\Product\Helper\Data');
    $currentSymbol = $_helper->getCurrencySymbol();
    $showWishlist = true;
    $showCompare = true;
    $type = 'widget-new-grid';
?>

<div class="product-inner5 col-lg-12">
    <ol class="products list items product-items row products_news owl-carousel">
        <?php $i=0; foreach ($productCollection as $key => $_product):
            ?>
        <li class="product item">
            <div class="product-item-info" data-container="product-grid">
                <?php      
                    $originalPrice = $_product->getPrice();  //200 
                    $specialPrice = $_product->getSpecialPrice();  
                    ?>
                <?php if(($specialPrice)&&($specialPrice <= $originalPrice)){?> 
                <div class="sale">
                    <span> 
                    <?php
                        $saleof= abs(($specialPrice/($originalPrice))*100-100);
                        echo '- ';    
                        print_r(floor($saleof));
                        echo '%'; 
                        ?>                                   
                    </span> 
                </div>
                <?php } ?>
                <?php
                    $image = 'category_page_grid' or 'category_page_list';
                    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
                    $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->getUrl();
                    ?>
                <div class="product-item-actions-wrap">
                    <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo display-flex" tabindex="-1">
                    <img alt="" src="<?php echo $productImage; ?>" />
                    </a> 
                    <div class="product actions product-item-actions"> 
                        <div class="inner-actions">
                            <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?> 
                            <div class="actions-primary">
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                    <a href="#"
                                       data-post='<?php echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product) ?>'
                                       class="action towishlist" data-action="add-to-wishlist"
                                       title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
                                        <span>Add to Wish List</span>
                                    </a>
                                <?php endif; ?>
                            </div>
                            <?php
                                $objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
                                $objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                $postDatas = $_helper->getAddToCartPostParams($_product);
                                $postData = json_encode($postDatas);
                            ?>
                            <div class="actions-secondary" data-role="add-to-links">
                                <?php if ($_product->isSaleable()): ?>
                                    <button class="action tocart primary one"
                                            data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_product) ?>"}}'
                                            data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                            type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                    </button>
                                <?php else: ?>
                                    <?php if ($_product->getIsSalable()): ?>
                                        <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                    <?php else: ?>
                                        <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                                <?php if($showCompare):?>
                                <a href="#"
                                    class="action tocompare"
                                    title="<?php echo __('Add To Compare'); ?>"
                                    aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                    data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
                                    role="button">
                                    <span>Compare</span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li> 
        <?php
            if ($i == 4 ) {
                break;
            }
            $i++; endforeach;
        ?>
    </ol>
</div>
<script type="text/javascript">
    require(['jquery','owlCarousel'], function($) {
            jQuery(document).ready(function() { 
            $('.products_news').owlCarousel({
                loop: true,
                responsiveClass: true,
                nav: true,
                dots: false,
                margin: 0,
                navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                responsive:{
                    0:{
                        items:2,
                    },
                    480:{
                        items:2,
                    },
                    600:{
                        items:3,
                    },
                    1000:{
                        items:5,
                    }
                }
            });
       }); 
    });
</script>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "wishlist": {
                    "component": "Magento_Wishlist/js/view/wishlist"
                }
            }
        }
    }
}
</script>
