// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@order-create-table__border-color: @table-td__border-color;
@order-create-sku__background: @admin__page-nav__background-color;
@order-create-sku__padding: @indent__base;
@order-create-sku-table__border-color: @color-white;

//
//  Table
//  ---------------------------------------------

.order-tables {
    &:extend(.abs-order-tables all);
    &:extend(.abs-order-tbody-border all);
}

.order-items {
    > .admin__page-section-title {
        margin: 0;
    }
    .actions-update {
        margin: @indent__base 0;
        text-align: right;
    }
}

.order-search-items {
    .data-grid {
        .action-configure {
            float: right;
            &.disabled {
                display: none;
            }
        }
        .col-id,
        .col-price,
        .col-select {
            width: 10rem;
        }
    }
}

.abs-order-tables {
    margin: 0 0 @order-create-sidebar__margin__reqular;
    width: 100%;
    th {
        border-top: 0;
        font-size: 1.3rem;
        color: @text__color;
    }
    td {
        border-bottom: none;
    }
    tbody {
        tr {
            border-bottom: 4px solid @nb-color-border;
            &.row-messages-error,
            &.row-gift-options {
                td {
                    padding-top: 0;
                }
            }
        }
    }
    tfoot {
        td {
            border-bottom: 1px solid @order-create-table__border-color;
            border-top: none;
        }
    }
    .col-qty,
    .col-qty-invoice {
        .admin__control-text {
            &:extend(.abs-control-qty all);
        }
    }
    .qty-table {
        &:extend(.abs-qty-table all);
    }
    .col-actions {
        .admin__control-select {
            width: 13rem;
        }
    }
    .price {
        display: inline-block;
        margin: 0 0 @order-create-sidebar__margin__s;
    }
    .item-options {
        &:extend(.abs-clearfix all);
        margin: @order-create-sidebar__margin__m 0 0;
        dt {
            clear: left;
            float: left;
            margin: 0 @order-create-sidebar__margin__s @order-create-sidebar__margin__s 0;
        }
        dd {
            display: inline-block;
            float: left;
            margin: 0 0 @order-create-sidebar__margin__s;
        }
    }
    .custom-price-block {
        + .admin__control-text {
            &:extend(.abs-control-price);
        }
    }
    .custom-price-block,
    .discount-price-block {
        font-size: @order-create-sidebar__font-size__xs;
        margin: 0 0 @order-create-sidebar__margin__s;
        .admin__field-label {
            line-height: 1.6rem;
        }
    }
    .product-configure-block {
        margin: @indent__s 0 0;
        .disabled {
            display: none;
        }
    }
    .product-sku-block {
        margin: @indent__s 0 0;
    }
}
