<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$tierPrice = false;
if ($_product->getTypeId() == 'configurable') {
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
    $productTypeInstance = $product->getTypeInstance();
    $usedProducts = $productTypeInstance->getUsedProducts($product);
    foreach ($usedProducts as $child) {
        $childId = $child->getId();
        $tierPrice = $objectManager->create('Magento\Catalog\Model\Product')->load($childId);
        $tierPrice = true;
    }
}
?>
<?php if ($_product->isSaleable()): ?>
<!-- <?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $moduleManager = $objectManager->get(Magento\Framework\Module\Manager::class);
 ?> -->

<div class="box-tocart row">
    <?php if (!$block->hasOptions()):?>
        <?= $block->getChildHtml('product.info.addtocart.nb_additional') ?>
    <?php else:?> 
        <?= $block->getChildHtml('product.info.addtocart.additional.nb_additional') ?>
    <?php endif ?>
    <div class="fieldset cart-action">
        <div class="actions">
            <button type="submit"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </button>
            <div class="nb-description">
                <span>(<?= __('Bitte erst Produkt gestalten') ?>)</span>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>
<script>
    require(['jquery', 'jquery/ui', 'mage/translate' ], function($){
        jQuery(document).ready( function() {
            $('button.decrease-item').click(function() {
                jQuery('.catalog-product-view form#product_addtocart_form').submit()
            });
            if($('.catalog-product-view .product-add-form #product-addtocart-button').click(function() {
                if($('#nbdesigner_upload_preview .img-con').length > 0) {
                    return true;
                }
                if($('#nbdesigner_frontend_area .img-con').length === 0 && $('.catalog-product-view .oldesign-wraper #triggerDesign').length > 0) {
                    alert($.mage.__('Please design before addtocart.'));
                    return false;
                }
            }));
            $('button.increase').click(function() {
                jQuery('.catalog-product-view form#product_addtocart_form').submit()
            });
        });
    });
</script>
