<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php

$_helper = $this->helper('Magento\Catalog\Helper\Output');

$_product = $block->getProduct();

$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

// $_otherAttrs : []
$_otherAttrs = $block->getMoreAttributes();
//var_dump($_otherAttrs);die;

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
	
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue): ?>
<div class="product attribute ">
    <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
    <div class="value row" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>>
	<div class="description value__item col-lg-4">
		<?php /* @escapeNotVerified */ echo $_attributeValue; ?>
	</div>

	<?php foreach ($_otherAttrs as $attr_code => $call): ?>
		<div class="<?php echo $attr_code; ?> value__item col-lg-4">
			<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->$call(), $attr_code); ?>
		</div>
	<?php endforeach ?>


    
    	
    </div>
</div>
<?php endif; ?>
