<?php
$_product = $block->getProduct();
$video = false;
$galleryImages = $this->helper('Netbase\Sun\Helper\Data')->getMediaGalleryImages($_product);

?>

<ul class="product-item-wrapper-custom col-md-3 col-lg-3">
    <?php
    $_helperGallery = $this->helper('Netbase\Sun\Helper\Data');
    $_helperGallery->addGallery($_product);
    $images = $_helperGallery->getGalleryImages($_product);
    if ($images instanceof \Magento\Framework\Data\Collection) {
        $i = 1;
        foreach ($images as $image) {
            $item = $image->getData();
            if (isset($item['media_type']) && $item['media_type'] == 'image'):
                ?>
                <?php if ($i == 1): ?>
                <li class="selected">
            <?php else: ?>
                <li >
            <?php endif; ?>
                <img src="<?php echo isset($item['medium_image_url']) ? $item['medium_image_url'] : null; ?>" alt="Preview image">
                </li>
                <?php
                $i++;
            endif;
        }
    }
    ?>   
    <?php
    if ($galleryImages) {
        foreach ($galleryImages as $primage) {
            $imageData = $primage->getData();
            if (isset($imageData['media_type']) && $imageData['media_type'] == 'external-video') {
                $video = true;
                if (strpos($imageData['video_url'], 'youtube.com') !== false || strpos($imageData['video_url'], 'youtu.be') !== false) {
                    echo "<li><img class='nb-custom-gallery' width='240' height='300' src=".$imageData['url']. "></li>";
                }elseif(strpos($imageData['video_url'], 'vimeo.com') !== false){
                    echo "<li><img class='nb-custom-gallery' width='240' height='300' src=".$imageData['url']. "></li>";
                }
            }
        }
    }
    ?>
</ul>
<ul class="social-top list">
    <li>
        <a href="https://www.instagram.com/">
            <i class="icon-instagram icon"></i>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/CmsmartMarketplace/">
            <i class="icon-facebook icon"></i>
        </a>
    </li>
    <li>
        <a href="https://www.pinterest.com/">
            <i class="icon-pinterest"></i>
        </a>
    </li>
    <li>
        <a href="http://cardshop.cmsmart.net/blog/" class="blog icon">
            Blog
        </a>
    </li>
</ul>
<script>
    require([
        'jquery',
        'Netbaseteam_CustomWidget/js/slick'
    ], function ($) {
        jQuery(function($){
            $slideshows = $(".product-item-wrapper-custom").slick({
                lazyLoad: 'ondemand',
                infinite: true,
                dots: true,
                vertical: true,
                mobileFirst: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                verticalSwiping: true,
                arrows: false,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    }, {

                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }

                    }, {

                        breakpoint: 300,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }

                    }]
            });
            $('.slick-slide').click(function(){
                $slideshows.slick('slickNext');
            })
            $(".product-item-wrapper-custom").on("beforeChange", function (event, slick, currentSlide, nextSlide) {
                var curent_slick_src = $($(".slick-slide[data-slick-index='" + nextSlide + "']")[0])
                    .find("img")
                    .attr("src");
                $(".fotorama__stage__frame.fotorama__active").empty();
                $(".fotorama__stage__frame.fotorama__active").append("<img src='" + curent_slick_src + "' />");
                $(".fotorama__nav__frame.fotorama__nav__frame--dot").removeClass('fotorama__active');
                $(".fotorama__nav__frame.fotorama__nav__frame--dot").removeClass('active');
                $(".fotorama__nav__frame.fotorama__nav__frame--dot").attr("data-active","false");           
                let dotsActive = $($(".fotorama__nav__frame.fotorama__nav__frame--dot")[nextSlide]).attr("data-active", "true");
                dotsActive.addClass("active");
            });
            $(document).on('click', '.fotorama__arr',function(){
                $(".fotorama__nav__frame.fotorama__nav__frame--dot").removeClass('active');
            });
        });
    });
</script>
