<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product_id = $_product->getId();
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$customOptions = $objectManager->get('Magento\Catalog\Model\Product\Option')->getProductOptionCollection($_product);
$helper = $this->helper('Netbaseteam\Onlinedesign\Helper\Data');
$price = $abstractProductBlock->getProductPrice($_product);
$statusDesign = $this->helper('Netbaseteam\Onlinedesign\Helper\Data')->getStatusDesign($product_id);
$nbdesigner_enable = get_post_meta($product_id, "_nbdesigner_enable", true);
$visuaLayout = $helper->getDesignLayout($product_id);
$statusUploadDesign = $helper->getStatusUploadDesign($product_id);
$customerId = $helper->getCustomerId();
$checkDesignList = $helper->filterDesignByCustomer($customerId);
$title_btn = nbdesigner_get_option("nbdesigner_button_label");
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$tierPrice = false;
if ($_product->getTypeId() == 'configurable') {
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
    $productTypeInstance = $product->getTypeInstance();
    $usedProducts = $productTypeInstance->getUsedProducts($product);
    foreach ($usedProducts as $child) {
        $childId = $child->getId();
        $tierPriceData = $objectManager->create('Magento\Catalog\Model\Product')->load($childId);
       if($tierPriceData->getTierPrice()) {
           $tierPrice = true;
       }
    }
}
?>


<div class="product-add-form <?php echo $_product->getData('has_upload_file') ? 'product-upload' : 'product-not-upload' ?>">
    <form data-product-sku="<?= /* @NoEscape */ $_product->getSku() ?>"
          action="<?= /* @NoEscape */ $block->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <input type="hidden" name="custom_option_price" id="custom_option_price" value="">
        <input type="hidden" name="custom_pricematrix_price" id="custom_pricematrix_price" value="">
        <input type="hidden" name="simple_product_id" id="simple_product_id" value="">
        <input type="hidden" name="qty" id="tier_price_qty" value="1">
        <?= $block->getBlockHtml('formkey') ?>
        <?= $block->getChildHtml('form_top') ?>

        <?php if ($_product->isSaleable() && $block->hasOptions()): ?>
            <?= $block->getChildHtml('product_options_wrapper') ?>
        <?php else: ?>
            <?= $block->getChildHtml('nb.pricematrix.contain') ?>
        <?php endif ?>


        <div class="product-add-form__action-box">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <?php if(!$tierPrice && count($customOptions) == 0 && $_product->getTypeId() == 'simple') : ?>
                    <div class="field qty default">
                        <div class="nb-menge-default nb-custom">
                            <label class="label" for="qty"><span><?= $block->escapeHtml(__('MENGE INKL. PREIS:')) ?></span></label>
                            <input type="hidden" name="qty"
                                    id="qty"
                                    value="<?= $block->getProductDefaultQty() * 1 ?>"
                                    title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                                    class="input-text qty"
                                    data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>" />
                            <div class="control option-default">
                                <select name="qty-list" id="qty-list">
                                    <option name="qty"
                                            id="qty"
                                            value="<?= $block->getProductDefaultQty() * 1 ?>"
                                            title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                                            class="input-text qty"
                                            data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>">
                                        <?= $block->getProductDefaultQty() * 1 ?>
                                        <?= __('Stk. à ') . $price; ?>
                                    </option>
                                </select>
                            </div>
                            <span class="content">
                                <?= __('*Preis inkl. MwSt. zzgl. Versand Mindestbestellmenge 10 Stück') ?>
                            </span>
                        </div>
                    </div>
                <?php else : ?>
                    <input type="hidden" name="qty"
                           id="qty"
                           value="<?= $block->getProductDefaultQty() * 1 ?>"
                           title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                           class="input-text qty"
                           data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>" />
                <?php endif; ?>
            <!-- check condition for mobile -->
            <?php if ($statusDesign == 1 && !$visuaLayout): ?>
            <?php
            $hide_on_mobile = nbdesigner_get_option('nbdesigner_disable_on_smartphones');
            if (wp_is_mobile() && $hide_on_mobile == 'yes' || !wp_is_mobile()):
            ?>
                <div class="oldesign-wraper">
                    <div class="oldesign-wraper__left">
                        <h3><?= /* @escapeNotVerified */
                            __('Online Design') ?></h3>
                        <p><?= /* @escapeNotVerified */
                            __('Combine it with layouts and fonts') ?></p>
                        <a id="dsgn-btn-name"
                           style="display: none;"><?php echo $nbdesigner_enable == 1 && $statusUploadDesign == 1 ? __('Start and upload design') : $title_btn; ?></a>
                        <a id="triggerDesign"
                           class="button nbdesign-button"><?php echo $nbdesigner_enable == 1 && $statusUploadDesign == 1 ? __('Start and upload design') : $title_btn; ?></a>
                    </div>
                </div>
            <?php endif; ?>
            <?php endif; ?>
            <?php if (!$block->hasOptions()):?>
                <?= $block->getChildHtml('product_info_form_content') ?>
            <?php else:?>
                <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1'):?>
                    <?= $block->getChildChildHtml('options_container') ?>
                <?php endif;?>
            <?php endif; ?>

            <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
                <?= $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
            <?= $block->getChildHtml('form_bottom') ?>
        </div>
    </form>
    <?= $block->getChildHtml('product_info_nb_additional') ?>
</div>

<script>
    require([
        'jquery',
        'priceBox'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?= $block->escapeHtml($_product->getId()) ?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>});
    });
</script>
