<?php
$collection = $block->getCategoryList()->setPageSize(5);
if (count($collection)) :
?>
    <div class="collections">
        <div class="HeadingBanner">
            <hr class="line-left">
            <h4 class="heading"><?= __('Unsere empfehlung für dich') ?></h4>
            <hr class="line-right">
        </div>
        <div class="row owl_custom product_page_owl product_page_content">
            <?php foreach ($collection as $item) :
            ?>
            <div class="col-sm-6 col-md-4 col-xs-6">
                <div class="items">
                    <a href="<?= $item->getUrl(); ?>">
                        <figure class="text-center">
                            <?php
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $category = $objectManager->create('Magento\Catalog\Model\Category')->load($item->getId());
                            $outPutHelper = $this->helper('Magento\Catalog\Helper\Output');
                            $_imgHtml = '';
                            if ($_imgUrl = $category->getImageUrl()) {
                                $_imgHtml = '<img class="banner-category" src="' . $_imgUrl . '" />';
                                $_imgHtml = $outPutHelper->categoryAttribute($category, $_imgHtml, 'image');
                                /* @escapeNotVerified */
                                echo $_imgHtml;
                            }else {
                                $placeHolderImage = $this->getViewFileUrl('Netbaseteam_Onlinedesign::images/category/default_cate.png');
                                $_imgHtml = '<img class="banner-category-default" src="' . $placeHolderImage . '" />';
                                echo $_imgHtml;
                            }
                            ?>
                            <figcaption>
                                <h4> <?= $item->getName(); ?></h4>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
                <?php endforeach; ?>
        </div>
        <div class="row">
            <?php
                echo $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('service_category')
                ->toHtml();
            ?>
        </div>
    </div>
     <script type="text/javascript">
        require(['jquery','Netbaseteam_CustomWidget/js/slick'], function ($) {
            jQuery(document).ready(function () {
                $('.owl_custom').slick({
                    lazyLoad: 'ondemand',
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    responsive: [
                        {
                            breakpoint: 992,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 1
                            }
                        }, {

                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }

                        }, {

                            breakpoint: 300,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }

                        }]
                });
            });
        });
    </script>
<?php endif; ?>
