<?php
$_product = $block->getProduct();
$productUrl = $_product->getProductUrl();
$blTitle = $block->getTitle();
$cssClass = $block->getCssClass();
$shareLink = $block->getShareLink();
?>
<div class="<?php echo __($cssClass); ?>">
    <ul class="social-list">
        <li class="social-item">
            <a class="circle spin" href="https://twitter.com/home?status=<?php echo $productUrl; ?>"> <i
                        class="icon-instagram icon"></i> </a>
        </li>
        <li class="social-item">
            <a class="circle spin" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $productUrl; ?>">
                <i class="icon-facebook icon"></i>
            </a>
        </li>
        <li class="social-item">
            <a class="circle spin" href="https://pinterest.com/pin/create/button/?url=<?php echo $productUrl; ?>"> <i
                        class="icon-pinterest"></i> </a>
        </li>
        <li class="social-item">
            <a class="blog icon"
               href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=<?php echo $productUrl; ?>">
                Blog </a>
        </li>
    </ul>
</div>