// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Dashboard
//  _____________________________________________

//
//  Variables
//  _____________________________________________

@dashboard__font-size__base: 14px;
@dashboard__font-size-l: 2.4rem;
@dashboard-tabs__padding: 2rem;
@dashboard-tabs__background-color: @color-white;

//  Secondary column
@dashboard-secondary-table__width-px: 235px;
@dashboard-secondary-table-col-name__width-px: 135px;
@dashboard-secondary-table-col-value__width-px: 50px;

@dashboard-secondary-table-col-name__width-pct: @dashboard-secondary-table-col-name__width-px * 100% / @dashboard-secondary-table__width-px; // 57.44680851%
@dashboard-secondary-table-col-value__width-pct: @dashboard-secondary-table-col-value__width-px * 100% / @dashboard-secondary-table__width-px; // 21.27659574%

//
//  Tables
//  ---------------------------------------------

.dashboard-data {
    background: @dashboard-tabs__background-color;
    font-size: @dashboard__font-size__base;
    width: 100%;

    tr {
        &._clickable {
            cursor: pointer;
        }
    }

    th,
    td {
        padding: 1rem 0 1rem 1rem;
        &:first-child {
            padding-left: 0;
        }
    }

    &.admin__table-primary {
        th {
            border-top: 0;
        }
    }

    //  Primary column
    .dashboard-main & {
        @dashboard-table__width-px: 560px;
        @dashboard-table-col-product__width-px: 392px;
        @dashboard-table-col-name__width-px: 308px;
        @dashboard-table-col-value__width-px: 84px;

        @dashboard-table-col-product__width-pct: @dashboard-table-col-product__width-px * 100% / @dashboard-table__width-px; // 70%
        @dashboard-table-col-name__width-pct: @dashboard-table-col-name__width-px * 100% / @dashboard-table__width-px; // 55%
        @dashboard-table-col-value__width-pct: @dashboard-table-col-value__width-px * 100% / @dashboard-table__width-px; // 15%

        th,
        td {
            text-align: right;
            white-space: nowrap;
            width: @dashboard-table-col-value__width-pct;
        }

        .col-name {
            text-align: left;
            white-space: normal;
            width: @dashboard-table-col-name__width-pct;
        }

        .col-product {
            width: @dashboard-table-col-product__width-pct;
        }

        .col-orders {
            text-align: left;
        }
    }

    .dashboard-secondary & {
        .col-popularity,
        .col-total {
            text-align: right;
            width: @dashboard-secondary-table-col-value__width-pct;
        }

        .col-customer,
        .col-search-query {
            width: @dashboard-secondary-table-col-name__width-pct;
        }
    }
}

.dashboard-container {
    .empty-text {
        background: @dashboard-tabs__background-color;
        font-size: @dashboard__font-size__base;
    }

    .ui-tabs-panel {
        
    }
}

//
//  Primary column
//  _____________________________________________

//
//  Diagram
//  ---------------------------------------------

//  Diagram disabled
.dashboard-diagram-disabled {
    padding: .5rem 2rem 2rem;
}

//  Range switcher
.dashboard-diagram-switcher {
    margin-bottom: 2rem;
    display: flex;
    display: -webkit-flex;
    .label {
        &:extend(.abs-visually-hidden all);
    }
    .diagram-title{
        h4{
            text-transform: uppercase;
            color: #333;
            font-weight: 700;
            display: inline-block;
            font-size: 16px;
            margin: 5px 0 0;
        }
        span{
            color: #9EACB6;
        }
    }
    .diagram-times{
        flex-grow: 1;
        -webkit-flex-grow: 1;
        text-align: right;
    }
}

//  Chart
.dashboard-diagram-image {
    max-width: 100%;
}

//
//  Totals: Revenue, Tax, Shipping, Quantity
//  ---------------------------------------------

.dashboard-totals {
    margin-top: 2rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.dashboard-totals-list {
    &:extend(.abs-clearfix all);
    &:extend(.abs-list-reset-styles all);
    width: 100%;
    margin: 0;
}

.dashboard-totals-item{
    float: left;
    padding: 0 1rem 0 1rem;
    width: 25%;
    color: #fff;
    &:first-child {
        /*.price {
            color: @color-phoenix;
        }*/
        >span{
            background-color: #36C6D3;
        }
    }
    >span{
        padding: 10px;
        border-radius: 3px;
        display: block;
    }
    &:nth-child(2){
        >span{
            background-color: #659BE0;
        }
    }
    &:nth-child(3){
        >span{
            background-color: #ED6B75;
        }
    }
    &:nth-child(4){
        >span{
            background-color: #F1C40F;
        }
    }
}

.dashboard-totals-label {
    display: block;
    font-size: @dashboard__font-size__base;
    font-weight: @font-weight__bold;
    text-transform: uppercase;
}

.dashboard-totals-value {
    font-size: @dashboard__font-size-l;
    font-weight: @font-weight__semibold;
    width: 100%;
    text-align: right;
    display: block;
}

//
//  Tabs
//  ---------------------------------------------

.dashboard-store-stats {
    .ui-tabs {
        &:extend(.abs-clearfix all);
        margin-bottom: 20px;
        position: relative;

        &:before {
            .lib-background-gradient(
            @_background-gradient: true,
            @_background-gradient-direction: horizontal,
            @_background-gradient-color-start: rgba(255,255,255,0),
            @_background-gradient-color-end: @color-white,
            @_background-gradient-color-position: false
            );
            content: '';
            height: 4.8rem;
            position: absolute;
            right: 0;
            top: 0;
            width: 2rem;
        }
    }

    .ui-tabs-panel {
        //  ToDo UI: change the picture to html after loaders refactoring
        background: url(../images/ajax-loader-small.gif) no-repeat 50% 0%;
        min-height: 4.5rem;
    }

    .tabs-horiz {
        border-right: 1px solid @color-white; // IE9 fix
        float: left; // IE9 fix
        /*overflow-x: auto;*/
        white-space: nowrap;
        width: 100%; // IE9 fix

        .ui-state-default {
            display: inline-block;
            float: none;
            margin-right: .1rem;
            font-size: 1.6rem;
        }
    }
}

//
//  Secondary column
//  _____________________________________________

.dashboard-container {
    .dashboard-secondary {
        padding-right: 3.5rem;
    }
}

.dashboard-item {
    margin-bottom: 3rem;
}

.dashboard-item-title {
    font-weight: @font-weight__bold;
}

/*.dashboard-item-primary {
    &:first-child {
        .dashboard-sales-value {
            color: @color-phoenix;
        }
    }
}*/

.dashboard-sales-value {
    font-size: @dashboard__font-size-l;
    font-weight: @font-weight__semibold;
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    //
    //  Totals: Revenue, Tax, Shipping, Quantity
    //  -----------------------------------------

    .dashboard-totals-item {
        float: left;
        margin-bottom: 1rem;
        width: 50%;
    }
}