// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@login-box__background-color: transparent;
@login-box__border: 1px solid rgba(255,255,255,.1);
@login-box__max-width: 45rem;
@login-box__min-height: 30rem;
@login-box__shadow: 0 5px 30px 0 #444;
@login-page__background-color: @color-very-dark-grayish-orange;

//
//  Admin user auth pages layout
//  ---------------------------------------------

//  Header
.login-header {
    margin: 0 0 3rem;
}

//  Login box
.page-layout-admin-login {
    .lib-vendor-box-align(center);
    .lib-vendor-prefix-display(flex);
    background-color: @login-page__background-color;
    height: 101%;
    max-height: 100%;
    min-width: 50rem;
    text-align: center;

    .page-wrapper {
        .lib-vendor-prefix-flex-grow(0);
        .lib-vendor-prefix-flex-shrink(0);
        background-color: @login-box__background-color;
        border: @login-box__border;
        box-shadow: @login-box__shadow;
        display: block;
        float: none;
        margin: auto !important;
        max-width: @login-box__max-width;
        min-height: @login-box__min-height;
        min-width: 0;
        padding: 40px 80px 50px;
        position: relative;
        width: 100%;
        z-index: 1;

        .ie9 & {
            margin-top: 10%;
        }
    }

    :-ms-input-placeholder {
        color: transparent;
    }

    ::-webkit-input-placeholder {
        color: transparent;
    }

    ::-moz-placeholder {
        color: transparent;
    }

    .admin__legend {
        color: @color-phoenix;
        font-size: 2.6rem;
        font-weight: @font-weight__light;
        line-height: @line-height__s;
        margin: -1rem 0 2.5rem;
    }

    .admin__field-info {
        margin-bottom: 3rem;
    }

    .admin__field {
        &:extend(.abs-field-rows all);
        margin-bottom: 2rem !important;
        > .admin__field-label{
            text-align: center;
            width: 100%;
            span{
                background-color: transparent !important;
            }
        }
    }

    .messages {
        margin-top: -1rem;

        + form .admin__legend {
            display: none;
        }
    }
    .admin__field-control{
        position: relative;
        i{
            font-size: 2.2rem;
            color: #ffffff;
            position: absolute;
            display: block;
            left: 10px;
            top: 9px;
            border-right: 1px solid #ffffff;
            width: 35px;
            text-align: center;
        }
        input{
            border: none;
            line-height: 40px;
            height: 40px;
            width: 100%;
            padding-left: 60px;
            background: rgba(255,255,255,0.4);
            border-radius: 0;
            color: #fff;
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          opacity: 1;
          display: block;
          visibility: visible;
          color: #fff;
        }
        ::-moz-placeholder { /* Firefox 19+ */
          opacity: 1;
          display: block;
          visibility: visible;
          color: #fff;
        }
        :-ms-input-placeholder { /* IE 10+ */
          opacity: 1;
          display: block;
          visibility: visible;
          color: #fff;
        }
        :-moz-placeholder { /* Firefox 18- */
          opacity: 1;
          display: block;
          visibility: visible;
          color: #fff;
        }
    }
    &.ie{
        .admin__field-control{
            input{
                line-height: auto;
            }
        }
    }
    .actions {
        padding: 0 0 3rem;
    }

    .action-primary {
        &:extend(.abs-action-l all);
    }
}

//  Footer
.login-footer {
    color: @color-heathered-grey;
    font-size: 1.2rem;
    font-weight: @font-weight__regular;
    left: 0;
    margin: 5rem 0 2rem;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
    padding: 0px 15px 50px;
    &:before{
        content: '';
        display: block;
    }
    .link-copyright {
        &:before {
            display: none;
        }
    }
}

//
//  Login page features
//  ---------------------------------------------

.adminhtml-auth-login {
    .form-actions {
        display: table;
        margin-top: -1rem;
        width: 100%;
        .links {
            display: table-header-group;
            a{
                color: #fff;
                font-size: 12px;
            }
        }

        .actions {
            padding: 3rem 0 0;
            button{
                width: 100%;
                text-transform: uppercase;
                &:hover{
                    opacity: .6;
                }
            }
        }
    }
}
