<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block Magento\Catalog\Block\Product\View */
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$product_id = $_product->getId();
$helper = $this->helper('Netbaseteam\Onlinedesign\Helper\Data');
$price = $abstractProductBlock->getProductPrice($_product);
$statusDesign = $this->helper('Netbaseteam\Onlinedesign\Helper\Data')->getStatusDesign($product_id);
$nbdesigner_enable = get_post_meta($product_id, "_nbdesigner_enable", true);
$visuaLayout = $helper->getDesignLayout($product_id);
$statusUploadDesign = $helper->getStatusUploadDesign($product_id);
$customerId = $helper->getCustomerId();
$checkDesignList = $helper->filterDesignByCustomer($customerId);
$title_btn = nbdesigner_get_option("nbdesigner_button_label");
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$tierPrice = false;
if ($_product->getTypeId() == 'configurable') {
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
    $productTypeInstance = $product->getTypeInstance();
    $usedProducts = $productTypeInstance->getUsedProducts($product);
    foreach ($usedProducts as $child) {
        $childId = $child->getId();
        $tierPriceData = $objectManager->create('Magento\Catalog\Model\Product')->load($childId);
        if($tierPriceData->getTierPrice()) {
            $tierPrice = true;
        }
    }
}
?>
<?php
$required = '';
if ($block->hasRequiredOptions()) {
    $required = ' data-hasrequired="' . $block->escapeHtmlAttr(__('* Required Fields')) . '"';
}
?>
<div class="product-options-wrapper" id="product-options-wrapper"<?= /* @noEscape */ $required ?>>
    <div class="fieldset" tabindex="0">
        <?= $block->getChildHtml('', true) ?>
        <?php echo $this->getLayout()
            ->createBlock('Magento\Catalog\Pricing\Render',
                "product.price.tier",
                [
                    'data' => [
                        'price_render' => 'product.price.render.default',
                        'price_type_code' => 'tier_price',
                        'zone' => 'item_view'
                    ]
                ]
            )
            ->toHtml();?>
    </div>
    <?php if(!$tierPrice) : ?>
        <div class="field qty default">
            <div class="nb-menge-default nb-custom">
                <label class="label" for="qty"><span><?= $block->escapeHtml(__('MENGE INKL. PREIS:')) ?></span></label>
                <input type="hidden" name="qty"
                       id="qty"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>" />
                <div class="control option-default">
                    <select name="qty-list" id="qty-list">
                        <option name="qty"
                                id="qty"
                                value="<?= $block->getProductDefaultQty() * 1 ?>"
                                title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                                class="input-text qty"
                                data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>">
                            <?= $block->getProductDefaultQty() * 1 ?>
                            <?= __('Stk. à ') . $price; ?>
                        </option>
                    </select>
                </div>
                <span class="content">
                                <?= __('*Preis inkl. MwSt. zzgl. Versand Mindestbestellmenge 10 Stück') ?>
                            </span>
            </div>
        </div>
    <?php else : ?>
        <input type="hidden" name="qty"
               id="qty"
               value="<?= $block->getProductDefaultQty() * 1 ?>"
               title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
               class="input-text qty"
               data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>" />
    <?php endif; ?>
</div>
