//  Resetes
//  _____________________________________________

//
//  Magento reset
//  ---------------------------------------------

.lib-magento-reset() {
    body {
        margin: 0;
        padding: 0;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    main,
    footer,
    header,
    nav,
    section,
    summary {
        display: block;
    }

    audio,
    canvas,
    video {
        display: inline-block;
    }

    audio:not([controls]) {
        display: none;
        height: 0;
    }

    nav ul,
    nav ol {
        list-style: none none;
    }

    img {
        border: 0;
    }

    img,
    object,
    video,
    embed {
        height: auto;
        max-width: 100%;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    figure {
        margin: 0;
    }

    .lib-typography-all();

    table {
        .lib-table();
    }

    button {
        .lib-button(); 
        //font family
        & when(@custom__fontfamily-button__design = custom){
            .lib-font-family-button(
                @_button-font-family:@font-family-button__design,
            );
        } 

        //color text
        & when(@custom__color-text-button__design = custom){ 
            .lib-color-button(
                @_button-color: @color-text-button__design,
            )
        }
        & when(@custom__color-text-button__design = maincolor){ 
            .lib-color-button(
                @_button-color: @main_color__general,
            )
        }
        & when(@custom__color-text-button__design = accentcolor){ 
            .lib-color-button(
                @_button-color: @main_color__accent,
            )
        }
        & when(@custom__color-text-button__design = secondarycolor){ 
            .lib-color-button(
                @_button-color: @secondary_color__general,
            )
        }
        & when(@custom__color-text-button__design = textcolor){ 
            .lib-color-button(
                @_button-color: @text_color__general,
            )
        }
        & when(@custom__color-text-button__design = hovercolor){ 
            .lib-color-button(
                @_button-color: @color_hover__general,
            )
        }
        & when(@custom__color-text-button__design = linkcolor){ 
            .lib-color-button(
                @_button-color: @link_color__general,
            )
        }
        & when(@custom__color-text-button__design = graybase){ 
            .lib-color-button(
                @_button-color: @main_color_grays__general,
            )
        }
        & when(@custom__color-text-button__design = graydarker){ 
            .lib-color-button(
                @_button-color: @gray__darker,
            )
        }
        & when(@custom__color-text-button__design = graydark){ 
            .lib-color-button(
                @_button-color: @gray__dark,
            )
        }  
        & when(@custom__color-text-button__design = graynormal){ 
            .lib-color-button(
                @_button-color: @gray_normal,
            )
        } 
        & when(@custom__color-text-button__design = graylight){ 
            .lib-color-button(
                @_button-color: @gray_light,
            )
        } 
        & when(@custom__color-text-button__design = graylighter){ 
            .lib-color-button(
                @_button-color: @gray_lighter,
            )
        }

        // color hover
        & when(@custom__hover__color-text-button__design = custom){
            .lib-color-hover-button(
                @_button-color-hover:@hover__color-text-button__design,
            );
        } 
        & when(@custom__hover__color-text-button__design = maincolor){
            .lib-color-hover-button(
                @_button-color-hover:@main_color__general,
            );
        }
        & when(@custom__hover__color-text-button__design = accentcolor){
            .lib-color-hover-button(
                @_button-color-hover:@main_color__accent,
            );
        }
        & when(@custom__hover__color-text-button__design = secondarycolor){
            .lib-color-hover-button(
                @_button-color-hover:@secondary_color__general,
            );
        }

        & when(@custom__hover__color-text-button__design = textcolor){
            .lib-color-hover-button(
                @_button-color-hover:@text_color__general,
            );
        }
        & when(@custom__hover__color-text-button__design = hovercolor){
            .lib-color-hover-button(
                @_button-color-hover:@color_hover__general,
            );
        }
        & when(@custom__hover__color-text-button__design = linkcolor){
            .lib-color-hover-button(
                @_button-color-hover:@link_color__general,
            );
        }
        & when(@custom__hover__color-text-button__design = graybase){
            .lib-color-hover-button(
                @_button-color-hover:@main_color_grays__general,
            );
        }
        & when(@custom__hover__color-text-button__design = graydarker){
            .lib-color-hover-button(
                @_button-color-hover:@gray__darker,
            );
        }
        & when(@custom__hover__color-text-button__design = graydark){
            .lib-color-hover-button(
                @_button-color-hover:@gray__dark,
            );
        }
        & when(@custom__hover__color-text-button__design = graynormal){
            .lib-color-hover-button(
                @_button-color-hover:@gray_normal,
            );
        }
        & when(@custom__hover__color-text-button__design = graylight){
            .lib-color-hover-button(
                @_button-color-hover:@gray_light,
            );
        }
        & when(@custom__hover__color-text-button__design = graylighter){
            .lib-color-hover-button(
                @_button-color-hover:@gray_lighter,
            );
        }
        // color active
        & when(@custom__active__color-text-button__design = custom){
            .lib-color-active-button(
                @_button-color-active:@active__color-text-button__design,
            );
        }
        & when(@custom__active__color-text-button__design = maincolor){
            .lib-color-active-button(
                @_button-color-active:@main_color__general,
            );
        }
        & when(@custom__active__color-text-button__design = accentcolor){
            .lib-color-active-button(
                @_button-color-active:@main_color__accent,
            );
        }
        & when(@custom__active__color-text-button__design = secondarycolor){
            .lib-color-active-button(
                @_button-color-active:@secondary_color__general,
            );
        }
        & when(@custom__active__color-text-button__design = textcolor){
            .lib-color-active-button(
                @_button-color-active:@text_color__general,
            );
        }
        & when(@custom__active__color-text-button__design = hovercolor){
            .lib-color-active-button(
                @_button-color-active:@color_hover__general,
            );
        }
        & when(@custom__active__color-text-button__design = linkcolor){
            .lib-color-active-button(
                @_button-color-active:@link_color__general,
            );
        }
        & when(@custom__active__color-text-button__design = graybase){
            .lib-color-active-button(
                @_button-color-active:@main_color_grays__general,
            );
        }
        & when(@custom__active__color-text-button__design = graydarker){
            .lib-color-active-button(
                @_button-color-active:@gray__darker,
            );
        }
        & when(@custom__active__color-text-button__design = graydark){
            .lib-color-active-button(
                @_button-color-active:@gray__dark,
            );
        }
        & when(@custom__active__color-text-button__design = graynormal){
            .lib-color-active-button(
                @_button-color-active:@gray_normal,
            );
        }
        & when(@custom__active__color-text-button__design = graylight){
            .lib-color-active-button(
                @_button-color-active:@gray_light,
            );
        }
        & when(@custom__active__color-text-button__design = graylighter){
            .lib-color-active-button(
                @_button-color-active:@gray_lighter,
            );
        }
        //background color
        & when(@custom__backgroud__color-button__design = custom){
            .lib-background-color-button(
                @_button-background:@backgroud__color-button__design,
            );
        }
        & when(@custom__backgroud__color-button__design = maincolor){
            .lib-background-color-button(
                @_button-background:@main_color__general,
            );
        }
        & when(@custom__backgroud__color-button__design = accentcolor){
            .lib-background-color-button(
                @_button-background:@main_color__accent,
            );
        }
        & when(@custom__backgroud__color-button__design = secondarycolor){
            .lib-background-color-button(
                @_button-background:@secondary_color__general,
            );
        }
        & when(@custom__backgroud__color-button__design = textcolor){
            .lib-background-color-button(
                @_button-background:@text_color__general,
            );
        }
        & when(@custom__backgroud__color-button__design = hovercolor){
            .lib-background-color-button(
                @_button-background:@color_hover__general,
            );
        }
        & when(@custom__backgroud__color-button__design = linkcolor){
            .lib-background-color-button(
                @_button-background:@link_color__general,
            );
        }
        & when(@custom__backgroud__color-button__design = graybase){
            .lib-background-color-button(
                @_button-background:@main_color_grays__general,
            );
        }
        & when(@custom__backgroud__color-button__design = graydarker){
            .lib-background-color-button(
                @_button-background:@gray__darker,
            );
        }
        & when(@custom__backgroud__color-button__design = graydark){
            .lib-background-color-button(
                @_button-background:@gray__dark,
            );
        }
        & when(@custom__backgroud__color-button__design = graynormal){
            .lib-background-color-button(
                @_button-background:@gray_normal,
            );
        }
        & when(@custom__backgroud__color-button__design = graylight){
            .lib-background-color-button(
                @_button-background:@gray_light,
            );
        }
        & when(@custom__backgroud__color-button__design = graylighter){
            .lib-background-color-button(
                @_button-background:@gray_lighter,
            );
        }

        // background color hover
        & when(@custom__hover__backgroud__color-button__design = custom){
            .lib-hover-background-color-button(
                @_button-background-hover:@hover__backgroud__color-button__design,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = maincolor){
            .lib-hover-background-color-button(
                @_button-background-hover:@main_color__general,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = accentcolor){
            .lib-hover-background-color-button(
                @_button-background-hover:@main_color__accent,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = secondarycolor){
            .lib-hover-background-color-button(
                @_button-background-hover:@secondary_color__general,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = textcolor){
            .lib-hover-background-color-button(
                @_button-background-hover:@text_color__general,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = hovercolor){
            .lib-hover-background-color-button(
                @_button-background-hover:@color_hover__general,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = linkcolor){
            .lib-hover-background-color-button(
                @_button-background-hover:@link_color__general,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = graybase){
            .lib-hover-background-color-button(
                @_button-background-hover:@main_color_grays__general,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = graydarker){
            .lib-hover-background-color-button(
                @_button-background-hover:@gray__darker,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = graydark){
            .lib-hover-background-color-button(
                @_button-background-hover:@gray__dark,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = graynormal){
            .lib-hover-background-color-button(
                @_button-background-hover:@gray_normal,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = graylight){
            .lib-hover-background-color-button(
                @_button-background-hover:@gray_light,
            );
        }
        & when(@custom__hover__backgroud__color-button__design = graylighter){
            .lib-hover-background-color-button(
                @_button-background-hover:@gray_lighter,
            );
        }

        // backgroud color active
        & when(@custom__active__backgroud__color-button__design = custom){
            .lib-active-background-color-button(
                @_button-background-active:@active__backgroud__color-button__design,
            );
        } 
        & when(@custom__active__backgroud__color-button__design = maincolor){
            .lib-active-background-color-button(
                @_button-background-active:@main_color__general,
            );
        }
        & when(@custom__active__backgroud__color-button__design = accentcolor){
            .lib-active-background-color-button(
                @_button-background-active:@main_color__accent,
            );
        } 
        & when(@custom__active__backgroud__color-button__design = secondarycolor){
            .lib-active-background-color-button(
                @_button-background-active:@secondary_color__general,
            );
        } 
        & when(@custom__active__backgroud__color-button__design = textcolor){
            .lib-active-background-color-button(
                @_button-background-active:@text_color__general,
            );
        }
        & when(@custom__active__backgroud__color-button__design = hovercolor){
            .lib-active-background-color-button(
                @_button-background-active:@color_hover__general,
            );
        }
        & when(@custom__active__backgroud__color-button__design = linkcolor){
            .lib-active-background-color-button(
                @_button-background-active:@link_color__general,
            );
        }
        & when(@custom__active__backgroud__color-button__design = graybase){
            .lib-active-background-color-button(
                @_button-background-active:@main_color_grays__general,
            );
        }
        & when(@custom__active__backgroud__color-button__design = graydarker){
            .lib-active-background-color-button(
                @_button-background-active:@gray__darker,
            );
        }
        & when(@custom__active__backgroud__color-button__design = graydark){
            .lib-active-background-color-button(
                @_button-background-active:@gray__dark,
            );
        }
        & when(@custom__active__backgroud__color-button__design = graynormal){
            .lib-active-background-color-button(
                @_button-background-active:@gray_normal,
            );
        }
        & when(@custom__active__backgroud__color-button__design = graylight){
            .lib-active-background-color-button(
                @_button-background-active:@gray_light,
            );
        }
        & when(@custom__active__backgroud__color-button__design = graylighter){
            .lib-active-background-color-button(
                @_button-background-active:@gray_lighter,
            );
        }

        //border width 
        & when(@custom__width__border-button__design = custom){
            .lib-border-width-button(
                @_button-border-width: @width__border-button__design,
            );
        } 
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = custom){
            .lib-border-color-button(
                @_button-border-color: @border__color-button__design,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = maincolor){
            .lib-border-color-button(
                @_button-border-color: @main_color__general,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = accentcolor){
            .lib-border-color-button(
                @_button-border-color: @main_color__accent,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = secondarycolor){
            .lib-border-color-button(
                @_button-border-color: @secondary_color__general,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = hovercolor){
            .lib-border-color-button(
                @_button-border-color: @color_hover__general,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = textcolor){
            .lib-border-color-button(
                @_button-border-color: @text_color__general,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = linkcolor){
            .lib-border-color-button(
                @_button-border-color: @link_color__general,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = graybase){
            .lib-border-color-button(
                @_button-border-color: @main_color_grays__general,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = graydarker){
            .lib-border-color-button(
                @_button-border-color: @gray__darker,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = graydark){
            .lib-border-color-button(
                @_button-border-color: @gray__dark,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = graynormal){
            .lib-border-color-button(
                @_button-border-color: @gray_normal,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = graylight){
            .lib-border-color-button(
                @_button-border-color: @gray_light,
            );
        }
        & when(@custom__width__border-button__design = custom) and (@custom__color__border-button__design = graylighter){
            .lib-border-color-button(
                @_button-border-color: @gray_lighter,
            );
        }
        & when(@custom__width__border-button__design = none){
            .lib-border-button(
                @_button-border: none,
            );
            .lib-hover-border-button(
                @_button-border: none,    
            ); 
            .lib-active-border-button(
                @_button-border: none,
            );
        } 
        // border Color

        //hover border color 

        & when (@custom__hover__color__border-button__design = custom) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @hover__border__color-button__design,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = maincolor) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @main_color__general,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = accentcolor) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @main_color__accent,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = secondarycolor) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @secondary_color__general,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = textcolor) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @text_color__general,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = hovercolor) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @color_hover__general,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = linkcolor) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @link_color__general,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = graybase) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @main_color_grays__general,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = graydarker) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @gray__darker,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = graydark) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @gray__dark,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = graynormal) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @gray_normal,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = graylight) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @gray_light,
                @_button-border-width:@width__border-button__design,
            ); 
        }
        & when (@custom__hover__color__border-button__design = graylighter) and (@custom__width__border-button__design = custom){
            .lib-hover-color-border-button(
                @_button-color-border-hover: @gray_lighter,
                @_button-border-width:@width__border-button__design,
            ); 
        }

        //active border color 
        & when (@custom__active__color__border-button__design = custom) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @active__border__color-button__design,
                @_button-border-width:@width__border-button__design,
            );
        }
        & when (@custom__active__color__border-button__design = maincolor) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @main_color__general,
                @_button-border-width:@width__border-button__design,
            );
        } 
        & when (@custom__active__color__border-button__design = accentcolor) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @main_color__accent,
                @_button-border-width:@width__border-button__design,
            );
        } 
        & when (@custom__active__color__border-button__design = secondarycolor) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @secondary_color__general,
                @_button-border-width:@width__border-button__design,
            );
        } 
        & when (@custom__active__color__border-button__design = textcolor) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @text_color__general,
                @_button-border-width:@width__border-button__design,
            );
        }  
        & when (@custom__active__color__border-button__design = hovercolor) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @link_color__general,
                @_button-border-width:@width__border-button__design,
            );
        }  
        & when (@custom__active__color__border-button__design = linkcolor) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @color_hover__general,
                @_button-border-width:@width__border-button__design,
            );
        }    
        & when (@custom__active__color__border-button__design = graybase) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @main_color_grays__general,
                @_button-border-width:@width__border-button__design,
            );
        }  
        & when (@custom__active__color__border-button__design = graydarker) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @gray__darker,
                @_button-border-width:@width__border-button__design,
            );
        }  
        & when (@custom__active__color__border-button__design = graydark) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @gray__dark,
                @_button-border-width:@width__border-button__design,
            );
        }
        & when (@custom__active__color__border-button__design = graynormal) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @gray_normal,
                @_button-border-width:@width__border-button__design,
            );
        } 
        & when (@custom__active__color__border-button__design = graylight) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @gray_light,
                @_button-border-width:@width__border-button__design,
            );
        }
        & when (@custom__active__color__border-button__design = graylighter) and (@custom__width__border-button__design = custom){
            .lib-active-color-border-button(
                @_button-color-border-active: @gray_lighter,
                @_button-border-width:@width__border-button__design,
            );
        }                                                                            
        // padding vertical button

        & when (@custom__vertical__padding-button__design = custom){
            .lib-padding-vertical-button(
                @_button-padding: @vertical__padding-button__design,
            );
        }  

        & when (@custom__vertical__padding-button__design = vertical_padding_l){
            .lib-padding-vertical-button(
                @_button-padding: @vertical__padding_large,
            );
        }
        & when (@custom__vertical__padding-button__design = vertical_padding_b){
            .lib-padding-vertical-button(
                @_button-padding: @vertical__padding_base,
            );
        }
        & when (@custom__vertical__padding-button__design = vertical_padding_s){
            .lib-padding-vertical-button(
                @_button-padding: @vertical__padding_small,
            );
        }
         // padding hozital button
        & when (@custom__hozital__padding-button__design = custom){
            .lib-padding-hozital-button(
                @_button-padding: @hozital__padding-button__design,
            );
        }
        & when (@custom__hozital__padding-button__design = hozital_padding_l){
            .lib-padding-hozital-button(
                @_button-padding: @horizontal__padding_large,
            );
        }
        & when (@custom__hozital__padding-button__design = hozital_padding_b){
            .lib-padding-hozital-button(
                @_button-padding: @horizontal__padding_base,
            );
        }
        & when (@custom__hozital__padding-button__design = hozital_padding_s){
            .lib-padding-hozital-button(
                @_button-padding: @horizontal__padding_small,
            );
        }
        & when (@custom__border__radius-button__design = custom){
            .lib-border-radius-button(
                @_button-border-radius:@border_radius-button__design,
            );
        }
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
    }

    .lib-form-element-all();
    form {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    address {
        font-style: normal;
        line-height: 24px;
    }

    * {
        &:focus {
            box-shadow: none;
            outline: 0;
        }
    }
}

//
//  Normalize
//  ---------------------------------------------

//  ToDo UI: delete with old admin styles
.lib-normalize() {
    /*! normalize.css v3.0.0 | MIT License | git.io/normalize */
    html {
        font-family: sans-serif;
        -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
                font-size-adjust: 100%;
    }
    body {
        margin: 0;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    main,
    footer,
    header,
    main,
    nav,
    section,
    summary {
        display: block;
    }

    audio,
    canvas,
    progress,
    video {
        display: inline-block;
        vertical-align: baseline;
    }

    audio:not([controls]) {
        display: none;
        height: 0;
    }

    template {
        display: none;
    }

    a {
        background: transparent;
    }

    a:active,
    a:hover {
        outline: 0;
    }

    abbr[title] {
        border-bottom: 1px dotted;
    }

    b,
    strong {
        font-weight: bold;
    }

    dfn {
        font-style: italic;
    }

    h1 {
        font-size: 2em;
        margin: .67em 0;
    }

    mark {
        background: #ff0;
        color: #000;
    }

    small {
        font-size: 80%;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sup {
        top: -.5em;
    }

    sub {
        bottom: -.25em;
    }

    img {
        border: 0;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    figure {
        margin: 1em 40px;
    }

    hr {
        box-sizing: content-box;
        height: 0;
    }

    pre {
        overflow: auto;
    }

    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }

    button {
        overflow: visible;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    button[disabled],
    html input[disabled] {
        cursor: default;
    }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    input {
        line-height: normal;
    }

    input[type="checkbox"],
    input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    input[type="search"] {
        box-sizing: content-box;
    }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    fieldset {
        border: 1px solid #c0c0c0;
        margin: 0 2px;
        padding: .35em .625em .75em;
    }

    legend {
        border: 0;
        padding: 0;
    }

    textarea {
        overflow: auto;
    }

    optgroup {
        font-weight: bold;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    td,
    th {
        padding: 0;
    }
}

//
//  Reset
//  ---------------------------------------------

.lib-reset() {
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, main, footer, header,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        border: 0;
        font-size: 100%;
        font: inherit;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }

    article, aside, details, figcaption, figure, main,
    footer, header, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

//
//  Universal Selector ‘*’ Reset
//  ---------------------------------------------

.lib-universal() {
    * {
        margin: 0;
        padding: 0;
    }
}

//
//  Html5doctor Reset Stylesheet
//  ---------------------------------------------

.lib-html5doctor-reset() {
    /*
        html5doctor.com Reset Stylesheet - http://html5doctor.com/html-5-reset-stylesheet
        v1.6.1
        Last Updated: 2010-09-17
        Author: Richard Clark - http://richclarkdesign.com
        Twitter: @rich_clark
    */
    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code,
    del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var,
    b, i,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure, main,
    footer, header, menu, nav, section, summary,
    time, mark, audio, video {
        background: transparent;
        border: 0;
        font-size: 100%;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
    }

    body {
        line-height: 1;
    }

    article, aside, details, figcaption, figure, main,
    footer, header, menu, nav, section {
        display: block;
    }

    nav ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

    a {
        background: transparent;
        font-size: 100%;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }

    ins {
        background-color: #ff9;
        color: #000;
        text-decoration: none;
    }

    mark {
        background-color: #ff9;
        color: #000;
        font-style: italic;
        font-weight: bold;
    }

    del {
        text-decoration: line-through;
    }

    abbr[title], dfn[title] {
        border-bottom: 1px dotted;
        cursor: help;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    hr {
        border: 0;
        border-top: 1px solid #ccc;
        display: block;
        height: 1px;
        margin: 1em 0;
        padding: 0;
    }

    input, select {
        vertical-align: middle;
    }
}

//
//  Global border-box
//  ---------------------------------------------

.lib-set-default-border-box() {
    html {
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}
