<?php
/** @var \Mirasvit\Scroll\Block\Scroll $block */
?>
<?php if ($block->isEnabled()): ?>
    <script type="text/x-magento-init"><?= \Zend_Json::encode([
            $block->getProductListSelector() => [
                'Mirasvit_Scroll/js/scroll' => $block->getJsConfig(),
            ],
        ]) ?></script>
<style>
    .pages, .toolbar-amount {
        display: none !important;
    }
</style>
<?php endif ?>
