<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Catalog\Block\Product\View\Details $block */
?>
<?php
$helper = $this->helper('Netbaseteam\Onlinedesign\Helper\Data');
$customerId = $helper->getCustomerId();
$checkDesignList = $helper->filterDesignByCustomer($customerId);
?>
<?php if ($detailedInfoGroup = $block->getGroupSortedChildNames('detailed_info', 'getChildHtml')) :?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name) :?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data item title"
                     data-role="collapsible" id="tab-label-<?= $block->escapeHtmlAttr($alias) ?>">
                    <p class="data switch">
                        <?= /* @noEscape */ $label ?>
                    </p>
                    <div class="data item content"
                     aria-labelledby="tab-label-<?= $block->escapeHtmlAttr($alias) ?>-title" data-role="content">
                    <?= /* @noEscape */ $html ?>
                    </div>
                </div>
            <?php endforeach;?>
        </div>
        <div class="nb-button">
            <button class="muster-bestseller">
                <?= __('Muster Bestellen') ?>
            </button>
            <?php if (count($checkDesignList)): ?>
                <div class="nb-my-designs">
                    <div id="my-design">
                        <?= __('My designs') ?>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){
        /* Show Hide Info Bar */
        $(document).ready(function($) {
            $('.data.switch').click(function(event){
                $(this).next().slideToggle();
                $(this).toggleClass('show');
                event.stopPropagation();
            });
        });
    });
</script>

