<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?php echo $block->escapeHtml(__('Address Book')) ?></strong>
        <a class="action edit" href="<?php echo $block->escapeUrl($block->getAddressBookUrl()) ?>"><span><?php echo $block->escapeHtml(__('Manage Addresses')) ?></span></a>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="box-wrap col-md-6 col-xs-12">
                <div class="box box-billing-address">
                    <strong class="box-title">
                        <span><?php echo $block->escapeHtml(__('Default Billing Address')) ?></span>
                    </strong>
                    <div class="box-content">
                        <address>
                            <?php echo $block->getPrimaryBillingAddressHtml() ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="button edit" href="<?php echo $block->escapeUrl($block->getPrimaryBillingAddressEditUrl()) ?>" data-ui-id="default-billing-edit-link"><i class="icon-edit-alt"></i><span><?php echo $block->escapeHtml(__('Edit Address')) ?></span></a>
                    </div>
                </div>
            </div>
            <div class="box-wrap col-md-6 col-xs-12">
                <div class="box box-shipping-address">
                    <strong class="box-title">
                        <span><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></span>
                    </strong>
                    <div class="box-content">
                        <address>
                            <?php echo $block->getPrimaryShippingAddressHtml() ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="button edit" href="<?php echo $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>" data-ui-id="default-shipping-edit-link"><i class="icon-edit-alt"></i><span><?php echo $block->escapeHtml(__('Edit Address')) ?></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
