<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>
<div class="block-dashboard-wellcome">
    <div class="block-title">
        <strong>Account control panel</strong>
    </div>
    <div class="block-content">
        <strong> 
            <?php echo __('hello ').$block->escapeHtml($block->getName()) ?>
        </strong>
        <p>
            <?php 
            echo __('From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.') 
            ?> 
        </p>
    </div>
</div>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?php echo $block->escapeHtml(__('Account Information')) ?></strong></div>
    <div class="block-content">
        <div class="row">
            <div class="box-wrap col-md-6 col-xs-12">
                <div class="box box-information">
                    <strong class="box-title">
                        <span><?php echo $block->escapeHtml(__('Contact Information')) ?></span>
                    </strong>
                    <div class="box-content">
                        <strong>
                            <?php echo $block->escapeHtml($block->getName()) ?>
                        </strong><br>
                        <p>
                            <?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                        </p>
                    </div>
                    <div class="box-actions">
                        <a class="button edit" href="<?php echo $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                            <i class="icon-edit-alt"></i><span><?php echo $block->escapeHtml(__('Edit')) ?></span>
                        </a>
                        <a href="<?php echo $block->escapeUrl($block->getChangePasswordUrl()) ?>" class="button change-password">
                            <?php echo $block->escapeHtml(__('Change Password')) ?>
                        </a>
                    </div>
                </div>
            </div>
            <?php if ($block->isNewsletterEnabled()): ?>
                <div class="box-wrap col-md-6 col-xs-12">
                    <div class="box box-newsletter">
                        <strong class="box-title">
                            <span><?php echo $block->escapeHtml(__('Newsletters')) ?></span>
                        </strong>
                        <div class="box-content">
                            <p>
                                <?php if ($block->getIsSubscribed()): ?>
                                    <?php echo $block->escapeHtml(__('You are currently subscribed to "General ')) ?>
                                    <br>
                                    <?php echo $block->escapeHtml(__('Subscription".')) ?>
                                <?php else: ?>
                                    <?php echo $block->escapeHtml(__('You don\'t subscribe to "our' )) ?>
                                    </br>            
                                    <?php echo $block->escapeHtml(__('newsletter".' )) ?>
                                <?php endif; ?>
                            </p>
                            <?php /* Extensions placeholder */ ?>
                            <?php echo $block->getChildHtml('customer.account.dashboard.info.extra')?>
                        </div>
                        <div class="box-actions">
                            <a class="button edit" href="<?php echo $block->escapeUrl($block->getUrl('newsletter/manage')) ?>"><i class="icon-edit-alt"></i><span><?php echo $block->escapeHtml(__('Edit')) ?></span></a>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
