.review-field-rating {
	label {
		&.label {
			display: none;
		}
	}
	.review-control-vote {
		margin-top: 15px;
	}
}
.product.info.detailed {
	.product.data.items {
		&>.item.title {
			margin-bottom: 18px;
		}
	}
}
& when (@media-common = true),
(@media-target = 'all') {
	@media only screen and (max-width: (@screen__m)) {
		.checkout-block {
			.checkout-payment-method {
				padding-left: 15px;
			}
		}
		.explodedmenu-menu-popup {
			.exploded-cms-block {
				a {
					color: #fff;
					&:active,
					&:visited {
						color: #fff;
					}
				}
			}
		}
		.page-layout-2columns-left {
			.sidebar-main,
			.sidebar-additional {
				width: 100%;
			}
		}
		.tag-sidebar .block-content {
			margin-bottom: 32px;
		}
		.category-sidebar .block-content {
			margin-bottom: 0px;
		}
		.shopbybrand-index-index .columns .ALL-Brands .ALL-Brands-2 li {
			width: 33.33% !important;
		}
		.post-list .list-content .post-item .post-wrapper .btn-nb-readmore .post-readmore {
			float: left !important;
			margin: 15px 15px 15px 0;
		}
	}
	
	@media only screen and (max-width: (320px)) {
	    #nb_megamenu_res .Online .my-contact-form .section-online__inner {
	        width: 100%;
	    }
	    .cart-container form .cart.table-wrapper #shopping-cart-table .cart.item .item-info .col {
	        margin: 0px 15px;
	        text-align: left;
	        &:before {
	            padding-right: 10px;
	        }
	        .field.qty {
	            display: inline-block;
	        }
	    }
	    .cart.table-wrapper .gift-content {
	        margin: 15px 0px 15px;
	    }
	    .gift-item-block.block {
            border-top: 0;
            margin-top: 10px;
        }
        .shopbybrand-index-index .columns .ALL-Brands .ALL-Brands-2 li {
			width: 100% !important;
		}
	}
}
