//
//  Email variable overrides
//  _____________________________________________

//  This file should be used to set theme-specific variables for emails.
//  By default, emails will inherit variables from the Magento UI Library and the _theme.less and _variables.less files
//  in a custom theme. Use this file if you want to set specific variables for emails.
//  For example, you can make the email font, typography, colors, etc unique from the frontend theme.

//  Example usage:
//  @link__color: @color-dark-green1;
//  @link__text-decoration: underline;
//
//  @email__background-color: @color-heathered-grey; // Change background to darker grey color
