& when (@media-common = true) {
    .onlinedesign-index-index {
        .column.main{
            margin-top: 30px;
        }
        .page-title-wrapper {
            padding: 5px 0;
        }
        .page-onlinedesign {
            &__inner {
                padding-bottom: @indent__xl;
                .product-online-design-info {
                    h4 {
                       
                        font-weight: 500;
                        font-size: 18px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 80%;
                        white-space: nowrap;
                        a {
                            color: @theme_color_grey;
                            &:hover {
                                color: @theme_color;
                            }
                        }
                    }
                    .button {
                        background: @theme_color;
                        padding: 5px 20px;
                        color: @theme_color__white;
                        font-size: 16px;
                        .border-radius(5px);
                    }
                }
            }
        }
    }
    #nbdesigner_frontend_area {
        img{
            margin: 0 5px 5px 0;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    }
    .nbdesigner_pp_close {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        background: #f98332;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        cursor: pointer;   
        font-size: 20px;
        line-height: 30px;
    }
    #triggerDesign {
        margin-left: 0;
        background-image: none;
        background: @theme_color;
        border: 1px solid @theme_color;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        padding: 15px 15px;
        box-sizing: border-box;
        vertical-align: middle;
        width: 49%;
        border-radius: 3px;
        text-align: center;
        font-size: 1.8rem;
        &:hover{
            background: #006bb4;
            border: 1px solid #006bb4;
            color: #fff;
            text-decoration: none;
        }
    }
    .nbdesigner-disable {
        opacity: 0.2;
        pointer-events: none;
    }
    #nbdesigner_frontend_area {
    	margin-top: 15px;
    }
}

