<?php
/**
 * @var $block \Mirasvit\LayeredNavigation\Block\Navigation\State
 */

$filters = $block->getActiveFilters();
?>
<?php if (!empty($filters)): ?>
    <div class="filter-current" data-mst-nav-part="state" data-mage-init='{"collapsible":{"active": false, "openedState": "active", "collapsible": true}}'>
        <strong class="block-subtitle filter-current-subtitle" role="heading" data-role="title" aria-level="2" data-count="<?= count($filters) ?>">
            <?= __('Now Shopping by') ?>
        </strong>

        <ol class="items">
            <?php if ($block->isHorizontalFilter()): ?>
                <li class="block-actions filter-actions">
                    <a href="<?= $block->getClearUrl() ?>" class="action clear filter-clear"><span><?= __('Clear All') ?></span></a>
                </li>
            <?php endif ?>

            <?php foreach ($filters as $filter): ?>
                <?php
                $clearLinkUrl = $filter->getClearLinkUrl();
                $filterName   = __($filter->getName());
                $filterLabel  = __($block->stripTags($filter->getLabel()));
                ?>
                <li class="item mst-nav__state-filter" data-element="filter">
                    <span class="filter-label"><?= $filterName ?></span>
                    <span class="filter-value"><?= $filterLabel ?></span>

                    <?php if ($clearLinkUrl): ?>
                        <a class="action previous" href="<?= $filter->getRemoveUrl() ?>" title="<?= __('Previous') ?>">
                            <span><?= __('Previous') ?></span>
                        </a>

                        <a class="action remove" title="<?= $block->escapeHtml($filter->getFilter()->getClearLinkText()) ?>" href="<?= $clearLinkUrl ?>">
                            <span><?= __('Remove This Item') ?></span>
                        </a>
                    <?php else: ?>
                        <a class="action remove" href="<?= $filter->getRemoveUrl() ?>" title="<?= __('Remove %1', $filterLabel) ?>">
                            <span><?= __('Remove This Item') ?></span>
                        </a>
                    <?php endif ?>
                </li>
            <?php endforeach ?>
        </ol>

        <script type="text/x-magento-init"><?= \Zend_Json::encode([
                '[data-mst-nav-part="state"]' => [
                    'Mirasvit_LayeredNavigation/js/ajax/state' => [],
                ],
            ]) ?></script>
    </div>
<?php endif ?>

