@layout-column-main__sidebar-offset: 2%;
@layout-column__additional-sidebar-offset: @layout-column-main__sidebar-offset;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .columns {
        #lib-layout-columns(); 
        .column.main {
            &:extend(.abs-add-box-sizing all);
            .lib-css(padding-bottom, @indent__xl);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-order(1);
        }

        .sidebar-main {
            &:extend(.abs-add-box-sizing all);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-order(1);
        }

        .sidebar-additional {
            &:extend(.abs-add-box-sizing all);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-order(2);
        }
    }
}

//
//  Mobile
//  _____________________________________________
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__m)) {
        .media-width('max', @screen__m);
        .navigation,
        .breadcrumbs,
        .page-header .header.panel,
        .header.content,
        .footer.content,
        .page-main,
        .page-wrapper > .widget,
        .page-wrapper > .page-bottom,
        .block.category.event,
        .top-container {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }

        .page-main {
            .account &,
            .cms-privacy-policy & {
                padding-top: 41px;
                position: relative;
            }
        }
    }
}
//
//  Desktop
//  _____________________________________________

& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (min-width: (@screen__m)) {
        .media-width('min', @screen__m);
        .navigation,
        .breadcrumbs,
        .page-header .header.panel,
        .header.content,
        .footer.content,
        .page-wrapper > .widget,
        .page-wrapper > .page-bottom,
        .block.category.event,
        .top-container,
        .page-main {
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: @layout__max-width;
            padding-left: @layout-indent__width;
            padding-right: @layout-indent__width;
            width: auto;
        }

        .page-main {
            width: 100%;

            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-shrink(0);
            .lib-vendor-prefix-flex-basis(auto);

            .ie9 & {
                width: auto;
            }
        }

        .columns {
            display: block;
        }

        .column.main {
            #lib-layout-columns > .main();
            &:extend(.abs-add-box-sizing-desktop all);
            min-height: 300px;
        }

        .sidebar-main {
            #lib-layout-columns > .left(); 
        }  
        .sidebar-additional {
            #lib-layout-columns > .right();
            clear: right; 
        }

        .page-layout-2columns-left {
            .sidebar-additional {
                clear: left;
                float: left;  
            }
        } 
        .panel.header {
            padding: 10px 20px;
        }
    }
}