<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cat_id = $block->getCurrentCategory();
$mode = $block->getModeCategory($cat_id)->getDisplayMode();
$subCategory = $block->getSubcategories($cat_id);
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$pageLayout = $block->getModeCategory($cat_id)->getPageLayout();
$level = $block->loadCategory($cat_id)->getLevel();
if ($mode == 'PAGE' && $level > 2 || $mode == 'PRODUCTS_AND_PAGE' && $level > 2) : ?>
    <?php if(count($subCategory) > 0) : ?>
    <div class="column main col-lg-9 col-md-9 col-xs-12">
        <div class="collections">
            <div class="row">
                <?php foreach ($subCategory as $item) :
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $category = $objectManager->create('Magento\Catalog\Model\Category')->load($item->getId());
                    $neu = $category->getData('new_category');
                    ?>
                    <div class="col-sm-6 col-md-6 col-xs-6">
                        <div class="items">
                            <a href="#">
                                <figure class="text-center">
                                    <?php
                                    $outPutHelper = $this->helper('Magento\Catalog\Helper\Output');
                                    $_imgHtml = '';
                                    if ($_imgUrl = $category->getImageUrl()) {
                                        $_imgHtml = '<img class="banner-category" src="' . $_imgUrl . '" />';
                                        $_imgHtml = $outPutHelper->categoryAttribute($category, $_imgHtml, 'image');
                                        /* @escapeNotVerified */
                                        echo $_imgHtml;
                                    } else {
                                        $placeHolder = $this->getViewFileUrl('Magento_Catalog::images/product/placeholder/thumbnail.jpg');
                                        $_imgHtml = '<img class="banner-category" src="' . $placeHolder . '" />';
                                        echo $_imgHtml;
                                    }
                                    ?>
                                    <figcaption class="overlapping">
                                        <a class="cat-url" href="<?= $item->getUrl(); ?>">
                                            <h4> <?= $item->getName(); ?></h4>
                                        </a>
                                    </figcaption>
                                </figure>
                            </a>
                            <?php if ($neu == 1) : ?>
                                <div class="neu-label">
                                    <span class="neu"><?= __('neu') ?></span>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <?php endif; ?>
<?php endif; ?>