<?php
/**
 * @var Netbaseteam\CustomCategory\Block\Widget\CategoryPage
 */
?>
<?php
$helper = $this->helper('Netbaseteam\CustomCategory\Helper\Data');
$cid = $block->getCurrentCategory()->getId();
$catSelected = [];
$collection = $helper->getBlockByCategory($cid);
foreach ($collection as $data) {
    $catSelected[] = $data->getCatSelected();
}
$modeCat = $helper->getCategoryMode($cid);
$conditionCid = explode(",", $block->getCategoryIds($block->getData('conditions_encoded')));
$collectionCategory = $block->filterSubCategories($cid);
$row = $block->getData('number_row');
$dataRow = $block->getData('number_category_row');
$labelNewest = $block->getData('new_label_newest_category');
?>
<div class="col-lg-12 col-md-12 col-xs-12 custom-category-page">
    <div class="collections">
        <?php if(in_array($cid, $catSelected)) : ?>
        <div class="HeadingBanner">
            <hr class="line-left">
            <?php if ($block->getData('heading_title')): ?>
                <h4 class="heading"><?php echo $block->getData('heading_title'); ?></h4>
            <?php endif; ?>
            <hr class="line-right">
        </div>
        <?php if ($block->getData('collection_type_widget') == 'auto-by-newest' || $block->getData('collection_type_widget') == 'auto-by-random') : ?>
            <?php
            $r = 1;
            while ($r <= $row) : ?>
                <div class="row">
                          <?php
                          foreach ($conditionCid as $key => $cid) :
                          $conditionCollection = $block->filterCategoryCondition($cid);
                          ?>
                            <?php
                            $i = 0;
                            foreach ($collectionCategory as $item) :
                            if ($i == $dataRow) break;
                            ?>
                    <div class="col-sm-6 col-md-4 col-xs-6">
                            <div class="items">
                                    <a href="#">
                                        <figure class="text-center">
                                            <?php
                                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                            $category = $objectManager->create('Magento\Catalog\Model\Category')->load($item->getId());
                                            $outPutHelper = $this->helper('Magento\Catalog\Helper\Output');
                                            $_imgHtml = '';
                                            if ($_imgUrl = $category->getImageUrl()) {
                                                $_imgHtml = '<img class="banner-category" src="' . $_imgUrl . '" />';
                                                $_imgHtml = $outPutHelper->categoryAttribute($category, $_imgHtml, 'image');
                                                /* @escapeNotVerified */
                                                echo $_imgHtml;
                                            }
                                            ?>
                                            <figcaption>
                                                <a class="cat-url" href="<?= $item->getUrl(); ?>">
                                                <h4> <?= $item->getName(); ?></h4>
                                                </a>
                                            </figcaption>
                                        </figure>
                                    </a>
                                <?php if($i == 0 && $r == 1) : ?>
                                <div class="news">
                                    <a href="#"><?= $labelNewest ?> </a>
                                </div>
                                <?php endif; ?>
                            </div>

                            </div>
                                <?php $i++; endforeach; ?>
                        </div>
                    <?php endforeach; ?>
                <?php $r++; endwhile; ?>
        <?php endif; ?>
        <?php if ($block->getData('collection_type_widget') == 'manual-by-category') : ?>
            <?php
            $k = 0;
            $w = 1; ?>
                <div class="row">
                <?php
                foreach ($conditionCid as $key => $cid) :
                    $conditionCollection = $block->filterCategoryCondition($cid);
                    $j = 0;
                    $arr = [];
                    foreach ($conditionCollection as $c => $v) :
                        if(!in_array($v['entity_id'], $arr)) :
                            $arr[] = $v['entity_id'];
                        ?>
                            <div class="col-sm-6 col-md-3 col-xs-6">
                                <div class="items">
                                    <a href="<?= $v->getUrl(); ?>">
                                        <figure class="text-center">
                                            <?php
                                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                            $category = $objectManager->create('Magento\Catalog\Model\Category')->load($v->getId());
                                            $outPutHelper = $this->helper('Magento\Catalog\Helper\Output');
                                            $_imgHtml = '';
                                            if ($_imgUrl = $category->getImageUrl()) {
                                                $_imgHtml = '<img class="banner-category" src="' . $_imgUrl . '" />';
                                                $_imgHtml = $outPutHelper->categoryAttribute($category, $_imgHtml, 'image');
                                                /* @escapeNotVerified */
                                                echo $_imgHtml;
                                            }
                                            ?>
                                            <figcaption>
                                                <h4> <?= $v->getName(); ?></h4>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <?php if($j == 0 && $k == 0) : ?>
                                        <div class="news">
                                            <a href="#"><?= $labelNewest ?> </a>
                                        </div>
                                    <?php endif; ?>
                                </div>
                                <?php
                                if (($j + 1) % (count($conditionCollection) / $row) == 0 && ($j + 1 != count($conditionCollection))) {
                                    echo '</div></div><div class="row"><div class="col-sm-6 col-md-4 col-xs-6 empty ">';
                                }
                                ?>
                            </div>
                        <?php endif; ?>
                        <?php $j++;  endforeach; ?>
                    </div>
                    <?php endforeach; ?>
        <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
<script>
    require(['jquery', 'jquery/ui'], function ($) {
        jQuery(document).ready(function () {
            if(jQuery('.col-sm-6.col-md-4.col-xs-6').hasClass('empty')) {
                jQuery('.col-sm-6.col-md-4.col-xs-6.empty').remove();
            }
            $("img.banner-category").hover(
                function () {
                    $(this).addClass('overlapping');
                },
                function () {
                    $(this).removeClass('overlapping');
                }
            );
        });
    });
</script>
