<?php
$helper = $this->helper('Netbaseteam\CustomCategory\Helper\Data');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
$parCatId = $category->getId();
$parCategory = $objectManager->create('Magento\Catalog\Model\Category')->load($parCatId);
$parent_category = $parCategory->getParentCategory();
$level = $parent_category->getLevel();
$mode = $helper->getCategoryMode($parCatId);

$collection = $helper->getBlockByCategory($parCatId);
$catSelected = [];
foreach ($collection as $data) {
    $catSelected[] = $data->getCatSelected();
}
$cid = $block->getCurrentCategory()->getId();
$overlapStatus = $block->getData('toggle_overlap_category');
if(isset($overlapStatus)) {
    if($overlapStatus == 0) {
        $classOver = '';
    }else {
        $classOver = "overlapping";
    }
}
?>
<?php if ($level >= 2 && $mode == 'PRODUCTS_AND_PAGE' || $mode == 'PRODUCTS' || $mode == 'PAGE') :?>
<?php if(count($collection) > 0) : ?>
<div class="col-lg-12 col-xs-12 custom-category-page">
    <div class="collections main-suggest">
        <div class="HeadingBanner">
            <hr class="line-left">
            <?php if ($block->getData('heading_title')): ?>
                <h4 class="heading"><?php echo $block->getData('heading_title'); ?></h4>
            <?php endif; ?>
            <hr class="line-right">
        </div>
        <div class="row" id="owl_custom">
            <?php
            $j = 0;
            foreach ($catSelected as $key => $cid ) :
                $conditionCollection = $block->loadCid($cid); ?>
                <?php foreach ($conditionCollection as $data) : ?>
                <div class="col-sm-6 col-md-3 col-xs-6 custom-slider">
                    <div class="items">
                        <a href="<?= $data->getUrl(); ?>">
                            <figure class="text-center">
                                <?php
                                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                $category = $objectManager->create('Magento\Catalog\Model\Category')->load($data->getId());
                                $outPutHelper = $this->helper('Magento\Catalog\Helper\Output');
                                $_imgHtml = '';
                                if ($_imgUrl = $category->getImageUrl()) {
                                    $_imgHtml = '<img class="banner-category" src="' . $_imgUrl . '" />';
                                    $_imgHtml = $outPutHelper->categoryAttribute($category, $_imgHtml, 'image');
                                    /* @escapeNotVerified */
                                    echo $_imgHtml;
                                }
                                ?>
                                <figcaption class="suggest-component <?= $classOver ?>"
                                    <h4> <?= $category->getName(); ?></h4>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
            <?php endforeach; ?>
                <?php $j++; endforeach; ?>
        </div>
    </div>
</div>
<?php endif; ?>
<?php endif; ?>
<script>
    require(['jquery', 'jquery/ui', 'Netbaseteam_CustomWidget/js/slick'], function($){
        $(document).ready(function(){
            $('#owl_custom').slick({
                lazyLoad: 'ondemand',
                slidesToShow: 4,
                slidesToScroll: 1,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1
                        }
                    }, {

                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }

                    }, {

                        breakpoint: 300,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }

                    }]
            });
        });
    });
</script>

