//  Actions-toolbar variables
//  _____________________________________________

@actions-toolbar__margin: false;
@actions-toolbar__padding: false;

@actions-toolbar-actions__position: justify; // [left|right|center|justify]
@actions-toolbar-actions__reverse: false; // [true|false]
@actions-toolbar-actions__margin: false;

@actions-toolbar-actions-primary__margin: 0 @indent__xs 0 0;
@actions-toolbar-actions-secondary__margin: false;

@actions-toolbar-actions-links__margin-top: false;
@actions-toolbar-actions-links-primary__margin-top: false;
@actions-toolbar-actions-links-secondary__margin-top: 6px;
