//  Lib -> Components -> Variables
//  _____________________________________________

@component__box-shadow__base: 1px 1px @component__shadow-size__base rgba(0, 0, 0, .5);
@component__shadow-size__base: 5px;

@component-modal__opacity: .98;
