//  Email variables
//  _____________________________________________

//  Base URL path
@baseUrl: "{{base_url_path}}/";

//  Structure
@email-body__width: 600px;
@email-body__padding: @indent__s;

//  Content
@email-content__padding__base: @indent__s;
@email-content__padding__s: @indent__xs;
@email-content__padding__m: @indent__base;
@email-content__padding__l: @indent__l;
@email-content__padding__xl: @indent__xl;

//  Colors
@email__background-color: @color-white;
@email-content__background-color: @color-white;

//  Messages
@message-email__color: @text__color;
@message-email__background: @message-info__background;
@message-email__border-color: @message-info__border-color;
@message-email-link__color: @message-info-link__color;
