//  Popup variables
//  _____________________________________________

@popup__width: 100%;
@popup__height: auto;
@popup__padding: 22px;
@popup__background: @color-white;
@popup__border-color: @color-gray-light3;
@popup__border: 1px solid @popup__border-color;
@popup__shadow: 0 3px 3px rgba(0,0,0,.15);
@popup__fade: opacity .3s linear;
@popup__z-index: 1001;

@popup__position: fixed;
@popup__position-top: 0;
@popup__position-right: 0;
@popup__position-bottom: 0;
@popup__position-left: 0;

@popup__margin-top: false;
@popup__margin-right: false;
@popup__margin-bottom: false;
@popup__margin-left: false;

@popup-content__height: auto;
@popup-content__margin: false;
@popup-header__margin: 0 0 25px;
@popup-footer__margin: false;

@popup-title-headings: true; // [true|false]
@popup-title-headings__level: h3; // [h1|h2|h3|h4|h5|h6]

@popup-button-close__icon: true; // [true|false]
@popup-button-close__reset: true; // [true|false]
@popup-button-close__position: absolute;
@popup-button-close__position-top: @indent__s;
@popup-button-close__position-right: @indent__s;
@popup-button-close__position-bottom: false;
@popup-button-close__position-left: false;

//  Actions toolbar variables
@popup-actions-toolbar: false; // [true|false]
@popup-actions-toolbar__margin: @actions-toolbar__margin;
@popup-actions-toolbar__padding: @actions-toolbar__padding;

@popup-actions-toolbar-actions__position: @actions-toolbar-actions__position;
@popup-actions-toolbar-actions__reverse: @actions-toolbar-actions__reverse;
@popup-actions-toolbar-actions__margin: @actions-toolbar-actions__margin;
@popup-actions-toolbar-actions-primary__margin: @actions-toolbar-actions-primary__margin;
@popup-actions-toolbar-actions-secondary__margin: @actions-toolbar-actions-secondary__margin;

@popup-actions-toolbar-actions-links__margin-top: @actions-toolbar-actions-links__margin-top;
@popup-actions-toolbar-actions-links-primary__margin-top: @actions-toolbar-actions-links-primary__margin-top;
@popup-actions-toolbar-actions-links-secondary__margin-top: @actions-toolbar-actions-links-secondary__margin-top;

//  Popup Icons variables
@popup-icon-font: @button-icon__font;
@popup-icon-font__content: @icon-remove;
@popup-icon-font__size: @button-icon__font-size;
@popup-icon-font__line-height: @button-icon__line-height;
@popup-icon-font__color: @button-icon__color;
@popup-icon-font__color-hover: @button-icon__hover__font-color;
@popup-icon-font__color-active: @button-icon__active__font-color;
@popup-icon-font__margin: @button-icon__margin;
@popup-icon-font__vertical-align: @button-icon__vertical-align;
@popup-icon-font__position: @button-icon__position;
@popup-icon-font__text-hide: true;

//  Window overlay variables
@overlay__background: @color-black;
@overlay__opacity: .5;
@overlay__opacity-old: 50;
@overlay__fade: opacity .15s linear;
@overlay__z-index: 1000;
