//  Table variables
//  _____________________________________________

@table__width: 100%;
@table__margin-bottom: false;
@table__background-color: false;
@table__border-color: @border-color__base;
@table__border-width: @border-width__base;
@table__border-style: solid;

@table-head__background-color: @table__background-color;
@table-foot__background-color: @table__background-color;
@table-body-th__background-color: @table__background-color;

@table-caption__hide: true; // [true|false]
@table-caption__font-size: false;
@table-caption__color: false;
@table-caption__font-family: false;
@table-caption__font-weight: false;
@table-caption__font-style: false;
@table-caption__line-height: false;
@table-caption__alignment: false;
@table-caption__margin-top: false;
@table-caption__margin-bottom: false;

@table-td__background-color: @table__background-color;
@table-td__font-size: false;
@table-td__color: false;
@table-td__font-family: false;
@table-td__font-weight: false;
@table-td__line-height: false;
@table-td__font-style: false;

@table-th__font-size: false;
@table-th__color: @text__color__intense;
@table-th__font-family: false;
@table-th__font-weight: @font-weight__bold;
@table-th__line-height: false;
@table-th__font-style: false;

@table-cell__padding-horizontal: @indent__s;
@table-cell__padding-vertical: 8px;
@table-cell__hover__background-color: @panel__background-color;
@table-cell-stripped__background-color: lighten(@table-cell__hover__background-color, 15%);
@table-cell-stripped__color: @table-td__color;

@table-responsive__background-color: @table__background-color;
@table-responsive-th__background-color: false;
@table-responsive-cell__padding: @indent__xs 0;
