<div class="nbd-popup popup-nbd-my-templates2" data-animate="scale">
    <div class="main-popup">
        <div class="overlay-main">
            <div class="loaded">
                <svg class="circular" viewBox="25 25 50 50" >
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
            </div>
        </div>

        <i class="icon-nbd icon-nbd-clear close-popup"></i>
        <div class="head">
            <h2><?php echo __('Save as new designs or overwrite last design'); ?></h2>
        </div>
        <div class="body" >
            <div class="main-body">
                <div class="tab-scroll" >
                    <div class="new-design" style="float: left" ng-click="selectMyDesign('')">
                        <i class="icon-nbd icon-nbd-add-black"></i>
                        <p><?php echo __('New design'); ?></p>
                    </div>
                    <div class="nbd-user-design" ng-repeat="temp in resource.myTemplates" ng-click="selectMyDesign(temp.id)" title="<?php echo __('Select'); ?>"">
                    <div class="main-item">
                        <div class="item-img">
                            <img ng-src="{{temp.src}}" alt="<?php echo __('Template'); ?>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>
</div>

