<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<form class="insert-mail form subscribe"
    novalidate
    action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
    method="post"
    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
    id="newsletter-validate-detail">
    <h4 href="#"><?= $block->escapeHtmlAttr(__('NEWSLETTER ABBONIEREN:')) ?></h4>
    <div class="field newsletter"> 
        <div class="control">
            <input name="email" type="email" id="newsletter"
                        placeholder="<?= $block->escapeHtmlAttr(__('EMAIL')) ?>"
                        data-validate="{required:true, 'validate-email':true}"/>
        </div>
    </div>
    <div class="actions">
        <button class="action subscribe primary" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit">
            <?= $block->escapeHtmlAttr(__('Send')) ?>
        </button>
    </div>
</form>
