// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables -> Colors
//  _____________________________________________

@color-brown-dark: #4a3f39;
@color-brown-darkie: #41362f;
@color-very-dark-gray-black: #303030;
@color-very-dark-gray-black2: #35302c;
@color-very-dark-grayish-orange: #373330;
@color-black4-almost: #403934;
@color-brown-darker: brown;
@color-very-dark-gray2: #555;
@color-very-dark-brownie: #5b5652;
@color-darker-gray: #ccc;
@color-brownie: #514943;
@color-brownie-almost: #524d49;
@color-very-dark-gray: #666;
@color-brownie-light: #676056;
@color-very-dark-gray1: #777;
@color-brownie-vanilla: #736963;
@color-dark-gray0: #7f7c7a;
@color-dark-gray: #808080;
@color-darkie-gray: #8a837f;
@color-gray65: #a6a6a6;
@color-gray65-almost: #a79d95;
@color-gray65-lighten: #aaa6a0;
@color-heathered-grey: #989287;
@color-dark-grayish: #aeaeae;
@color-dark-grayish-orange: #afadac;
@color-gray75: #bfbfbf;
@color-lighter-grayish: #cacaca;
@color-lighter-grayish-almost: #c3bbb1;
@color-light-gray: #ddd;
@color-light-gray0: #d0d0d0;
@color-gray83: #d4d4d4;
@color-gray84: #d6d6d6;
@color-gray85: #d9d9d9;
@color-gray-brown: #dad1c8;
@color-lighter-gray: #e9e9e9;
@color-gray98: #fafafa;
@color-very-light-gray: #fcfcfc;
@color-ivory: #f7f3eb;
@color-white-fog2: #f1f1f1;
@color-lazy-sun-white: #fffbe6;
@color-lazy-sun: #fffbbb;
@color-lazy-sunny: #fff1ad;

@color-blue-pure: #007bdb;
@color-blue-dodger: #008bdb;
@color-blue-clear-sky: #e0f6fe;

@color-green-apple: #79a22e;
@color-apricot: #ee7d7d;

@color-pink: #fcc;
@color-pink-light: #f5d6c7;
@color-phoenix: #ee3829;
@color-light-phoenix: #ef672f;
@color-phoenix-brown: #b84002;
@color-phoenix-brown-almost: #ba4000;
@color-phoenix-brownie: #ae3d01;
@color-phoenix-dark: #c34706;
@color-phoenix-down: #e04f00;
@color-phoenix-rise: #f65405;
@color-tomato-brick: #e22626;
@color-white: #ffffff;

//
//  Nesting
//  ---------------------------------------------

@primary__color: @color-phoenix;
@success__color: @color-green-apple;
@text__color: @color-brown-darkie;
@border__color: @color-gray89;
