/*
   evol-colorpicker 3.3.1
   (c) 2017 Olivier Giulieri
   http://evoluteur.github.io/colorpicker/
*/
.evo-pop {
  z-index: 10000;
  width: 204px;
  padding: 3px 3px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 33px;
}

.evo-pop-ie {
  z-index: 10000;
  width: 212px;
  padding: 3px;
}
.evo-palette td {
  font-size: 1px;
  border: solid 1px #c0c0c0;
  padding: 7px;
  cursor: pointer;
}
.evo-palette tr.top > td {
  border-bottom: 0;
}
.evo-palette tr.in > td {
  border-top: 0;
  border-bottom: 0;
}
.evo-palette tr.bottom > td {
  border-top: 0;
}
.evo-palette div.sep {
  height: 3px;
}
.evo-palette,
.evo-palette-ie {
  border-collapse: separate;
  border-spacing: 4px 0px;
  *border-collapse: expression('separate', cellSpacing='2px');
}
.evo-palette th,
.evo-palette-ie th {
  border: 0;
  padding: 5px 3px;
  text-align: left;
  font-weight: normal;
  background: transparent !important;
}
.evo-palette-ie td {
  font-size: 1px;
  border: solid 1px #c0c0c0;
  padding: 7px;
  cursor: pointer;
}
.evo-palette2,
.evo-palette2-ie {
  margin: auto;
  border-collapse: collapse;
}
.evo-palette2 td,
.evo-palette2-ie td {
  font-size: 1px;
  cursor: pointer;
}
.evo-palette2 td {
  padding: 6px 7px;
}
.evo-palette2-ie td {
  padding: 5px;
}
.evo-palcenter {
  padding: 5px;
  text-align: center;
}
.evo-colorind,
.evo-colorind-ie,
.evo-colorind-ff {
  border: solid 1px #c3c3c3;
  width: 32px;
  height: 31px;
  /*float: right;*/
}
.evo-colorind-ie {
  position: relative;
  top: -23px;
}
.evo-colorbox-ie {
  font-size: 8px;
  padding: 3px 9px !important;
}
.evo-pop:after,
.evo-pop-ie:after,
.evo-colorind:after,
.evo-colorind-ie:after,
.evo-colorind-ff:after,
.evo-color span:after,
.evo-cHist:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.evo-color {
  width: 94px;
  padding: 1px 3px 0 4px;
}
.evo-color div {
  border: solid 1px #808080;
  border-right: solid 1px #c0c0c0;
  border-bottom: solid 1px #c0c0c0;
  padding: 3px;
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
  float: left;
}
.evo-color span {
  font-size: 15px;
  margin: 1px 0 4px 3px;
  float: left;
}
.evo-sep {
  height: 10px;
  font-size: 0;
}
.evo-more {
  padding: 4px 5px 4px;
  font-size: smaller;
}
.evo-cHist {
  padding: 3px;
}
.evo-cHist div {
  cursor: pointer;
  border: solid 1px #c0c0c0;
  padding: 3px;
  margin: 5px;
  width: 10px;
  height: 10px;
  float: left;
}
.evo-transparent {
  background-image: repeating-linear-gradient(135deg, black, black 1px, white 1px, white 3px);
}
.evo-tr-box {
  cursor: pointer;
  border: solid 1px #c0c0c0;
  padding: 3px;
  width: 7px;
  height: 7px;
  float: right;
  position: relative;
  right: -3px;
  top: 2px;
}
a.evo-hist {
  margin-left: 6px;
}
.evo-pointer {
  cursor: pointer;
}
.evo-hidden-button {
  display: none;
}
