<?php
/**
 * Copyright 2017 Netbaseteam, Inc. All rights reserved.
 */
?>
<?php /** @var $block \Netbase\Product\Block\NewProduct */ ?>
<?php
	$showWishlist = true;
    $showCompare = true;
	$_helper = $this->helper('Netbase\Product\Helper\Data');
	$config = $_helper->getConfig("pro_new/general");
	$categories = explode(',', $config['categories']);
	$attributeId = $config['attribute_code'];
	$title = $_helper->getTitle('pro_new/general/title');
	$currentSymbol = $_helper->getCurrencySymbol();
	$banner = $_helper->getBanner('pro_new/general/banner');
	$tabs = $_helper->getAllTabs('pro_new/general/categories','hot-product-title');	 
?>
<?php if (!empty($categories)): ?>
<section class="hot-product section-antique product-list" data-action = "tab-pro-hot">
		<div class="title-box">
			<h4><?php echo __('Gallery collection') ?></h4>
			<img src="<?php echo $block->getViewFileUrl('images/cms/gallery_title_icon_1.png'); ?>" alt="<?php echo __('gallery title') ?>" /> 
			<h2><?php echo __('hot antique products') ?></h2>
		</div>
		<div class="content-box row display-clear">
			<div class="tab-list">
				<div class="tab-header">
					<ul class="title-list tabs-hot">
						<?php echo $tabs; ?>
					</ul>
				</div>
				<div class="tab-main">
					<div class="product-list-content">
						<?php foreach ($categories as $key => $cateId): ?>
							<?php $productCollection = $block->getProductCollection($cateId); ?>
							<div class="home-product-slider products-grid nb-list" data-rev = "<?php echo $cateId; ?>">
								<?php foreach ($productCollection as $key => $_product): ?>
									<div class="item col-sm-6 col-md-3 col-lg-3">
										<div class="product-item-info" data-container="product-grid">
											<?php      
												$originalPrice = $_product->getPrice();  //200 
												$specialPrice = $_product->getSpecialPrice();  
											?>
											<?php if(($specialPrice)&&($specialPrice <= $originalPrice)){?>	
												<div class="sale">
													<span> 
														<?php
															$saleof= abs(($specialPrice/($originalPrice))*100-100);
															echo '- ';    
															print_r(floor($saleof));
															echo '%'; 
														?>									 
													</span> 
												</div>
											<?php } ?>
								            <?php
											    $image = 'category_page_grid' or 'category_page_list';
											    $_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
											    $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize(250)->getUrl();
											?>
								 			<div class="item-top">
									 			<a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo display-flex" tabindex="-1">
													<img alt="" src="<?php echo $productImage; ?>" />
												</a> 
												<div class="actions"> 
													<div class="quickview actions-all">
														<div class="display-flex">
														<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")
															->setData('pid', $_product->getId())
															->setTemplate("Cmsmart_Quickview::quickview.phtml")->toHtml();?>
														</div>
														</div>

													<?php
														$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
													?>
													<div class="tocompare-div actions-all">
														<div class="display-flex">
														<a href="#"
														   class="action tocompare"
														   title="<?php echo __('Add To Compare'); ?>"
														   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
														   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
														   role="button">
														   <i class="icon-arrows-ccw" aria-hidden="true"></i>
														</a>
														</div>
													</div>
													<?php if ($showWishlist || $showCompare): ?>
														<?php
														$objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
														$objBlock = $objectManagerr->get('\Magento\CatalogWidget\Block\Product\ProductsList');
														?>
														<div class="actions-secondary actions-all" data-role="add-to-links">
															<div class="display-flex">
															<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
																<a href="#"
																   data-post='<?php /* @escapeNotVerified */ echo $objBlock->getAddToWishlistParams($_product); ?>'
																   class="action towishlist" data-action="add-to-wishlist"
																   title="<?php /* @escapeNotVerified */ echo __('Add to Wish List') ?>">
																	<span><i class='icon-heart-1'></i></span>
																</a>
															<?php endif; ?> 
															</div>
														<?php endif; ?> 
														</div>
			                            	</div>
				                            </div>
											<div class="product details product-item-details">
												<div class="inner-product">
													<a title="<?php echo $_product->getName(); ?>" href="<?php echo $_product->getProductUrl() ?>" class="product-item-link">
										                <?php echo substr($_product->getName(),0,30); ?>
										            </a>
													<?php
														$originalPrice = $_product->getData('price')+0;
														$finalPrice = $_product->getData('special_price')+0; 
													?>
													
													

										            <div class="price-home <?php if($finalPrice){ echo 'price-sale'; } ?>">
														<?php 
															if ($finalPrice) {
																echo "<span class='special'>".$currentSymbol.$finalPrice.'.00'."</span>";
															};
															if ($originalPrice) {
																echo "<span class='normal'>".$currentSymbol.$originalPrice.'.00'."</span>";
															}; 
														?>
													</div>
									            </div>
									        </div>
								        </div> 
								    </div>
								<?php endforeach ?>
							</div>
						<?php endforeach ?>
					</div>
				</div>
			</div>
		</div>
		<?php if ($block->getCategoryShowAll()): ?>
			<div class="action-box">
				<a href="<?php echo $block->getCategoryShowAllUrl(); ?>" class="btn-link view-more-btn button">
					<span><?php echo __('View More'); ?></span>
					<i class="icon-right-thin"></i>
				</a>
			</div>
		<?php endif ?>

</section>
<script type="text/x-magento-init">
	{
		"*": {
			"Netbase_Product/js/tab-action": {
				"productTabs":{
					"tabAction" : "true",
					"tab": "[data-action = 'tab-pro-hot']",
					"eles": {
		                "tabTitleItem" : "[data-tab = 'hot-product-title']",
		                "tabContentItem" : ".hot-product  .nb-list",
		                "tabCurrent" : ".tabs-hot .current"
	            	},
	            	"classActive" : "current"
				}
			}
		}
	}
</script>
<?php endif ?>