<?php
$statusArea = $this->getRequest()->getParam('task');
?>
<div class="<?php if ($active_elements) echo 'active'; ?> tab" id="tab-element"
     nbd-scroll="scrollLoadMore(container, type)" data-container="#tab-element" data-type="element" data-offset="20">
    <div class="nbd-search">
        <input ng-class="(resource.element.type != 'icon' || !resource.element.onclick) ? 'nbd-disabled' : ''"
               ng-keyup="$event.keyCode == 13 && getMedia(resource.element.type, 'search')" type="text" name="search"
               placeholder="<?php echo __('Search element'); ?>"
               ng-model="resource.element.contentSearch"/>
        <i class="icon-nbd icon-nbd-fomat-search"></i>
    </div>
    <div class="tab-main tab-scroll" style="margin-top: 70px;height: calc(100% - 70px);">
        <div class="nbd-items-dropdown">
            <div class="main-items">
                <div class="items">
                    <div ng-if="settings['nbdesigner_enable_draw'] == 'yes' && !settings.is_mobile" class="item"
                         data-type="draw" data-api="false" ng-click="onClickTab('draw', 'element')">
                        <div class="main-item">
                            <div class="item-icon"><i class="icon-nbd icon-nbd-drawing"></i></div>
                            <div class="item-info">
                                <span class="item-name"><?php echo __('Draw'); ?></span>
                            </div>
                        </div>
                    </div>
                    <!--                        add shape-->
<!--                    <div ng-if="settings['nbdesigner_enable_clipart'] == 'yes'" class="item" data-type="customshapes"-->
<!--                         data-api="false" ng-click="onClickTab('customshape', 'element')">-->
<!--                        <div class="main-item">-->
<!--                            <div class="item-icon"><i class="icon-nbd icon-nbd-geometrical-shapes-group"></i></div>-->
<!--                            <div class="item-info">-->
<!--                                <span class="item-name">--><?php //echo __('Shapes'); ?><!--</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div ng-if="settings['nbdesigner_enable_clipart'] == 'yes'" class="item" data-type="shapes"
                         data-api="false" ng-click="onClickTab('shape', 'element')">
                        <div class="main-item">
                            <div class="item-icon"><i class="icon-nbd icon-nbd-shapes"></i></div>
                            <div class="item-info">
                                <span class="item-name"><?php echo __('Shapes'); ?></span>
                            </div>
                        </div>
                    </div>




                    <div ng-if="settings['nbdesigner_enable_clipart'] == 'yes'" class="item" data-type="icons"
                         data-api="false" ng-click="onClickTab('icon', 'element')">
                        <div class="main-item">
                            <div class="item-icon"><i class="icon-nbd icon-nbd-diamond"></i></div>
                            <div class="item-info">
                                <span class="item-name"><?php echo __('Icons'); ?></span>
                            </div>
                        </div>
                    </div>
                    <!--                    <div class="item" data-type="lines" data-api="false" ng-click="onClickTab('line', 'element')">
                        <div class="main-item">
                            <div class="item-icon"><i class="icon-nbd icon-nbd-line"></i></div>
                            <div class="item-info">
                                <span class="item-name"><?php echo __('Lines'); ?></span>
                            </div>
                        </div>
                    </div>-->

                    <div ng-if="settings['nbdesigner_enable_qrcode'] == 'yes'" class="item" data-type="qr-code"
                         data-api="false" ng-click="onClickTab('qrcode', 'element')">
                        <div class="main-item">
                            <div class="item-icon"><i class="icon-nbd icon-nbd-qrcode"></i></div>
                            <div class="item-info">
                                <span class="item-name"><?php echo __('Bar/QR-Code'); ?></span>
                            </div>
                        </div>
                    </div>

                    <div ng-if="settings['nbdesigner_enable_vcard'] == 'yes'"
                         class="item" data-type="vcard" data-api="false" ng-click="onClickTab('vcard', 'element')">
                        <div class="main-item">
                            <div class="item-icon">
                                <i class="icon-vcard">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                         viewBox="0 0 32 32">
                                        <path fill="#06d79c"
                                              d="M28 25h-3v-1c0.553 0 1-0.448 1-1 0-0.553-0.447-1-1-1h-2c-0.553 0-1 0.447-1 1 0 0.552 0.447 1 1 1v1h-13v-1c0.553 0 1-0.448 1-1 0-0.553-0.447-1-1-1h-2c-0.553 0-1 0.447-1 1 0 0.552 0.447 1 1 1v1h-4c-1.104 0-2-0.896-2-2v-14c0-1.104 0.896-2 2-2h24c1.104 0 2 0.896 2 2v14c0 1.104-0.896 2-2 2zM10 9.812c-1.208 0-2.188 1.287-2.188 2.875s0.98 2.875 2.188 2.875 2.188-1.287 2.188-2.875-0.98-2.875-2.188-2.875zM13.49 16.688c-0.539-0.359-2.091-0.598-2.091-0.598s-1.006 1.075-1.433 1.075c-0.428 0-1.434-1.075-1.434-1.075s-1.552 0.238-2.090 0.598c-0.539 0.358-0.777 2.261-0.777 2.261h8.615c0.001-0.001-0.157-1.84-0.79-2.261zM26 11h-9v1h9v-1zM26 13h-9v1h9v-1zM26 15h-9v1h9v-1zM26 17h-9v1h9v-1z"></path>
                                    </svg>
                                </i>
                            </div>
                            <div class="item-info">
                                <span class="item-name"><?php echo __('vCard'); ?></span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="settings['nbdesigner_enable_frame'] == 'yes'" class="item" data-type="frame"
                         data-api="false" ng-click="onClickTab('frame', 'element')">
                        <div class="main-item">
                            <div class="item-icon">
                                <i class="icon-vcard">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#38b6ff" d="M7 19h10V4H7v15zm-5-2h4V6H2v11zM18 6v11h4V6h-4z"/>
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                    </svg>
                                </i>
                            </div>
                            <div class="item-info">
                                <span class="item-name"><?php echo __('Frame'); ?></span>
                            </div>
                        </div>
                    </div>
<!--                    --><?php //if ($statusArea == 'predesign'): ?>
<!--                        <div ng-if="settings['nbdesigner_enable_multiple_are_design'] == 'yes' && !settings.is_mobile"-->
<!--                             class="item"-->
<!--                             data-type="area-design" data-api="false" ng-click="onClickTab('area-design', 'element')">-->
<!--                            <div class="main-item">-->
<!--                                <div class="item-icon"><i class="icon-nbd icon-nbd-area-design"></i></div>-->
<!--                                <div class="item-info">-->
<!--                                    <span class="item-name">--><?php //echo __('Area Design'); ?><!--</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    --><?php //endif; ?>
                </div>
                <div class="pointer"></div>
            </div>
            <div class="result-loaded">
                <div class="content-items">
                    <div class="content-item type-draw" data-type="draw">
                        <div class="main-type">
                            <span class="heading-title"><?php echo __('Free Drawing'); ?></span>
                            <div class="brush" style="text-align: left;">
                                <h3 class="color-palette-label"
                                    style="font-size: 12px; text-align: left; margin: 0 0 5px;"><?php echo __('Choose'); ?></h3>
                                <button class="nbd-button nbd-dropdown">
                                    <?php echo __('Brush'); ?> <i class="icon-nbd icon-nbd-arrow-drop-down"></i>
                                    <div class="nbd-sub-dropdown" data-pos="left">
                                        <ul class="tab-scroll">
                                            <li ng-click="resource.drawMode.brushType = 'Pencil';changeBush();stages[currentStage].states.isShapeSvg = false"
                                                ng-class="resource.drawMode.brushType == 'Pencil' ? 'active' : ''">
                                                <span><?php echo __('Pencil'); ?></span></li>
                                            <li ng-click="resource.drawMode.brushType = 'Circle';changeBush();stages[currentStage].states.isShapeSvg = false"
                                                ng-class="resource.drawMode.brushType == 'Circle' ? 'active' : ''">
                                                <span><?php echo __('Circle'); ?></span></li>
                                            <li ng-click="resource.drawMode.brushType = 'Spray';changeBush();stages[currentStage].states.isShapeSvg = false"
                                                ng-class="resource.drawMode.brushType == 'Spray' ? 'active' : ''">
                                                <span><?php echo __('Spray'); ?></span></li>
                                        </ul>
                                    </div>
                                </button>
                            </div>
                            <ul class="main-ranges" style="margin-top: 15px;">
                                <li class="range range-brightness">
                                    <label><?php echo __('Brush width'); ?></label>
                                    <div class="main-track">
                                        <input class="slide-input" type="range" step="1" min="1" max="100"
                                               ng-change="changeBush();stages[currentStage].states.isShapeSvg = false" ng-model="resource.drawMode.brushWidth">
                                        <span class="range-track"></span>
                                    </div>
                                    <span class="value-display">{{resource.drawMode.brushWidth}}</span>
                                </li>
                            </ul>
                            <div class="color">
                                <h3 class="color-palette-label"
                                    style="font-size: 12px; text-align: left; margin: 0 0 5px;"><?php echo __('Brush color'); ?></h3>
                                <ul class="main-color-palette nbd-perfect-scroll"
                                    style="margin-bottom: 10px; max-height: 220px">
                                    <li class="color-palette-add" ng-init="showBrushColorPicker = false"
                                        ng-click="showBrushColorPicker = !showBrushColorPicker;"
                                        ng-style="{'background-color': currentColor}"></li>
                                    <li ng-repeat="color in listAddedColor track by $index"
                                        ng-click="resource.drawMode.brushColor=color; changeBush();stages[currentStage].states.isShapeSvg = false"
                                        class="color-palette-item" data-color="{{color}}" title="{{color}}"
                                        ng-style="{'background-color': color}"></li>
                                </ul>
                                <div class="pinned-palette default-palette" style="margin-bottom: 10px">
                                    <h3 class="color-palette-label"
                                        style="font-size: 12px; text-align: left; margin: 0 0 5px;"><?php echo __('Default palette'); ?></h3>
                                    <ul class="main-color-palette" ng-repeat="palette in resource.defaultPalette"
                                        style="margin-bottom: 15px;">
                                        <li ng-class="{'first-left': $first, 'last-right': $last}"
                                            ng-repeat="color in palette track by $index"
                                            ng-click="resource.drawMode.brushColor=color; changeBush();stages[currentStage].states.isShapeSvg = false"
                                            class="color-palette-item" data-color="{{color}}" title="{{color}}"
                                            ng-style="{'background': color}"></li>
                                    </ul>
                                </div>
                                <div class="nbd-text-color-picker" id="nbd-bg-color-picker"
                                     ng-class="showBrushColorPicker ? 'active' : ''" style="z-index: 999;">
                                    <spectrum-colorpicker
                                            ng-model="currentColor"
                                            options="{
                                                preferredFormat: 'hex',
                                                color: '#fff',
                                                flat: true,
                                                showButtons: false,
                                                showInput: true,
                                                containerClassName: 'nbd-sp'
                                        }">
                                    </spectrum-colorpicker>
                                    <div style="text-align: <?php echo (is_rtl()) ? 'right' : 'left' ?>">
                                        <button class="nbd-button"
                                                ng-click="addColor();changeBush(currentColor);showBrushColorPicker = false;stages[currentStage].states.isShapeSvg = false"><?php echo __('Choose'); ?></button>
                                    </div>
                                </div>
                            </div>
                            <div class="nbd-color-palette-inner" style="padding: 15px;display: none;">
                                <div class="working-palette" ng-if="settings['nbdesigner_show_all_color'] == 'yes'"
                                     style="margin-bottom: 10px; position: relative;z-index: 99;">
                                    <ul class="main-color-palette tab-scroll">
                                        <li class="color-palette-item color-palette-add"
                                            ng-click="stageBgColorPicker.status = !stageBgColorPicker.status;"
                                            style="background: #fff;"></li>
                                        <li ng-repeat="color in listAddedColor track by $index"
                                            ng-click="changeBackgroundCanvas(color)"
                                            class="color-palette-item"
                                            data-color="{{color}}"
                                            title="{{color}}"
                                            ng-style="{'background-color': color}">
                                        </li>
                                    </ul>
                                    <div class="nbd-text-color-picker" id="nbd-stage-bg-color-picker"
                                         style="top: 20px; left: 20px;"
                                         ng-class="stageBgColorPicker.status ? 'active' : ''">
                                        <spectrum-colorpicker
                                                ng-model="stageBgColorPicker.currentColor"
                                                options="{
                                            preferredFormat: 'hex',
                                            color: '#fff',
                                            flat: true,
                                            showButtons: false,
                                            showInput: true,
                                            containerClassName: 'nbd-sp'
                                            }">
                                        </spectrum-colorpicker>
                                        <div>
                                            <button class="nbd-button"
                                                    ng-click="changeBackgroundCanvas(stageBgColorPicker.currentColor);">
                                                <?php echo __('Choose'); ?>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pinned-palette default-palette"
                                     ng-if="settings['nbdesigner_show_all_color'] == 'yes'">
                                    <h3 class="color-palette-label"
                                        style="font-size: 12px;font-weight: 500;margin: 0 0 10px;text-transform: uppercase;text-align: left;"><?php echo __('Default palette', 'web-to-print-online-designer'); ?></h3>
                                    <ul class="main-color-palette tab-scroll"
                                        ng-repeat="palette in resource.defaultPalette"
                                        style="margin-bottom: 5px; max-height: 80px">
                                        <li ng-class="{'first-left': $first, 'last-right': $last}"
                                            ng-repeat="color in palette track by $index"
                                            ng-click="changeBackgroundCanvas(color)"
                                            class="color-palette-item"
                                            data-color="{{color}}"
                                            title="{{color}}"
                                            ng-style="{'background': color}">
                                        </li>
                                    </ul>
                                </div>
                                <div class="pinned-palette default-palette"
                                     ng-if="settings['nbdesigner_show_all_color'] == 'no'">
                                    <h3 class="color-palette-label"><?php echo __('Color palette', 'web-to-print-online-designer'); ?></h3>
                                    <ul class="main-color-palette" style="margin-bottom: 15px;">
                                        <li ng-repeat="color in __colorPalette track by $index"
                                            ng-class="{'first-left': $first, 'last-right': $last}"
                                            ng-click="changeBackgroundCanvas(color)" class="color-palette-item"
                                            data-color="{{color}}" title="{{color}}"
                                            ng-style="{'background': color}"></li>
                                    </ul>
                                </div>
                                <div>
                                    <button class="nbd-button"
                                            ng-click="removeBackgroundCanvas()"><?php echo __('Remove background'); ?></button>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                    thêm svg-->
                    <div class="content-item type-shapes" data-type="shapes" id="nbd-shape-wrap">
                        <div class="mansory-wrap">
                            <div nbd-drag="art.url" name="shape" extenal="true" type="svg" class="mansory-item"
                                 ng-click="addSvgFromMedia(art);stages[currentStage].states.isShapeSvg = true" ng-repeat="art in resource.shape.data"
                                 repeat-end="onEndRepeat('shape')"><img ng-src="{{art.url}}"><span
                                        class="photo-desc">{{art.name}}</span>
                            </div>
                        </div>
                    </div>


                    <!--                    add shape-->
<!--                    <div class="content-item type-customshapes" data-type="customshapes" id="nbd-customshape-wrap">-->
<!--                        <div >-->
<!---->
<!--                            <div ng-click="addCustomShape('1')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/1.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!---->
<!--                            <div ng-click="addCustomShape('2')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/2.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!---->
<!--                            <div ng-click="addCustomShape('3')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/3.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!---->
<!---->
<!--                            <div ng-click="addCustomShape('4')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/4.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!--                            <div ng-click="addCustomShape('5')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/5.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!--                            <div ng-click="addCustomShape('6')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/6.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!--                            <div ng-click="addCustomShape('7')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/7.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!--                            <div ng-click="addCustomShape('8')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/8.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!--                            <div ng-click="addCustomShape('9')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/9.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!--                            <div ng-click="addCustomShape('10')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/10.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!--                            <div ng-click="addCustomShape('11')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/11.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!--                            <div ng-click="addCustomShape('12')" class="mansory-item" style=" float: left; margin:10px 10px 0 0; cursor: pointer;">-->
<!--                                <img src="--><?php //echo $this->getViewFileUrl('Netbaseteam_Onlinedesign/js/assets/images/customshape/12.png') ?><!--"  height="80">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--thêm svg-->
                    <div class="content-item type-icons" data-type="icons" id="nbd-icon-wrap">
                        <div class="mansory-wrap">
                            <div nbd-drag="art.url" name="icon" extenal="true" type="svg" class="mansory-item"
                                 ng-click="addSvgFromMedia(art, $index);stages[currentStage].states.isShapeSvg = false" ng-repeat="art in resource.icon.data"
                                 repeat-end="onEndRepeat('icon')">
                                <div style="position: relative;">
                                    <img ng-src="{{art.url}}"/><span class="photo-desc">{{art.name}}</span>
                                    <?php if (!$valid_license): ?>
                                        <span class="nbd-pro-mark-wrap" ng-if="$index > 20">
                                        <svg class="nbd-pro-mark" fill="#F3B600" xmlns="http://www.w3.org/2000/svg"
                                             viewBox="-505 380 12 10"><path
                                                    d="M-503 388h8v1h-8zM-494 382.2c-.4 0-.8.3-.8.8 0 .1 0 .2.1.3l-2.3.7-1.5-2.2c.3-.2.5-.5.5-.8 0-.6-.4-1-1-1s-1 .4-1 1c0 .3.2.6.5.8l-1.5 2.2-2.3-.8c0-.1.1-.2.1-.3 0-.4-.3-.8-.8-.8s-.8.4-.8.8.3.8.8.8h.2l.8 3.3h8l.8-3.3h.2c.4 0 .8-.3.8-.8 0-.4-.4-.7-.8-.7z"></path></svg>
                                        <?php echo __('Pro'); ?>
                                    </span>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-item type-lines" data-type="lines" id="nbd-line-wrap">
                        <div class="mansory-wrap">
                            <div nbd-drag="art.url" name="line" extenal="true" type="svg" class="mansory-item"
                                 ng-click="addSvgFromMedia(art);stages[currentStage].states.isShapeSvg = false" ng-repeat="art in resource.line.data"
                                 repeat-end="onEndRepeat('line')"><img ng-src="{{art.url}}"><span
                                        class="photo-desc">{{art.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="content-item type-qrcode" data-type="qr-code">
                        <div class="main-type">
                            <div class="main-input">
                                <input ng-model="resource.qrText" type="text" class="nbd-input input-qrcode"
                                       name="qr-code" placeholder="https://yourcompany.com">
                            </div>
                            <button ng-class="resource.qrText != '' ? '' : 'nbd-disabled'" class="nbd-button"
                                    ng-click="addQrCode()"><?php echo __('Create QRCode'); ?></button>
                            <button ng-class="resource.qrText != '' ? '' : 'nbd-disabled'" class="nbd-button"
                                    ng-click="addBarCode()"><?php echo __('Create BarCode'); ?></button>
                            <div class="main-qrcode">

                            </div>
                            <svg id="barcode"></svg>
                        </div>
                    </div>
<!--                    <div class="content-item type-area-design" data-type="area-design">-->
<!--                        <div class="main-type">-->
<!--                            <button class="nbd-button design-area-upload"-->
<!--                                    ng-click="showUploadArea=(showUploadArea ? false : true)">--><?php //echo __('Create Upload Area Design'); ?><!--</button>-->
<!--                        </div>-->
<!--                    </div>-->
                    <?php
                    $helper = $this->helper('Netbaseteam\Onlinedesign\Helper\Data');
                    $customerFirstName = $helper->getFirstNameCustomer();
                    $customerLastName = $helper->getLastNameCustomer();
                    $customerEmail = $helper->getEmailCustomer();
                    $customerAddress = $helper->getAddressCustomer();
                    $customerCity = $helper->getCityCustomer();
                    $customerPostCode = $helper->getPostCodeCustomer();
                    $customerCountry = $helper->getCountryCustomer();
                    $customerPhone = $helper->getTelePhoneCustomer();
                    $customerWebsite = $helper->getWebsiteCustomer();
                    ?>
                    <div ng-if="settings['nbdesigner_enable_vcard'] == 'yes'" class="content-item type-vcard"
                         data-type="vcard">
                        <p><?php echo __('Your information'); ?></p>
                        <div class=" md-input-wrap">
                            <input placeholder="First Name" type="text" name="first_name" id="first_name"
                                   value="<?php echo $customerFirstName ? $customerFirstName : '' ?>">
                        </div>
                        <div class="md-input-wrap">
                            <input placeholder="Last Name" type="text" name="last_name" id="last_name"
                                   value="<?php echo $customerLastName ? $customerLastName : '' ?>">
                        </div>
                        <div class=" md-input-wrap">
                            <input placeholder="Address" type="text" name="address" id="address"
                                   value="<?php echo $customerAddress ? $customerAddress : '' ?>">
                        </div>
                        <div class=" md-input-wrap">
                            <input placeholder="City" type="text" name="city" id="city"
                                   value="<?php echo $customerCity ? $customerCity : '' ?>">
                        </div>
                        <div class=" md-input-wrap">

                            <input placeholder="Post Code" type="text" name="postcode" id="postcode"
                                   value="<?php echo $customerPostCode ? $customerPostCode : '' ?>">
                        </div>
                        <div class="md-input-wrap">
                            <input placeholder="Country" type="text" name="country" id="country"
                                   value="<?php echo $customerCountry ? $customerCountry : '' ?>">
                        </div>
                        <div class=" md-input-wrap">
                            <input placeholder="Phone" type="text" name="phone" id="phone"
                                   value="<?php echo $customerPhone ? $customerPhone : '' ?>">
                        </div>
                        <div class=" md-input-wrap">
                            <input placeholder="Email" type="text" name="email" id="email"
                                   value="<?php echo $customerEmail ? $customerEmail : '' ?>">
                        </div>
                        <div class=" md-input-wrap">
                            <input placeholder="Website" type="text" name="website" id="website"
                                   value="<?php echo $customerWebsite ? $customerWebsite : '' ?>">
                        </div>
                        <p>
                        <span style="color: #fff;margin: 15px auto 0;width: 100%;" class="nbd-button" ng-click="generateVcard()"><?php echo __('Generate'); ?></span>
                        </p>
                    </div>
                    <div class="content-item type-frame" data-type="frame">
                        <div class="frames-wrapper">
                            <div class="frame-wrap" ng-repeat="frame in resource.frames track by $index"
                                 ng-click="addFrame(frame)">
                                <photo-frame data-frame="frame"></photo-frame>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nbdesigner-gallery" id="nbdesigner-gallery">
                </div>
                <div class="loading-photo" style="width: 40px; height: 40px;">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                stroke-miterlimit="10"/>
                    </svg>
                </div>
            </div>
            <div class="info-support">
                <span>Facebook</span>
                <i class="icon-nbd icon-nbd-clear close-result-loaded" ng-click="onClickTab('', 'element')"></i>
            </div>
        </div>
    </div>
</div>