<div class="nbd-context-menu" id="nbd-context-menu" ng-style="ctxMenuStyle" ng-click="ctxMenuStyle.visibility = 'hidden'">
    <div class="main-context">
        <ul class="contexts" class="layer-context" ng-if="stages[currentStage].states.isActiveLayer">
            <li class="context-item" ng-click="setLayerAttribute('excludeFromExport', !stages[currentStage].states.excludeFromExport)" ng-show="settings.task == 'create_template' && !stages[currentStage].states.excludeFromExport"><i class="icon-nbd icon-nbd-clear"></i> <?php echo __('Exclude from export'); ?></li>
            <li class="context-item" ng-click="rotateLayer('reflect-hoz')" ng-show="stages[currentStage].states.isLayer"><i class="icon-nbd icon-nbd-reflect-horizontal"></i> <?php echo __('Reflect Horizontal'); ?></li>
            <li class="context-item" ng-click="rotateLayer('reflect-ver')" ng-show="stages[currentStage].states.isLayer"><i class="icon-nbd icon-nbd-reflect-vertical"></i> <?php echo __('Reflect Vertical'); ?></li>
            <li class="context-item" ng-click="fitToStage('width')" ng-show="stages[currentStage].states.isLayer && stages[currentStage].states.isImage">
                <i style="height: 24px;" class="icon-nbd">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#888" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M0.938 5.203c-0.518 0-0.938 0.42-0.938 0.938v11.719c0 0.518 0.42 0.938 0.938 0.938s0.938-0.42 0.938-0.938v-11.719c0-0.518-0.42-0.938-0.938-0.938z"></path>
                        <path d="M23.063 5.203c-0.518 0-0.938 0.42-0.938 0.938v11.719c0 0.518 0.42 0.938 0.938 0.938s0.938-0.42 0.938-0.938v-11.719c0-0.518-0.42-0.938-0.938-0.938z"></path>
                        <path d="M16.453 11.063h-12.196l2.684-2.663c0.368-0.365 0.37-0.958 0.005-1.326s-0.958-0.37-1.326-0.005l-2.914 2.89c-0.537 0.532-0.832 1.241-0.832 1.994s0.296 1.462 0.832 1.994l2.914 2.89c0.183 0.181 0.421 0.272 0.66 0.272 0.241 0 0.482-0.093 0.666-0.277 0.365-0.368 0.362-0.961-0.005-1.326l-2.59-2.569h12.102c0.518 0 0.938-0.42 0.938-0.938s-0.42-0.938-0.938-0.938z"></path>
                        <path d="M21.293 9.959l-2.914-2.89c-0.368-0.365-0.961-0.362-1.326 0.005s-0.362 0.961 0.005 1.326l2.914 2.89c0.179 0.178 0.278 0.413 0.278 0.663s-0.099 0.486-0.278 0.663l-2.914 2.89c-0.368 0.365-0.37 0.958-0.005 1.326 0.183 0.185 0.424 0.277 0.666 0.277 0.239 0 0.477-0.091 0.66-0.272l2.914-2.89c0.537-0.532 0.832-1.241 0.832-1.994s-0.296-1.462-0.832-1.994z"></path>
                    </svg>
                </i> <?php echo __('Fit to width'); ?>
            </li>
            <li class="context-item" ng-click="fitToStage('height')" ng-show="stages[currentStage].states.isLayer && stages[currentStage].states.isImage">
                <i style="height: 24px;" class="icon-nbd">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#888" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M17.859 0h-11.719c-0.518 0-0.938 0.42-0.938 0.938s0.42 0.938 0.938 0.938h11.719c0.518 0 0.938-0.42 0.938-0.938s-0.42-0.938-0.938-0.938z"></path>
                        <path d="M17.859 22.125h-11.719c-0.518 0-0.938 0.42-0.938 0.938s0.42 0.938 0.938 0.938h11.719c0.518 0 0.938-0.42 0.938-0.938s-0.42-0.938-0.938-0.938z"></path>
                        <path d="M16.931 5.621l-2.89-2.914c-0.532-0.537-1.241-0.832-1.994-0.832s-1.462 0.296-1.994 0.832l-2.89 2.914c-0.365 0.368-0.362 0.961 0.005 1.326s0.961 0.362 1.326-0.005l2.569-2.59v12.195c0 0.518 0.42 0.938 0.938 0.938s0.938-0.42 0.938-0.938v-12.29l2.663 2.684c0.183 0.185 0.424 0.277 0.666 0.277 0.239 0 0.477-0.091 0.66-0.272 0.368-0.365 0.37-0.958 0.005-1.326z"></path>
                        <path d="M16.926 17.053c-0.368-0.365-0.961-0.362-1.326 0.005l-2.89 2.914c-0.178 0.179-0.413 0.278-0.663 0.278s-0.486-0.099-0.663-0.278l-2.89-2.914c-0.365-0.368-0.958-0.37-1.326-0.005s-0.37 0.958-0.005 1.326l2.89 2.914c0.532 0.537 1.241 0.832 1.994 0.832s1.462-0.296 1.994-0.832l2.89-2.914c0.365-0.368 0.362-0.961-0.005-1.326z"></path>
                    </svg>
                </i> <?php echo __('Fit to height'); ?>
            </li>
            <li class="context-item" ng-click="fitToStage()" ng-show="stages[currentStage].states.isLayer && stages[currentStage].states.isImage">
                <i class="icon-nbd">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="vertical-align: middle;" fill="#888" width="24" height="24" viewBox="0 0 24 24"><defs><path id="a" d="M0 0h24v24H0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6z"/><path clip-path="url(#b)" fill="none" d="M0 0h24v24H0z"/></svg>
                </i> <?php echo __('Stretch'); ?>
            </li>
            <li class="context-item" ng-click="setAsBackground()" ng-show="stages[currentStage].states.isLayer && stages[currentStage].states.isImage && !stages[currentStage].states.isMasked">
                <i class="icon-nbd">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" style="vertical-align: middle; fill: #888;"><path d="M14 5h8v2h-8zm0 5.5h8v2h-8zm0 5.5h8v2h-8zM2 11.5C2 15.08 4.92 18 8.5 18H9v2l3-3-3-3v2h-.5C6.02 16 4 13.98 4 11.5S6.02 7 8.5 7H12V5H8.5C4.92 5 2 7.92 2 11.5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                </i> <?php echo __('Set as background'); ?>
            </li>
            <li class="separator" ng-show="stages[currentStage].states.isLayer"></li>
            <li class="context-item" ng-click="setStackPosition('bring-front')" ng-show="stages[currentStage].states.isLayer && !isTemplateMode"><i class="icon-nbd icon-nbd-bring-to-front"></i> <?php echo __('Bring to Front'); ?></li>
            <li class="context-item" ng-click="setStackPosition('bring-forward')" ng-show="stages[currentStage].states.isLayer && !isTemplateMode"><i class="icon-nbd icon-nbd-bring-forward"></i> <?php echo __('Bring Forward'); ?></li>
            <li class="context-item" ng-click="setStackPosition('send-backward')" ng-show="stages[currentStage].states.isLayer && !isTemplateMode"><i class="icon-nbd icon-nbd-sent-to-backward"></i> <?php echo __('Send to Backward'); ?></li>
            <li class="context-item" ng-click="setStackPosition('send-back')" ng-show="stages[currentStage].states.isLayer && !isTemplateMode"><i class="icon-nbd icon-nbd-send-to-back"></i> <?php echo __('Send to Back'); ?></li>
            <li class="separator" ng-show="stages[currentStage].states.isLayer && !isTemplateMode"></li>
            <li class="context-item" ng-click="translateLayer('vertical')" ng-show="stages[currentStage].states.isLayer && !isTemplateMode"><i class="icon-nbd icon-nbd-fomat-vertical-align-center"></i> <?php echo __('Center horizontal'); ?></li>
            <li class="context-item" ng-click="translateLayer('horizontal')" ng-show="stages[currentStage].states.isLayer && !isTemplateMode"><i class="icon-nbd icon-nbd-fomat-vertical-align-center rotate90"></i> <?php echo __('Center vertical'); ?></li>
            <!--  Group  -->
            <li class="context-item" ng-click="alignLayer('vertical')" ng-show="stages[currentStage].states.isGroup"><i class="icon-nbd icon-nbd-fomat-vertical-align-center rotate90"></i> <?php echo __('Align Vertical Center'); ?></li>
            <li class="context-item" ng-click="alignLayer('horizontal')" ng-show="stages[currentStage].states.isGroup"><i class="icon-nbd icon-nbd-fomat-vertical-align-center"></i> <?php echo __('Align Horizontal Center'); ?></li>
            <li class="context-item" ng-click="alignLayer('left')" ng-show="stages[currentStage].states.isGroup"><i class="icon-nbd icon-nbd-fomat-vertical-align-top rotate-90"></i> <?php echo __('Align Left'); ?></li>
            <li class="context-item" ng-click="alignLayer('right')" ng-show="stages[currentStage].states.isGroup"><i class="icon-nbd icon-nbd-fomat-vertical-align-top rotate90"></i> <?php echo __('Align Right'); ?></li>
            <li class="context-item" ng-click="alignLayer('top')" ng-show="stages[currentStage].states.isGroup"><i class="icon-nbd icon-nbd-fomat-vertical-align-top"></i> <?php echo __('Align Top'); ?></li>
            <li class="context-item" ng-click="alignLayer('bottom')" ng-show="stages[currentStage].states.isGroup"><i class="icon-nbd icon-nbd-fomat-vertical-align-top rotate-180"></i> <?php echo __('Align Bottom'); ?></li>
            <li class="context-item" ng-click="alignLayer('dis-horizontal')" ng-show="stages[currentStage].states.isGroup"><i class="icon-nbd icon-nbd-dis-horizontal"></i> <?php echo __('Distribute Horizontal'); ?></li>
            <li class="context-item" ng-click="alignLayer('dis-vertical')" ng-show="stages[currentStage].states.isGroup"><i class="icon-nbd icon-nbd-dis-vertical"></i> <?php echo __('Distribute Vertical'); ?></li>
            <!--  Template Mode  -->
            <li ng-class="stages[currentStage].states.elementUpload ? 'active' : ''" ng-click="setLayerAttribute('elementUpload', !stages[currentStage].states.elementUpload)" class="context-item" ng-show="stages[currentStage].states.isImage && isTemplateMode"><i class="icon-nbd icon-nbd-replace-image"></i> <?php echo __('Replace Image'); ?></li>
            <li ng-class="!stages[currentStage].states.forceLock ? '' : 'active'" class="context-item" ng-click="setLayerAttribute('forceLock', !stages[currentStage].states.forceLock)" ng-show="stages[currentStage].states.isLayer && isTemplateMode">
                <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Lock all adjustment'); ?>
            </li>
            <li ng-class="stages[currentStage].states.text.editable ? '' : 'active'" class="context-item" ng-click="setTextAttribute('editable', !stages[currentStage].states.text.editable)" ng-show="stages[currentStage].states.isText && isTemplateMode">
                <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Lock edit'); ?>
            </li>
            <li ng-class="!stages[currentStage].states.lockMovementX ? '' : 'active'" class="context-item" ng-click="setLayerAttribute('lockMovementX', !stages[currentStage].states.lockMovementX)" ng-show="stages[currentStage].states.isLayer && isTemplateMode">
                <i style="font-size: 18px;" class="icon-nbd icon-nbd-arrows-h"></i> <?php echo __('Lock horizontal movement'); ?>
            </li>
            <li ng-class="!stages[currentStage].states.lockMovementY ? '' : 'active'" class="context-item" ng-click="setLayerAttribute('lockMovementY', !stages[currentStage].states.lockMovementY)" ng-show="stages[currentStage].states.isLayer && isTemplateMode">
                <i style="padding-left: 5px; font-size: 18px;" class="icon-nbd icon-nbd-arrows-v"></i> <?php echo __('Lock vertical movement'); ?>
            </li>
            <li ng-class="!stages[currentStage].states.lockScalingX ? '' : 'active'" class="context-item" ng-click="setLayerAttribute('lockScalingX', !stages[currentStage].states.lockScalingX)" ng-show="stages[currentStage].states.isLayer && isTemplateMode">
                <i style="font-size: 18px;" class="icon-nbd icon-nbd-expand horizontal horizontal-x"><sub>x</sub></i> <?php echo __('Lock horizontal scaling'); ?>
            </li>
            <li ng-class="!stages[currentStage].states.lockScalingY ? '' : 'active'" class="context-item" ng-click="setLayerAttribute('lockScalingY', !stages[currentStage].states.lockScalingY)" ng-show="stages[currentStage].states.isLayer && isTemplateMode">
                <i style="font-size: 18px;" class="icon-nbd icon-nbd-expand horizontal horizontal-y"><sub>y</sub></i> <?php echo __('Lock vertical scaling'); ?>
            </li>
            <li ng-class="!stages[currentStage].states.lockRotation ? '' : 'active'" class="context-item" ng-click="setLayerAttribute('lockRotation', !stages[currentStage].states.lockRotation)" ng-show="stages[currentStage].states.isLayer && isTemplateMode">
                <i class="icon-nbd icon-nbd-refresh rotate180"></i> <?php echo __('Lock rotation'); ?>
            </li>
            <li ng-class="!stages[currentStage].states.lockPosition ? '' : 'active'" class="context-item" ng-click="setLayerAttribute('lockPosition', !stages[currentStage].states.lockPosition)" ng-show="stages[currentStage].states.isLayer && isTemplateMode">
                <i class="icon-nbd icon-nbd-block-area"></i> <?php echo __('Block area'); ?>
            </li>
<!--            CW-81-->
            <!--  Template Mode  -->
            <li class="separator"></li>
            <li  id="improve"  class="context-item"
                 ng-show="stages[currentStage].states.isLayer && isTemplateMode && (stages[currentStage].states.type == 'textbox' || stages[currentStage].states.type == 'i-text')">
                <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Lock Text Editor (For Frontend page)'); ?>
                <ul class="sub-contexts" style="display: none">
                    <li ng-class="!stages[currentStage].states.disFontFamily ? '' : 'active'" class="sub-context-item context-item"  ng-click="setDesignInf('disFontFamily', !stages[currentStage].states.disFontFamily)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Font Family'); ?>
                    </li>
                    <li ng-class="!stages[currentStage].states.disFontSize ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disFontSize', !stages[currentStage].states.disFontSize)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Font size'); ?>
                    </li>
                    <li ng-class="!stages[currentStage].states.disColor ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disColor', !stages[currentStage].states.disColor)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Color'); ?>
                    </li>
                    <li ng-class="!stages[currentStage].states.disTextAlign ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disTextAlign', !stages[currentStage].states.disTextAlign)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Text Align'); ?>
                    </li>
                    <li ng-class="!stages[currentStage].states.disFontWeight ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disFontWeight', !stages[currentStage].states.disFontWeight)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Font Weight'); ?>
                    </li>
                    <li ng-class="!stages[currentStage].states.disUppercase ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disUppercase', !stages[currentStage].states.disUppercase)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Uppercase'); ?>
                    </li>
<!--                    <li ng-class="!stages[currentStage].states.disThin ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disThin', !stages[currentStage].states.disThin)">-->
<!--                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> --><?php //echo __('Thin or Thickness'); ?>
<!--                    </li>-->
                    <li ng-class="!stages[currentStage].states.disFontStyle ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disFontStyle', !stages[currentStage].states.disFontStyle)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Italic'); ?>
                    </li>
                    <li ng-class="!stages[currentStage].states.disUnderline ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disUnderline', !stages[currentStage].states.disUnderline)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Underline'); ?>
                    </li>
                    <li ng-class="!stages[currentStage].states.disSpacing ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disSpacing', !stages[currentStage].states.disSpacing)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Line height and spacing'); ?>
                    </li>
                    <li ng-class="!stages[currentStage].states.disStroke ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disStroke', !stages[currentStage].states.disStroke)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Stroke'); ?>
                    </li>
                    <li ng-class="!stages[currentStage].states.disPicker ? '' : 'active'" class="sub-context-item context-item" ng-click="setDesignInf('disPicker', !stages[currentStage].states.disPicker)">
                        <i style="padding-left: 3px;" class="icon-nbd icon-nbd-lock"></i> <?php echo __('Background'); ?>
                    </li>
                </ul>
            </li>

            <!--  Template Mode  -->
            <li class="separator"></li>
            <li ng-if="settings.nbdesigner_enable_template_mapping == 1 && settings.template_fields.length > 0" class="context-item context-sub-menu" ng-show="stages[currentStage].states.isLayer && stages[currentStage].states.isText && isTemplateMode">
                <i style="height: 24px;" class="icon-nbd">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path fill="#888" d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg>
                </i> <?php echo __('Map layer with'); ?> <i class="icon-nbd icon-nbd-arrow-drop-down rotate-90" style="margin-left: auto;"></i>
                <ul class="second-contexts contexts left">
                    <li ng-click="mapLayerWith( field.key )" ng-repeat="field in settings.template_fields" ng-class="stages[currentStage].states.field_mapping == field.key ? 'active' : ''" class="context-item">{{field.field_name}}</li>
                </ul>
            </li>
            <li class="context-item" ng-click="copyLayers()"><i class="icon-nbd icon-nbd-content-copy"></i> <?php echo __('Duplicate'); ?></li>
            <!--    CW-100-->
            <!--            <li class="context-item"  ng-click="deactiveAllLayer()" ng-show="stages[currentStage].states.isGroup"><i class="icon-nbd icon-nbd-ungroup"></i> --><?php //echo __('Ungroup'); ?><!--</li>-->
            <li ng-click="groupLayers()" class="context-item" ng-show="stages[currentStage].states.isGroup">
                <i class=" tooltipstered nbd-tooltip-hover" title="<?php echo __('Group layers'); ?>"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="23" height="20" viewBox="0 0 23 20">
                        <path d="M22.857 4.286h-1.429v11.429h1.429v4.286h-4.286v-1.429h-14.286v1.429h-4.286v-4.286h1.429v-11.429h-1.429v-4.286h4.286v1.429h14.286v-1.429h4.286v4.286zM20 1.429v1.429h1.429v-1.429h-1.429zM1.429 1.429v1.429h1.429v-1.429h-1.429zM2.857 18.571v-1.429h-1.429v1.429h1.429zM18.571 17.143v-1.429h1.429v-11.429h-1.429v-1.429h-14.286v1.429h-1.429v11.429h1.429v1.429h14.286zM21.429 18.571v-1.429h-1.429v1.429h1.429zM14.286 7.143h4.286v8.571h-10v-2.857h-4.286v-8.571h10v2.857zM5.714 11.429h7.143v-5.714h-7.143v5.714zM17.143 14.286v-5.714h-2.857v4.286h-4.286v1.429h7.143z"></path>
                    </svg></i>
                <?php echo __('Group layers'); ?>
            </li>
            <li ng-click="unGroupLayers()" class="context-item" ng-show="stages[currentStage].states.isNativeGroup">
                <i  class="icon-nbd icon-nbd-ungroup nbd-tooltip-hover tooltipstered"></i>
                <?php echo __('Ungroup'); ?>
            </li>
            <li class="context-item" ng-click="deleteLayers()"><i class="icon-nbd icon-nbd-delete"></i> <?php echo __('Delete'); ?></li>
        </ul>
        <ul class="contexts" class="stage-context" ng-if="!stages[currentStage].states.isActiveLayer && stages[currentStage].states.isImage">
            <li class="context-item" ng-click="removeSetAsBg()"><i class="icon-nbd icon-nbd-delete"></i> <?php echo __('Remove Background'); ?></li>
        </ul>
    </div>
</div>
<!--CW-81-->
<style type="text/css">
    .sub-contexts {
        position: absolute;
        left: 285px;
        top: 40px;
        width: 250px;
        padding-top: 7px;
        padding-left: 7px;
        /*border-bottom: 1px solid gainsboro;*/
        list-style-type: none;
        background: white;
    }
    li#improve:hover ul.sub-contexts{
        display: block!important;
    }
    ul.sub-contexts>li {
        border: 1px solid gainsboro;
    }
</style>
