img.nbdesigner_detail_order {
	
}
.nbdesigner_detail_order_container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.owl-item {
    cursor: pointer;
}
.nbdesigner_preview {
    position: relative;
    width: 500px;
    height: 500px;
    margin-bottom: 15px;
}
.nbdesigner_preview img {
    width: 100%;
    height: 100%;
}
#nbdesigner_large_design {
    border: 1px dashed #555;
}
.nbdesigner_order_design_info_container {
    float: left;
}
.nbdesigner_order_design_info {   
/*    border: 1px solid #ddd;
    padding: 15px;*/
}
.nbdesigner_item {
    width: 125px;
    position: relative;
    height: 125px;
    border: 1px solid #ddd;
}
h2 {
    padding-right: 15px;
}
.nbdesigner-right {
    float: right;
    cursor: pointer;
}
.nbdesigner_detail_order_container .owl-controls .owl-prev,
.nbdesigner_detail_order_container .owl-controls .owl-next {
    position: absolute;
    background: rgba(30, 140, 190, .8);
    color: #fff;
    top: auto;
    bottom: 50%;
    transform: translate(0, 50%);         
}
.nbdesigner_detail_order_container .owl-controls .owl-next {
    right: 0;
}
.nbd-nav-tab li {
    display: inline-block;
    margin: 0 !important;
    background: none !important;
    border: none !important;
    border-radius: 0 !important;    
}
.nbd-nav-tab a {
    float: left;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-left: 0.5em;
    padding: 5px 10px !important;  
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    background: #e5e5e5;
    color: #555;
    text-decoration: none;
    white-space: nowrap;    
}
.nbd-nav-tab a:focus {
    outline: none;
    box-shadow: none;
}
.nbd-nav-tab li.ui-state-active a{
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}
.nbd-nav-tab{
    height: 35px;    
    background: none !important;
    padding: 0 !important;
    border: none !important;
    border-bottom: 1px solid #ddd !important; 
    border-radius: 0 !important;
    margin-top: 15px !important;
}
#nbdesign-order-tabs select,
#nbdesign-order-tabs h2,
#nbdesign-order-tabs input{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
/*    font-size: 13px !important;    */
}
#nbdesign-order-tabs, #save-to-pdf {
    background: #fff;
    margin-right: 15px;    
    padding: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    font-size: 13px !important;   
}
#nbdesign-order-tabs h2 {
    margin: 0;
    padding: 15px 15px 15px 5px;
    border-bottom: 2px solid #ddd;    
}
#nbdesign-order-tabs .inner{
    padding: 0 15px 15px 15px;
}
.design-containers {
    border: 1px solid #ddd;
    width: 100%;
    min-height: 700px;
    position: relative;
    overflow: scroll;
}
.pdf-layer {    
    cursor: move;    
    position: absolute;
/*    border: 1px dashed transparent;*/
    z-index: 3;
}
.pdf-layer.selected {
    border: 1px dashed #000;
}
.pdf-layer.selected .ui-resizable-handle {
    background-color: #FFF;
    border: 2px solid #428BCA;
    height: 5px;
    width: 5px;    
}
.pdf-layer .ui-resizable-handle.ui-resizable-se {
    bottom: -6px;
    right: -6px;
}
.pdf-layer img {
    width: 100%;
    height: 100%;
}
.nbdesigner-toggle-grid {
    cursor: pointer;
}
.design-container {
    position: absolute;
    top: 18px;
    left: 18px;
    width: calc(100% - 18px);
    height: calc(100% - 18px);
}
.design-inner {
    position: relative;
    width: 100%;
    height: 100%;
}
.design-inner.has-grid{
    background: url('../images/background-grid.png');
}
/*Ruler*/
.ruler {
    background: rgba(255,255,255,1);
    color: #444;
    font-family: source code pro, "Arial Narrow", "Helvetica Neue", Helvetica, Arial, Veranda, sans-serif;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
}
.ruler > div {
    background: #444;
}
.hRule {
    position: absolute;
    width: 100%;
    height: 18px;
    left: 0px;
    top: 0px;

    border-bottom: 1px solid;
    z-index: 9;
}
.vRule {
    position: absolute;
    min-height: 100%;
    width: 18px;
    left: 0px;
    top: 0px;
    border-right: 1px solid;
    z-index: 9;
}
.corner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    z-index: 10;
}
.hRule .tickLabel {
    position: absolute;
    top: 0px;
    width: 1px;
    height: 100%;
    text-indent: 1px;
}
.hRule .tickMajor {
    position: absolute;
    bottom: 0px;
    width: 1px;
    height: 6px;
}
.hRule .tickMinor {
    position: absolute;
    bottom: 0px;
    width: 1px;
    height: 4px;
}
.vRule .tickLabel {
    position: absolute;
    right: 0px;
    height: 1px;
    width: 100%;
    text-indent: 1px;
}
.vRule .tickLabel span {
    display: block;
    position: absolute;
    top: 1px;
    right: 0px;
    margin-right: 18px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;	
}
.vRule .tickMajor {
    position: absolute;
    right: 0px;
    height: 1px;
    width: 6px;
}
.vRule .tickMinor {
    position: absolute;
    right: 0px;
    height: 1px;
    width: 4px;
}
.vMouse {
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    left: 18px;
    background: rgba(0,0,0,0);
    border-bottom: 1px dotted;
    z-index: 11;
}
.hMouse {
    display: block;
    position: absolute;
    height: 100%;
    width: 0px;
    top: 18px;
    background: rgba(0,0,0,0);
    border-left: 1px dotted;
    z-index: 11;
}
.hPos {
    position: absolute;
    height: 18px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 10px;
    left: 18px;
    top: 0;
    z-index: 12;
    display: none;
    padding: 0 5px;
}
.vPos {
    position: absolute;
    height: 18px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 10px;
    left: 18px;
    top: 0;   
    z-index: 12;
    padding: 0 5px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;  
    display: none;
}
.mousePosBox {
    height: 16px;
    background: rgba(0,0,0,0.25);
    color: #fff;
    font-family: source code pro;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid rgba(0,0,0,0.5);
    position: fixed;
    white-space: no-wrap;
    display: block;
    overflow-y:hidden;
    float: left;
    text-align: left;
    left: -50%;
    top: -50%;
    padding: 0 2px;
}
.hRuner {
    height: 18px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 18px;
    z-index: 10;
    background: red
}
.vRuner {
    height: 1px;
    width: 18px;
    position: absolute;
    left: 0;
    top: 18px;
    z-index: 10;
    background: red
}
/*End. Ruler*/
.margin-top, .margin-right, .margin-bottom, .margin-left {
    position: absolute;
    background: rgba(229, 154, 12, 0.5);
}
.bleed-line {
    position: absolute;
    display: none;
    background: #000;
    z-index: 4;
}
.bleed-line.hz {
    height: 1px;
    width: 20px;
}
.bleed-line.vt {
    width: 1px;
    height: 20px;
}
#create_pdf, #create_png {
    margin-left: 15px;
    margin-bottom: 15px;   
    vertical-align: top;
}
.background-transparent {
    background-image: -webkit-linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), -webkit-linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
    background-image: -moz-linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), -webkit-linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
    background-image: -o-linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), -webkit-linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
    background-image: linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4), linear-gradient(45deg, #c4c4c4 25%, transparent 25%, transparent 75%, #c4c4c4 75%, #c4c4c4);
    background-position: 0 0, 10px 10px;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;    
    width: 100%;
    height: 100%;
}
.nbdesigner_loaded {
    display: none;
}
.pro-medal {
    background: #ffcd08;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 13px;
    color: #5e5018;
    text-transform: uppercase;
    padding: 3px 6px;
    position: absolute;
    top: 5px;
    right: 0;
}
.result-pdf a.pdf-file {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 5px;
    text-align: center;
    text-decoration: none;    
}
.nbdesigner_detail_order_container .nbdesigner_item img {
    height: 100%;
}

#nbdesign-order-tabs .forminp.forminp-text input{
	margin-left: 20px;
}

#save-to-pdf table tr {
	height: 60px;
}
.onlinedesign-order-view #nbdesign-order-tabs #save-to-pdf .form-table tr.nbd-disable {
    display: none;
}
#order_onlinedesign_main_base_fieldset .label {
	text-align: left;
}

.forminp.forminp-text {
    padding-left: 15px;
}