/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content img {
    border: 1px solid #ccc;
    margin-right: 15px;
	float: left;
}

.modal-content img:hover {
    border: 2px solid red;
}

#img_list_dsg {
    max-height: 250px;
    overflow-y: scroll;
}

.modal-content .modal-title {
    border-bottom: 2px solid #ccc;
    margin-bottom: 15px;
}

.modal-content .rCol {
	margin-top: 30px;
	clear: both;
}

.modal-content .rCol  label {
	font-weight: bold;
}

#prv {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#prv .image-nb-list {
    flex: 12.5%;
    max-width: 12.5%;
    width: 12.5%;
    margin-bottom: 10px;
}
@media (max-width: 991px) {
    #prv .image-nb-list {
        flex: 20%;
        max-width: 20%;
        width: 20%;
    }
}

.nbdesigner-button.nbdesigner-add-image, button.overlay-toggle, .change-background-image {
	cursor: pointer;
}