<?php
/**
 * @var $block \Mirasvit\LayeredNavigation\Block\Ajax
 */
?>
<?php if ($block->isAjaxEnabled()): ?>
    <script type="text/x-magento-init"><?= \Zend_Json::encode($block->getJsonConfig()) ?></script>
<?php endif ?>
<script>
    window.mstNavAjax = <?=$block->isAjaxEnabled() ? 'true' : 'false'?>;
</script>
