<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$titleHeading = $block->getData('title_heading');
$catUrlBox1 = $block->getData('choose_category_box_1');
$catUrlBox2 = $block->getData('choose_category_box_2');
$catUrlBox3 = $block->getData('choose_category_box_3');
$convertId = explode("/", $catUrlBox1);
$convertIdBox2 = explode("/", $catUrlBox2);
$convertIdBox3 = explode("/", $catUrlBox3);
$itemLink = isset($convertId[1]) ? $convertId[1] : '';
$itemLinkBox2 = isset($convertIdBox2[1]) ? $convertIdBox2[1] : '';
$itemLinkBox3 = isset($convertIdBox3[1]) ? $convertIdBox3[1] : '';
$urlBox1 = $objectManager->create('Magento\Catalog\Model\Category')->load($itemLink)->getUrl();
$urlBox2 = $objectManager->create('Magento\Catalog\Model\Category')->load($itemLinkBox2)->getUrl();
$urlBox3 = $objectManager->create('Magento\Catalog\Model\Category')->load($itemLinkBox3)->getUrl();
$nameCatBox1 = $objectManager->create('Magento\Catalog\Model\Category')->load($itemLink)->getName();
$nameCatBox2 = $objectManager->create('Magento\Catalog\Model\Category')->load($itemLinkBox2)->getName();
$nameCatBox3 = $objectManager->create('Magento\Catalog\Model\Category')->load($itemLinkBox3)->getName();
?>
<?php if ($block->getData('title_heading')) : ?>
    <div class='HeadingBanner first-title'>
        <hr class="line-left">
        <h4 class="heading">IM MOMENT BELIEBT</h4>
        <hr class="line-right">
    </div>
<?php endif; ?>
<div class="main main_banner">
    <?php if ($block->getData('left_image') || $block->getData('text_headline') || $block->getData('middle_image')): ?>
        <div class="nb-box-2-custom column-1">
            <?php if ($block->getData('left_image')): ?>
                <div class="left-image">
                    <img src="<?= $block->getData('left_image') ?>" alt="left-image" width="300" height="300">
                </div>
            <?php endif; ?>
            <?php if ($block->getData('middle_image') || $block->getData('text_headline') || $block->getData('button_text')): ?>
                <div class="middle-box-1-custom">
                    <?php if ($block->getData('middle_image')): ?>
                        <div class="middle-image">
                            <img src="<?= $block->getData('middle_image') ?>" alt="middle-image" width="300"
                                 height="300">
                        </div>
                    <?php endif; ?>
                    <?php if ($block->getData('text_headline')): ?>
                        <div class="text-headline">
                            <p class="content-headline">
                                <?= isset($convertId[1]) ? $nameCatBox1 : $block->getData('text_headline') ?>
                            </p>
                        </div>
                    <?php endif; ?>
                    <?php if ($block->getData('description_banner')): ?>
                        <div class="text-description content">
                            <p class="content">
                                <?= $block->getData('description_banner') ?>
                            </p>
                        </div>
                    <?php endif; ?>
                    <?php if ($block->getData('button_text')): ?>
                        <a class="btn-1 btn-banner" href="<?= $urlBox1 ?>">
                            <?php if ($block->getData('button_text')): ?>
                                <button>
                                    <?= $block->getData('button_text') ?>
                                </button>
                            <?php endif; ?>
                        </a>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
            <?php if ($block->getData('right_image')): ?>
                <div class="right-image img-bg column-3 col">
                    <img src="<?= $block->getData('right_image') ?>" alt="right-image" width="300" height="300">
                </div>
            <?php endif; ?>
        </div>
    <?php endif; ?>
    <div class="nb-box-22-custom">
    <?php if ($block->getData('left_image_box2') || $block->getData('right_image_box2')): ?>
    <div class="nb-box-2-custom column-2">
        <div class="column-2 col left-image">
            <?php if ($block->getData('left_image_box2')): ?>
                <div class="left-image-box-2">
                    <img src="<?= $block->getData('left_image_box2') ?>" alt="left-image" width="300" height="300">
                </div>
            <?php endif; ?>
            <?php if ($block->getData('text_headline_box2')): ?>
                <div class="text-headline">
                    <p class="content-headline">
                        <?= isset($convertIdBox2[1]) ? $nameCatBox2 : $block->getData('text_headline_box2') ?>
                    </p>
                </div>
            <?php endif; ?>
            <?php if ($block->getData('button_text_box2')): ?>
                <a class="btn-2 btn-banner" href="<?= $urlBox2 ?>">
                    <?php if ($block->getData('button_text_box2')): ?>
                        <button>
                            <?= $block->getData('button_text_box2') ?>
                        </button>
                    <?php endif; ?>
                </a>
            <?php endif; ?>
        </div>
        <?php if ($block->getData('right_image_box2')): ?>
            <div class="right-image img-bg column-3 col">
                <img src="<?= $block->getData('right_image_box2') ?>" alt="right-image" width="300" height="300">
            </div>
        <?php endif; ?>
    </div>
    <?php endif; ?>

    <?php if ($block->getData('left_image_box3') || $block->getData('right_image_box3')): ?>
        <div class="nb-box-2-custom column-3">
            <div class="column-2 col left-image">
                <?php if ($block->getData('left_image_box3')): ?>
                    <div class="left-image-box-2">
                        <img src="<?= $block->getData('left_image_box3') ?>" alt="left-image" width="300" height="300">
                    </div>
                <?php endif; ?>
            </div>
            <?php if ($block->getData('right_image_box3') || $block->getData('text_headline_box3') || $block->getData('button_text_box3')): ?>
            <div class="nb-btn-cat right-image">
            <?php if ($block->getData('right_image_box3')): ?>
                <div class="img-bg column-3 col">
                    <img src="<?= $block->getData('right_image_box3') ?>" alt="right-image" width="300" height="300">
                </div>
            <?php endif; ?>
            <?php if ($block->getData('text_headline_box3')): ?>
                <div class="text-headline">
                    <p class="content-headline">
                        <?= isset($convertIdBox3[1]) ? $nameCatBox3 : $block->getData('text_headline_box3') ?>
                    </p>
                </div>
            <?php endif; ?>
            <?php if ($block->getData('button_text_box3')): ?>
                <a class="btn-3 btn-banner" href="<?= $urlBox3 ?>">
                    <?php if ($block->getData('button_text_box3')): ?>
                        <button>
                            <?= $block->getData('button_text_box3') ?>
                        </button>
                    <?php endif; ?>
                </a>
            <?php endif; ?>
            </div>
            <?php endif; ?>
        </div>
    <?php endif; ?>
    </div>
</div>
