
@font-face {
  font-family: "Flaticon";
  src: url("@{baseDir}fonts/flaticon/Flaticon.eot");
  src: url("@{baseDir}fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("@{baseDir}fonts/flaticon/Flaticon.woff2") format("woff2"),
       url("@{baseDir}fonts/flaticon/Flaticon.woff") format("woff"),
       url("@{baseDir}fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("@{baseDir}fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-heart:before { content: "\f101"; }
.flaticon-user:before { content: "\f102"; }
.flaticon-menu:before { content: "\f103"; }
.flaticon-refresh:before { content: "\f104"; }
.flaticon-heart-1:before { content: "\f105"; }
.flaticon-bag:before { content: "\f106"; }