<?php //if (!defined('ABSPATH')) exit; // Exit if accessed directly  ?>
<?php
$pid = $this->getRequest()->getParam('product_id');
$helper = $this->helper('Netbaseteam\Onlinedesign\Helper\Data');
$statusFolding = $helper->getStatusFolding($pid);
?>
<script type='text/javascript' src="<?php echo NBDESIGNER_PLUGIN_URL .'assets/libs/jquery.min.js'; ?>"></script>
<script type='text/javascript' src="<?php echo NBDESIGNER_PLUGIN_URL .'assets/libs/jquery-ui.min.js'; ?>"></script>
<script type='text/javascript' src="<?php echo NBDESIGNER_PLUGIN_URL . 'assets/js/slick.js'; ?>"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<div id="dg-preview" class="modal fade nbdesigner_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 15px;">
                <b><?php echo __("Preview Design") ?></b>
                <button style="margin-top: 0;" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <!--            <div class="modal-body" ng-style="{'background-image': 'url(' + currentBg + ')'}" >-->
            <div class="modal-body">
                <?php if ($statusFolding == 1): ?>
                    <div class="scene" nbd-flip-preview
                         ng-style="{width: stages[0].config.width / 2, height: stages[0].config.height / 2}">
                        <article class="book">
                            <section ng-repeat="n in [] | range: stages.length / 2" class="page">
                                <div class="front">
                                    <p>
                                        <img ng-src="{{previews[n * 2]}}"/>
                                    </p>
                                </div>
                                <div class="back">
                                    <p>
                                        <img ng-src="{{previews[n * 2 + 1]}}"/>
                                    </p>
                                </div>
                            </section>
                        </article>
                    </div>
                <?php else: ?>
                    <div class="container">
                        <div class='single-item'>
                            <h3 ng-repeat="n in [] | range: stages.length">
                                <img ng-src="{{previews[n]}}"/>
                            </h3>
                        </div>
                    </div>
                <?php endif; ?>
                <span class="shadow hover-shadow full_screen_preview fa fa-crosshairs"></span>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        margin: 0 auto;
        color: #333;
        padding: 30px;
    }

    .slick-slide {
        text-align: center;
        color: #419be0;
    }

    .modal {
        text-align: center;
    }

    .modal-body {
        background-repeat: round;
    }

    @media screen and (min-width: 768px) {
        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    .scene {
        margin: 5% 5% 5% 50%;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }


    @media (min-width: 1024px) {
        .modal-dialog {
            width: 1000px;
        }
    }
    @media (min-width: 992px) and (max-width: 1023px) {
        .modal-dialog {
            width: 900px;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .modal-dialog {
            width: 700px;
        }
    }
    @media (min-width: 576px) and (max-width: 767px) {
        .modal-dialog {
            width: 500px;
        }
    }
    @media (min-width: 480px) and (max-width: 575px) {
        .modal-dialog {
            width: 400px;
        }
    }

    @media (min-width: 320px) and (max-width: 479px) {
        .modal-dialog {
            width: 300px;
        }
    }
    .book {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .page {
        cursor: pointer;
        position: absolute;
        color: black;
        width: 100%;
        height: 100%;
        -webkit-transition: 1.5s -webkit-transform;
        transition: 1.5s transform;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
    }

    .front,
    .back {
        position: absolute;

        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        -webkit-backface-visibility: hidden;

        backface-visibility: hidden;
        background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
        background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#ccc));
        background: -webkit-linear-gradient(top left, #fff, #ccc);
        background: linear-gradient(to bottom right, #fff, #ccc);
    }

    .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .page.active {
        z-index: 1;
    }

    .page.flipped {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .page.flipped:last-of-type {
        z-index: 1;
    }

</style>
