// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  UI -> Data Grid -> Header -> Export
//  _____________________________________________

.admin__data-grid-action-export {
    &._active {
        opacity: @component-modal__opacity;
        z-index: @data-grid-action__z-index;
    }

    .admin__action-dropdown {
        &:before {
            &:extend(.abs-icon all);
            content: @icon-export__content;
            font-size: 22px; // Static
            left: .3rem;
            margin-right: @action__outer-indent;
            vertical-align: top;
        }
    }
}

.admin__data-grid-action-export-menu {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;

    .admin__action-dropdown-footer-main-actions {
        padding-bottom: 2rem;
        padding-top: 2.5rem;
        white-space: nowrap;
    }
}
